.wrap-content {
	padding: 1rem;
	box-sizing: border-box;

	a {}

	img {
		max-width: 100%;
	}

	ul {
		li {}
	}

	.holiday-closure {
		border: 1px solid #5A5A5C;
		padding: 10px;
		display: none;

		ul {
			li {}
		}
	}

	.holiday-closure,
	h1,
	h2,
	h3,
	p,
	ul {
		margin-bottom: 10px;
	}
}