#customer-service-menu {
	@media screen and (max-width:737px){
		display:none;
	}
}
 
.careers-welcome, .the-job {
	@media screen and (max-width:737px){
		margin: 15px 6%;
	}

	a {
		color:#cc0033;
		font-family:brown-pro-bold;
		text-decoration:none;

		span {
			font-family:brown-pro-bold;
		}
	}

	b, i{
		font-size: 15px !important;
		line-height: 24px;
	} 

	b {
		font-family:brown-pro-bold;
	}

	i {
		font-family:brown-pro-italic;
	}

	div {
		font-size:15px !important;
		line-height:21px;

		span {
			font-size:15px !important;
			line-height:21px;
		}
	}

	color: #666;

	h1, h2, h3 {
		font-weight: normal;
		font-family: brown-pro-bold !important;
		color:#666 !important;
	}


	h1 {
		@media screen and (max-width:737px){
			font-size:18px;
			line-height: 20px;
    		letter-spacing: 0.05rem;
		}

    	padding: 0;
    	margin: 0;
    	font-size: 34px;
    	line-height: 1em;
	}

	h2 {
		@media screen and (max-width:737px){
			font-size: 18px;
    		letter-spacing: 1px;
    		line-height: 20px;
		}

		text-transform: uppercase;
    	font-size: 2em;
    	line-height:30px;
    	margin: 1em 0 .25em 0;

    	span {
    		font-family:brown-pro-bold;
    	}
	}

	h3, b {
		@media screen and (max-width:737px){
			font-size: 14px;
    		letter-spacing: 1px;
    		line-height: 20px;
		}

		text-transform: uppercase;
   		font-size: 1.6em;
    	margin: 1em 0 .25em 0;
	}

	p {
		@media screen and (max-width:737px){
    		line-height: 22px;
		}

	    margin: 0 0 10px 0;
    	font-family: brown-pro-regular;
    	line-height: 21px !important;
    	font-size: 15px !important;
	}	
}

.jobs-list, .the-job {
	font-family: brown-pro-regular;
	list-style-type:disc !important;
	font-size: 12px;
	padding:0 0 0 1em;

	ul {
		padding:0 0 0 1em;
	}

	li {
		list-style-type:disc !important;
		float:none !important;
		width:100% !important;
		margin:0 0 10px !important;
		font-size: 13px;
		line-height: 21px;

		a {
			display:block;
		}

		span {
			@media screen and (max-width:737px){
				display:block;
			}

			display:inline-block;

			&:last-of-type {
				@media screen and (max-width:737px){
					float:none;
				}

				float:right;
			}
		}
	}
}

.the-job {
	h2 {
		
		span {
			@media screen and (max-width:737px){
				display:block;
			}

			&:last-of-type {
				@media screen and (max-width:737px){
					float:none;
					margin:10px 0 0;
				}

				display:inline-block;
				float:right;
			}
		}
	}

	.job-footer {
		margin: 10px 0;
	}
}