.ref {
	@media screen and (max-width:737px) {
		top: -115px;
	}
	position: absolute;
	opacity: 0.5;
	top: -18px;
	z-index: 9999;
	//display:none;
}

.common-wrap {
	display: none;
}

.midbox,
.my-account {
	h1 {
		display: none;
	}
}

#simplemodal-container,
#simplemodal-overlay {
	display: none !important;
}

.padded {
	padding: 0 !important;
}

.mobile {
	@media screen and (max-width:768px) {
		display: inline-block !important;
	}
	display: none !important;
}

.desktop {
	@media screen and (max-width:768px) {
		display: none !important;
	}
}

.wrap-content {
	overflow: hidden;

	img {
		max-width: 100%;
	}

	.c1,
	.c2,
	.c3,
	.c4 {
		@media screen and (max-width:737px) {
			margin: 0;
		}
		margin: 0 0 37px;
	}
}

.grid {
	h2 {
		@media screen and (max-width:737px) {
			font-size: 1.5rem;
			margin: 43px 0 0;
		}
		text-align: center;
		font-family: gilroy-bold;
		text-transform: uppercase;
		font-size: 1.8rem;
		letter-spacing: 6px;
		margin: 36px 0 0;
		color: #436FC1;
	}

	p {
		@media screen and (max-width:737px) {
			font-size: 1rem;
			margin: 12px 0 0;
			letter-spacing: 0.5px;
			line-height: 22px;
		}
		text-align: center;
		font-family: souvenirstd-light;
		font-size: 1.3rem;
		margin: 29px 0 0;
		color: #47363D;
	}
}

.pdps {
	@media screen and (max-width:737px) {
		padding: 29px 1.5rem;
	}
	display: flex;
	flex-wrap: wrap;
	padding: 53px 1.5rem;

	div {
		&:nth-of-type(3n) {
			@media screen and (max-width:737px) {
				margin: 0;
			}
			margin: 0 0 20px;
		}
		@media screen and (max-width:737px) {
			flex-basis: 100%;
			margin: 0 0 10px;
		}
		flex-basis: 32%;
		box-sizing: border-box;
		padding: 0;
		margin: 0 2% 20px 0;
		position: relative;

		img {
			max-width: 100%;
		}

		a {
			&.cta {
				@media screen and (max-width:414px) {
					font-size: 0.7rem;
					letter-spacing: 3px;
				}
				background: url("/mas_assets/media/tea_collection/landing-pages/back-to-school/default/2019/0724/v2/+.svg") no-repeat #436FC1;
				color: #fff;
				font-family: gilroy-bold;
				text-align: center;
				display: block;
				padding: 0.8rem 0;
				background-size: 4%;
				background-position: 94% 48%;
				text-decoration: none;
				letter-spacing: 2px;
				font-size: 0.8rem;
				text-transform: uppercase;
				// &:hover + nav {
				// 	display: block;
				// }
			}

			&.open {
				background-image: url("/mas_assets/media/tea_collection/landing-pages/back-to-school/default/2019/0724/v2/-.svg");

				&+ nav {
					display: block;
				}
			}
		}

		nav {
			display: none;
			position: absolute;
			background: #fafafa;
			width: 100%;
			bottom: 42px;
			left: 0;
			padding: 10px 0 0;

			ul {
				li {
					@media screen and (max-width:737px) {
						padding: 1rem 0 1rem 3rem;
					}
					padding: 0 0 9px 1.8rem;

					a {
						@media screen and (max-width:737px) {
							font-size: 1rem;
						}
						text-decoration: none;
						font-family: gilroy-regular;
						font-size: 0.8rem;
						text-transform: capitalize;
						color: #47363D;

						&:hover {
							font-family: gilroy-bold;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}