
section#breadcrumbs {
	margin: 0 0 0 0 !important;
	display:none;
}

.ref2{
	position:absolute;
	opacity:.5;
}

.ref {
	@media screen and (max-width:737px){ 
		top: -138px;
	}

	position:absolute;
	top:-9px;
	left:0;
	opacity:.5;
	max-width: 100%;
    z-index: 9999;
    
}

.my-account h1, .midbox h1 {
	display:none;
}

.desktop {
	@media screen and (max-width:736px){
		display:none !important;
	}
}

.mobile {
	display:none !important;
	@media screen and (max-width:736px){
		display:block !important;
	}
}

#pj-details {
	@media screen and (max-width: 736px){
		width:100%;
		position:absolute;
		z-index:9999;
		height:100%;
		background:#fff;

	}

	display:none;
	width:600px;
	min-height: 158px;
	background:#fff;
}
.pj-container {
	margin: 27px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 20px 0;

	h2 {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1px;
	}

	p {
		font-size: 13px;
		line-height: 20px;
	}
}

.close-pj {
	@media screen and (max-width: 736px){
		display:block;
	}

	display:none;
	text-align:center;
}

.cta {
		@media screen and (max-width:737px){
			width: 42%;
    		left: 0px;
    		padding: 1em 0;
    		height: 30px;
    		font-size: .8em;
		}

	display: inline-block;
	font-family: brown-pro-bold !important;
    border: 1px solid;
    width: 150px;
    height:39px;
    position: relative;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    text-align:center;
    box-sizing:border-box;
}