{insert name="header_tag_set" type="static" tag_id="HTML_TITLE" tag_value="Join the Adventure with Tea Email Updates | Tea Collection"}
{insert name="header_tag_set" type="static" tag_id="META_DESCRIPTION" tag_value="Sign up for email updates and be the first to learn about new collections, destinations, special offers and more."}

{literal}
<style>
.email-signup-page .email-signup-container {
	background: #ffffff;
	text-align: center;
	padding: 10px;
}

.email-signup-page .email-signup-container h1, .email-signup-page .email-signup-container h2.orange {
	color: #f66c50 !important;
	font-family: Tisa Medium !important;
	font-size: 40px !important;
	float: none !important;
	padding: 40px 0 0px;
	line-height: 45px;
	font-weight: normal;
}

.email-signup-page .email-signup-container h2 {
	color: #027b84;
	font-family: Tisa Sans Medium;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 4.5px;
	font-weight: bold;
}

.email-signup-page .email-signup-container p {
	color: #58595b;
	font-family: Tisa Sans Medium;
	font-size: 15px;
	line-height: 20px;
	margin: 10px 0 0;
}

.email-signup-page .email-signup-container form {
	padding: 21px 0 42px;
}

.email-signup-page .email-signup-container form .nl-email {
	font-family: Tisa Sans Medium;
    font-size: 12px;
    height: 33px;
    padding: 12px 10px 8px;
    width: 80%;
}

.email-signup-page .email-signup-container form .nl-signup {
	border: 2px solid #f66c50;
	background: #ffffff;
	color: #f66c50;
	font-family: Tisa Sans Medium;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
    padding: 12px 10px 8px;
	margin-top: 18px;
}
</style>
{/literal}

<article class="about-us clearfix">

	<section class="static-fullwidth">
		<div class="email-signup-page">
			<div class="email-signup-container">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td rowspan="3" style="background-color: #d84f93" width="12"></td>
						<td style="background: #e4de64" width="495" height="12"></td>
						<td rowspan="3" style="background: #f07821" width="12"></td>
					</tr>
					<tr>
						<td>
							<h1>20% off</h1>
							<h2>Your first order</h2>
				
							<img src="{$theme_assets_url}images/static/17SS-email-signup-dotted-line.png" style="margin: 20px auto 10px;">
				
							<p>Shop the latest globally-inspired styles, read exclusive travel stories &amp; get first alerts about sales.</p>
				
							<form action="https://newsletter.teacollection.com/pub/rf"> 
								<input type="hidden" name="_ri_" value="X0Gzc2X%3DYQpglLjHJlYQGtczgIX2NOtqNA3G0Np4zdb82cvk5zezdPNLeN6VwjpnpgHlpgneHmgJoXX0Gzc2X%3DYQpglLjHJlYQGN3ipkDzeqD14IimAvzc4Sorjcvk5zezdPNLeN6"> 
								<input type="hidden" name="ACQUISITION_SOURCE" value="PAID_Google_Prospect">
								<input type="hidden" name="EMAIL_PERMISSION_STATUS_" value="I" />
								<input type="hidden" name="activity" value="submit" />
								<input type="hidden" name="COLD_STORAGE" value="N" />
								<input class="nl-email" id="emailField" name="email_address_" placeholder="Email Address"><br />
								<input type="submit" class="nl-signup" value="Sign Me Up" />
							</form>
					</tr>
					<tr>
						<td style="background: #1da8a5" width="495" height="12"></td>
					</tr>
				</table>
			</div>
		</div>
	</section>	
	
</article>

{breadcrumb}
	Welcome To Tea
{/breadcrumb}
