@mobile-grey: #59595c;

body {
	font-family:'Tisa Sans', Arial, Helvetica, sans-serif;
	color:#606063;
}

.bx-controls {
	position:relative;

	@media screen and (max-width:737px) {
		top:-525px;
	}

	@media screen and (max-width:569px) {
		top:-424px;
	}

	@media screen and (max-width:415px) {
		top:-300px;
	}

	@media screen and (max-width:481px) {
		top:-350px;
	}

	@media screen and (max-width:376px) {
		top:-275px;
	}

	@media screen and (max-width: 321px) {
		top:-230px;
	}
}

.c1,.c2, .c3, .c4, .c5, .c6 {
	overflow:hidden;

	h2 {
		@media screen and (max-width:737px){
			color:#59595c !important;
			font-family:'tisa sans';
		}

		font-family:'mrdodo regular';
		font-weight: normal;
		position: relative;
	}

	p {
		position: relative;
	}

	.cta {
		@media screen and (max-width:737px){
			width: 42%;
    		left: 0px;
    		padding: 19px 0 12px 0;
    		font-size: 1.6em;
    		margin-bottom:40px;
    		border:1px solid;
		}

		@media screen and (max-width:668px){
			font-size: 1.5em;
    		padding: 14px 0 12px 0;
		}

		@media screen and (max-width:569px){
    		font-size: 1.2em;
    		padding: 14px 0 10px 0;
		}

		@media screen and (max-width:481px){
			font-size: 1em;
    		padding: 11px 0 9px 0;
		}

		@media screen and (max-width:415px){
		    font-size: .8em;
    		letter-spacing: 1.1px;
    		padding: 11px 0 8px 0;
		}

		@media screen and (max-width:376px){
    		padding: 10px 0 7px 0;
    		font-size:.7em;
		}

		@media screen and (max-width:321px){
			padding: 9px 0 5px 0;
    		font-size: .6em;
		}

		display: inline-block;
    	border: 2px solid;
    	width: 200px;
    	position: relative;
    	box-sizing: border-box;
    	font-size: 13px;
    	letter-spacing: 0.7px;
    	text-transform: uppercase;
    	text-decoration: none;
    	padding: 12px 1px 9px 0px;
    	font-weight:bold;
	}
} //end of .c2, .c3, .c4, .c5, .c6

.mobile-hp {
	display:none;

	@media screen and(max-width:768px){
		display:block;
	}
}

#scroll-prompt {
	display:none;
}


@media screen and (max-width:768px) {
	.bx-wrapper {
		margin-bottom:0 !important;
	}
}

img, video {
	max-width:100%;
}

.desktop-hp {
	@media screen and (max-width:768px){
		display:none;
	}
}

.hp {
	//opacity: .5;

	.ref {
		position:absolute;
		//width:1000px;
		opacity:.5;
		//display:none;
	}
	
} // end of .hp

.c1 {
	overflow:hidden;

	div {
		&:first-of-type {
			float:left;
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				width:100%;
				background:none;
			}

			float:left;
			background: url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/homepage/170417/c1b-d.png') 132px 314px no-repeat;
			width:350px;
			text-align:center;

			h2 {
				@media screen and (max-width:737px){
					margin-top:34px;
					left:0;
					font-size:2em;
					margin-bottom:29px;
				}

				@media screen and (max-width:668px){
				    margin-top: 29px;
    				font-size: 1.8em;
    				line-height: 35px;
    				letter-spacing: 0.1px;
				}

				@media screen and (max-width:569px){
					margin-top: 24px;
    				font-size: 1.5em;
    				line-height: 30px;
    				letter-spacing: 0.3px;
    				margin-bottom: 23px;
				}

				@media screen and (max-width:481px){
				    margin-top: 20px;
    				font-size: 1.3em;
    				line-height: 26px;
    				letter-spacing: 0.1px;
   					margin-bottom: 19px;
				}

				@media screen and (max-width:415px){
				    margin-top: 19px;
    				font-size: 1em;
    				line-height: 21px;
    				letter-spacing: 0.7px;
    				margin-bottom: 17px;
				}

				@media screen and (max-width:376px){
					margin-top: 18px;
    				line-height: 19px;
    				letter-spacing: 0.7px;
    				font-size:.9em;
    				margin-bottom:16px;
				}

				@media screen and (max-width:321px){
					margin-top: 14px;
    				line-height: 17px;
    				letter-spacing: 0px;
    				font-size: .9em;
    				margin-bottom:12px;
				}

				font-size: 33px;
    			line-height: 38px;
    			margin-top: 90px;
    			left: 13px;
    			margin-bottom:49px;
    			color:#28b7b6;
			}

			.cta {
				@media screen and (max-width:737px){
    				left:0;
    				color:#3ca594;
    				border-color:#3ca594;
				}

				left:13px;
				color:#f48486;
				border-color:#f48486;

				&:hover {
					@media screen and (max-width:737px){
						background:#3ca594;
    					color:#fff;
					}

					background:#f48486;
					color:#fff;
				}
			}
		}
	}

} // end of .c1

.c2 {
	@media screen and (max-width:737px){
		height:auto;
		top:0;
		background:none;
	}

	overflow:hidden;
	background:url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/homepage/170417/c2-d.jpg') no-repeat center top;
	position:relative;
	top:4px;
	height:500px;
	

	h2 {
		@media screen and (max-width:737px){
			display:none;
		}

		font-size: 32px;
    	left: 220px;
    	top: 38px;
    	color:#1d75bc;
	}

	p {
		@media screen and (max-width:737px){
			color:@mobile-grey;
			left: 3px;
    		top: 0;
    		font-size: 2em;
    		margin-top: 37px;
    		line-height: 33px;
		}

		@media screen and (max-width:668px){
		    margin-top: 30px;
    		font-size: 1.7em;
    		letter-spacing: 0.8px;
    		left: 0;
		}

		@media screen and (max-width:569px){
			margin-top: 24px;
    		font-size: 1.4em;
    		letter-spacing: 1px;
    		line-height: 30px;
		}

		@media screen and (max-width:481px){
		    margin-top: 22px;
    		font-size: 1.1em;
    		letter-spacing: 1.3px;
    		line-height: 24px;
    		margin-bottom: -3px;
		}

		@media screen and (max-width:415px){
			margin-top: 17px;
    		font-size: 1em;
    		letter-spacing: .9px;
    		line-height: 23px;
    		margin-bottom: -6px;
		}

		@media screen and (max-width:376px){
		    margin-top: 17px;
    		letter-spacing: .8px;
    		line-height: 19px;
    		margin-bottom: -8px;
    		font-size:.9em;
		}

		@media screen and (max-width:321px){
    		line-height: 16px;
    		font-size: .9em;
		}

		left: 540px;
    	top: 16px;
    	font-size: 16px;
    	line-height: 20px;
    	letter-spacing: 0.5px;
    	position:relative;
    	color:#fff;
	}

	ul {
		@media screen and (max-width:737px){
			top:36px;
			padding-bottom:10px;
		}

		@media screen and (max-width:668px){
			top:28px;
		}

		@media screen and (max-width:569px){
			top:23px;
		}

		overflow:hidden;
		position:relative;
		top: 400px;
		list-style-type:none;

		li {
			@media screen and (max-width:737px){
				width:42%;
				margin-bottom:29px;
			}

			@media screen and (max-width:668px){
				margin-bottom:26px;
			}

			@media screen and (max-width:569px){
				margin-bottom:23px;
			}

			@media screen and (max-width:481px){
				margin-bottom:19px;
			}

			@media screen and (max-width: 415px){
				margin-bottom:17px;
			}

			@media screen and (max-width: 376px){
				margin-bottom:15px;
			}

			@media screen and (max-width:321px){
				margin-bottom:14px;
			}

			float:left;
			position:relative;

			&:first-of-type {
				@media screen and (max-width:737px){
					left:6%;
				}

				left:129px;
			}

			&:nth-of-type(2) {
				@media screen and (max-width:737px){
					left:10%;
				}

				left:163px;
			}

			&:nth-of-type(3) {
				@media screen and (max-width:737px){
					left:6%;
				}

				left:199px;
			}

			&:last-of-type {
				@media screen and (max-width:737px){
					left:10%;
				}

				left:233px;
			}

			a {
				display:block;
				text-decoration:none;
				font-family:'tisa sans';
				font-weight:bold;
				font-style:italic;
				font-size:14px;
				color:#1d75bc;
			}

			.cta {
				@media screen and (max-width:737px){
					margin-bottom:0;
					color:#3ca594;
    				border-color:#3ca594;
    				font-style:normal;
				}

				@media screen and (max-width:668px){
					padding:16px 0 13px 0;
				}

				@media screen and (max-width:569px){
			    	padding: 15px 0 10px 0;
    				font-size: 1.2em;
				}

				@media screen and (max-width:481px){
				    padding: 12px 0 9px 0;
    				font-size: 1em;
				}

				@media screen and (max-width:415px){
				    padding: 11px 0 7px 0;
    				font-size: .8em;
				}

				@media screen and (max-width:376px){
					padding: 11px 0 5px 0;
				}

				@media screen and (max-width:321px){
					padding: 9px 0 5px 0;
    				font-size: .6em;
				}

				&:hover {
					background:#3ca594;
					color:#fff;
				}

				font-family: 'tisa sans';
    			text-align: center;
    			width: 100%;
    			font-size: 1.5em;
    			padding: 18px 0 14px 0;
			}
		}
	}

} //end of .c2

.c3 {
	@media screen and (max-width:737px){
		top:0;
	}

	overflow:hidden;
	position:relative;
	top:14px;
	
	div {
		&:first-of-type {
			@media screen and (max-width:737px){
				width:100%;
				height:auto;
				background:none;
			}

			float:left;
			width:467px;
			height:500px;
			background:url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/homepage/170417/c3a-d.png') center top no-repeat;
			text-align:center;

			h2 {
				@media screen and (max-width:737px){
					font-size: 1.8em;
    				margin-top: 33px;
    				letter-spacing: .8px;
    				left: 1px;
    				line-height: 37px;
    				margin-bottom:31px;
				}

				@media screen and (max-width:668px){
					font-size: 1.6em;
    				margin-top: 29px;
    				letter-spacing: .9px;
    				line-height: 35px;
    				margin-bottom: 28px;
				}

				@media screen and (max-width:569px){
					font-size: 1.3em;
    				margin-top: 25px;
    				letter-spacing: 1.15px;
    				line-height: 28px;
    				margin-bottom: 25px;
				}

				@media screen and (max-width:481px){
					font-size: 1.1em;
    				margin-top: 21px;
    				letter-spacing: 1px;
    				line-height: 24px;
    				margin-bottom: 21px;
				}

				@media screen and (max-width:415px){
				    font-size: 1em;
    				margin-top: 17px;
    				letter-spacing: .5px;
    				line-height: 23px;
    				margin-bottom: 15px;
				}

				@media screen and (max-width:376px){
				    font-size: 1em;
    				line-height: 19px;
    				margin-bottom: 16px;
    				letter-spacing: 0px;
				}

				@media screen and (max-width:321px){
					font-size:.9em;
    				line-height: 18px;
    				margin-bottom: 12px;
    				letter-spacing: -.3px;
    				margin-top: 13px;
				}

				font-size: 32px;
    			line-height: 38px;
    			left: -8px;
    			margin-top: 92px;
    			letter-spacing: 0.4px;
    			margin-bottom:44px;
    			color:#ec7a47;
			}

			.cta {
				@media screen and (max-width:737px){
					left:0;
					color:#e77d56;
					border-color:#e77d56;
				}

				left:-8px;
				color:#3181c2;
				border-color:#3181c2;

				&:hover {
					@media screen and (max-width:737px){
						background:#e77d56;
						color:#fff;
					}

					background:#3181c2;
					color:#fff;
				}
			}
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				display:none;
			}
			float:left;
		}
	}
} //end of .c3

.c4 {
	@media screen and (max-width:737px){
		top:0;
	}

	overflow:hidden;
	position:relative;
	top:19px;

	div {
		&:first-of-type {
			@media screen and (max-width:737px){
				display:none;
			}

			float:left;
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				width:100%;
			}

			float:left;
			width:485px;
			text-align:center;

			a {
				&[data="baby-girl"]{
					@media screen and (max-width:737px){
						display:none;
					}

					margin-top: 75px;
    				display: block;
    				position: relative;
    				left: 14px;
    				margin-bottom:21px;
				}
			}

			h2 {
				@media screen and (max-width:737px){
					display:none;
				}

				font-size: 30px;
    			left: 14px;
    			letter-spacing: .9px;
    			margin-bottom:20px;
    			color:#d85194;
			}

			p {
				@media screen and (max-width:737px){
					font-size: 2em;
    				margin-top: 38px;
    				letter-spacing: .3px;
    				left: 1px;
    				margin-bottom: 30px;
				}

				@media screen and (max-width:668px){
					font-size: 1.7em;
    				margin-top: 35px;
    				letter-spacing: .8px;
				}

				@media screen and (max-width:569px){
					font-size: 1.4em;
    				margin-top: 29px;
    				letter-spacing: 1px;
    				margin-bottom: 26px;
				}

				@media screen and (max-width:481px){
					font-size: 1.1em;
    				margin-top: 26px;
    				letter-spacing: 1.3px;
    				margin-bottom: 22px;
				}

				@media screen and (max-width:415px){
					font-size: 1em;
    				margin-top: 21px;
    				letter-spacing: .8px;
    				margin-bottom: 19px;
				}

				@media screen and (max-width:376px){
    				margin-bottom: 16px;
    				font-size: .9em;
    				margin-top: 20px;
				}

				@media screen and (max-width:321px){
				    margin-bottom: 14px;
    				font-size: .9em;
    				margin-top: 16px;
				}

				font-size: 16px;
    			left: 14px;
    			margin-bottom:15px;
			}

			.cta {
				@media screen and (max-width:737px){
					left:-14px;
					margin-bottom:30px;
					color:#d55b8a;
					border-color:#d55b8a;
				}

				@media screen and (max-width:668px){
					margin-bottom:28px;
				}

				@media screen and (max-width:569px){
					margin-bottom: 22px;
    				left: -10px;
				}

				@media screen and (max-width:481px){
				    margin-bottom: 19px;
    				left: -8px;
				}

				@media screen and (max-width:415px){
				    margin-bottom: 16px;
    				left: -7px;
				}

				@media screen and (max-width:321px){
					margin-bottom: 12px;
				}

				left:5px;
				color:#2bb8b7;
				
				
				&:nth-of-type(3) {
					@media screen and (max-width:737px){
						left:13px;
						margin-bottom:30px;
					}

					@media screen and (max-width:668px){
						margin-bottom:28px;
					}

					@media screen and (max-width:569px){
						margin-bottom: 22px;
    					left: 10px;
					}

					@media screen and (max-width:481px){
				    	margin-bottom: 19px;
    					left: 8px;
					}

					@media screen and (max-width:415px){
				    margin-bottom: 16px;
    					left: 7px;
					}

					@media screen and (max-width:321px){
						margin-bottom: 12px;
					}

					left:23px;
				}

				&:last-of-type {
					@media screen and (max-width:737px){
						display:inline-block;
						width:88%;
						left:0;
					}

					display:none;
				}

				&:hover {
					@media screen and (max-width:737px){
						background:#d55b8a;
						color:#fff;
					}

					background:#2bb8b7;
					color:#fff;
				}
			}
		}
	}
} //end of .c4

.c5 {
	@media screen and (max-width:737px){
		top:0;
	}

	overflow:hidden;
	position:relative;
	top:23px;

	div {
		&:first-of-type {
			@media screen and (max-width:737px){
				width:100%;
				background:none;
			}

			float:left;
			width:237px;
			text-align:center;
			background:url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/homepage/170417/c5a-d.png') right top no-repeat;

			h2 {
				@media screen and (max-width:737px){
					font-size: 1.9em;
    				margin-top: 37px;
    				left: 0;
    				margin-bottom: 32px;
				}

				@media screen and (max-width:668px){
				    font-size: 1.7em;
    				margin-top: 34px;
    				margin-bottom: 31px;
    				letter-spacing: 0.1px;
				}

				@media screen and (max-width:569px){
					font-size: 1.4em;
    				margin-top: 30px;
    				margin-bottom: 25px;
    				letter-spacing: 0.4px;
				}

				@media screen and (max-width:481px){
					font-size: 1.1em;
    				margin-top: 25px;
    				margin-bottom: 23px;
    				letter-spacing: .8px;
				}

				@media screen and (max-width:415px){
					font-size: 1em;
    				margin-top: 22px;
    				margin-bottom: 18px;
    				letter-spacing:.4px;
				}

				@media screen and (max-width:376px){
					font-size: .9em;
    				margin-top: 20px;
    				letter-spacing: .4px;
    				margin-bottom: 16px;
				}

				@media screen and (max-width:321px){
					font-size: .9em;
    				margin-top: 16px;
    				letter-spacing: -.4px;
    				margin-bottom: 13px;
				}

				font-size: 32px;
    			margin-top: 165px;
    			left: -17px;
    			margin-bottom:19px;
    			color:#1d75bc;
			}

			p {
				@media screen and (max-width:737px){
					display:none;
				}

				font-size: 16px;
    			line-height: 20px;
    			left: -14px;
    			margin-bottom:14px;
			}

			.cta {
				@media screen and (max-width:737px){
					left:-14px;
					color:#1970b5;
					border-color:#1970b5;

					&:last-of-type {
						left:14px;
					}
				}

				@media screen and (max-width:569px){
					left:-10px;

					&:last-of-type {
						left:10px;
					}
				}

				@media screen and (max-width:415px){
					left:-7px;

					&:last-of-type {
						left:7px;
					}
				}

				margin-bottom:20px;
				left:-16px;
				color:#db5f9c;
				border-color:#db5f9c;

				&:hover {
					@media screen and (max-width:737px){
						background:#1970b5;
						color:#fff;
					}

					background:#db5f9c;
					color:#fff;
				}
			}
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				display:none;
			}

			float:left;
		}
	}
} //end of .c5



@media screen and (max-width:768px) {
	#olapic_specific_widget, #scroll-prompt, .homepage-text-under-olapic {
		display:none;
	}
}