.content-wrap {
	font-size: 1rem;

	.cta {
		@media screen and (max-width:1024px) {
			padding: 1rem 2rem;
		}
		font-family: gilroy-bold;
		text-transform: uppercase;
		padding: 0.75rem 1.25rem;
		text-decoration: none;
		border: 2px solid #47363D;
		color: #47363D;
		letter-spacing: 4px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:hover {
			background: #75686D;
			color: #fff;
		}

		&:active {
			background: #35282D;
			color: #fff;
		}
	}
}