{* $Id: subcats.html 111400 2016-05-06 18:46:50Z keith $ *}

{* KT: those categories are empty - redirect to the top one *}
{if $title == 'Shop By Category' || $title == 'Features' || $title == 'Collections'}
	<script>document.location.href = '{category_url category=$department_category->name}';</script>
{/if}

{* KT: if show=all then you got to render *}
{if $smarty.request.show == 'all'}
	{include file="store:name=browse/category/index&theme=tea_collection"}
{else}

	<div class="content-wrapper clearfix">
	    {* Hint: Load the sidebar template. Refine filters, sub categories, etc. go in there. *}
	    {include file="store:name=browse/sidebar&theme=tea_collection"}

	    <article class="main-content department categorylanding-{$name}">		
	    	<div class="da-rennab-zone" data-zone="clothing_sale"></div>
	    </article>
	</div>

	{literal}

	<script>

		jQuery( document ).ajaxComplete(function() {
		{/literal}
			{if $banner_ad_hide}{literal}
				jQuery('div.banner-ad-zone [data-zone="sitewide_banner"]').css("display", "none"); 
			{/literal}{/if}{literal}
		});
		   
	</script>
	{/literal}
{/if}