@import "var.less"; //mobile styles
//mobile

.first,
.fourth,
.second,
.third {
	p {
		margin: 31px 0 13px;
		font-size: 0.9em;
	}

	.cta {
		@media screen and (max-width:737px) {
			width: 88%;
			height: 30px;
			padding: 5px 0 0;
			color: @hp-font-color;
			border-color: @hp-font-color;
		}
	}
}

.first,
.third {
	.cta {
		@media screen and (max-width:737px) {
			width: 42%;
			left: -5px;
			margin: 0 0 15px;

			&.baby-boy,
			&.boy,
			&.cta2,
			&.cta4 {
				left: 6px;
			}

			&.cta5 {
				left: 6%;
				width: 88%;
			}
		}
	}
}

.second {
	.cta {
		@media screen and (max-width:737px) {}
	}
}

.third {
	.cta {
		@media screen and (max-width:737px) {}
	}
}

.fourth {
	.cta {
		@media screen and (max-width:737px) {}
	}
}

.c1 {
	@media screen and (max-width:737px) {
		background: none;
		min-height: auto;
		margin: 0;
	}
	// background: url("https://www.teacollection.com/mas_assets/media/tea_collection/homepage/2019/0404/compress4/c1-d.png") no-repeat top center;
	// background-size: cover;
	min-height: 500px;
	margin-bottom: 16px;
	color: #fff;
	// flex-basis: 100%;
	overflow: hidden;

	img {
		max-width: 100%;
	}

	div {
		@media screen and (max-width:737px) {
			width: 100%;
			float: none;
			margin: 0;
			padding: 0;
			text-align: center;
		}
		/* tablet */
		@media screen and (min-width:767px) and (max-width:769px) {
			margin: 0;
			box-sizing: border-box;
			padding: 0;
			width: 200px;
			float: none;
			min-height: 430px;
		}
		// overflow: hidden;
		margin: 0;
		box-sizing: border-box;
		padding: 0;
		// width: 100%;
		min-height: 500px;
		// float: left;
		//desktop styles
		&.first,
		&.fourth,
		&.second,
		&.third {
			/* tablet */
			@media screen and (min-width:767px) and (max-width:769px) {
				background-size: contain !important;
			}

			.cta {
				position: absolute;
				color: #fff;
				border-color: #fff;

				&:active,
				&:hover {
					background: #fff;
					color: #666;
					border-color: #fff;
				}
			}
		}

		&.first {
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/promos/sos/2019/0409/v4/c1-2nd-d.png") no-repeat top center;

			.cta {
				/* tablet */
				@media screen and (min-width:767px) and (max-width:769px) {
					left: 52px;
					top: 141px;
				}
				left: 85px;
				top: 155px;
				display: block;
				color: @hp-font-color;
				border-color: @hp-font-color;
				position: relative;

				&:active,
				&:hover {
					background: @hp-font-color;
					color: #fff;
					border-color: @hp-font-color;
				}
			}
		}

		&.second {
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/homepage/2019/0404/compress4/c1-2nd-d.png") no-repeat top center;

			.cta {
				/* tablet */
				@media screen and (min-width:767px) and (max-width:769px) {
					top: 209px;
					left: 33px;
				}
				top: 263px;
				left: 85px;
				width: 250px;
			}
		}

		&.third {
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/promos/sos/2019/0409/v4/c1-4th-d.png") no-repeat top center;

			.cta {
				width: 175px;

				&.girl {
					/* tablet */
					@media screen and (min-width:767px) and (max-width:769px) {
						top: 200px;
						left: 210px;
					}
					top: 253px;
					left: 315px;
				}

				&.boy {
					/* tablet */
					@media screen and (min-width:767px) and (max-width:769px) {
						top: 200px;
						left: 393px;
					}
					top: 253px;
					left: 511px;
				}

				&.baby-girl {
					/* tablet */
					@media screen and (min-width:767px) and (max-width:769px) {
						top: 256px;
						left: 210px;
					}
					top: 310px;
					left: 315px;
				}

				&.baby-boy {
					/* tablet */
					@media screen and (min-width:767px) and (max-width:769px) {
						top: 256px;
						left: 393px;
					}
					top: 310px;
					left: 511px;
				}
			}
		}

		&.fourth {
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/homepage/2019/0404/compress4/c1-4th-d.png") no-repeat top center;

			.cta {
				/* tablet */
				@media screen and (min-width:767px) and (max-width:769px) {
					top: 209px;
					left: 33px;
				}
				top: 263px;
				left: 85px;
				width: 250px;
			}
		}

		.text {
			margin-top: 146px;
			position: relative;
			left: 4px;
		}

		.mobile-span {
			@media screen and (max-width:737px) {
				display: inline-block;
			}
			display: none;
		}

		.m-image {
			margin: 0 0 40px;

			img {
				max-width: 100%;
			}
		}

		h2 {
			@media screen and (max-width:737px) {
				//color: #7a7a7c;
				display: inline;
			}
			font-size: 28px;
			font-family: brown-pro-bold;
			line-height: 32px;
			text-align: left;
			color: #F46560;
			letter-spacing: 0;
		}

		p {
			@media screen and (max-width:737px) {
				color: #666;
				margin: 0;
				line-height: 18px;
				//left: -2px;
				top: -10px;
				position: relative;
				padding: 0;
				text-align: center;
				font-size: 0.9em;
				line-height: 18px;
				font-family: brown-pro-regular;
				letter-spacing: 0.1px;
			}
			font-size: 15px;
			line-height: 22px;
			text-align: left;
			color: #555;
			letter-spacing: 0;
			margin: 8px 0 0;
		}

		.cta {
			/* tablet */
			@media screen and (min-width:767px) and (max-width:769px) {
				color: #fff;
				margin: 0 0 19px;
				border: 2px solid #fff;
				width: 175px;
				background: none;
				padding: 11px 0 0;
				letter-spacing: 1px;
				float: none;
			}
			@media screen and (max-width:737px) {
				//.tween
				&.tween {
					width: 88%;
					margin: 0 auto 20px !important;
					left: 0;
					display: block !important;
				}
				//2cta full width
				/*
				width:88%;
				border:1px solid @hp-font-color;
				margin:49px 0 0 0;

				&.cta2 {
					margin:13px 0 0 0;
				}
				*/
				//2 cta
				width: 42%;
				left: 6px;
				margin: 0 3% 15px 0;
				color: @hp-font-color;
				border-color: @hp-font-color;
				border: 1px solid @hp-font-color;
				padding: 6px 0 0;
				top: 0;
				height: 30px;

				&.cta3,
				&.cta4 {
					// left: 0;
					//margin: 0 3% 1px 0;
				}
			}
			color: @hp-font-color;
			margin: 20px 0 0;
			border: 1px solid @hp-font-color;
			width: 200px;
			background: none;
			padding: 11px 0 0;
			letter-spacing: 1px;
			float: none;

			&:active,
			&:hover {
				@media screen and (max-width:737px) {}
				background: @hp-font-color;
				color: #fff;
				border: 1px solid @hp-font-color;
			}
		}
	}
}
// end of .c1