@import "var.less";

.c1 {
  position: relative;
  width: 100%;

  a {
    color: #FFFFFF;
    font-family: @gilroyb;

    div {
      &.the-content {
        position: absolute;
        top: 15%;
        width: 21.7%;
        left: 6%;

        a,
        h2,
        p {
          color: #fff;
          font-family: @souv;
          margin: 0 auto;
        }

        h3 {
          color: #FBF569;
        }

        h2 {
          margin: 6% 0 0;
          text-transform: none;
          color: @color;
        }

        p {
          margin: 10% 0 0;
          text-transform: none;
          letter-spacing: 0;
        }

        div {
          margin: 6% 0 0;
          text-align: center;

          span {
            color: #fff;
          }
        }
      }
    }
  }
}