.c1 {
  @media screen and (max-width:767px) {
    background: #5B0253;
  }
  overflow: hidden;

  .slide {
    @media screen and (min-width:1609px) {
      height: 938px;
      overflow: hidden;
    }
    position: relative;

    img {
      width: 100%;
      max-width: 100%;
    }

    div {
      &.the-content {
        @media screen and (max-width:812px) {
          width: 100% !important;
        }
        @media screen and (max-width:767px) {}
        position: absolute;
        text-align: center;
      }

      a,
      h2,
      p {
        @media screen and (max-width:812px) {
          color: #fff !important;
        }
        color: #fff;
        font-family: souvenirstd-light;
        margin: 0 auto;
      }

      h2 {
        @media screen and (min-width:1680px) {
          font-size: 89px;
        }
        @media screen and (max-width:812px) {
          font-size: 9.4vw;
        }
        font-size: 5.4vw;
      }

      p {
        @media screen and (min-width:1680px) {
          font-size: 25px !important;
        }
        @media screen and (max-width:1024px) {}
        @media screen and (max-width:812px) {
          font-size: 2.8vw !important;
        }
        @media screen and (max-width:767px) {
          font-size: 4.4vw !important;
        }
        font-size: 1.5vw;
      }

      a {
        @media screen and (min-width:1680px) {
          font-size: 19px;
        }
        @media screen and (max-width:812px) {
          font-size: 2vw;
        }
        @media screen and (max-width:767px) {
          font-size: 4vw !important;
        }
        font-family: gilroy-bold;
        font-size: 1.1vw;
      }
    }

    &.slide0,
    &.slide1,
    &.slide2,
    &.slide4 {
      div {
        &.the-content {
          @media screen and (max-width:767px) {
            padding: 6% 0 11%;
          }
        }
      }
    }

    &.slide0 {
      div {
        &.the-content {
          @media screen and (max-width:812px) {
            top: 81%;
          }
          @media screen and (max-width:767px) {
            top: 76%;
          }
          top: 80%;
          right: 0;
          width: 35%;
        }

        div {
          &:nth-of-type(1) {
            @media screen and (max-width:1024px) {
              margin: 5% 0 0;
            }
            @media screen and (max-width:767px) {
              margin: 9% 0 0;
            }
            margin: 6.5% 0 0;
          }

          &:nth-of-type(2) {
            @media screen and (max-width:1024px) {
              margin: 2% 0 0;
            }
            @media screen and (max-width:812px) {
              margin: 4% 0 0;
            }
            @media screen and (max-width:767px) {
              margin: 7% 0 0;
            }
            margin: 6% 0 0;
          }

          &:nth-of-type(4) {
            @media screen and (max-width:767px) {
              margin: 7% 0 0;
            }
          }

          &:nth-of-type(5) {
            @media screen and (max-width:767px) {
              margin: 10% 0 0;
            }
          }

          a {
            @media screen and (min-width:1680px) {
              font-size: 16px;
            }
            @media screen and (max-width:1024px) {
              // left: 3%;
            }
            @media screen and (max-width:767px) {
              left: 0;
            }
            // letter-spacing: 0.23vw;
            // padding: 0 0 0.5%;
            color: #cdb81c !important;

            &.cta1 {
              @media screen and (max-width:812px) {
                left: -12%;
              }
              @media screen and (max-width:767px) {
                left: -10%;
              }
              left: -15%;
            }

            &.cta2 {
              @media screen and (max-width:812px) {
                left: -5%;
              }
              @media screen and (max-width:767px) {
                left: 10%;
              }
              left: -8%;
            }

            &.cta3 {
              @media screen and (max-width:812px) {
                left: 3%;
              }
              left: -2%;
            }

            &.cta4 {
              @media screen and (max-width:812px) {
                left: 10%;
              }
              left: -10%;
            }

            &.cta5 {
              @media screen and (max-width:812px) {
                left: 10%;
              }
              left: -5%;
            }
          }
        }
      }
    }

    &.slide1 {
      div {
        &.the-content {
          @media screen and (max-width:812px) {
            top: 46%;
          }
          @media screen and (max-width:767px) {
            top: 53%;
          }
          top: 22%;
          right: 0;
          width: 49%;
        }

        h2 {
          @media screen and (max-width:812px) {
            // width: 100%;
          }
          @media screen and (max-width:767px) {
            color: #BE8B0B !important;
          }
          width: 100%;
          color: #BE8B0B;
        }

        p {
          @media screen and (max-width:1024px) {}
          @media screen and (max-width:812px) {
            width: 75%;
            margin: 1% auto 0;
          }
          @media screen and (max-width:767px) {
            width: 80%;
          }
          font-size: 1.5vw;
          width: 58%;
          margin: 0 auto;
          color: #D9B2AB;
        }

        div {
          &:nth-of-type(1) {
            @media screen and (max-width:1024px) {
              margin: 5% 0 0;
            }
            @media screen and (max-width:767px) {
              margin: 9% 0 0;
            }
            margin: 6% 0 0;
          }

          &:nth-of-type(2) {
            @media screen and (max-width:1024px) {
              margin: 2% 0 0;
            }
            @media screen and (max-width:812px) {
              margin: 4% 0 0;
            }
            @media screen and (max-width:767px) {
              margin: 7% 0 0;
            }
            margin: 3% 0 0;
          }

          &:nth-of-type(3) {
            @media screen and (max-width:767px) {
              margin: 7% 0 0;
            }
            margin: 3% 0 0;
          }

          a {
            @media screen and (max-width:1024px) {
              left: 3%;
            }
            @media screen and (max-width:767px) {
              left: 0;
            }
          }
        }
      }
    }

    &.slide2 {
      @media screen and (max-width:767px) {
        // background: #22458D;
      }

      div {
        &.the-content {
          @media screen and (max-width:812px) {
            top: 60%;
          }
          @media screen and (max-width:767px) {}
          top: 68%;
          right: 0;
          width: 100%;

          img {
            @media screen and (max-width:812px) {
              display: none;
            }
            width: 68%;
            display: block;
            margin: 0 auto;
          }
        }

        h2 {
          @media screen and (min-width:1680px) {
            font-size: 78px;
          }
          @media screen and (max-width:812px) {
            font-size: 9vw;
            width: 100%;
          }
          @media screen and (max-width:767px) {
            font-size: 10vw;
            color: #BE8B0B !important;
          }
          width: 58%;
          color: #fff;
        }

        p {
          @media screen and (max-width:1024px) {}
          @media screen and (max-width:812px) {
            width: 80%;
            margin: 2% auto 0;
          }
          @media screen and (max-width:767px) {
            width: 85%;
          }
          font-size: 1.5vw;
          width: 44%;
          margin: 1% auto 0;
          color: #fff;
        }

        div {
          @media screen and (max-width:812px) {
            margin: 4% 0 0;
          }
          @media screen and (max-width:767px) {
            margin: 7% 0 0;
          }
          margin: 2% 0 0;

          a {}
        }
      }
    }

    &.slide3 {
      @media screen and (max-width:767px) {
        // background: #A30069;
      }

      div {
        &.the-content {
          @media screen and (max-width:1024px) {}
          @media screen and (max-width:812px) {
            top: 60%;
          }
          @media screen and (max-width:767px) {
            top: 63%;
          }
          top: 35%;
          right: 0;
          width: 33.5%;
        }

        h2 {
          @media screen and (max-width:1024px) {
            width: 50%;
          }
          @media screen and (max-width:812px) {
            width: 100%;
          }
          @media screen and (max-width:767px) {
            color: #62062E !important;
            width: 100%;
          }
          width: 60%;
          color: #BE8B0B;
        }

        p {
          @media screen and (max-width:1024px) {}
          @media screen and (max-width:812px) {
            width: 52%;
          }
          @media screen and (max-width:767px) {
            color: #163B5A !important;
            margin: 2% auto 0;
          }
          width: 54%;
          color: #EBCBBE;
        }

        div {
          @media screen and (max-width:1024px) {
            margin: 5% 0 0;
          }
          @media screen and (max-width:812px) {
            margin: 6% 0 0;
          }
          @media screen and (max-width:767px) {
            margin: 8% 0 0;
          }
          margin: 6% 0 0;

          a {
            @media screen and (max-width:767px) {
              color: #BE8B0B !important;
            }
          }
        }
      }
    }

    &.slide4 {
      @media screen and (max-width:767px) {
        // background: #70B3BB;
      }

      div {
        &.the-content {
          @media screen and (max-width:812px) {
            top: 42%;
          }
          @media screen and (max-width:767px) {
            top: 54%;
          }
          top: 20%;
          width: 33.3%;
          right: 0;
        }

        img {
          @media screen and (max-width:767px) {
            width: 100%;
          }
          width: 97%;
          margin: 0 auto;
        }

        p {
          @media screen and (max-width:812px) {
            width: 55%;
          }
          @media screen and (max-width:767px) {
            top: 51%;
          }
          width: 55%;
          color: #fff;
          position: absolute;
          top: 67%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        div {
          @media screen and (max-width:767px) {
            top: 80%;
          }
          margin: 0;
          position: absolute;
          top: 93%;
          width: 100%;

          a {}
        }
      }
    }
  }
}