@import "var.less";

.hp {
	.c2 {
		div {
			.cta {
				@media screen and (max-width:737px) {
					//2cta full width
					/*
				width:88%;
				border:1px solid @hp-font-color;
				margin:18px auto 0 auto;
				float:none;

				&.cta2 {
					margin:13px 0 0 0;
				}
				*/
					//2 cta stacked
					/*
				&:last-of-type {
					margin:15px 0 0 0 !important;
				}
				*/
					//2 column cta
					/*
				width: 42%;
				margin-right: 7%;
				left: 21px;
				top: 4px;
				margin-top: 0;

				&.cta2 {
					left: 6px;
				}
				*/
				}
				//2 cta stacked
				/*
			&:last-of-type {
				@media screen and (max-width:737px) {
					margin: 0;
				}
				margin: 20px 0 0;
			}
			*/
				//2 column cta
				/*
			width: 140px;
    		float: left;
    		margin-right: 20px;
    		margin-left: 13px;

    		&:last-of-type {
    			margin-right:0;
    			margin-left:0;
    		}
    		*/
			}
		}
	}
}
//end of .c2