@import "var.less";

.c3 {
  display: flex;
  background: @background;
  padding: 2.4% 0 4.5%;
  text-align: center;

  div {
    &.first,
    &.second,
    &.third {
      flex-basis: 33%;
      text-align: center;
      padding: 0 0 0 2.4%;

      a {
        text-decoration: none;
      }

      .the-content {
        h2 {
          font-family: @gilroyb;
          font-size: 30px;
          line-height: 28px;
          letter-spacing: 0.25em;
          text-transform: uppercase;
          margin: 5% 0 7%;
        }
      }
    }

    &.first {
      a,
      h2 {
        color: #62B3B4;
      }
    }

    &.second {
      a,
      h2 {
        color: #F76578;
      }
    }

    &.third {
      a,
      h2 {
        color: #FF924A;
      }
    }
  }
}