@import "var.less";

.c4 {
  display: flex;

  div {
    &.first,
    &.second {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2.4% 0 3.9%;

      .the-content {
        h2 {
          font-size: 30px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.25em;
          text-transform: uppercase;
          margin: 8% 0 0;
          font-family: @gilroyb;
        }

        div {
          margin: 9% 0 0;

          a {}
        }
      }
    }

    &.first {
      background: #2967B0;

      a,
      h2 {
        color: #F3CE4A;
      }

      a {
        &.cta1 {
          left: -13%;
        }

        &.cta2 {
          left: 3%;
        }

        &.cta3 {
          left: 14%;
        }
      }
    }

    &.second {
      background: #F3CE4A;

      a,
      h2 {
        color: #2967B0;
      }

      a {
        &.cta1 {
          left: 14%;
        }

        &.cta2 {
          left: 30%;
        }
      }
    }
  }
}