@import "var.less";

.c4 {
  @media screen and (max-width:767px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width:414px) {
    margin: -1px 0 0;
  }
  display: flex;

  div {
    &.first,
    &.second {
      display: flex;
    }

    &.first {
      @media screen and (max-width:414px) {
        // order: 2;
      }

      a {
        @media screen and (max-width:1679px) {}
        @media screen and (max-width:414px) {}
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-decoration: none;
        position: relative;

        div {
          position: relative;

          &.the-content {
            @media screen and (max-width:414px) {
              order: 1;
              top: 33%;
            }
            position: absolute;
            text-align: center;
            top: 36%;
            width: 65%;
            left: 50%;
            transform: translate(-50%, 0);

            img {
              @media screen and (max-width:768px) {
                width: 45%;
              }
              @media screen and (max-width:414px) {
                width: 50%;
              }
            }

            h2,
            p {
              font-family: @souv;
              text-align: center;
              text-shadow: 0 4px 4px rgba(0,0,0,.45);
            }

            div {
              @media screen and (max-width:414px) {
                margin: 14% 0 0;
              }
              margin: 11% 0 0;

              span {
                // @media screen and (max-width:1679px) {
                //   font-size: 1.1vw;
                // }
                // @media screen and (max-width:768px) {
                //   font-size: 2vw;
                // }
                // @media screen and (max-width:414px) {
                //   font-size: 4vw;
                // }
                // font-size: 19px;
                // line-height: 28px;
                // letter-spacing: 0.25em;
                // text-transform: uppercase;
                color: #FFFFFF;
                text-shadow: 0 4px 4px rgba(0,0,0,.45);
              }
            }
          }
        }
      }
    }

    &.second {
      position: relative;

      img {
        align-self: center;
        -webkit-align-self: center;
      }

      .the-content {
        @media screen and (max-width:768px) {
          top: 47%;
        }
        @media screen and (max-width:414px) {
          // order: 1;
          top: 33%;
        }
        position: absolute;
        top: 36%;
        text-align: center;
        width: 71%;
        left: 50%;
        transform: translate(-50%, 0);

        h2,
        p {
          font-family: @souv;
          text-align: center;
          text-shadow: 0 4px 4px rgba(0,0,0,.45);
        }

        div {
          @media screen and (max-width:768px) {}
          margin: 11% 0 0;

          a {
            span {
              @media screen and (max-width:768px) {
                display: none;
              }
            }
            // @media screen and (max-width:1679px) {
            //   font-size: 1.1vw;
            // }
            // @media screen and (max-width:768px) {
            //   font-size: 2vw;
            // }
            // @media screen and (max-width:414px) {
            //   font-size: 4vw;
            // }
            // font-size: 19px;
            // line-height: 28px;
            // letter-spacing: 0.25em;
            // text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0 4px 4px rgba(0,0,0,.45);

            &.cta1 {
              left: -4%;
            }

            &.cta2 {
              left: 4%;
            }
          }
        }
      }
    }
  }
}