.c4 {
  @media screen and (max-width:767px) {
    flex-wrap: wrap;
  }
  display: flex;

  div {
    &.first,
    &.second {
      display: flex;
    }

    &.first {
      @media screen and (max-width:767px) {
        order: 2;
      }

      img {
        @media screen and (max-width:1024px) {
          // align-self: center;
          // -webkit-align-self: center;
        }
        width: 100%;
        max-width: 100%;
        align-self: center;
        -webkit-align-self: center;
      }
    }

    &.second {
      position: relative;

      .the-content {
        @media screen and (max-width:1024px) {
          top: 35%;
        }
        @media screen and (max-width:767px) {
          order: 1;
          // top: 55%;
        }
        position: absolute;
        top: 35%;
        text-align: center;
        width: 100%;

        h2,
        p {
          font-family: souvenirstd-light;
          text-align: center;
        }

        h2 {
          @media screen and (min-width:1680px) {
            font-size: 90px;
          }
          @media screen and (max-width:1024px) {}
          @media screen and (max-width:767px) {
            font-size: 11vw;
            width: 60%;
          }
          font-size: 5.4vw;
          width: 50%;
          margin: 0 auto;
          color: #fff;
        }

        div {
          @media screen and (max-width:1024px) {}
          @media screen and (max-width:767px) {
            margin: 10% 0 0;
          }
          margin: 4% 0 0;

          span {
            @media screen and (min-width:1680px) {
              font-size: 22px;
            }
            color: #fff;
            font-size: 1.1vw;
          }
        }
      }
    }
  }
}
