.c5 {
  @media screen and (max-width:767px) {
    flex-wrap: wrap;
  }
  display: flex;

  div {
    &.first,
    &.second {
      display: flex;
    }

    &.first {
      a {
        display: block;
        width: 100%;

        img {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &.second {
      @media screen and (max-width:767px) {
        padding: 0 0 13%;
      }
    }
  }
}