.c6 {
  @media screen and (max-width:767px) {
    flex-wrap: wrap;
  }
  display: flex;

  div {
    &.first,
    &.second {
      display: flex;
    }

    &.first {
      @media screen and (max-width:1024px) {}
      @media screen and (max-width:812px) {
        background-position-y: 10%;
      }
      @media screen and (max-width:767px) {
        order: 2;
        top: 0;
        padding: 39% 0 31%;
        background-size: 32%;
        background-position-y: 30px;
      }
      background: url("/mas_assets/media/tea_collection/homepage/2019/0904/v1/stamp.svg") no-repeat left 5em #F9EBE6;
      background-size: 31%;

      .the-content {
        @media screen and (max-width:1024px) {
          top: 28%;
        }
        @media screen and (max-width:767px) {
          top: 0;
        }
        position: relative;
        top: 331px;
        text-align: center;
        width: 100%;

        img {
          display: block;
          margin: 0 auto;
          width: 25%;
        }

        h2,
        p {
          font-family: souvenirstd-light;
          text-align: center;
        }

        h2 {
          @media screen and (min-width:1680px) {
            font-size: 100px;
          }
          @media screen and (max-width:1024px) {
            margin: 5% 0 2%;
            font-size: 6vw;
          }
          @media screen and (max-width:767px) {
            font-size: 11vw;
            margin: 3% 0 0;
          }
          font-size: 5.4vw;
          position: relative;
          color: #A30069;
        }

        p {
          @media screen and (min-width:1680px) {
            font-size: 29px;
          }
          @media screen and (max-width:1024px) {
            font-size: 1.8vw;
            width: 50%;
          }
          @media screen and (max-width:767px) {
            font-size: 4.4vw;
            width: 53%;
            margin: 1% auto 0;
          }
          font-size: 1.5vw;
          margin: 0 auto;
          position: relative;
          width: 48%;
          color: #47363D;
        }

        div {
          @media screen and (max-width:1024px) {
            margin: 5% 0 0;
          }
          @media screen and (max-width:767px) {
            margin: 9% 0 0;
          }
          margin: 65px 0 0;

          a {
            @media screen and (min-width:1680px) {
              font-size: 22px;
            }
            color: #A30069;
            font-size: 1.1vw;
          }
        }
      }
    }

    &.second {
      img {
        @media screen and (max-width:1024px) {
          align-self: center;
        }
        width: 100%;
        max-width: 100%;
      }
    }
  }
}