@import "var.less";

.c6 {
	width:494px;

	div {
		
		.cta {
			@media screen and (max-width:737px){
				//margin: 5px 0 0 0;

				//2cta full width
				/*
				width:88%;
				border:1px solid @hp-font-color;
				margin:18px auto 0 auto;
				float:none;

				&.cta2 {
					margin:13px 0 0 0;
				}
				*/

    			//2 column cta
    			
    			width: 41.5%;
    			margin-right: 5%;
    			left: 6%;
    			margin-top: 4px;
    			margin-left:0;
    			

    			//2 cta stacked
    			/*
    			&:last-of-type {
    				margin:15px 0 0 0 !important;
    			}
    			*/
			}

			//2 cta stacked
			/*&:last-of-type {
				margin:20px 0 0 0;
			}*/


			//2 column cta
			
			width: 140px;
    		float: left;
    		margin-right: 20px;
    		margin-left: 99px;

    		&:last-of-type {
    			margin-right:0;
    			margin-left:0;
    		}
    		
    		
		}
	}
	
} //end of .c6