.c7 {
  @media screen and (max-width:767px) {
    background: #77BFBB;
  }
  position: relative;

  img {
    max-width: 100;
    width: 100%;

    &.desktop-img {
      @media screen and (max-width:767px) {
        display: none;
      }
    }
  }

  .the-content {
    @media screen and (max-width:1024px) {
      top: 36%;
    }
    @media screen and (max-width:767px) {
      top: 0;
      position: relative;
      padding: 7% 0 13%;
    }
    position: absolute;
    top: 291px;
    width: 100%;
    text-align: center;

    a,
    h2 {
      @media screen and (max-width:767px) {
        color: #A30069;
      }
      color: #fff;
    }

    h2 {
      @media screen and (min-width:1680px) {
        font-size: 89px;
      }
      @media screen and (max-width:1024px) {
        font-size: 5.4vw;
        margin: 0;
      }
      @media screen and (max-width:767px) {
        font-size: 10vw;
        width: 100%;
        margin: 0 auto;
      }
      font-family: souvenirstd-light;
      text-align: center;
      font-size: 4.7vw;

      span {
        &::before {
          content: "\A";
          white-space: pre;
        }
      }
    }

    div {
      @media screen and (max-width:1024px) {
        margin: 4% 0 0;
      }
      @media screen and (max-width:767px) {
        margin: 8% 0 0;
      }
      margin: 73px 0 0;

      a {
        @media screen and (min-width:1680px) {
          font-size: 22px;
        }
        margin: 0 auto;
        font-size: 1.1vw;
      }
    }
  }
}