.c7 {
  @media screen and (max-width:767px) {
    // background: #3E4666;
  }
  position: relative;

  img {
    width: 100%;
  }

  a#c7 {
    display: block;
    width: 100%;
  }

  .the-content {
    @media screen and (max-width:1024px) {}
    @media screen and (max-width:767px) {
      width: 100%;
      top: 51%;
    }
    position: absolute;
    width: 33.3%;
    text-align: center;
    right: 0;
    top: 15%;

    img {
      width: 76%;
      margin: 0 auto;
    }

    p {
      @media screen and (min-width:1680px) {
        font-size: 25px;
      }
      @media screen and (max-width:1024px) {
        width: 60%;
      }
      @media screen and (max-width:767px) {
        width: 61%;
        top: 44%;
        font-size: 4vw;
      }
      position: absolute;
      top: 65%;
      color: #fff;
      width: 67%;
      left: 50%;
      transform: translate(-50%,0);
    }

    div {
      @media screen and (max-width:1024px) {}
      @media screen and (max-width:812px) {
        top: 110%;
      }
      @media screen and (max-width:767px) {
        top: 97%;
      }
      position: absolute;
      top: 95%;
      width: 100%;

      span {
        @media screen and (min-width:1680px) {
          font-size: 22px;
        }
        @media screen and (max-width:767px) {}
        color: #fff;
        font-size: 1.1vw;
      }
    }
  }
}