.c8 {
  @media screen and (max-width:1024px) {
    padding: 3em 0;
  }
  @media screen and (max-width:768px) {
    padding: 2em 0;
  }
  @media screen and (max-width:767px) {
    padding: 6% 0 19%;
  }
  display: flex;
  background: #006A6D;
  flex-wrap: wrap;
  padding: 5em 0;

  div {
    &.first,
    &.second {}

    &.first {
      @media screen and (max-width:767px) {
        flex-basis: 100%;
        text-align: center;
      }
      flex-basis: 67%;
      text-align: right;

      img {
        @media screen and (max-width:767px) {
          width: 89%;
        }
        width: 94%;
      }
    }

    &.second {
      @media screen and (max-width:767px) {
        flex-basis: 100%;
      }
      flex-basis: 33%;
      position: relative;

      .the-content {
        @media screen and (max-width:1024px) {
          top: 9%;
        }
        @media screen and (max-width:767px) {
          top: 0;
          position: relative;
          padding: 12% 0 0;
        }
        position: absolute;
        top: 89px;
        text-align: center;

        h2,
        p {
          font-family: souvenirstd-light;
          text-align: center;
        }

        span {
          @media screen and (min-width:1680px) {
            font-size: 22px;
          }
          @media screen and (max-width:1024px) {
            font-size: 1.5vw;
            letter-spacing: 3px;
          }
          @media screen and (max-width:767px) {
            font-size: 4vw;
          }
          display: block;
          text-align: center;
          text-transform: uppercase;
          font-size: 1.1vw;
          font-family: gilroy-bold;
          color: #00DBC0;
          letter-spacing: 8px;
        }

        h2 {
          @media screen and (min-width:1680px) {
            font-size: 89px;
          }
          @media screen and (max-width:1024px) {
            font-size: 5vw;
            width: 80%;
            margin: 3% auto 0;
          }
          @media screen and (max-width:767px) {
            font-size: 10vw;
            margin: 4% auto 0;
          }
          font-size: 4.5vw;
          margin: 41px auto 0;
          color: #CDB81C;
          text-transform: capitalize;
          position: relative;
          width: 90%;
        }

        p {
          @media screen and (min-width:1680px) {
            font-size: 29px;
          }
          @media screen and (max-width:1024px) {
            font-size: 1.8vw;
            width: 75%;
          }
          @media screen and (max-width:767px) {
            font-size: 4.4vw;
            width: 62%;
            margin: 2% auto 0;
          }
          font-size: 1.5vw;
          margin: 0 auto;
          position: relative;
          color: #fff;
          width: 71%;
        }

        div {
          @media screen and (max-width:1024px) {
            margin: 14% 0 0;
          }
          @media screen and (max-width:767px) {
            margin: 11% 0 0;
          }
          margin: 53px 0 0;

          a {
            @media screen and (min-width:1680px) {
              font-size: 22px;
            }
            color: #CDB81C;
            font-size: 1.1vw;
          }
        }
      }
    }
  }
}