@import "var.less";

.c9,
.c9-2 {
	@media screen and (max-width:737px) {
		height: auto;
		padding-top: 0;
	}
	@media screen and (min-width:737px) {
		clear: both;
	}
	width: 100%;
	padding-top: 0;

	div {
		img {
			@media screen and (max-width:737px) {
				margin-bottom: 51px;
			}
			@media screen and (min-width:374px) and (max-width:376px) {
				height: 281px;
			}
		}

		a {
			text-decoration: none;
			color: #fff;

			h3 {
				@media screen and (max-width:737px) {
					font-size: 2.3em;
					margin: 0;
					overflow: visible;
					height: auto;
				}
				@media screen and (max-width: 321px) {
					font-size: 2em;
				}
				font-size: 21px;
				line-height: 25px;
				text-align: left;
				margin-top: 6px;
				box-sizing: border-box;
				// background: @hp-font-color;
				background: #B590B4;
				font-family: brown-pro-bold !important;
				position: relative;
				overflow: hidden;
				font-weight: normal;
				color: #fff;
				height: 61px;

				div {
					&:first-of-type {
						@media screen and (max-width: 737px) {
							padding: 15% 0 21% 11%;
							letter-spacing: 0;
							float: none;
							width: 100%;
							box-sizing: border-box;
						}
						padding: 18px 0 0 66px;
						letter-spacing: 0.3px;
						width: 756px;
						float: left;
					}

					&:last-of-type {
						@media screen and (max-width: 737px) {
							float: none;
							padding: 0;
						}
						float: right;
						padding: 12px 38px 0 0;
					}
				}

				span {
					@media screen and (max-width:737px) {
						top: 115%;
						left: 6%;
						display: block;
						color: @hp-font-color;
						width: 88%;
						padding: 8px 0;
						//font-size: .4em;
						font-size: 10px;
						position: absolute;
					}
					border: 1px solid #fff;
					padding: 11px 0 0;
					display: inline-block;
					box-sizing: border-box;
					text-transform: uppercase;
					font-size: 13px;
					line-height: 16px;
					width: 140px;
					text-align: center;
					background: #fff;
					color: #B590B4;
					font-family: brown-pro-bold;
					height: 39px;
					letter-spacing: 1px;
				}
			}

			&:active,
			&:hover {
				h3 {
					span {
						@media screen and (max-width: 737px) {
							// color: #fff;
							// background: @hp-font-color;
						}
						//background:#fff;
						// border: 1px solid @hp-font-color;
						// background: @hp-font-color;
						// color: #fff;
					}
				}
			}
		}

		.cta {
			margin: 0 auto;
		}
	}
}
//end of .c9

.c9-2 {
	div {
		a {
			h3 {
				margin: 21px 0 0;
				font-size: 23px;
				line-height: 28px;

				div {
					&:first-of-type {
						padding: 21px 0 77px;
						text-align: center;
					}

					&:last-of-type {
						span {
							position: absolute;
							top: 121px;
							width: 64%;
							left: 18%;
							height: 30px;
							padding: 9px 0 0;
							line-height: 12px;
							font-size: 0.47em;
							color: @hp-font-color;
						}
					}
				}
			}

			&:active,
			&:hover {
				h3 {
					div {
						&:last-of-type {
							span {
								background: #fff;
								color: @hp-font-color;
							}
						}
					}
				}
			}
		}
	}
}