/*------------------------------------------------------------------------*/
/*-- slideshow styles --*/

.bx-controls {
	@media screen and (min-width:374px) and (max-width:376px) {
		//display:block;
		top: -30.5em;
	}
	position: relative;
	//display:none;
}

.bx-controls-direction {
	@media screen and (min-width:374px) and (max-width:376px) {
		//display: block !important;
	}
	display: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	width: 7px !important;
	height: 7px !important;
}

.bx-pager {
	@media screen and (min-width:735px) and (max-width:736px) {
		left: 0 !important;
		top: -240px !important;
		display: block !important;
		// display: none !important;
	}
	@media screen and (min-width:666px) and (max-width:668px) {
		left: 0 !important;
		top: -240px !important;
		display: block !important;
		// display: none !important;
	}
	@media screen and (min-width:567px) and (max-width:569px) {
		top: -240px !important;
		display: block !important;
		// display: none !important;
	}
	@media screen and (min-width:479px) and (max-width:481px) {
		top: -240px !important;
		display: block !important;
		// display: none !important;
	}
	@media screen and (min-width:413px) and (max-width:415px) {
		left: 0 !important;
		top: -240px !important;
		display: block !important;
		// display: none !important;
	}
	@media screen and (min-width:374px) and (max-width:376px) {
		top: 155px !important;
		display: block !important;
		//display:none !important;
	}
	@media screen and (min-width:319px) and (max-width:321px) {
		top: -240px !important;
		//display:block !important;
		display: block !important;
	}
}
@media screen and (max-width:737px) {
	.bx-wrapper {
		margin-bottom: 0 !important;
	}
}
/*------------------------------------------------------------------------*/
/*-- classes and ids styles --*/
#header {
	@media screen and (max-width:737px) {
		//margin-bottom: 48px !important;
	}
}

#scroll-prompt {
	display: none;
}

.desktop {
	@media screen and (max-width:737px) {
		display: none !important;
	}
}

.mobile {
	display: none !important;
	@media screen and(max-width:737px) {
		display: block !important;
	}
}

.mobile-br {
	@media screen and (max-width:321px) {
		display: none;
	}
}

.mobile-span {
	display: none !important;
	@media screen and(max-width:737px) {
		display: inline-block !important;
	}
}

.ref {
	@media screen and (max-width:737px) {
		top: -191px;
	}
	position: absolute;
	max-width: 100%;
	//width:1000px;
	opacity: 0.5;
	//display:none;
	//top:-70px;
	top: 10px;
	z-index: 9999;
}

.cta {
	@media screen and (max-width:737px) {
		width: 42%;
		left: 0;
		padding: 1em 0;
		font-size: 0.8em;
		//line-height:3em;
	}
	@media screen and (max-width:415px) {
		font-size: 0.8em;
		letter-spacing: 1.1px;
	}
	@media screen and (max-width:376px) {
		//padding: 8px 0;
		font-size: 0.7em;
	}
	@media screen and (max-width:321px) {
		//padding: 7px 0;
		font-size: 0.6em;
	}
	display: inline-block;
	font-family: brown-pro-bold !important;
	border: 1px solid;
	width: 200px;
	position: relative;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 16px;
	height: 39px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 0 0;
	text-align: center;
	box-sizing: border-box;
}

.vimeo {
	@media screen and (min-width: 735px) and (max-width:737px) {
		margin-top: 20px;
		//float:none;
	}
	@media screen and (min-width: 666px) and (max-width:668px) {
		margin-top: 20px;
		//float:none;
	}
	@media screen and (min-width: 567px) and (max-width:569px) {
		margin-top: 20px;
		//float:none;
	}
	@media screen and (min-width: 479px) and (max-width:481px) {
		margin-top: 20px;
		//float:none;
	}
	@media screen and (min-width: 374px) and (max-width:376px) {
		margin: 20px 0 0;
		padding: 0;
		//float:none;
	}
	clear: both;
	padding: 0;
	//margin-top:10px;
	//float:left;
	//width:100%;
}