@import "var.less";

.ref {
  @media screen and (max-width:414px) {
    top: 0;
  }
  opacity: 0.5;
  width: 1680px;
  // top: -65px;
  top: -50px;
  position: absolute;
  z-index: 9999;
}

header.site-header {
  top: 0 !important;
}

.hp {
  .first,
  .second {
    @media screen and (max-width:414px) {
      flex-basis: 100%;
    }
    flex-basis: 50%;
  }

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 5.3vw;
      line-height: 5.5vw;
    }
    @media screen and (max-width: 768px) {
      font-size: 5.2vw;
      line-height: 5.2vw;
    }
    @media screen and (max-width: 414px) {
      font-size: 10vw !important;
      line-height: 12vw !important;
    }
    font-family: @souv;
    font-size: 89px;
    line-height: 93px;
    text-align: center;
    letter-spacing: 0.01em;
    // text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
    color: #FFFFFF;
  }

  p {
    @media screen and (max-width: 1679px) {
      font-size: 1.5vw;
      line-height: 2.3vw;
    }
    // @media screen and (max-width: 768px) {
    //   font-size: 2.9vw;
    //   line-height: 4.1vw;
    // }
    @media screen and (max-width: 414px) {
      font-size: 4vw !important;
      line-height: 6vw !important;
    }
    font-family: @souv;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}

.site-content .site-content-inner .site-content-bg-wrapper {
  padding: 0;
}