@import "var.less";

.ref {
  @media screen and (max-width:414px) {
    top: -5px;
    top: -75px;
  }
  opacity: 0.5;
  width: 1680px;
  top: -119px;
  position: absolute;
  z-index: 9999;
}

.sc-102xyuw-2.bvrpNz {
  @media screen and (max-width:1679px) {
    font-size: 1.6vw;
    line-height: 1.6vw;
  }
  @media screen and (max-width:414px) {
    font-size: 6vw;
    margin: 12% 0 0;
  }
  font-family: @gilroyb !important;
  letter-spacing: 0.2em;
}

.sc-16vgk2j-0.sc-1717v0r-2.aZQbX {
  @media screen and (max-width:1679px) {
    font-size: 1vw !important;
  }
  @media screen and (max-width: 768px) {
    // padding: 0 0 1%;
    // font-size: 2vw;
  }
  @media screen and (max-width: 414px) {
    font-size: 4vw !important;
  }
  font-family: @gilroyb !important;
  letter-spacing: 0.2em;
  border-bottom: 2px solid !important;
  padding: 0 0 0.1% !important;
  font-size: 15px !important;
  line-height: 28px !important;
}

div[data-crl8-container-id="homepage"] {
  padding: 2% 0;
  background: #fff;
}

header.site-header {
  top: 0 !important;
}

.site-header.fixed {
  position: fixed !important;
}

.hp {
  background: #fff;

  .first,
  .second {
    @media screen and (max-width:414px) {
      flex-basis: 100% !important;
    }
    flex-basis: 50%;
  }

  .third {
    @media screen and (max-width:414px) {
      flex-basis: 100% !important;
    }
    flex-basis: 33%;
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  img {
    &.img-d {
      @media screen and (max-width:768px) {
        display: none;
      }
    }

    &.img-t {
      @media screen and (max-width:768px) {
        display: inline;
      }
      @media screen and (max-width:414px) {
        display: none;
      }
      display: none;
    }

    &.img-m {
      @media screen and (max-width:414px) {
        display: block;
      }
      display: none;
    }
  }

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 3.1vw;
      line-height: 3.6vw;
    }
    @media screen and (max-width: 414px) {
      font-size: 7.7vw;
    }
    font-family: @souv;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    // letter-spacing: 0.01em;
    // text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
    color: #FFFFFF;
  }

  h3 {
    @media screen and (max-width: 1679px) {
      font-size: 1.2vw;
      line-height: 1.6vw;
    }
    @media screen and (max-width: 414px) {
      font-size: 3.6vw;
    }
    font-family: @gilroyb;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  p {
    @media screen and (max-width: 1679px) {
      font-size: 1.1vw;
      line-height: 1.3vw;
    }
    // @media screen and (max-width: 768px) {
    //   font-size: 2.9vw;
    //   line-height: 4.1vw;
    // }
    @media screen and (max-width: 414px) {
      // font-size: 4vw !important;
      // line-height: 6vw !important;
    }
    font-family: @souv;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    // letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}

.site-content .site-content-inner .site-content-bg-wrapper {
  padding: 0;
}

body.index header {
  position: relative !important;
}

body.index header .site-header-inner .nav .site-nav-links li a {
  color: #47363d !important;
}

header .site-header-inner .header-wrapper .logo .logo-placeholder {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/tea_logo.png") center no-repeat !important;
  background-size: contain !important;
}

header .site-header-inner .header-wrapper .header-actions .search-icon {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/icon_search.png") no-repeat center center/contain !important;
}

header .site-header-inner .header-wrapper .header-actions .my-account .my-account-icon {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/icon_account.png") no-repeat center center/contain !important;
}

header .site-header-inner .header-wrapper .header-actions .cart-toggle .shopping-cart {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/icon_bag.png") no-repeat center center/contain !important;
}

body.index header .site-header-inner .nav .nav-toggle .bars-wrap .bar {
  background-color: #47363d !important;
}