.ref {
  @media screen and (max-width:1024px) {
    top: -50px;
  }
  @media screen and (max-width:768px) {
    top: 0;
  }
  @media screen and (max-width:375px) {
    top: 0;
  }
  opacity: 0.5;
  width: 1680px;
  // top: -65px;
  top: -50px;
  position: absolute;
  z-index: 9999;
}

header.site-header {
  top: 0 !important;
}

.first,
.second {
  @media screen and (max-width:767px) {
    flex-basis: 100%;
  }
  flex-basis: 50%;
}

.site-content .site-content-inner .site-content-bg-wrapper {
  padding: 0;
}

.desktop {
  @media screen and (min-width:813px) {
    display: block !important;
  }
  display: none !important;
}

.tablet {
  @media screen and(min-width:768px) and(max-width:812px) {
    display: block !important;
  }
  display: none !important;
}

.mobile {
  @media screen and(max-width:767px) {
    display: block !important;
  }
  display: none !important;
}