

.ref {
	position:absolute;
	opacity:.5;
	max-width:100%; 
	width:798px;
}

.desktop {
	@media screen and (max-width:737px){
		display:none !important;
	}
}

.mobile {
	display:none !important;

	@media screen and(max-width:737px){
		display:block !important;
	}
}

body.browse .breadcrumb-c {
	padding-top: 13px;
}

@media screen and (max-width:737px){
	.dept-baby-boy-clothes {
		display:none; 
	}
	/*.common-wrap {
		margin:0;
	}
	.single-item-box {
		width:49%;
		margin-right:2%;
	}
	.single-item-box:nth-child(even){
		margin-right:0;
	}*/
}

.dept-cat {
	@media screen and (max-width: 737px){
		margin-bottom: 15px;
	}

	overflow:hidden;

	.title {
		color: #333333;
    	font-size: 22px;
    	font-weight: normal;
    	padding: 0 0 10px;
    	text-align: center;
    	text-transform: uppercase;
	}

	img {
		max-width: 100%;
    	float: left;
    	display: inline-block;
    	margin-right: 10px;
    	width:554px;
	}

	p {
		@media screen and (max-width:737px){
			//background image
			background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/171214/bb-m.jpg) no-repeat center top;
    		
    		background-size: cover;
    		float: none;
    		font-size: 1em;
    		padding: 8% 0 40% 6%;
    		line-height: 18px;
    		color:#fff;
    		letter-spacing:0;
		}

		padding: 158px 47px 16px 23px;
    	float: left;
    	font-size: 15px;
    	line-height: 20px;
    	letter-spacing: -0.3px;
    	background: #66CC99;
    	color: #fff; 
    	font-family: brown-pro-bold !important;
    }
	
}


