.desktop-promo img, .desktop-promo-hp img, .mobile-promo img, .mobile-promo-hp img {
	max-width:100%;
}
//-----------------------------------------------------------------------------------------
.desktop-promo, .desktop-promo-hp {
	@media screen and (max-width: 736px){
		display:none;
	}
}
.mobile-promo, .mobile-promo-hp {
	@media screen and (max-width: 736px){
		display:block;
	}

	display:none;
}
//-----------------------------------------------------------------------------------------
.desktop-promo {
	//background:url('https://www.teacollection.com/mas_assets/theme/tea_collection/fineprint/bmsm/170821/170821-bmsm-d.jpg') no-repeat center top;
	background: #40606f; 
	min-height: 60px;
	margin-bottom: 10px;
	padding:18px 0 0;
	box-sizing:border-box;
  
	h2 {
		font-family: brown-pro-bold !important;
		padding-left: 18px;

		span {
			&.first-text {
				color: #dbbe3c;
    			text-transform: uppercase;
    			font-size: 21px;
    			letter-spacing: 3.2px;
			}

			&.middle-text {
				color: #fff;
    			font-size: 16px;
    			letter-spacing: 1.1px;

    			&.one{
    				padding-left: 9px;
    			}

    			&.two{
    				padding-left:3px;
    			}

    			&.three{
    				padding-left:2px;
    			}
			}

			&.dots-text {
				color: #dbbe3c;
    			font-size: 30px;
    			padding-left: 1px;
    			position: relative;
    			top: -3px;
			}

			&.use-code-text {
				color:#dbbe3c;
				text-transform:uppercase;
				font-size: 13px;
    			padding-left: 19px;
    			letter-spacing: 1.1px;
    			position: relative;
    			top: -1px;
			}

			&.see-details-text {
				a {
    				color:#fff;
    			}

				text-transform:uppercase;
				text-decoration: underline;
    			padding-left: 22px;
    			font-size: 10px;
    			letter-spacing: 1.1px;
    			position: relative;
    			top: -3px;
			}
		}
	}
}
//-----------------------------------------------------------------------------------------
#details-promo {
	@media screen and (max-width: 736px){
		width:100%;
		position:absolute;
		z-index:9999;
		height:100%;
	}

	display:none;
	width:600px;
	background:#fff;
}
//-----------------------------------------------------------------------------------------
.details-container {
	margin: 27px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 10px 0;

	h2 {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1px;
	}

	p {
		font-size: 13px;
		line-height: 20px;
	}
}
//-----------------------------------------------------------------------------------------
.close-fancy {
	@media screen and (max-width: 736px){
		display:block;
	}

	display:none;
	text-align:center;
}