.the-promo-header {
	@media screen and (max-width:1024px) {
		background-size: 13%;
	}
	@media screen and (max-width:768px) {
		position: relative;
		background: #FFDEE5;
		padding: 25px 0 33px;
	}
	@media screen and (max-width:414px) {
		padding: 15px 0 6px;
	}
	position: relative;
	background: url("/mas_assets/media/tea_collection/promos/one-offs/2019/0910/v3/190910-header-d.png") no-repeat left top #FFDEE5;
	background-size: auto;
	padding: 2.7% 0;
	box-sizing: border-box;
	background-size: 10.5%;

	.ref {
		position: absolute;
		top: -12px;
		left: -238px;
		opacity: 0.5;
	}

	div {
		@media screen and (max-width:768px) {
			display: block;
			text-align: center;
			letter-spacing: 5px;
			font-size: 1.3rem;
		}
		display: none;
		color: #8C0034;
		font-family: gilroy-bold;
		text-transform: uppercase;
	}

	ul {
		@media screen and (max-width:1024px) {
			padding: 0 0 0 13%;
		}
		@media screen and (max-width:768px) {
			margin: 4% 0 0;
			padding: 0;
		}
		@media screen and (max-width:414px) {}
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0 0 0 10%;

		li {
			@media screen and (max-width:414px) {
				flex-basis: 33%;
				text-align: center;
				margin: 0 0 5%;
			}
			flex-basis: 20%;
			text-align: center;

			&:nth-of-type(4),
			&:nth-of-type(5) {
				@media screen and (max-width:414px) {
					flex-basis: 50%;
				}
			}

			a {
				@media screen and (max-width:1024px) {
					letter-spacing: 3px;
					font-size: 0.5rem;
				}
				@media screen and (max-width:768px) {
					letter-spacing: 3px;
					font-size: 100%;
				}
				text-decoration: none;
				font-family: gilroy-bold;
				text-transform: uppercase;
				color: #E3403A;
				letter-spacing: 5px;

				span {
					@media screen and (max-width:768px) {
						display: none;
					}
					display: none;
				}
			}
		}
	}
}