html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.the-promo {
	//display: none;
	background: #FFDEE5;
	
	.see-details {
		display: block;
		text-align: center;
	}

	img {
		max-width: 100%;
	}
}

.desktop-promo-fat,
.mobile-promo-fat,
.tablet-promo-fat {
	// img {
	image-rendering: -webkit-optimize-contrast;
	max-width: 100%;
	// width: 100%;
	// }
}

.desktop-promo-fat {
	@media screen and (min-width: 769px) {
		display: block;
	}
	display: none;
}

.tablet-promo-fat {
	@media screen and (min-width: 415px) and (max-width: 768px) {
		display: block;
	}
	display: none;
}

.mobile-promo-fat {
	@media screen and (max-width: 414px) {
		display: block;
	}
	display: none;
}

#details-promo {
	@media screen and (max-width:767px) {
		width: 95%;
	}
	display: none;
	background: #fff;
	width: 700px;
	margin: 0 auto;

	.details-container {
		margin: 27px;
		padding: 20px 0;
		background: #fff;

		h2 {
			letter-spacing: 1px;
		}

		p {}

		.close-fancy {
			display: block;
			text-align: center;
		}
	}
}

.cta-drop-down {
	overflow: hidden;
	background: #fff;
	display: flex;
	flex-wrap: wrap;

	a {
		@media screen and (max-width: 414px) {
			padding: 1rem 2rem;
			flex-basis: 46%;
		}
		position: relative;
		padding: 0.75rem 1.25rem;
		box-sizing: border-box;
		display: inline-block;
		flex-basis: 48%;
		text-transform: uppercase;
		margin: 0 1rem 1rem 0;
		text-align: center;
		background: #FFDEE5;
		color: #8B0037;
		text-decoration: none;
		font-family: gilroy-bold;
		letter-spacing: 1px;

		&:nth-of-type(even) {
			margin-right: 0;
		}

		&.newborn-cta,
		&.sale-cta {
			flex-basis: 99%;
			margin: 0;
		}
	}
}

.header-banner {
	background: #FFDEE5;
	max-width: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.fancybox-inner {
	@media screen and (max-width:414px) {
		width: auto !important;
		height: auto !important;
	}
}

.fancybox-wrap {
	@media screen and (max-width: 414px) {
		width: 95% !important;
		position: absolute !important;
		top: 20px !important;
		transform: translate(-50%, 0);
	}
	height: auto;
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	opacity: 1;
	overflow: visible;
	transform: translate(-50%, -50%);
}
