.desktop {
	@media screen and (max-width:736px) {
		display: none;
	}
}

.mobile {
	display: none;
	@media screen and (max-width:736px) {
		display: block;
	}
}

.common-wrap {
	margin: 0 0 0 0 !important;
}

h1 {
	display: none;
}

.ref {
	@media screen and (max-width:737px) {
		top: -123px;
	}
	position: absolute;
	top: -69px;
	left: 0;
	opacity: 0.5;
	z-index: 9999;
	//display:none;
	max-width: 100%;
}

.cta {
	@media screen and (max-width:737px) {
		width: 42%;
		left: 0;
		padding: 1em 0;
		font-size: 0.8em;
		//line-height:3em;
	}
	@media screen and (max-width:415px) {
		font-size: 0.8em;
		letter-spacing: 1.1px;
	}
	@media screen and (max-width:376px) {
		//padding: 8px 0;
		font-size: 0.7em;
	}
	@media screen and (max-width:321px) {
		//padding: 7px 0;
		font-size: 0.6em;
	}
	display: inline-block;
	font-family: brown-pro-bold !important;
	border: 1px solid;
	width: 200px;
	position: relative;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 0 9px;
	//font-weight:bold;
	text-align: center;
	box-sizing: border-box;
	//line-height:2.8em;
	height: 39px;
}

.padded {
	padding: 0 !important;
}

#breadcrumbs,
#content-wrapper .breadcrumb {
	display: none;
}

.css-pgt1zi {
	width: 60% !important;
	height: 80% !important;
	left: 17% !important;
	top: 10% !important;
}

.school-wrap {
	@media screen and (max-width:737px) {}
	overflow: hidden;

	h1,
	h2,
	h3 {
		font-family: brown-pro-bold !important;
		font-weight: normal;
	}

	img {
		max-width: 100%;
	}

	header {
		@media screen and (max-width:737px) {
			min-height: auto;
			background: none;
			overflow: visible;
		}
		background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2019/0131/header-d-v2.png") no-repeat;
		min-height: 500px;
		overflow: hidden;
		background-size: cover;

		div {
			@media screen and (max-width:737px) {
				float: none;
				width: 100%;
				top: 0;
				padding: 0;
				text-align: center;
			}
			float: right;
			width: 400px;
			text-align: right;
			padding: 0 36px 0 0;
			position: relative;
			top: 292px;

			img {
				@media screen and (max-width:737px) {
					width: 100%;
				}
			}

			h2 {
				margin: 8px 0 0;
				font-size: 2.8em;
				line-height: 42px;
				color: #455070;

				span {
					font-family: brown-pro-bold;
					font-size: 1.2em;
					letter-spacing: 1px;
					color: #96CCD4;
				}
			}

			p {
				@media screen and (max-width:737px) {
					color: #666;
					font-size: 0.9em;
					letter-spacing: 0.1px;
					line-height: 19px;
					margin: 2px 0 0;
				}
				color: #fff;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.3px;
				margin: 0 0 15px;
				font-family: brown-pro-regular;
			}

			a {
				@media screen and (max-width:737px) {
					width: 42%;
					border-color: #455070;
					border-radius: 0;
					color: #455070 !important;
					text-shadow: none;
					box-shadow: none;
					font-weight: normal;
					margin: 18px 1% 0;
					font-size: 0.8em;
					padding: 5px 0 0 0 !important;
					height: 30px;
				}
				width: 232px;
				background: #fff;
				border-color: #fff;
				color: #455070;
				margin: 0 0 20px;
				padding: 10px 0 0;
				letter-spacing: 1.1px;

				&:hover {
					@media screen and (max-width:737px) {
						border-color: #455070;
						background: #455070;
						color: #fff !important;
					}
					background: #455070;
					border-color: #455070;
					color: #fff;
				}
			}
		}
	}

	.main {
		@media screen and (max-width:737px) {
			padding: 38px 0 20px;
		}
		text-align: center;
		padding: 40px 0 0;

		img {
			&.mobile {
				margin: 0 auto;
			}
		}

		p {
			@media screen and (max-width:737px) {
				font-size: 0.9em;
				line-height: 18px;
				margin: 30px 0 0;
			}
			font-size: 15px;
			line-height: 20px;
			margin: 0 0 17px;
			color: #666;
			font-family: brown-pro-regular;
		}

		h2 {
			@media screen and (max-width:737px) {
				font-size: 1.1em;
				margin: 13px 0 0;
				line-height: 28px;
			}
			font-size: 24px;
			margin: 10px 0 23px;
			line-height: 37px;
			color: #F2706C;

			span {
				@media screen and (max-width:737px) {
					font-size: 2em;
				}
				font-size: 46px;
				font-family: brown-pro-bold;
				letter-spacing: -1px;
			}
		}

		a {
			@media screen and (max-width:737px) {
				width: 41%;
				margin: 14px 2% 0;
				padding: 6px 0 0 0 !important;
				box-shadow: none;
				text-shadow: none;
				font-weight: normal;
				font-size: 0.8em;
				height: 30px;
			}
			background: #fff;
			color: #455070;
			margin: 0 9px;
			width: 232px;
			border-radius: 0;

			&:hover {
				background: #455070;
				color: #fff;
			}
		}
	}

	.faq {
		@media screen and (max-width:737px) {
			margin: 14px auto 0;
			min-height: 30px;
			width: 87%;
		}
		position: relative;
		margin: 20px auto 0;
		min-height: 40px;
		width: 480px;

		ul {
			@media screen and (max-width:737px) {
				height: 28px;
			}
			position: absolute;
			width: 100%;
			border: 1px solid #455070;
			list-style-type: none;
			background: #fff;
			overflow: hidden;
			height: 37px;
			z-index: 999;

			li {
				border-bottom: 1px solid #E6E7E8;
				text-align: left;

				&:hover {
					cursor: pointer;
				}

				div {
					&.first {
						@media screen and (max-width:737px) {
							padding: 8px 0;
							font-size: 0.8em;
							background-size: 3%;
							background-position: 95% 48%;
						}
						padding: 12px 0;
						color: #455070;
						font-family: brown-pro-bold;
						font-size: 14px;
						background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2019/0131/expand.png") no-repeat 96% 48%;
						text-align: center;
						/*&:hover {
    						background:#1A667A;
    						color:#fff;
    					}*/
					}

					&.q {
						@media screen and (max-width:737px) {
							font-size: 0.7em;
							padding: 10px 0 10px 4%;
							text-align: left;
							background-size: 3%;
							background-position: 95% 45%;
						}
						padding: 10px 0 10px 19px;
						color: #455070;
						font-family: brown-pro-bold;
						font-size: 14px;
						background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2019/0131/plus.png") no-repeat 96% 50%;
						box-sizing: border-box;
					}

					&.a {
						@media screen and (max-width:737px) {
							font-size: 0.7em;
							text-align: left;
							padding: 11px 0 10px 4%;
							line-height: 12px;
						}
						display: none;
						padding: 16px 0 10px 19px;
						font-size: 12px;
						line-height: 18px;
						box-sizing: border-box;
						color: #666;
						font-family: brown-pro-regular;
					}
				}
			}
		}
	}

	.banner {
		@media screen and (max-width:737px) {
			margin: 31px 0 0;
			background: #FFE394;
			width: 100%;
		}
		margin: 46px 0 0;

		img {
			&.mobile {
				@media screen and (max-width:737px) {
					margin: 0 auto;
				}
			}
		}
	}

	footer {
		@media screen and (max-width:737px) {
			margin: 0;
		}
		overflow: hidden;
		margin: 24px 0 0;

		div {
			@media screen and (max-width:737px) {
				float: none;
				margin: 0;
				width: auto;
			}
			float: left;
			width: 494px;
			margin: 0 12px 0 0;
			text-align: center;

			&:last-of-type {
				@media screen and (max-width:737px) {
					margin: 29px 0 0;
				}
				margin: 0;
			}

			img {
				@media screen and (max-width:737px) {
					width: 100%;
				}
			}

			p {
				@media screen and (max-width:737px) {
					margin: 16px 0 0;
					font-size: 0.9em;
					line-height: 20px;
				}
				margin: 17px 0 0;
				font-size: 15px;
				line-height: 20px;
				color: #666;
				font-family: brown-pro-regular;

				&:last-of-type {
					@media screen and (max-width:737px) {
						margin: 5px 0 25px;
					}
					font-family: brown-pro-bold-italic;
					color: #1A667A;
					margin: 12px 0 0;
				}
			}
		}
	}
}

.thanks-wrap {
	@media screen and (max-width:737px) {
		background: #fff;
	}
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;

	img {
		@media screen and (max-width:737px) {
			top: -20%;
			left: 0;
			max-width: 100%;
		}
		@media screen and (max-width:321px) {
			top: -30%;
		}
		position: absolute;
		top: 25%;
		left: 35%;

		&:hover {
			cursor: pointer;
		}
	}
}

.learn-more-light-box,
.sign-up-light-box {
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;

	.learn-more-wrap,
	.sign-up-wrap {
		@media screen and (max-width:737px) {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 1em;
		}
		background: #fff;
		position: absolute;
		top: 21%;
		left: 30%;
		width: 800px;
		padding: 20px 0;
		box-sizing: border-box;

		.close-icon {
			position: relative;
			left: 20px;

			&:hover {
				cursor: pointer;
			}
		}

		h2 {
			@media screen and (max-width:737px) {
				font-size: 1.1em;
				margin: 9px 0 0;
				line-height: 29px;
			}
			font-size: 24px;
			line-height: 30px;
			color: #F2706C;
			text-align: center;
		}

		p {
			@media screen and (max-width:737px) {
				margin: 16px 0 0;
				font-size: 0.9em;
				line-height: 20px;
			}
			@media screen and (max-width:321px) {
				font-size: 0.8em;
			}
			margin: 17px 0 0;
			font-size: 15px;
			line-height: 20px;
			color: #666;
			text-align: center;
			font-family: brown-pro-regular;
		}

		a {
			@media screen and (max-width:737px) {
				font-size: 0.8em;
				width: 42%;
			}
			display: block;
			margin: 20px auto;
			color: #F2706C;
			border-color: #F2706C;

			&:hover {
				background: #F2706C;
				color: #fff;
			}
		}
	}
}