.catalog-wrap {
	h1 {
		margin: 0 0 2rem;
	}

	p {
		font-size: 1rem;
		margin: 0 0 1rem;

		&.italic {
			font-family: SouvenirStd-LightItalic;
		}

		&.processing {
			display: none;
		}
	}

	.success {
		text-transform: uppercase;
		padding: 1rem;
		color: #39B54A;
		display: none;
	}

	.sailthru {
		div {
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 1rem;

			input,
			label,
			select {
				display: inline-block;
				margin: 0 1rem 1rem 0;
				font-family: gilroy-regular;
			}

			label {
				@media screen and (max-width:1024px) {
					width: 30%;
				}
				@media screen and (max-width:414px) {
					width: 100%;
				}
				font-size: 1rem;
				text-transform: capitalize;
				width: 20%;
				font-family: gilroy-regular;
			}

			input,
			select {
				@media screen and (max-width:1024px) {
					width: 53%;
					padding: 1rem 2rem;
				}
				@media screen and (max-width:414px) {
					width: 100%;
				}
				padding: 0.75rem 1.125rem;
				width: 28%;
				margin: 0;
				box-sizing: border-box;
				background: #EDEBEC;

				&[type="submit"] {
					width: auto;
				}

				&[type="submit"] {
					@media screen and (max-width:1024px) {
						padding: 1rem 2rem;
					}
					text-transform: uppercase;
					border: 2px solid #47363D;
					background: #fff;
					color: #47363D;
					font-family: gilroy-bold;
					padding: 0.75rem 1.25rem;

					&:hover {
						background: #75686D;
						color: #fff;
					}

					&:active {
						background: #47363D;
					}
				}
			}

			.error {
				@media screen and (max-width:737px) {
					display: block;
				}
				color: #D94D52;
				font-size: 1rem;
			}

			select {
				option {
					text-transform: capitalize;
				}
			}
		}
	}
}