.desktop {
	@media screen and (max-width:736px){
		display:none;
	}
}

.mobile {
	display:none;
	@media screen and (max-width:736px){
		display:block;
	}
}

.common-wrap {
    margin: 0px 0% 0px 0% !important;
}

h1 {
	display:none;
}

.values-wrap {
	@media screen and (max-width:737px){
		
	}

	overflow:hidden;
	text-align:center;

	.values-cell {
		@media screen and (max-width:737px){
			padding: 35px 0;
		}

		padding: 50px 0;
	}

	img {
		@media screen and (max-width:737px){
			margin:0 auto;
		}

		max-width:100%;
	}
	

	h1, h2, h3 {
		@media screen and (max-width:737px){
			font-size: 13.5px;
    		letter-spacing: 0.05px;
    		line-height: 21px;
    		margin: 0 0 8px;
    		padding: 0px;
		}

		font-family:brown-pro-bold !important;
		font-weight:normal;
		display:block;
		color: #606063;
    	font-size: 20px;
    	letter-spacing: .7px;
    	line-height: 29px;
    	margin: 0 0 20px 0;
    	padding: 0px;
	}

	p {
		@media screen and (max-width:737px){
    		font-size: 11.5px;
    		letter-spacing: 0.0025px;
    		line-height: 18px;
    		margin: 0 0 8px;
    		padding: 0px;
		}

    	color: #7e7e81;
    	font-size: 14px;
    	letter-spacing: 0.5px;
    	line-height: 21.5px;
    	margin: 0 0 20px;
    	padding: 0px;

    	&:last-of-type {
    		margin:0;
    	}

    	a {
    		@media screen and (max-width:737px){
    			font-size: 11.5px;
    			letter-spacing: 0.0075px;
    			line-height: 18px;
    			margin: 8px 0 0;
    			padding: 0px;
    		}

    		font-family: brown-pro-italic !important;
    		color: #515152;
    		display:block;
    		font-size: 14.5px;
    		letter-spacing: 0.3px;
    		line-height: 18px;
    		margin: 20px 0 0px;
    		padding: 0px;
    		text-decoration:none;

    		&:hover {
    			text-decoration:underline;
    		}
    	}
	}

	
}
