.wrap-content {
	font-size: 1rem;
	display:flex;
	flex-wrap:wrap;
	div {
		@media screen and (max-width:812px){
			flex-basis: 50%;
		}
		@media screen and (max-width:414px){
			flex-basis: 100%;
		}
		flex-basis: 25%;
		h2 {
			text-transform:capitalize;
		}
		ul {
			padding: 0 0 0 2rem;
		}
	}

}
