
section#breadcrumbs {
	margin: 0 0 0 0 !important;
	display:none;
}
 
/*article.about-us {
	display:none;
}*/

.ref {
	position:absolute;
	top:-140px;
	left:-30px;
	opacity:.5;
}

.my-account h1, .midbox h1 {
	display:none;
}

.desktop {
	@media screen and (max-width:736px){
		display:none !important;
	}
}

.mobile {
	display:none;
	@media screen and (max-width:736px){
		display:block;
	}
}

.school-days-container {
	
	img {
		max-width:100%;
	}
}