.top-area {
  @media screen and (max-width:737px) {
    // padding: 5% 3% 3%;
    padding: 0 3%;
    display: flex !important;
    flex-wrap: wrap;

    div {
      &:first-of-type {
        float: none;
        flex-basis: 100%;
        margin: 0 0 10px;

        select {
          color: #666;
          border: 0.1em solid #cfc3bc;
          padding: 0.6em;
          border-radius: 0;
          background-color: #ffffff;
          font-weight: normal;
          font-family: 'brown-pro-regular',Arial,Helvetica,sans-serif;
          vertical-align: middle;
          margin: 0;
        }
      }

      &:last-of-type {
        float: none;
        flex-basis: 100%;
        text-align: left;

        span {
          margin: 0 5% 0 0;
        }
      }
    }
  }

  h1.heading-category {
    @media screen and (max-width:737px){
      display:block;
      flex-basis:100%;
      text-align:center;
      margin: 0 0 10px 0;
    }
    display:none;
    font-family:brown-pro-bold;
  }
}

iframe {
  height: 800px;
}

.content-container {
  padding-top: 10px;
}

.these-catalogs {
  ul {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    li {
      @media screen and (max-width:737px) {
        flex-basis: 100%;
      }
      float: none;
      flex-basis: 33%;
      padding: 0;
      // width:195px;
      // height:232px;
      // padding:0 20px;
      a {
        @media screen and (max-width:737px) {
          display: block;
          text-align: center;
        }
        text-decoration: none;
      }
    }
  }
}
