.ref {
	position:absolute;
	opacity:.5;
	//display:none;
}
 
.my-account, .midbox {
	h1 {
		display:none;
	}
}
 
#simplemodal-container, #simplemodal-overlay, #breadcrumbs, .breadcrumb {
	display:none !important;
}

.padded {
	padding:0 !important;
}

.mobile {
	@media screen and (max-width:736px){
		display:block;
	}

	display:none;
}

.desktop {
	@media screen and (max-width:736px){
		display:none;
	}
}

//----------------------------------------------------

.cta {
	@media screen and (max-width:736px){
		width: 86%;
    	font-size: .8em;
    	padding: 9px 0 7px 0;
	}


	display: block;
    border: 1px solid;
    padding: 9px 0px 11px;
    width: 250px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
    font-family: brown-pro-bold !important;
} 

//----------------------------------------------------

.wrap-content {

	overflow:hidden;

	img {
		max-width:100%;
	}

	h2 {
		font-family:brown-pro-bold !important;
	}

	h3 {
		font-weight:normal;
		
		span {
			font-family:brown-pro-bold !important;
		}
	}
}//end of .wrap-content

//----------------------------------------------------

.c1 {
	@media screen and (max-width:736px){
		min-height:auto;
		color:#fff;
		background:#206272;
		padding: 0 0 7px;
		margin: 0;
	}

	background: url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/static/influencer/170828/c1-d.jpg') no-repeat center top;
	min-height:500px;
	overflow:hidden;
	text-align:center;
	margin-bottom:9px;
	color:#206272;

	div {
		@media screen and (max-width: 737px){
			width:100%;
			float:none;
			padding:14px 0 0;
		}

		width: 520px;
		float:right;
		padding-top:147px;

		h2 {
			@media screen and (max-width: 737px){
				font-size:1.7em;
			}

			font-size: 60px;
    		letter-spacing: .4px;
		}

		p {
			@media screen and (max-width:737px){
				font-size: 1em;
    			margin: 10px 0 0;
    			line-height: 0;
			}

			font-size: 31px;
    		margin-top: 22px;
    		line-height: 35px;

    		&:last-of-type {
    			@media screen and (max-width:737px){
					font-size: 1em;
    				margin: 14px 0 0;
    				line-height: 0;
				}

    			font-size: 18px;
    			margin-top: 18px;
    			line-height: 24px;

    			span {
    				text-transform: uppercase;
    			}
    		}
		}

		.cta {
			@media screen and (max-width:737px){
			    color: #fff;
    			border: none;
    			display: inline-block;
    			text-transform: none;
    			width: auto;
    			padding: 0;
    			margin: 10px 0 0;
			}

			margin-top:20px;
			color:#206272;
			border-color:#206272;

			&:hover {
				background:#206272;
				color:#d8ecc7;
			}
		}
	}

}//end of .c1

//----------------------------------------------------

.c2, .c3, .c4, .c5 {
	@media screen and (max-width:736px){
		width: 49%;
    	margin-right: 2%;
    	margin-top: 6px;
	}

	width: 326px;
    float: left;
    text-align: center;
    margin-right: 10px;
    text-align:center;
    color:#595a5c;

	h3 {
		@media screen and (max-width:736px){
			font-size: 1em;
    		margin-top: 9px;
    		line-height: 20px;
		}

		@media screen and (max-width: 321px){
			font-size: .9em;
		}

		font-size: 20px;
    	margin-top: 19px;
    	line-height: 23px;
	}

	.cta {
		@media screen and (max-width:736px) {
			margin-top:8px;
			margin-bottom:34px;
		}

		border-color:#206272;
		color:#206272;
		margin-top:22px;

		&:hover {
			background:#206272;
			color:#fff;
		}
	}

}//end of .c2

//----------------------------------------------------

.c3, .c5 {
	@media screen and (max-width:736px){
		margin-right:0;
	}
}

//----------------------------------------------------

.c4 {
	@media screen and (min-width:737px){
		margin-right:0;
	}
}


