@mobile-grey: #59595c;
@hp-font-color: #29acd8;

/*------------------------------------------------------------------------*/
/*-- elements styles --*/

body {
	color:#606063;
}

img, video {
	max-width:100%; 
}

/*------------------------------------------------------------------------*/
/*-- olapic --*/
.olapic-see-all a {
	&:hover {
		color:#fff !important;
		background:#01b5b1 !important;
	}
}

.olapic-upload a {
	&:hover {
		color:#fff !important;
		background:#01b5b1 !important;
	}
}

/*------------------------------------------------------------------------*/

/*-- slideshow styles --*/

.bx-controls {
	@media screen and (min-width:374px) and (max-width:376px) {
		//display:block;
		top:-30.5em;
	}

	position:relative;
	display:none;

}

.bx-controls-direction {
	@media screen and (min-width:374px) and (max-width:376px) {
		//display: block !important;
	}

	display:none;
}

.bx-pager {
	@media screen and (min-width:413px) and (max-width:415px) {
    	left:0 !important;
    	top:-222px !important;
    	//display:block !important;
    	display:none !important;
	}

	@media screen and (min-width:374px) and (max-width:376px) {
    	bottom: -236px !important;
    	//display:block !important;
    	display:none !important;
	}

	@media screen and (min-width:319px) and (max-width:321px) {
    	top: -168px !important;
    	//display:block !important;
    	display:none !important;
	}

}

@media screen and (max-width:768px) {
	.bx-wrapper {
		margin-bottom:0 !important;
	}
}

/*------------------------------------------------------------------------*/
/*-- classes and ids styles --*/
#header {
	@media screen and (max-width:737px){
		margin-bottom: 48px !important;
	}	
}

#scroll-prompt {
	display:none;
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}

.mobile {
	display:none !important;

	@media screen and(max-width:768px){
		display:block !important;
	}
}

.ref {
	position:absolute;
	max-width:100%;
	//width:1000px;
	opacity:.5;
	//display:none;
}

.body-copy {
	@media screen and (max-width:737px){
		font-size:.9em;
		line-height:1.59em;
		//letter-spacing:.6px;
		letter-spacing:.05em;
	}

	@media screen and (max-width:376px){
		font-size:.9em;
		letter-spacing:0;
		//font-size: .8em;
	}

	@media screen and (max-width:321px){
		font-size:.7em;
		letter-spacing:.5px;
	}

	font-size:15px;
	line-height:24px;
	letter-spacing:.2px;
	position:relative;
	font-family:brown-pro-regular;
	white-space:nowrap;
}

.cta {
		@media screen and (max-width:737px){
			width: 42%;
    		left: 0px;
    		padding: 1em 0;
    		font-size: .8em;
    		//line-height:3em;
		}

		@media screen and (max-width:415px){
		    font-size: .8em;
    		letter-spacing: 1.1px;
		}

		@media screen and (max-width:376px){
    		//padding: 8px 0;
    		font-size:.7em;
		}

		@media screen and (max-width:321px){
			//padding: 7px 0;
    		font-size: .6em;
		}

	display: inline-block;
	font-family: brown-pro-bold !important;
    border: 1px solid;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 11px 0 9px;
    //font-weight:bold;
    text-align:center;
    box-sizing:border-box;
    //line-height:2.8em;
}

/*------------------------------------------------------------------------*/
/*-- hp styles --*/

.hp {
	overflow:hidden;
}
/*------------------------------------------------------------------------*/
.c2, .c3, .c4, .c5, .c6, .c7 {
	@media screen and (max-width:737px){
		margin:0;
	}

	//overflow:hidden;
	position:relative;
	//opacity:.5; 
	float:left;
	width:326px;
	margin-right:10px;
	text-align:center;
	margin-bottom: 33px;

	div {
		img {
			@media screen and (max-width: 737px){
				margin-bottom: 35px;
			}

			margin-bottom:20px;
		}

		.cta {
			@media screen and (max-width:736px){
				margin-top:17px;
				width:88%;
			}

			margin-top:22px;
			color:@hp-font-color;
			width:250px;

			&:hover, &:active {
				@media screen and (max-width:737px){
				
				}

				background:@hp-font-color;
				color:#fff;
			}
		}
	}
	

} //end of .c2, .c3, .c4, .c5

/*------------------------------------------------------------------------*/

.c1 {
	@media screen and (max-width:737px){
		background:none;
		min-height:auto;
	}

	//background image
	background:url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/homepage/171214/c1-d.jpg') no-repeat top center;
	
	min-height:500px;
	margin-bottom:10px;
	color:#fff;
	//opacity:.5;

	div {
		@media screen and (max-width:737px){
			width:100%;
			float:none;
			margin-top:0;
			padding:0;
			text-align:center;
		}


		.text {
			margin-top:146px;
			position:relative;
			left:4px;
		}

		width: 318px;
    	margin-top: 192px;
    	float: left;
    	text-align: left;
    	padding-left: 35px;
    	box-sizing: border-box;

		h2 {
			@media screen and (max-width:737px){
				color:#7a7a7c;
				display:inline;
			}

			font-size: 45px;
    		font-family: brown-pro-bold !important;
    		line-height: 49px;

    		span {
    			font-size: 61px;
    		}
		}

		p {
			@media screen and (max-width:737px){
				color:#7a7a7c;
				margin-top:35px;
				//font-size:.8em;
				line-height:18px;
			}
			
			&.desktop {
				margin-top: 4px;
    			font-size: 15px;
    			//line-height: 26px;
    			letter-spacing: 0.2px;
			}
			
			
		}

		.cta {
			@media screen and (max-width:737px){
    			
				//2 cta
    			width: 42%;
    			left: 6px;
    			margin: 16px 3% 1px 0;
    			color:@hp-font-color;
    			border-color:@hp-font-color;
    			border:1px solid @hp-font-color;
    			background:#fff;
			}

			/*&:last-of-type {
				@media screen and (max-width:737px){
					margin-right:0;
				}
			}*/

			/*&:hover, &:active {
				@media screen and (max-width:737px){
					background:#fff;
					color:@hp-font-color;
				}

				background:none;
				color:#fff;
			}*/

			color: @hp-font-color;
    		margin-top: 17px;
    		margin-bottom: 0px;
    		margin-left: 3px;
    		border: 1px solid #fff;
    		padding: 11px 0;
    		width: 250px;
    		background: #fff;
    		
		}
	}

} // end of .c1

/*------------------------------------------------------------------------*/

.c2 {

	div {
		
		.cta {
			@media screen and (max-width:737px){
    			//2 column cta
    			
    			width: 42%;
    			margin-right: 4%;
    			left: 2.5%;
    			margin-top: 17px;

    			
			}


			//2 column cta
			
			width: 140px;
    		float: left;
    		margin-right: 20px;
    		margin-left: 13px;

    		&:last-of-type {
    			margin-right:0;
    			margin-left:0;
    		}

    		span {
    			@media screen and (max-width:737px){
    				display:inline-block;
    				font-weight:bold;
    			}

    			display:none;
    		}
    		

		}
	}
} //end of .c2

/*------------------------------------------------------------------------*/

.c3 {
	div {
		
		.cta {
			@media screen and (max-width:737px){
    			//2 column cta
    			/*
    			width: 42%;
    			margin-right: 4%;
    			left: 2.5%;
    			margin-top: 17px;
    			*/
			}


			//2 column cta
			/*
			width: 140px;
    		float: left;
    		margin-right: 20px;
    		margin-left: 13px;

    		&:last-of-type {
    			margin-right:0;
    			margin-left:0;
    		}

    		span {
    			@media screen and (max-width:737px){
    				display:inline-block;
    				font-weight:bold;
    			}

    			display:none;
    		}
    		*/

		}
	}

} //end of .c3

/*------------------------------------------------------------------------*/

.c4 {
	div {
		
		.cta {
			@media screen and (max-width:737px){
    			//2 column cta
    			
    			width: 42%;
    			margin-right: 4%;
    			left: 2.5%;
    			margin-top: 17px;
    			
			}


			//2 column cta
			
			width: 140px;
    		float: left;
    		margin-right: 20px;
    		margin-left: 13px;

    		&:last-of-type {
    			margin-right:0;
    			margin-left:0;
    		}

    		span {
    			@media screen and (max-width:737px){
    				display:inline-block;
    				font-weight:bold;
    			}

    			display:none;
    		}

		}
	}
	
} //end of .c4

/*------------------------------------------------------------------------*/

.c5 {
	div {
		
		.cta {
			@media screen and (max-width:737px){
    			//2 column cta
    			/*
    			width: 42%;
    			margin-right: 4%;
    			left: 2.5%;
    			margin-top: 17px;
    			*/
			}


			//2 column cta
			/*
			width: 140px;
    		float: left;
    		margin-right: 20px;
    		margin-left: 13px;

    		&:last-of-type {
    			margin-right:0;
    			margin-left:0;
    		}

    		span {
    			@media screen and (max-width:737px){
    				display:inline-block;
    				font-weight:bold;
    			}

    			display:none;
    		}
    		*/

		}
	}
	
} //end of .c5

/*------------------------------------------------------------------------*/

.c6 {
	div {
		
		.cta {
			@media screen and (max-width:737px){
    			//2 column cta
    			
    			width: 42%;
    			margin-right: 4%;
    			left: 2.5%;
    			margin-top: 17px;
    			
			}


			//2 column cta
			
			width: 140px;
    		float: left;
    		margin-right: 20px;
    		margin-left: 13px;

    		&:last-of-type {
    			margin-right:0;
    			margin-left:0;
    		}

    		span {
    			@media screen and (max-width:737px){
    				display:inline-block;
    				font-weight:bold;
    			}

    			display:none;
    		}
    		

		}
	}
	
} //end of .c6

/*------------------------------------------------------------------------*/

.c7 {
	div {
		
		.cta {
			@media screen and (max-width:737px){
    			//2 column cta
    			/*
    			width: 42%;
    			margin-right: 4%;
    			left: 2.5%;
    			margin-top: 17px;
    			*/
			}


			//2 column cta
			/*
			width: 140px;
    		float: left;
    		margin-right: 20px;
    		margin-left: 13px;

    		&:last-of-type {
    			margin-right:0;
    			margin-left:0;
    		}

    		span {
    			@media screen and (max-width:737px){
    				display:inline-block;
    				font-weight:bold;
    			}

    			display:none;
    		}
    		*/

		}
	}
	
} //end of .c7

/*------------------------------------------------------------------------*/

.c4, .c7 {
	margin-right:0 !important; 
}

.c7 {
	margin-bottom: 34px;
}

/*------------------------------------------------------------------------*/

.c8 {
	@media screen and (max-width:737px){
		height:auto;
		padding-top:0;
	}

	@media screen and (min-width:737px){
		clear:both;
	}
	
	width:100%;
	padding-top:18px;

	div {
		img {
			@media screen and (max-width:737px){
				margin-bottom: 51px;
			}

			@media screen and (min-width:374px) and (max-width:376px){
				height:281px;
			}
		}

		a {
			text-decoration:none;
			color:#fff;

			h3 {
				@media screen and (max-width:737px){
				
    				font-size: 2.3em;
    				margin: 0;
    				overflow:visible;
				}

				@media screen and (max-width: 321px){
					font-size:2em;
				}

    			font-size: 20px;
    			text-align: left;
    			margin-top: 6px;
    			box-sizing: border-box;
    			background:#ec6478;
    			font-family: brown-pro-bold !important;
    			position:relative;
    			overflow:hidden;
    			font-weight:normal;

    			div {
    				&:first-of-type {
    					@media screen and (max-width: 737px){
    						padding:15% 0 21% 11%;
    						letter-spacing: 0;
    						float:none;
    					}

    					padding: 20px 0px 23px 51px;
    					letter-spacing: 0px;
    					width: 770px;
    					float: left; 
    				}

    				&:last-of-type {
    					@media screen and (max-width: 737px){
    						float:none;
    						padding:0;
    					}

    					float:right;
    					padding: 10px 38px 0px 0;
    				}
    			}

    			span {
    				@media screen and (max-width:737px){

    					top: 115%;
    					left: 6%;
    					display: block;
    					color: @hp-font-color;
    					width: 88%;
    					padding: 2% 0;
    					//font-size: .4em;
    					font-size:10px;
    					position:absolute;
    				}

    				border: 1px solid;
    				padding: 10px 0;
    				display: inline-block;
    				box-sizing: border-box;
    				text-transform: uppercase;
    				font-size: 15px;
    				width: 140px;
    				text-align: center;
    			}
			}

			&:hover, &:active {
				h3 {
					span {
						@media screen and (max-width: 737px){
							color:#fff;
							background:#ec6478;
						}

						background:#fff;
						color:#ec6478;
					}
					//background:none;
					//color:#f38284;
					//border:1px solid #f38284;
				}
			}
		}

		.cta {
			margin:0 auto;
		}
	}

} //end of .c8

/*------------------------------------------------------------------------*/

.video {

	@media screen and (min-width: 735px) and (max-width:737px){
		margin-top: 20px;
		//float:none;
	}

	@media screen and (min-width: 666px) and (max-width:668px){
		margin-top: 20px;
		//float:none;
	}

	@media screen and (min-width: 567px) and (max-width:569px){
		margin-top: 20px;
		//float:none;
	}

	@media screen and (min-width: 479px) and (max-width:481px){
		margin-top: 20px;
		//float:none;
	}

	margin-top:10px;
	//float:left;
	//width:100%;
}


/*------------------------------------------------------------------------*/
/*-- olapic styles --*/

@media screen and (max-width:768px) {
	#olapic_specific_widget, #scroll-prompt, .homepage-text-under-olapic {
		display:none;
	}
}