/*
.ref {
	position:absolute;
	top:0;
	left:0;
	max-width:100%;
	opacity:.5;
}*/

//-----------------------------------------------------------------------------------------------------------

//overrides
header[role="banner"] {
	//opacity:.5;
	height:auto !important;
	margin-bottom:0;
	z-index:auto;
	width:100em;
	margin:0 auto;

	#top-nav {
		//width:100%;
		//margin:0;
	}

	#shopping-bag #shopping-cart #shopping-cart-summary hgroup {
		h3 {
			color:#cc0033;
		}

		h3, &> a {
			padding: 0;
			color: #999;
			font-size:10px;
			//letter-spacing: 3px;
		}
	}

	#top-bar div.top ul li {
		//height: 27px;
		//padding:0;
		
		&#welcome-signin a {
			//color:#999;
			//font-size: 10px;
			//letter-spacing: 3px;
			//padding:0;
		}
	}

	#free-shipping-container, #header-banner {
		display:none;
	}

	#main-categories {
		width:67%;
	}

}

//hide the original
#sticky-header {
	display:none !important;
}

//-----------------------------------------------------------------------------------------------------------

.header-left {
	//width:70%;
	//float:left;
	//padding:32px 0 0 0;

	//overflow:hidden;
	position:relative;
	top:-30px;
}

#company-logo {
	float:left;
	//height: 50px;

	img {
		width:50px;
		height:auto;
		position:relative;
		top:10px;
	}
}

nav.new-nav {
	float:left;
	//width:92%;
	width:auto;

	ul {
		overflow:hidden;

		li {
			float:left;
			//width:16%;

			&>a {
				text-decoration: none;
    			display: block;
    			padding: 16px 0;
    			color: #666;
    			height:50px;
    			font-family: brown-pro-bold !important;
    			font-size: 16px;
    			box-sizing: border-box;
    			text-align: left;	
    			letter-spacing:0.03em;
    			//text-transform:capitalize;
    			width:72px;

    			span {
    				padding-bottom: 2px;
    			}
			}
		}
	}
}

//-----------------------------------------------------------------------------------------------------------

//triangle animation
.triangle {
  width:100%;
  box-sizing:border-box;
  height:20px;
  position:absolute;
  height:20px;
  left:0;
  top: 38px;
  background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/header/nav/triangle-grey-2.png)no-repeat left bottom;
  background-size:18px;
  z-index:-1;
  display:none;
}

//-----------------------------------------------------------------------------------------------------------

/*
.triangle-2 {
  width:100%;
  box-sizing:border-box;
  height:20px;
  position:absolute;
  height:20px;
  left:0;
  top: 102px;
  background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/header/nav/triangle-white-2.png)no-repeat -25px bottom;
  background-size:25px;
  z-index:99999;
}
*/

//----------------------------------------------------------------------------------------------------------- 

#new-sticky-header { 
	//position:fixed;
	position:absolute;
	width:1000px;

	//transparent bg
	//background: rgba(255,255,255,0.9);

	//not transparent bg
	background:#fff;

	//box-shadow: 2px 0 5px 0 #ccc;
    //-webkit-box-shadow: 2px 0 5px 0 #ccc;
    //-moz-box-shadow: 2px 0 5px 0 #ccc;
	margin:0 auto;
	z-index:9999;
	display:none;
	top:0;
	//left:452px;
	padding-bottom: 22px;

	.triangle {
		top:30px;
	}

	.header-left {
		top:0;

		.new-nav {
			//width:79%;
			width:100%;

			&> ul {
				padding-top:10px;
				padding-left:7px;
				width:584px;
				float:left;
			}
		}
	}

	.sign-in-copy {
		float:left;
		width:282px;
		padding-top:14px;

		ul {
			overflow:hidden;
			margin-bottom:10px;

			li {
				height: auto;

				&#shopping-bag-tab {
					float:right;
				}

				&#welcome-signin {
					float:left;

					a {
						text-decoration: none;
    					font-size: 10px;
    					text-transform: uppercase;
    					letter-spacing: 1px;
    					font-family: brown-pro-bold !important;
    					color:#666;
					}
				}
			}
		}

		#site-search {
			form {
				border: 1px solid #f0efef;

				#q {
					width: 85%;
    				padding: 5px 0 5px 12px;
    				box-sizing: border-box;
    				border:none;
				}

				.search-btn {
					background: url(https://s.tea-global.net/mas_assets/theme/tea_collection/images/search-glass.png) no-repeat 17px 6px;
    				border: none;
    				cursor: pointer;
    				height: 20px;
    				margin: 0;
    				padding: 5px 0;
    				width: 36px;
				}
			}
		}
	}

	#company-logo {
		margin-right:77px;
	}

	//#new-header {

		.header-left {
			padding:0;

			nav.new-nav { 
				.triangle {
					top:46px;	
				}

				.level-2 {
					width:100%;
					left:0;
					top:66px;

					li {
						width:100%;
					}
				}
				

				ul li { 
					//width: 11%;

					&.newborn-clothes, &.clothing-sale { 
						.nav-container .the-list {
							.favs, .nb-gift-shop, .cats {
      							width:33%;
      							float:left;

      							ul li {
      								width:100%;

      								a {
      									width:100%;
      								}
      							}
    						}
						}
					}

					&.clothing-sale .level-2 {
						padding:0 30% !important;
					} 


					.nav-container {
						top:49px;
						width: 100%;
						left:0;

						.the-list {
							.favs {
								width: 33%;
							}
							.cats {
								width: 66%;

								ul li {
									width: 50%;
								}
							}
							a{
								width:100%;
							}
						}
					}
				}
			}
		}

		//.header-right {
			//display:none;
		//}
	//}
}


//-----------------------------------------------------------------------------------------------------------

//old

/*
#new-header {
	overflow:hidden;
	margin-bottom: 10px;
	//padding:10px 0;

	.header-left {
		width:70%;
		float:left;
		padding:32px 0 0 0;
	}

	.header-right {
		width:30%;
		float:left;
		padding: 14px 0 0 0;
		box-sizing: border-box;

		ul {
			list-style-type:none;
			margin-bottom:10px;
			overflow:hidden;

			li {	
				float:left;
				width:50%;
				box-sizing:border-box;

				a {
					font-size: 10px;
    				color: #572501;
    				display: block;
    				text-decoration: none;
    				text-transform: uppercase;
    				letter-spacing: 1px;
				}

				&:first-of-type {
					padding-left:18px;
				}

				&:last-of-type {
					span {
						&:first-of-type {
    						font-size: 11px;
    						position:relative;
    						left:22px;
						}

						//&:last-of-type {
							//position:relative;
							//left:30px;
						//}
					}
				}
			}
		}

		form {
			margin-left:18px;
			box-sizing:border-box;
    		color: #606063;
    		border: .1em solid #cfc3bc;
    		border-radius: 0;
    		background-color: #ffffff;
    		font-weight: normal;
    		margin-left:18px;

			input {
				width: 83%;
    			padding: 9px 9px 6px;
    			border:none;
    			font-size:10px;
			}

			.search-btn {
				background: url(https://s.tea-global.net/mas_assets/theme/tea_collection/images/search-glass.png) no-repeat scroll center center;
    			border: 0 solid #d2d2d2;
    			color: #ffffff;
    			cursor: pointer;
    			height: 20px;
    			margin: 0 0 0 2px;
    			padding: 0;
    			width: 20px;
    			text-indent: -99999px;
			}
		}
	}

	#company-logo {
		float:left;
		height: 50px;

		img {
			width:50px;
		}
	}

	nav {
		float:left;
		width:92%;

		ul {
			overflow:hidden;

			li {
				float:left;
				width:16%;

				a {
					text-decoration: none;
    				display: block;
    				padding: 16px 0;
    				color: #444;
    				height:50px;
    				font-family: brown-pro-bold !important;
    				font-size: 15px;
    				box-sizing: border-box;
    				text-align: center;	
    				letter-spacing:1px;
    				text-transform:capitalize;
				}
			}
		}
	}

}
*/