.ref {
	position:absolute;
	top:0px;
	left:0;
	max-width:100%;
	opacity:.5;
	z-index:9999;
}

.content-wrapper {
  //background: red !important; 
}

//-----------------------------------------------------------------------------------------------------------

//level 1 positioning
.header-left nav.new-nav ul > li {
  
  height: 60px;

  &.girls-clothing {
    //margin-left:49px;
    padding-right:1px;
  }
  &.boys-clothing {
    padding-right:5px;
  }
  &.baby-girl-clothes {
    padding-right:41px;
    
    &> a {
      width:73px;
    }
  }
  &.baby-boy-clothes {
    white-space:nowrap;
    padding-right: 48px;
  }
  &.newborn-clothes {
    padding-right:0px;
  }
  &.clothing-sale {
    padding-left:45px;
  }
}

//-----------------------------------------------------------------------------------------------------------

//hover level 1
.header-left nav.new-nav ul li {

  //sale hover
  &.clothing-sale {
    &:hover {
      background:none;

      &> a > span {
        border-bottom: 2px solid #cc0033;
      }

      .level-2 li .nav-container {
        display:none;
      }
    }
  }

  //level 1 default hover
  &:hover {
    //background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/header/nav/triangle-grey-2.png)no-repeat center bottom;
    color:#57585b;
    background-size:25px;

      a span {
        border-bottom: 2px solid #666;
      }
   

    .nav-container, .level-2 {
      display:block;
    }

  }
}

//-----------------------------------------------------------------------------------------------------------

//level 2 hover
.header-left nav.new-nav ul li:hover {
  
  .level-2 li:hover {
    background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/header/nav/triangle-white-2.png) no-repeat center bottom;
    background-size:18px;

    .nav-container {
      display:block;
    }
  }

}

//-----------------------------------------------------------------------------------------------------------

//level 2
.header-left nav.new-nav ul li .level-2 {

    // background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/header/nav/triangle-white-2.png) no-repeat -25px bottom #e6e6e8;
    //background-size:25px;

    background: #e6e6e8;
    width: 1000px;
    position: absolute;
    left: -99px;
    top: 59px;
    //padding: 0px 10%;
    box-sizing: border-box;
    overflow:visible;
    color:#a7a8ac;
    z-index:9999;
    display:none;

    li {
      width: 100%;
      text-align: center;
      //border: 1px solid;
      padding: 12px 0;
      font-family: brown-pro-bold !important;
      font-size: 15px;
      height:auto;
      color:#666;

      span {
        position:relative;
        font-family:brown-pro-bold !important;
      }
    }
  
}

//-----------------------------------------------------------------------------------------------------------

//hover .favs & .cats style
.header-left nav.new-nav ul li:hover .nav-container .the-list {
  
  .favs, .cats {
    ul li:hover {
      background:none;
    }
  }

}

//-----------------------------------------------------------------------------------------------------------

//.nav-container styles
.header-left nav.new-nav ul li .nav-container {
  width: 100%;
  position: absolute;
  background: #fff;
  min-height: 240px;
  left: 0;
  top:40px;
  //border-top: 1px solid #e6e6e8;
  box-sizing:border-box;
  padding-left:100px;
  padding-top:22px;
  z-index:9999;
  display:none;
  border-bottom: 1px solid #D1D3D4;
}

//-----------------------------------------------------------------------------------------------------------

//.the-list & .nav-img styles
.header-left nav.new-nav ul li .nav-container {

  .the-list {
    width:65%;
    float:left;
    color:#a7a8ac;
  }

  .nav-img {
    width:35%;
    float:left;
    text-align:left;

    a {
      text-align:left;
      padding:3px 0 0 7px;
      box-sizing: border-box;
      display:inline-block;
    }

    img {
      image-rendering:-webkit-optimize-contrast;
      max-width:100%;
      width:190px;
    }
  }
}

//-----------------------------------------------------------------------------------------------------------

//favs & cats styles
.header-left nav.new-nav ul li .nav-container .the-list {
  .favs, .nb-gift-shop, .cats {
    h2 {
      font-size: 13px;
      color:#666;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 0;
      margin: 0 0 4px;
      text-transform: none;
      font-family: brown-pro-bold !important;
      text-transform:uppercase;
      text-align:left;
    }

    ul li {
      float:none;
      height:20px;
      width:100%;
      padding:10px 0 0 0;

      a {
        padding:0;
        text-align: left;
        font-size: 12px;
        //color:#a7a8ac;
        color:#666;
        white-space:nowrap;
        font-family:brown-pro-regular !important;
              
        &:hover {
          //color:#e05a24;
          color: #414042;
          font-family:brown-pro-bold !important;
        }
      }
    }
  }

  .favs {
    width:36%;
    float:left;
  }

  .cats {
    width:64%;
    float:left;

    .cats-1, .cats-2 {
      float:left;
      width:50%;
    }

    .cats-2 ul li:first-of-type {
      padding:0;
    }

    ul li {
      float:none;
      width:100%;

      &.view-all {
        text-transform:uppercase;
      }

      &.the-sale > a {
        color:#cc0033;

        &:hover {
          font-family:brown-pro-bold !important;
        }
      }

    }
  }
}

//-----------------------------------------------------------------------------------------------------------

//newborn & sale styles
.header-left nav.new-nav ul li.newborn-clothes, .header-left nav.new-nav ul li.clothing-sale  {
  
  .nav-container .the-list {

    .favs, .nb-gift-shop, .cats {
      float:left;
    }

    .favs {
      width:36%;
    }

    .nb-gift-shop {
      width:33%;

      h2 a {
        color:#666;
        text-decoration:none;

        &:hover {
          color:#e05a24;
        }
      }
    }

    .cats {
      width: 31%;

      /*ul li {
        width:100%;
        float:none;
      }*/
    }
    

    ul li {
      width:100%;
      padding:10px 0 0 0;
    }
  }

}

//-----------------------------------------------------------------------------------------------------------

//inspiration styles for copy of footer
.inspiration {
  &:hover {
    #cell-con {
      display:block;
    }
  }

  #cell-con {
    position:absolute;
    width:100%;
    left:0;
    z-index:99999;
    background:#fff;
    border-top: 1px solid #e6e6e8;
    padding:0;
    overflow:hidden;
    display:none;
    //opacity:.5;

    div {
      float:left;
      padding: 2%;
      width: 20%;
      box-sizing: border-box;
      z-index:9999;
      text-align:center;

      .header {
        padding: 0;
        width:100%;

        .cell-con-image {
          padding:0;
          width:100%;
          float:none;

          img {
            //width:100%;
          }
        }
      }

      p {
        a{
          font-size:12px;
          width: auto !important;
          padding:0;
          font-family:brown-pro-regular !important;
          font-weight:normal;
          text-decoration:underline;
        }
      }
 
    }
  }
}

//-----------------------------------------------------------------------------------------------------------

//sale styles
.clothing-sale {  
  &> a {
    color: #cc0033 !important;     
  }

  .level-2 {
    padding: 0 40.6% !important; 

    &> li {
      color:#999;
      float:left;

      &:hover {
        font-family:brown-pro-bold !important;
        color:#666;
      }

      &.sidebar-Girl {
        width:100px !important;
      }
      
      &.sidebar-Boy {
        width:47px !important;
      }

      &.sidebar-Baby-Girl {
        width:140px !important;
      }
      
      &.sidebar-Baby-Boy {
        width:86px !important;
      }

      &.sidebar-Newborn {
        width:137px !important;
      }

      &> span > a {
        color:#666 !important;
        text-decoration:none !important;
        cursor:pointer;
        font-family: brown-pro-regular !important;

        &:hover {
          font-family: brown-pro-bold !important;
        }
      }

      .nav-container {
        top:40px !important;
        left:0 !important;
        width:100% !important;

        .the-list {
          width:44% !important;

          .cats {
            width: 100% !important;
          
            ul {
              //overflow:hidden;

              li {
                float:left !important;
                width:50% !important;

                a {
                  width:auto !important;
                  font-family:brown-pro-regular !important;

                  &:hover {
                    font-family:brown-pro-bold !important;
                    color:#414042;
                  }
                }
              }
            }
          }
        }

        .nav-img {
          width:56% !important;
        }
      }
    }
  }
}

//-----------------------------------------------------------------------------------------------------------

.clothing-sale .nav-container .nav-img #content-block {
  width: 380px;

  .content-block {
      padding: 30px 0 10px 28px;
      line-height: 28px;
      min-height: 150px;

      div {
        background: #fff;
        height: 4px;
        width: 88px;
        margin-bottom: 8px;
        top: 0;
        left: 0;
      }

      h2 {
          color: #fff;
          font-size: 24px !important;
          font-weight:normal;
          left: 0 !important;
          position: relative;
          top: 0;

          span {
            font-size: 45px !important;
            top: 8px;
            border-bottom:none;
          }
      }
  }
}

