@import "var.less"; //hide breadcrumbs

#breadcrumbs,
.common-wrap {
	display: none;
}

.ref {
	@media screen and (max-width:737px) {
		z-index: 999999;
		top: -122px;
	}
	top: -70px;
}
@color: #7990A5;

.royal-container {
	img {
		max-width: 100%;
	}

	header {
		//tablet
		@media screen and (min-width:767px) and (max-width:769px) {
			height: 349px;
			background-size: contain;
		}
		@media screen and (max-width:737px) {
			margin: 0;
			background: none;
			height: auto;
		}
		margin: 0 0 40px;
		background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/royal-baby/2019/0426/v1/c1-d.png") no-repeat 0 0;
		height: 451px;

		h1 {
			color: @color;
			font-weight: normal;
			font-size: 28px;
			line-height: 32px;
			text-align: center;
			padding: 22px 0 0;
			box-sizing: border-box;

			span {
				font-family: brown-pro-regular;
				font-size: 17px;
				letter-spacing: 5px;
				text-transform: uppercase;
			}
		}
	}

	footer {
		//tablet
		@media screen and (min-width:767px) and (max-width:769px) {
			margin: 0;
		}
		@media screen and (max-width:737px) {
			margin: 0;
		}
		display: flex;
		flex-wrap: wrap;
		margin: 41px 0 0;

		p {
			@media screen and (max-width:737px) {
				margin: 46px 0 18px;
				font-size: 0.9em;
				line-height: 18px;
			}
			font-size: 15px;
			line-height: 22px;
			text-align: center;
			margin: 63px 0 23px;
			color: #666;

			&.fine-print {
				@media screen and (max-width:737px) {
					font-size: 0.8em;
				}
				text-align: center;
				width: 100%;
				margin: 20px 0;
				font-size: 12px;
			}

			span {
				color: @color;
				font-family: brown-pro-bold;
			}
		}

		div {
			&:first-of-type {
				//tablet
				@media screen and (min-width:767px) and (max-width:769px) {
					flex-basis: 100%;
				}
				@media screen and (max-width:737px) {
					flex-basis: 100%;
				}
				flex-basis: 435px;

				img {
					@media screen and (max-width:737px) {
						width: 88%;
					}
					display: block;
					margin: 0 auto;
				}
			}

			&:last-of-type {
				//tablet
				@media screen and (min-width:767px) and (max-width:769px) {
					flex-basis: 100%;
					text-align: center;
					margin: 30px 0 0;
				}
				@media screen and (max-width:737px) {
					flex-basis: 100%;
					margin: 40px 0 0;
				}
				flex-basis: 565px;
			}
		}
	}

	h2 {
		font-weight: normal;

		&.banner {
			//tablet
			@media screen and (min-width:767px) and (max-width:769px) {
				padding: 7px 0 0;
				width: 100%;
				margin: 0;
			}
			@media screen and (max-width:737px) {
				font-size: 1.15em;
				padding: 10px 0 0;
				margin: 0;
				width: 100%;
			}
			background: @color;
			text-align: center;
			color: #fff;
			font-size: 21px;
			height: 40px;
			box-sizing: border-box;
			padding: 12px 0 0;
		}
	}

	div {
		.cta {
			@media screen and (max-width:737px) {
				width: 88%;
				height: 30px;
				padding: 6px 0 0;
				font-size: 0.75em;
			}
			color: @color;
			border: 1px solid @color;
			margin: 0 auto;
			width: 225px;
			display: block;
			padding: 11px 0 0;
			letter-spacing: 1px;

			&:active,
			&:hover {
				background: @color;
				color: #fff;
			}
		}

		&.boy,
		&.girl {
			@media screen and (max-width:737px) {
				background: none !important;
				height: auto !important;
			}

			div {
				@media screen and (max-width:737px) {
					left: 0 !important;
					top: 0 !important;
					height: auto !important;
					width: 100%;
				}
				height: auto;
				width: 300px;
				position: relative;

				h2 {
					@media screen and (max-width:737px) {
						font-size: 1.53em;
						line-height: 24px;
						margin: 18px 0 0;
					}
					color: @color;
					font-size: 21px;
					line-height: 24px;
					text-align: center;
					margin: 0 0 7px;
				}

				p {
					@media screen and (max-width:737px) {
						font-size: 0.95em;
						line-height: 19px;
						margin: 3px 0;
					}
					color: #666;
					text-align: center;
					font-size: 15px;
					line-height: 22px;
					margin: 0 0 3px;

					&.price {
						@media screen and (max-width:737px) {
							margin: 0 0 13px;
						}
						color: @color;
						margin: 0 0 24px;
						font-family: brown-pro-bold;
					}
				}
			}
		}

		&.girl {
			//tablet
			@media screen and (min-width:767px) and (max-width:769px) {
				background-position: -150px 0;
			}
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/royal-baby/2019/0426/v1/c2-d.png") no-repeat 0 0;
			height: 420px;

			div {
				//tablet
				@media screen and (min-width:767px) and (max-width:769px) {
					left: 10px;
				}
				left: 131px;
				top: 101px;
			}
		}

		&.boy {
			//tablet
			@media screen and (min-width:767px) and (max-width:769px) {
				background-position: -80px 0;
			}
			@media screen and (max-width:737px) {
				margin: 39px 0 0;
			}
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/royal-baby/2019/0426/v1/c3-d.png") no-repeat 0 0;
			height: 525px;

			div {
				@media screen and (min-width:767px) and (max-width:769px) {
					left: 460px;
				}
				left: 569px;
				top: 143px;
			}
		}
	}
}