.content-wrap {
	font-size: 1rem;

	button,
	input,
	label {
		display: block;
		margin: 0 0 20px;
	}

	input {
		@media screen and (max-width: 414px) {
			width: 100%;
		}
		width: 370px;
		height: 55px;
		background: #EDEBEC;
		border: none;
		box-sizing: border-box;
		padding: 0 0 0 1rem;
	}

	label {
		font-family: gilroy-regular;
		font-size: 0.75rem;
		color: #47363D;
	}
}