.ref {
	position:absolute;
	opacity:.5;
	//display:none;
} 
 
.my-account, .midbox {
	h1 {
		display:none;
	}
} 

#simplemodal-container, #simplemodal-overlay {
	display:none !important;
}

.padded {
	padding:0 !important;
}

.mobile {
	@media screen and (max-width:768px){
		display:block !important;
	}

	display:none !important;
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}

.cta {
	@media screen and (max-width:768px) {
		padding:6px 0 6px 0;
		width:170px;
		left:0;
		font-size:12px;
	}

	@media screen and (max-width:737px){
		padding:13px 0 13px 0;
		width:42%;
		left:-1px;
		font-size:19px;
		letter-spacing:1px;
		margin-bottom:76px;
	}

	@media screen and (max-width:668px){
		width:276px;
		font-size:17px;
		margin-bottom:67px;
	}

	@media screen and (max-width:569px){
		width:235px;
		font-size:14px;
		padding:9px 0 9px 0;	
		margin-bottom:59px;
	}

	@media screen and (max-width:481px){
		width:199px;
		font-size:11px;
		padding:10px 0 10px 0;
		margin-bottom:49px;
	}

	@media screen and (max-width:415px){
		width:170px;
		padding:7px 0 7px 0;
		font-size:10px;
	}

	@media screen and (max-width:376px){
		width:155px;
		font-size:9px;
		padding:7px 0 7px 0;
	}

	@media screen and (max-width:321px){
		width:131px;
		font-size:8px;
		padding:6px 0 6px 0;
	}

	display: inline-block;
    border: 2px solid;
    padding: 8px 0 8px;
    width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    left: -3px;
    font-size: 14px;
    font-weight:bold;
    text-align:center
}

.wrap-content {
	overflow:hidden;
	font-family:'tisa sans';

	img {
		max-width:100%;
	}

	
}//end of .wrap-content

div[data="form"] {
	@media screen and(max-width:737px){
		width:100%;
		margin-top:0;
		padding-left:0;
	}

	float:left;
	width:523px;
	margin-top:45px;
	padding-left:28px;
	box-sizing:border-box;

	.c1 {
		@media screen and (max-width:737px){
			height:auto;
			padding-left:0;
			background:url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/static/babysweeps/170419/c1-m.png') no-repeat;
			background-position: -0.1em 0;
    		text-align:center;
    		background-size:contain;
		}

		background:url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/static/babysweeps/170419/c1-d.png') no-repeat -27px top;
		height:270px;
		padding-left:20px;
	}

	h2{
		@media screen and (max-width:737px){
			text-align:center;
			margin-bottom:67px;
		}

		@media screen and (max-width:668px){
			margin-bottom:61px;
		}

		@media screen and (max-width:569px){
			margin-bottom: 53px;
		}

		@media screen and (max-width:481px){
			margin-bottom:45px;
		}

		@media screen and (max-width:415px){
			margin-bottom:39px;
		}

		@media screen and (max-width:376px){
			margin-bottom:33px;
		}

		@media screen and (max-width:321px){
			margin-bottom:28px;
		}


		font-family:'mrdodo regular';
		font-weight:normal;

		span {
			position:relative;
			display:inline-block;

			&:first-of-type {
				@media screen and (max-width:737px){
					font-size: 3.5em;
    				left: 3px;
    				top: 37px;
    				letter-spacing: 1px;
				}

				@media screen and (max-width:668px){
					font-size: 3.1em;
    				left: 4px;
    				top: 35px;
    				letter-spacing: 1.5px;
				}

				@media screen and (max-width:569px){
					font-size: 2.6em;
    				top: 30px;
				}

				@media screen and (max-width:481px){
				    font-size: 2.2em;
    				top: 26px;
				}

				@media screen and (max-width:415px){
					font-size: 1.85em;
    				top: 22px;
    				letter-spacing: 1.5px;
    				left:3px;
				}

				@media screen and (max-width:376px){
				    font-size: 1.7em;
    				top: 20px; 
				}

				@media screen and (max-width:321px){
					font-size: 1.5em;
    				top: 17px;
    				letter-spacing: 0.6px;
    				left: 2px;
				}

				font-size: 30px;
    			left: 0;
    			top: 24px;

    			i {
    				font-style:normal;
    				color:#4bbfbe;

    				&:nth-of-type(2){
    					color:#1eb8b8;
    				}

    				&:nth-of-type(3){
    					color:#4cbebf;
    				}

    				&:nth-of-type(4){
    					color:#64c3c5;
    				}

    				&:nth-of-type(5){
    					color:#64c4c2;
    				}

    				&:nth-of-type(6){
    					color:#4bbdbd;
    				}

    				&:nth-of-type(7){
    					color:#64c4c3;
    				}

    				&:nth-of-type(8){
    					color:#4bbfbe;
    				}

    				&:nth-of-type(9){
    					color:#1fb7b8;
    				}

    				&:nth-of-type(10){
    					color:#64c3c5;
    				}

    				&:nth-of-type(11){
    					color:#4bbdbd;
    				}
    			}
			}

			&:last-of-type {
				@media screen and (max-width:737px){
					font-size: 6.9em;
    				top: 33px;
    				letter-spacing: 4px;
				}

				@media screen and (max-width:668px){
					font-size: 6.3em;
    				top: 31px;
    				letter-spacing: 3px;
				}

				@media screen and (max-width:569px){
					font-size: 5.4em;
    				top: 26px;
				}

				@media screen and (max-width:481px){
					font-size: 4.5em;
    				top: 23px;
				}

				@media screen and (max-width:415px){
					font-size: 4em;
    				top: 20px;
    				letter-spacing: 1px;
				}

				@media screen and (max-width:376px){
				    font-size: 3.7em;
    				top: 18px;
				}

				@media screen and (max-width:321px){
				    font-size: 3.1em;
    				top: 14px;
				}

				font-size: 57px;
    			text-transform: uppercase;
    			left: 0;
    			top: 52px;
    			letter-spacing: 3.1px;

    			i {
    				font-style:normal;
    				color:#f28e8e;

    				&:nth-of-type(2){
    					color:#f89b93;
    				}

    				&:nth-of-type(3){
    					color:#f58c9d;
    				}

    				&:nth-of-type(4){
    					color:#f58e91;
    				}

    				&:nth-of-type(5){
    					color:#f69c93;
    				}

    				&:nth-of-type(6){
    					color:#f39387;
    				}

    				&:nth-of-type(7){
    					color:#f69c93;
    				}

    				&:nth-of-type(8){
    					color:#f69189;
    				}

    				&:nth-of-type(9){
    					color:#f69c93;
    				}

    				&:nth-of-type(10){
    					color:#f68d9e;
    				}

    				&:nth-of-type(11){
    					color:#f38f91;
    				}
    			}
			}
		}
	}

	p {
		@media screen and (max-width:737px){
			margin-top: 34px;
    		left: 0;
    		line-height: 36px;
    		font-size: 1.9em;
    		letter-spacing: .8px;
			
		}

		@media screen and (max-width:668px){
		    margin-top: 28px;
    		line-height: 34px;
    		font-size: 1.7em;
		}

		@media screen and (max-width:569px){
		    margin-top: 23px;
    		line-height: 28px;
    		font-size: 1.4em;
    		letter-spacing: 1px;
		}

		@media screen and (max-width:481px){
			margin-top: 20px;
    		line-height: 24px;
    		font-size: 1.2em;
    		letter-spacing: 0.7px;
		}

		@media screen and (max-width:415px){
		    margin-top: 17px;
    		line-height: 20px;
    		font-size: 1em;
		}

		@media screen and (max-width:376px){
		    margin-top: 17px;
    		line-height: 18px;
    		letter-spacing: 0.2px;
		}

		@media screen and (max-width:321px){
			margin-top: 14px;
    		line-height: 16px;
    		letter-spacing: 0.5px;
    		font-size: .8em;
		}

		margin-top:66px;
		font-size:14px;
		letter-spacing:0.65px;
		line-height:20px;
		position:relative;
		left:4px;
	}

	.cta {
		@media screen and (max-width:737px){
			margin-top:30px;
			margin-bottom:36px;
		}

		@media screen and (max-width:668px){
		    margin-top: 26px;
    		margin-bottom: 31px;
		}

		@media screen and (max-width:569px){
			margin-bottom:27px;
		}

		@media screen and (max-width:481px){
			margin-bottom: 24px;
    		margin-top: 17px;
		}

		@media screen and (max-width:415px){
		    margin-bottom: 20px;
    		margin-top: 17px;
		}

		@media screen and (max-width:376px){
			margin-bottom: 17px;
		}

		@media screen and (max-width:321px){
		    margin-bottom: 13px;
    		margin-top: 13px;
		}

		margin-top:22px;
		color:#fff;
		background:#65c3c3;
		border-color:#65c3c3;

		&:hover {
			background:#fff;
			color:#65c3c3;
		}
	}

	form {
		@media screen and (max-width:737px){
			padding-left:0;
			padding-top:43px;
			text-align:center;
		}

		@media screen and (max-width:668px){
			padding-top:40px;
		}

		@media screen and (max-width:569px){
			padding-top:33px;
		}

		@media screen and (max-width:481px){
			padding-top:27px;
		}

		@media screen and (max-width:415px){
		    padding-top:24px;
		}

		@media screen and (max-width:376px){
			padding-top:20px;
		}

		@media screen and (max-width:321px){
			padding-top:18px;
		}

		padding-left:23px;
		padding-top:22px;

		.error-mess {
			color:red;
			font-weight:bold;
			display:none;
		}

		select {

			text-transform: capitalize;
			text-align:center;
			color:#606063;

			option {
				text-transform: capitalize;
				text-align:center;
			}
		}

		#months {
			margin-right:10px;
		}

		#months, #days {
			@media screen and (max-width:737px){
				width:35%;
			}

			@media screen and (max-width:668px){
				width:34%;
			}

			display:inline-block;
			width: 30.5%;
			
		}


		input, select {
			@media screen and (max-width:737px){
				display: block;
    			width: 70.8%;
    			margin: 0 auto 32px auto;
    			padding: 12px 0px 17px 13px;
    			box-sizing: border-box;
    			border: 1px solid;
    			font-size:1.8em;
			}


			@media screen and (max-width:668px){
				margin:0 auto 29px auto;
				padding: 10px 0px 14px 13px;
				font-size:1.7em;
			}

			@media screen and (max-width:569px){
			    margin: 0 auto 25px auto;
    			padding: 9px 0px 11px 13px;
    			font-size:1.4em;
			}

			@media screen and (max-width:481px){
				margin: 0 auto 22px auto;
    			padding: 8px 0px 10px 13px;
    			font-size: 1.2em;
			}

			@media screen and (max-width:415px){
				margin: 0 auto 17px auto;
   	 			padding: 8px 0px 8px 13px;
    			font-size: 1em;
			}

			@media screen and (max-width:376px){
			    margin: 0 auto 14px auto;
    			padding: 8px 0px 6px 13px;
			}

			@media screen and (max-width: 321px){
			    margin: 0 auto 13px auto;
    			padding: 5px 0px 4px 13px;
			}

			display: block;
    		width: 301px;
    		margin-bottom: 17px;
    		padding: 10px 0px 10px 13px;
    		box-sizing: border-box;
    		border: 1px solid;
    		outline:none;
    		color:lightslategrey;

    		&::placeholder {
    			@media screen and (max-width:737px){
    				text-align:center;
    				//font-size:2em;
    			}

    			@media screen and (max-width:668px){
    				//font-size:1.7em;
    			}

    			@media screen and (max-width:569px){
    				//font-size:1.4em;
    			}

    			color:lightslategrey;
    		}


			&[type="checkbox"]{
				display:none;

				&:checked ~ .the-checkbox {
					//background:red;
				}
			}
			
		}

		.the-checkbox {
			@media screen and (max-width:737px){
    			width: 4%;
    			height: 11%;
    			left: -464px;
    			top:-70px;
			}

			@media screen and (max-width:668px){
				left:-418px;
				top:-65px;
			}

			@media screen and (max-width:569px){
				left:-357px;
				top:-55px;
			}

			@media screen and (max-width:481px){
				left: -302px;
				top:-48px;
			}

			@media screen and (max-width:415px){
				left: -260px;
    			top: -41px;
			}

			@media screen and (max-width:415px){
				left: -258px;
			}

			@media screen and (max-width:376px){
				left:-237px;
				top:-37px;
			}

			@media screen and (max-width:321px){
				left:-203px;
				top:-32px;
			}

			border: 1px solid;
    		width: 13px;
    		height: 13px;
    		position: relative;
    		top: -61px;
    		left:-263px;

		}

		label {
			@media screen and (max-width:737px){
				font-size:1.8em;
			}

			@media screen and (max-width:668px){
				font-size:1.7em;
			}

			@media screen and (max-width:569px){
				font-size: 1.4em;
			}

			@media screen and (max-width:481px){
				font-size:1.2em;
			}

			@media screen and (max-width:415px){
				font-size:1em;
			}

			@media screen and (max-width:376px){
				letter-spacing:0;
			}

			@media screen and (max-width:321px){
				font-size:.85em;
			}

			font-size: 14px;
			letter-spacing:.5px;
			display:inline-block;

			&:first-of-type {
				margin-bottom:6px;
			}


			&:nth-of-type(2) {
				@media screen and (max-width:737px){
					position: relative;
    				left: 33px;
    				line-height: 45px;
    				letter-spacing: 1.3px;
    				text-align:left;
				}

				@media screen and (max-width:668px){
    				left: 30px;
    				line-height: 42px;
    				letter-spacing: .7px;
				}

				@media screen and (max-width:569px){
					left: 26px;
    				line-height: 35px;
    				letter-spacing: .9px;
				}

				@media screen and (max-width:481px){
					left: 22px;
    				line-height: 30px;
    				letter-spacing: .6px;
				}

				@media screen and (max-width:415px){
					left: 16px;
    				line-height: 26px;
				}

				@media screen and (max-width:376px){
					left: 19px;
    				line-height: 24px;
    				letter-spacing: 0.2px;
				}

				@media screen and (max-width:321px){
					left: 16px;
    				line-height: 20px;
    				letter-spacing: 0.2px;
				}

				position: relative;
    			left: 27px;
    			line-height: 21px;
    			letter-spacing: .8px;
			}
		}

		p {
			@media screen and (max-width:737px){
    			left: -3px;
    			letter-spacing: 0px;
    			font-size: 1.6em;
			}

			@media screen and (max-width:668px){
				left: -1px;
    			letter-spacing: 0.5px;
    			font-size: 1.4em;
			}

			@media screen and (max-width:569px){
				left: 0px;
    			letter-spacing: 0.7px;
    			font-size: 1.1em;
			}

			@media screen and (max-width:481px){
    			letter-spacing: 0.3px;
    			font-size: 1em;
			}

			@media screen and (max-width:415px){
				letter-spacing: 0.5px;
    			font-size: .85em;
			}

			@media screen and (max-width:321px){
				letter-spacing: 0.6px;
    			font-size: .6em;
			}

			&[name="bday"]{
				@media screen and (max-width:737px){
					font-size:1.8em;
				}

				@media screen and (max-width:668px){
					font-size:1.7em;
				}

				@media screen and (max-width:569px){
					font-size:1.4em;
				}

				@media screen and (max-width:481px){
					font-size:1.2em;
				}

				@media screen and (max-width:415px){
					font-size:1em;
				}

				@media screen and (max-width:321px){
					font-size:.85em;
				}

				font-size: 14px;
				letter-spacing:.5px;
				margin-bottom:6px;
				left:0;
				top:0;
			}

			margin-top: 10px;
    		font-size: 10px;
    		position: relative;
    		left: 28px;
    		top: 4px;
    		letter-spacing: 1px;
		}

		a {
			@media screen and (max-width:737px){
				text-decoration:underline;
			}

			color:#444444;
		}
	}
	
} // end of forms div

div[data="pics"] {
	@media screen and (max-width:737px){
		display:none;
	}

	float:left;
	width:477px;

	img {
		&:first-of-type {
			margin-top:44px;
		}

		&:last-of-type {
			margin-top:52px;
		}
	}
	
} //end of pics div


#view-prizes {
	@media screen and (max-width:737px){
		width:100%;
	}

	clear:both;
	width:775px;
	display:none;
	font-family:'tisa sans';

	h2 {
		@media screen and (max-width:737px){
			font-size:3.5em;
			top:46px;
			left:0;
		}

		@media screen and (max-width:668px){
			font-size:3.2em;
			top:38px;
		}

		@media screen and (max-width:569px){
		    font-size: 2.7em;
    		top: 31px;
		}

		@media screen and (max-width:481px){
		    font-size: 2.3em;
    		top: 24px;
		}

		@media screen and (max-width:415px){
			font-size:2em;
			top:19px;
		}

		@media screen and (max-width:376px){
		    font-size: 1.8em;
    		top: 15px;
		}

		font-family: 'mrdodo regular';
    	font-size: 30px;
    	font-weight: normal;
    	text-align: center;
    	line-height: 35px;
    	position: relative;
    	top: 40px;
    	left: -4px;
    	color:#1eb8b8;
	}

	img {
		&[alt="dotted line"] {
			@media screen and (max-width:737px){
				margin:76px auto 0;
				width:86%;
			}

			@media screen and (max-width:668px){
				margin:64px auto 0;
			}

			@media screen and (max-width:569px){
				margin:49px auto 0;
			}

			@media screen and (max-width:481px){
				margin:36px auto 0;
			}

			@media screen and (max-width:481px){
				margin:26px auto 0;
			}

			@media screen and (max-width:415px){
				margin:22px auto 0;
			}
		}
	}
	
} //end of #view-prizes div


.vp1,.vp2, .vp3, .vp4, .vp5, .vp6 {
	@media screen and (max-width:737px){
		padding-left:4em;
		margin-top:47px;
	}

	@media screen and (max-width:668px){
		padding-left:3.6em;
		margin-top:44px;
	}

	@media screen and (max-width:569px){
	    padding-left: 3.1em;
    	margin-top: 37px;
	}

	@media screen and (max-width:481px){
	    padding-left: 2.6em;
    	margin-top: 32px;
	}

	@media screen and (max-width:415px){
		padding-left: 2.3em;
    	margin-top: 27px;
	}

	@media screen and (max-width:376px){
		padding-left: 2.1em;
    	margin-top: 23px;
	}

	padding-left:58px;
	margin-top:68px;
	overflow:hidden;

	.top-border {
		@media screen and (max-width:737px){
			display:none;
		}

		display: inline-block;
    	height: 10px;
    	width: 91%;
    	position: relative;
    	left: 2px;
		background:#e9e81e;
		//margin-bottom:42px;
	}

	div {
		&:first-of-type {
			@media screen and (max-width:737px){
				display:none;
			}

			float:left;

			a {
				display:inline-block;
				margin-top:39px;
			}
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				width:100%;
				padding-left:0;
				text-align:center;
			}

			float:left;
			padding-left:27px;

			a {
				display: block;
    			margin-top: 41px;
    			position: relative;
    			left: -10px;
			}

			p {
				@media screen and (max-width:737px){
					font-size: 1.9em;
    				margin-top: 33px;
    				left: -25px;
				}

				@media screen and (max-width:668px){
					font-size: 1.7em;
    				margin-top: 28px;
    				left: -22px;
				}

				@media screen and (max-width:569px){
				    font-size: 1.5em;
    				margin-top: 23px;
    				left: -19px;
    				letter-spacing: .4px;
				} 

				@media screen and (max-width:481px){
					font-size: 1.2em;
    				margin-top: 17px;
    				left: -16px;
    				letter-spacing: .6px;
				}

				@media screen and (max-width:415px){
				    font-size: 1em;
    				margin-top: 15px;
    				left: -14px;
    				letter-spacing: .8px;
				}

				@media screen and (max-width:376px){
				    font-size: .8em;
    				margin-top: 11px;
    				left: -12px;
				}

				@media screen and (max-width:321px){
					font-size:.6em;
				}

				font-size: 14px;
    			margin-top: 9px;
    			line-height: 22px;
    			position: relative;
    			left: 3px;
    			letter-spacing: .8px;

    			&:last-of-type {
    				@media screen and (max-width:737px){
    					display:none;
    				}

    				letter-spacing:.5px;
    				//font-style:italic;

    				b {
    					//font-style:normal;
    					font-weight:bold;
    				}
    			}
			}

			.mobile {
				@media screen and (max-width:737px){
					width:92%;
					left:0;
				}

				img {
					max-width:100%;
				}
			}

			img {
				&[alt="dotted line"] {
					@media screen and (max-width:737px){
						margin:0 auto;
					}

					position: relative;
    				top: 8px;
    				left: -10px;
				}
			}
		}
	}
} //end of .vp1, .vp2, .vp3, .vp4, .vp5, .vp6

.vp1 {
	.top-border {
		margin-bottom:42px;
	}
}

.vp2 {
	@media screen and (max-width:569px){
		margin-top:34px;
	}

	@media screen and (max-width:481px){
		margin-top:27px;
	}

	@media screen and (max-width:415px){
		margin-top:18px;
	}

	margin-top:41px;

	.top-border {
		background:#7ac8c8;
	}

	div {
		&:last-of-type {

			p {
				@media screen and (max-width:737px){
    				margin-top: 28px;
    				left: -27px;
    				line-height: 35px;
    				letter-spacing: 0.3px;
				}

				@media screen and (max-width:668px){
				    margin-top: 25px;
    				left: -24px;
    				line-height: 32px;
    				letter-spacing: 0.4px;
				}

				@media screen and (max-width:569px){
				    margin-top: 20px;
    				left: -21px;
    				line-height: 29px;
    				letter-spacing: 0px;
				}

				@media screen and (max-width:481px){
				    margin-top: 17px;
    				left: -16px;
    				line-height: 24px;
    				letter-spacing: 0.5px;
				}

				@media screen and (max-width:415px){
				    margin-top: 14px;
    				line-height: 15px;
				}

				@media screen and (max-width:376px){
					line-height:15px;
				}
				
			}

			.mobile {
				@media screen and (max-width:737px){
					margin-top:58px;
				}

				@media screen and (max-width:668px){
					margin-top:54px;
				}

				@media screen and (max-width:569px){
					margin-top:47px;
				}

				@media screen and (max-width:481px){
					margin-top: 38px;
				}

				@media screen and (max-width:415px){
					margin-top:33px;
				}
			}

			img {
				&[alt="dotted line"] {
					@media screen and (max-width:737px){
						margin:-8px auto 0 !important;
					}

					@media screen and (max-width:668px){
						margin:-14px auto 0 !important;
					}

					@media screen and (max-width:481px){
						margin:-10px auto 0 !important;
					}
				}
			}
		}
	}
} //end of .vp2


.vp3 {
	@media screen and (max-width:569px){
		margin-top:29px;
	}

	@media screen and (max-width:481px){
		margin-top:25px;
	}

	@media screen and (max-width:415px){
		margin-top:22px;
	}

	margin-top:33px;

	.top-border {
		background:#efcebf;
	}

	div {
		&:last-of-type {
			a {
				margin-top:37px;
				margin-bottom:11px;
			}

			p {
				@media screen and (max-width:737px){
    				margin-top: 28px;
    				left: -27px;
    				line-height: 35px;
    				letter-spacing: 0.3px;
				}

				@media screen and (max-width:668px){
					margin-top: 22px;
    				left: -22px;
    				line-height: 31px;
    				letter-spacing: 0.5px;
				}

				@media screen and (max-width:569px){
				    margin-top: 21px;
    				left: -19px;
    				line-height: 27px;
    				letter-spacing: 0px;
				}

				@media screen and (max-width:481px){
				    margin-top: 18px;
    				left: -15px;
    				line-height: 23px;
    				letter-spacing: 0.5px;
				}

				@media screen and (max-width:415px){
				    margin-top: 11px;
    				line-height: 15px;
				}

				@media screen and (max-width:376px){
					line-height:15px;
				}
				
			}

			.mobile {
				@media screen and (max-width:737px){
					margin-top:58px;
				}

				@media screen and (max-width:569px){
					margin-top:46px;
				}

				@media screen and (max-width:481px){
					margin-top:40px;
				}

				@media screen and (max-width:415px){
					margin-top:33px;
				}
			}

			img {
				&[alt="dotted line"] {
					@media screen and (max-width:737px){
						margin:-4px auto 0 !important;
					}

					@media screen and (max-width:668px){
						margin:-10px auto 0 !important;
					}
				}
			}
		}
	}

} //end of .vp3

.vp4 {
	@media screen and (max-width:569px){
		margin-top:35px;
	}

	@media screen and (max-width:481px){
		margin-top:28px;
	}

	@media screen and (max-width:415px){
		margin-top:23px;
	}

	margin-top:42px;

	div {
		&:last-of-type {
			a{
				margin-top:35px;
				margin-bottom:14px;
			}

			p {
				@media screen and (max-width:737px){
    				margin-top: 28px;
    				left: -27px;
    				line-height: 35px;
    				letter-spacing: 0.3px;
				}

				@media screen and (max-width:668px){
				    margin-top: 24px;
    				left: -22px;
    				line-height: 33px;
    				letter-spacing: 0.5px;
				}

				@media screen and (max-width:569px){
				    margin-top: 20px;
    				left: -20px;
    				line-height: 30px;
    				letter-spacing: 0px;
				}

				@media screen and (max-width:481px){
				    margin-top: 18px;
    				left: -15px;
    				line-height: 23px;
    				letter-spacing: 0.5px;
				}

				@media screen and (max-width:415px){
					margin-top: 13px;
    				line-height: 15px;
				}
				
			}

			.mobile {
				@media screen and (max-width:737px){
					margin-top:58px;
				}

				@media screen and (max-width:668px){
					margin-top:53px;
				}

				@media screen and (max-width:569px){
					margin-top:46px;
				}

				@media screen and (max-width:481px){
					margin-top:40px;
				}

				@media screen and (max-width:376px){
					margin-top:32px;
				}
			}

			img {
				&[alt="dotted line"] {
					@media screen and (max-width:737px){
						margin:-14px auto 0 !important;
					}

					@media screen and (max-width:569px){
						margin:-12px auto 0 !important;
					}

					@media screen and (max-width:415px){
						margin:-11px auto 0 !important;
					}

					@media screen and (max-width:321px){
						margin:-10px auto 0 !important;
					}
				}
			}
		}
	}


} //end of .vp4

.vp5 {
	@media screen and (max-width:569px){
		margin-top:21px;
	}

	margin-top:40px;

	.top-border {
		background:#79c9c8;
	}

	div {
		&:last-of-type {
			a{
				margin-top:32px;
				margin-bottom:14px;
			}

			p {
				@media screen and (max-width:737px){
    				margin-top: 28px;
    				left: -27px;
    				line-height: 35px;
    				letter-spacing: 0.3px;
				}

				@media screen and (max-width:668px){
				    margin-top: 23px;
    				left: -25px;
    				letter-spacing: 0.5px;
				}

				@media screen and (max-width:569px){
					margin-top: 18px;
    				left: -20px;
    				letter-spacing: 0.2px;
				}

				@media screen and (max-width:481px){
				    margin-top: 14px;
    				left: -18px;
    				letter-spacing: 0.5px;
				}

				@media screen and (max-width:415px){
				    margin-top: 9px;
    				line-height: 15px;
				}

				@media screen and (max-width:376px){
				    line-height: 15px;
    				left: -17px;
				}
				
			}

			.mobile {
				@media screen and (max-width:737px){
					margin-top:58px;
				}

				@media screen and (max-width:668px){
					margin-top:54px;
				}

				@media screen and (max-width:569px){
					margin-top:46px;
				}

				@media screen and (max-width:481px){
					margin-top:39px;
				}

				@media screen and (max-width:415px){
					margin-top:35px;
				}

				@media screen and (max-width:376px){
					margin-top:30px;
				}
			}

			img {
				&[alt="dotted line"] {
					@media screen and (max-width:737px){
						margin:-14px auto 0 !important;
					}

					@media screen and (max-width:668px){
						margin:-12px auto 0 !important;
					}

					@media screen and (max-width:569px){
						margin:-5px auto 0 !important;
					}
				}
			}
		}
	}


} //end of .vp5

.vp6 {
	@media screen and (max-width:569px){
		margin-top:26px;
	}

	@media screen and (max-width:481px){
		margin-top:18px;
	}

	margin-top:34px;

	.top-border {
		background:#efcebf;
	}

	div {
		&:last-of-type {
			a{
				margin-top:30px;
				margin-bottom:0px;
			}

			.mobile {
				@media screen and (max-width:737px){
					margin-top:58px;
				}

				@media screen and (max-width:668px){
					margin-top:53px;
				}

				@media screen and (max-width:569px){
					margin-top:46px;
				}

				@media screen and (max-width:481px){
					margin-top:40px;
				}

				@media screen and (max-width:415px){
					margin-top:37px;
				}
			}

			img {
				&[alt="dotted line"] {
					@media screen and (max-width:737px){
						margin:-5px auto 0 !important;
					}

					@media screen and (max-width:668px){
						margin:-10px auto 0 !important;
					}
				}
			}


			p {
				@media screen and (max-width:737px){
    				margin-top: 26px;
    				left: -25px;
    				line-height: 35px;
    				letter-spacing: 0.2px;
				}

				@media screen and (max-width:668px){
				    margin-top: 22px;
    				left: -23px;
    				line-height: 32px;
    				letter-spacing: 0.4px;
				}

				@media screen and (max-width:569px){
					margin-top: 19px;
    				left: -20px;
    				line-height: 27px;
    				letter-spacing: 0px;
				}

				@media screen and (max-width:481px){
				    margin-top: 16px;
    				left: -15px;
    				line-height: 23px;
    				letter-spacing: 0.4px;
				}

				@media screen and (max-width:415px){
				    margin-top: 14px;
    				left: -17px;
    				line-height: 15px;
    				font-size:.9em;
				}

				@media screen and (max-width:376px){
					margin-top: 11px;
    				left: -17px;
    				line-height: 15px;
    				font-size:.8em;
				}

				@media screen and (max-width:321px){
					font-size:.6em;
				}

				margin-top: 7px;
    			line-height: 21px;

    			&:last-of-type {
    				margin-top:13px;
    				letter-spacing:.4px;
    			}
			}
		}
	}


} //end of .vp6



/*div[data="thanks"] {
	clear:both;
	width:100%;
	overflow:hidden;
	display:none;

	div {
		&:first-of-type {
			@media screen and (max-width:737px){
				width:100%;
				background: url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/static/babysweeps/170419/thanks/thanks-h2-bg-m.png') no-repeat;
				background-position:11em 0em;
			}

			float:left;
			width:512px;
			text-align:center;
			background: url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/static/babysweeps/170419/thanks/thanks-h2-bg-d.png') no-repeat;
			background-position:117px 45px;

			h2 {
				@media screen and (max-width:737px){
					margin-top:25px;
				}

				font-family:'mrdodo regular';
				font-weight:normal;
				margin-top:83px;

				span {
					&:first-of-type {
						@media screen and (max-width:737px){
							font-size: 7.3em;
						}

						font-size: 60px;
    					text-transform: uppercase;
    					letter-spacing: 2px;
    					position: relative;
    					left: -3px;

    					i {
    						font-style:normal;
    						color:#f58e8f;

    						&:nth-of-type(2){
    							color:#f59b92;
    						}

    						&:nth-of-type(3){
    							color:#f28d9d;
    						}

    						&:nth-of-type(4){
    							color:#f48d90;
    						}

    						&:nth-of-type(5){
    							color:#f59b92;
    						}

    						&:nth-of-type(6){
    							color:#f59388;
    						}
    					}
					}

					&:last-of-type {
						@media screen and (max-width:737px){
							font-size: 3.5em;
   				 			position: relative;
    						top: -22px;
    						left: 0px;
    						letter-spacing: 1.6px;
						}

						font-size: 27px;
    					position: relative;
    					top: 9px;
    					left: -4px;
    					letter-spacing: 1.8px;
    					font-weight:bold;

    					i {
    						font-style:normal;
    						color:#4cbcbd;

    						&:nth-of-type(2){
    							color:#1db9b6;
    						}

    						&:nth-of-type(3){
    							color:#4cbfbc;
    						}

    						&:nth-of-type(4){
    							color:#64c4c3;
    						}

    						&:nth-of-type(5){
    							color:#65c3c2;
    						}

    						&:nth-of-type(6){
    							color:#48bebe;
    						}

    						&:nth-of-type(7){
    							color:#63c3c2;
    						}

    						&:nth-of-type(8){
    							color:#4cbfbc;
    						}

    						&:nth-of-type(9){
    							color:#1fb7b8;
    						}

    						&:nth-of-type(10){
    							color:#63c3c1;
    						}

    						&:nth-of-type(11){
    							color:#4bbdbd;
    						}
    					}
					}
				}
			}

			p {
				@media screen and (max-width:737px){
					font-size: 2em;
    				margin-top: 5px;
    				line-height: 32px;
    				letter-spacing: 0.1px;
    				left: 0;
				}

				font-size: 15px;
    			margin-top: 22px;
    			line-height: 20px;
    			letter-spacing: 0.3px;
    			position: relative;
    			left: -5px;
			}

			.cta {
				@media screen and (max-width:737px){
					margin-top:35px;
					margin-bottom: 59px;
					left:0;
				}

				margin-top:21px;
				left:-6px;
				color:#fff;
				background:#65c3c3;
				border-color:#65c3c3;
				margin-bottom:33px;

				&:hover {
					background:#fff;
					color:#65c3c3;
				}
			}
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				display:none;
			}

			float:left;

			img {
				margin-top:44px;
			}
		}
	}
	
}*/ //end of thanks div
