.ref {
	position: absolute;
	opacity: 0.5;
	max-width: 100%;
	//width:798px;
}

.desktop {
	@media screen and (max-width:737px) {
		display: none !important;
	}
}

.mobile {
	display: none !important;
	@media screen and(max-width:737px) {
		display: block !important;
	}
}

.this-footer {
	@media screen and (max-width:737px) {
		padding: 2em;
	}
	//display:none;
	h1 {
		font-size: 18px;
		line-height: 21px;
		margin: 0 0 10px;
		color: #666;
	}

	p {
		font-size: 15px;
		line-height: 21px;
		color: #666;
	}
}