{introduce_script src="`$theme_assets_url`js/fancybox_2.0/jquery.mousewheel-3.0.6.pack.js"}
{introduce_script src="`$theme_assets_url`js/fancybox_2.0/jquery.fancybox.js"}
{introduce_script src="`$theme_assets_url`js/jquery.unveil.js"}
{introduce_css href="`$theme_assets_url`js/fancybox_2.0/jquery.fancybox.css"}

<!-- bx slider -->
{introduce_script src="`$theme_assets_url`js/bxslider/jquery.bxslider.min.js"}
{introduce_css href="`$theme_assets_url`js/bxslider/jquery.bxslider.css"}
<!-- bx slider -->

{introduce_script src="`$theme_assets_url`js/jquery.rwdImageMaps.min.js" zone="footer"}
{literal}
<style>
    .content-wrapper-inner,
    #container {
        margin: 0% 0 0 0 !important;
    }

    .common-wrap {
        margin: 0px 0% 0px 0% !important;
    }

    .common-wrap-seo {
        margin: 15px 6% 15px 6%;
    }

    .heading-category {
    color: #333333;
    font-family: tisa sans;
    font-size: 22px;
    font-weight: normal;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    }

    .bx-wrapper .bx-controls-direction a {
        top: 50%;
        margin: 0;
    }
    
    .bx-wrapper .bx-pager {
        display: inline;
    }
    
    .bottom-menu a {
        height: 30px;
        width: 135px;
        background-color: #e6e7e8;
        color: #555555;
        text-transform: uppercase;
        font-family: 'Tisa Sans Medium';
        font-size: 10px;
        letter-spacing: .08rem;
        margin-bottom: 5px;
        line-height: 33px;
        display: block;
    }
    
    .bottom-menu {
        text-align: center;
        margin: 0;
    }
    
    .left,
    .right {
        display: inline-block;
        width: 135px;
        text-align: center;
    }
    
    .left {
        margin-right: 5px;
    }
    
    .hr-dotted {
        background: url('{/literal}{$theme_assets_url}images/mobile/index/dottedline3.png{literal}') 0 0 repeat-x;
        height: 3px;
        margin: 20px 0 40px 0;
    }
    
    .bx-wrapper .bx-viewport .bxslider li {
        width: 100% !important;
    }
    
    .bx-wrapper .bx-controls-direction a {
        top: 25%;
        height: 75px;
        width: 75px;
    }
    
    .bx-wrapper .bx-prev {
        background-position: 3px center;
    }
    
    .bx-wrapper .bx-next {
        background-position: 47px center;
    }
    
    .bx-wrapper .bx-prev:hover {
        background-position: 3px center;
    }
    
    .bx-wrapper .bx-next:hover {
        background-position: 47px center;
    }
	
	img[usemap] {
		border: 0;
		height: auto;
		max-width: 100%;
		width: auto;
        outline: none;
	}s
    img {
        border: 0;
        outline: none;
    }
</style>
{/literal}
<div class="content-wrapper-inner">


    {*
    <!-- search box -->
    {search_form}
    <!-- end of the search box -->*}
    <!-- horizontal divider below -->
    {*
    <div class="horizontal-dashed-dvivider-e7e4e3"></div>*}
    <!-- category box -->
    <div class="heading-category">Newborn</div>

    <div class="da-rennab-zone" data-zone="category_wholepage"></div>
    <!--
    <div id="container" class="category-tree-box">
        <div> {*class="landing-container"> Landing Container for non-carousel use (1 image) only *}
             bx slider
            <ul class="bxslider">
                <li>
                    <div>
                        <img src="{$theme_assets_url}images/categories/newborn-clothes/mobile/20170119_SITE_NewbornDeptPage_Mobile_Cell1.jpg" width="750" height="1097" usemap="#slide1" />          
                    </div>
                </li>
                <li>
                    <div>
						<img src="{$theme_assets_url}images/categories/newborn-clothes/mobile/20170119_SITE_NewbornDeptPage_Mobile_Cell2.jpg" width="750" height="1097" usemap="#slide2" />                
                    </div>
                </li>
                <li>
                    <div>
						<img src="{$theme_assets_url}images/categories/newborn-clothes/mobile/20170119_SITE_NewbornDeptPage_Mobile_Cell3.jpg" width="750" height="1097" usemap="#slide3" />                
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{$theme_assets_url}images/categories/newborn-clothes/mobile/20170119_SITE_NewbornDeptPage_Mobile_Cell4.jpg" width="750" height="1097" usemap="#slide4" />                
                    </div>
                </li>
            </ul>
		</div>

		<map name="slide1">
			<area shape="rect" coords="1,15,749,657" href="{category_url category="newborn-clothes/favorites/girl"}" alt="Baby Boy held up in spring romper" title="Shop Newborn" />
			<area shape="rect" coords="1,806,376,925" href="{category_url category="newborn-clothes/favorites/girl"}" alt="" title="Shop Newborn Girl" />
            <area shape="rect" coords="375,806,749,925" href="{category_url category="newborn-clothes/favorites/boy"}" alt="" title="Shop Newborn Boy" />
            <area shape="rect" coords="1,924,749,1045" href="{category_url category="newborn-clothes/favorites/unisex"}" alt="" title="Shop Unisex" />
		</map>

		<map name="slide2">
			<area shape="rect" coords="1,15,749,657" href="http://m.teacollection.com/newborn-clothes/view-all" alt="Close up look at soft newborn style fabric" title="Shop Newborn" />
			<area shape="rect" coords="1,811,749,984" href="http://m.teacollection.com/newborn-clothes/view-all" alt="" title="Shop Newborn" />
		</map>

		<map name="slide3">
			<area shape="rect" coords="1,15,749,657" href="{category_url category="newborn/gift-ideas"}" alt="Newborn gift products" title="Shop All Gift Sets" />
			<area shape="rect" coords="1,770,376,889" href="{category_url category="newborn/gifts-under-30"}" alt="" title="Shop Gifts Under $30" />
            <area shape="rect" coords="375,770,749,889" href="{category_url category="newborn/gifts-under-50"}" alt="" title="Shop Gifts Under $50" />
            <area shape="rect" coords="1,888,749,1061" href="{category_url category="newborn/gift-ideas"}" alt="" title="Shop All Gift Sets" />
		</map>

        <map name="slide4">
            <area shape="rect" coords="1,15,749,657" href="{category_url category="newborn-clothes/favorites/aden-anais"}" alt="Tea x Aden &amp; Anais swaddles" title="Shop Tea x Aden &amp; Anais" />
            <area shape="rect" coords="1,807,749,980" href="{category_url category="newborn-clothes/favorites/aden-anais"}" alt="" title="Shop Tea x Aden &amp; Anais" />

	</div>
</div><br /><br />
-->

{literal}
<script>
    $(function () {

        // see more week 2
        $("#more2").on('click', function (e) {
            e.preventDefault();
            var page = $('#wk2').html();
            newItems = $(page).appendTo('#container');
            $(this).css("display", "none");
            $("#more1").css("display", "block");
        });

        // see more week 1
        $("#more1").on('click', function (e) {
            e.preventDefault();
            var page = $('#wk1').html();
            newItems = $(page).appendTo('#container');
            $(this).css("display", "none");
        });
    });

    jQuery(document).ready(function () {
		// jQuery('img[usemap]').rwdImageMaps();

        // bx slider
        /*jQuery('.bxslider').bxSlider({
           auto: true,
           mode: 'fade',
		   onSlideAfter: function(){
			// reload rwdImageMaps js
			 jQuery('img[usemap]').rwdImageMaps();
		   }
		});*/
        // end bx slider

        $("img").unveil();

        /*jQuery(".fancybox-iframe").fancybox({
            type: 'iframe',
            padding: 10,
            openEffect: 'elastic',
            closeEffect: 'elastic',
            iframe: {
                preload: false
            },
        });*/


       /* jQuery('#scroll-prompt').click(function () {
            jQuery('html, body').animate({
                scrollTop: $('#cell-8').offset().top
            }, 500);
            return false;
        });*/

        /*$(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 600) {
                    jQuery('#scroll-prompt').fadeOut();
                } else {
                    jQuery('#scroll-prompt').fadeIn();
                }
            });
        });
        */
    });
</script>
{/literal}

{introduce_script src="`$theme_assets_url`js/jquery.rwdImageMaps.min.js" zone="footer"}

{* CATEGORY TREE *}
{assign var="show_category" value="newborn-clothes/shop-by-category"}

<div class="cat-level-two">
	<div class="navigation-set"> 
        <a class="show-cat-level-three" id="ShopByCategory">
            <div class="subcategory-box" style="margin: 0;">
				<span class="nav-box-name lf">Shop By Category</span> 
                <img class="cat-level-two-plus rf" src="{$theme_assets_url}images/mobile/plus.png"/>
                <img class="cat-level-two-minus rf" src="{$theme_assets_url}images/mobile/minus.png"/>
            </div>
        </a>
		<div class="cat-level-three">
            {sub_cats name="cat3" category=$show_category}
                <a href="{$cat3.url}">
                    <div class="navigation-box {if $cat3.last}nav-last-box{/if}" style="margin: 0;">
                        <span class="nav-row">
                            <span class="nav-box-name lf">{$cat3.title}</span>
                            <img class="rf" src="{$theme_assets_url}images/mobile/b.png"/>
                        </span>
                    </div>
                </a>
			{/sub_cats}                                
        </div>    
    </div>
</div>

<script>
{literal}
jQuery(document).ready(function(){
    jQuery('.cat-level-two').show();
	jQuery('img[usemap]').rwdImageMaps();
})
{/literal}
</script>

<!--
<div class="common-wrap">
	<div class="landing-container">
		<a href="{category_url category="newborn-girl"}" title="Take It Easy">
            <img src="{$theme_assets_url}images/categories/newborn-clothes/mobile/20160707_SITE_DeptPage_M_NB_cell01.jpg" />
            <img src="{$theme_assets_url}images/categories/newborn-clothes/mobile/20160707_SITE_DeptPage_M_NB_cell02.jpg" usemap="#slide1" />
        </a>
	</div>
</div>

<map name="slide1">
	<area shape="rect" coords="1,138,700,251" href="{category_url category="newborn-girl"}" title="Shop Newborn Girl" />
	<area shape="rect" coords="1,250,700,355" href="{category_url category="newborn-boy"}" title="Shop Neborn Boy" />
	<area shape="rect" coords="1,354,700,467" href="{category_url category="newborn-unisex"}" title="Shop Unisex" />
	<area shape="rect" coords="0,480,368,863" href="{$html_url}product/6f52500/ena-wrap-romper" title="Ena Wrap Romper" />
	<area shape="rect" coords="367,480,699,863" href="{$html_url}product/6f62501/toyo-gown" title="Toyo Gown" />
</map>
-->

<div class="common-wrap03">
	<img src="{$theme_assets_url}images/categories/20160401_SITE_DeptHeader_M_NB_Essentials.jpg" width="100%">
	<div class="thumb-wrapper">
		{load_thumbs mode="category" category=$featured_category}
		{thumb_loop count=$featured_category_thumbs}
			{thumb}
				{include file="store:name=item/thumb.grid"}
			{/thumb}
		{/thumb_loop}
		<div class="clear"></div>
	</div>
</div>

<div class="common-wrap-seo">
	{if $category_seo}
		{$category_seo|smarty:nodefaults}
	{/if}
</div>

<div class="div40"></div>

{introduce_style}
{literal}

.landing-container a {
	display: block;
	position: relative;
}

.landing-container a img, .landing-container img  {
	width: 100%;
	display: block;
}

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}

{/literal}
{/introduce_style}

