.content-wrap {
  padding: 1rem;
  box-sizing: border-box;

  form {
    button,
    input,
    label {
      display: block;
      margin: 0 0 1.25rem;
    }

    label {
      font-family: gilroy-regular;
      font-size: 0.75rem;
      color: #47363D;
    }

    input {
      @media screen and (max-width:414px) {
        width: 100%;
      }
      background: #EDEBEC;
      border: none;
      width: 370px;
      height: 55px;
      box-sizing: border-box;
      padding: 0 0 0 1rem;
    }

    .processing {
      display: none;
    }

    .sent {
      color: #39B54A;
      display: none;
    }
  }
}