body {
	font-family:'Tisa Sans', Arial, Helvetica, sans-serif;
	color:#606063;
}

.bx-controls {
	position:relative;

	@media screen and (max-width:737px) {
		top:-338px;
	}

	@media screen and (max-width:376px) {
		top:-324px;
	}

	@media screen and (max-width: 321px) {
		top:-262px;
	}
}

.c1,.c2, .c3, .c4, .c5, .c6 {
	overflow:hidden;

	h2 {
		font-family:'mrdodo light';
		font-weight: normal;
		position: relative;
	}

	p {
		position: relative;
	}

	.cta {
		display: inline-block;
    	border: 1px solid;
    	width: 200px;
    	position: relative;
    	box-sizing: border-box;
    	font-size: 13px;
    	letter-spacing: 0.7px;
    	text-transform: uppercase;
    	text-decoration: none;
    	padding: 12px 1px 9px 0px;
	}
} //end of .c2, .c3, .c4, .c5, .c6

.mobile-hp {
	display:none;

	@media screen and(max-width:768px){
		display:block;
	}
}

#scroll-prompt {
	display:none;
}


@media screen and (max-width:768px) {
	.bx-wrapper {
		margin-bottom:0 !important;
	}
}

img, video {
	max-width:100%;
}

.desktop-hp {
	@media screen and (max-width:768px){
		display:none;
	}
}

.hp {
	//opacity: .5;

	.ref {
		position:absolute;
		//width:1000px;
		opacity:.5;
		//display:none;
	}
	
} // end of .hp

.c1 {
	@media screen and (max-width:768px) {
		padding-bottom:10px;
	}

	position:relative;
	top:0;

	img {

		&[data="d"] {
			@media screen and (max-width:768px) {
				display:none;
			}
		}
	}

	.d-links {
		@media screen and (max-width:768px) {
			display:none;
		}

		width: 576px;
		margin: auto;
		position:relative;
		top:-31px;

		a {
			display:inline-block;
			width:142px;
			text-decoration: none;
    		font-size: 13px;
    		letter-spacing: .1px;
    		position: relative;
    		color: #fff;
    		font-weight:bolder;
    		text-align:center;
		}
	}

	.mobile-hp {
		text-align:center;

		p {
			@media screen and (max-width:376px) {
				margin-top: 17px;
    			font-size: 12px;
    			letter-spacing: 0.5px;
    			line-height: 19px;
    			left: -2px;
			}

			@media screen and (max-width:320px) {
				margin-top: 14px;
    			font-size: 10px;
    			letter-spacing: 0.6px;
    			line-height: 16px;
    			left: 0px
			}

			margin-top: 20px;
    		font-size: 14px;
    		letter-spacing: 0.4px;
    		line-height: 20px;
    		left: -1px;
		}

		.cta {	
			@media screen and (max-width:376px) {
			    margin-top: 16px;
    			width: 157px;
    			left: -7px;
    			font-size: 11px;
			}

			@media screen and (max-width:320px) {
				margin-top: 13px;
    			width: 135px;
    			padding: 8px 0 6px 0;
    			left: -5px;
    			font-size: 9px;
			}

			margin-top: 18px;
    		width: 173px;
    		padding: 9px 0 6px 0;
    		left:-7px;
    		border-color:#28b7b6;
    		color:#28b7b6;
    		letter-spacing:0;

    		&:last-of-type {
    			@media screen and (max-width:376px) {
    				left:6px;
    			}

    			@media screen and (max-width:321px) {
    				left:5px;
    			}

    			left:8px;
    		}

    		&:hover, &:active {
    			background:#28b7b6;
    			color:#fff;
    		}
		}
	}

} // end of .c1

.c2 {
	@media screen and (max-width:768px) {
		margin-top:20px;
	}

	//overflow:hidden;
	margin-top:5px;

	div {

		&:first-of-type {
			@media screen and (max-width:768px) {
				width:100%;
				float:none;
			}

			float:left;
			width:704px;
		}

		&:last-of-type {
			@media screen and (max-width:768px) {
				display:none;
			}

			float:left;
			width:296px;
			text-align:center;
			background: url('/mas_assets/theme/tea_collection/images/homepage/170330/170330-hp-cell-2b.png') no-repeat top center;
			background-size:296px;
			height:395px;

			h2 {
				font-size: 24px;
    			top: 69px;
    			line-height: 26.3px;
    			letter-spacing: 0.3px;
    			color:#1d75bc;
    			left:3px;
			}

			p {
    			top: 114px;
    			font-size: 14px;
    			line-height: 21px;
    			letter-spacing:0.8px;
    			left:4px;
			}
		}
	}	
} //end of .c2

.c3 {
	@media screen and (max-width:768px) {
		margin-top:0;
		padding-bottom:10px;
	}

	margin-top:4px;

	div {

		&:first-of-type {
			@media screen and (max-width:768px) {
				width:100%;
				float:none;
				height:auto;
				background:none;
			}

			width: 501px;
    		float: left;
    		text-align: center;
    		background: url(/mas_assets/theme/tea_collection/images/homepage/170330/170330-hp-cell-3a.png) no-repeat center top;
    		height: 500px;
    		background-size: 501px;

			h2 {
				@media screen and (max-width:768px) {
					display:none;
				}

				font-family: 'mrdodo regular';
				top:142px;
				letter-spacing:-0.5px;
				font-size:31px;
				color:#e17aad;
				left:-11px;
			}

			p {
				
				&:first-of-type {
					@media screen and (max-width:768px) {
						top:19px;
						left:0;
						letter-spacing:0.4px;
					}

					@media screen and (max-width:376px) {
						top: 17px;
    					left: 1px;
    					letter-spacing: 0.6px;
    					font-size: 12px;
    					line-height: 19px;
					}

					@media screen and (max-width:321px) {
						top: 14px;
    					font-size: 10px;
    					line-height: 16px;
					}

					font-size:14px;
					top:161px;
					line-height:21px;
					letter-spacing: 0.75px;
					left:-11px;
				}

				&:last-of-type {
					@media screen and (max-width:768px) {
						display:none;
					}

					font-size:14px;
					top:177px;
					letter-spacing:0.6px;
					font-family:'mrdodo light';
					left:-10px;
				}
			}

			a {
				@media screen and (max-width:768px) {
					margin-top: 35px;
    				width: 173px;
    				padding: 9px 0 8px 0;
    				letter-spacing: 0;
    				color:#d85194;
    				border-color:#d85194;
    				top:0;
					left:-7px;
				}

				@media screen and (max-width:376px) {
			    	margin-top: 34px;
    				width: 157px;
    				left: -7px;
    				font-size: 11px;
    				padding: 9px 0 6px 0;
				}

				@media screen and (max-width:320px) {
					margin-top: 27px;
					width: 134px;
    				left: -5px;
    				font-size: 9px;
    				padding: 9px 0 5px 0;
				}

				color:#4cc2c2;
				border-color:#4cc2c2;
				top: 194px;
    			left: 91px;

				&:last-of-type {
					@media screen and (max-width:768px) {
						top:0;
						left:7px;
					}

					@media screen and (max-width:321px) {
						left:5px;
					}

    				top: 252px;
    				left: -111px;
				}

				&:hover {
					@media screen and (max-width:768px) {
						background:#d85194;
					}

					background:#4cc2c2;
					color:#fff;
				}
			}
		}

		&:last-of-type {
			@media screen and (max-width:768px) {
				display:none;
			}

			width:499px;
			float:left;
		}
	}
} //end of .c3

.c4 {
	@media screen and (max-width:768px) {
		background:none;
		height:auto;
		margin-top:0;
		padding-bottom:10px;
	}

	background: url('/mas_assets/theme/tea_collection/images/homepage/170330/170330-hp-cell-4.jpg') no-repeat top center;
	margin-top:5px;
	height:500px;
	//opacity:.5;

	div {

		&:first-of-type {
			@media screen and (max-width:768px) {
				width:100%;
				left:0;
				height:auto;
			}

			text-align:center;
			position:relative;
			width:300px;
			left:700px;
			height:467px;

			h2 {
				@media screen and (max-width:768px) {
					display:none;
				}

				font-size: 31px;
    			top: 112px;
    			left: 5px;
    			line-height: 34px;
    			letter-spacing: -0.75px;
    			font-family: 'mrdodo regular';
    			color:#c35d9f;
			}

			p {
				font-size:14px;

				&:first-of-type {
					@media screen and (max-width:768px) {
						margin-top:21px;
						top:0;
						left:0;
						letter-spacing:0.4px;
					}

					@media screen and (max-width:376px) {
						margin-top: 17px;
    					letter-spacing: 0.7px;
    					font-size: 12px;
    					line-height: 19px;
					}

					@media screen and (max-width:321px) {
						margin-top: 14px;
    					font-size: 10px;
    					line-height: 16px;
					}
					
					top: 121px;
    				letter-spacing: 0.7px;
    				left: 7px;
    				line-height: 20px;
				}

				&:last-of-type {
					@media screen and (max-width:768px) {
						display:none;
					}

					top: 140px;
    				font-family: 'mrdodo light';
    				left: 7px;
    				line-height: 18px;
				}
			}

			a {

				color:#c35d9f;
				border-color:#c35d9f;
    			top: 156px;
    			left: 8px;

    			&:hover {
    				background:#c35d9f;
    				color:#dbd38f;
    			}

			}

			.cta {
				@media screen and (max-width:768px) {
					display:none;
				}
			}
		}

		&:last-of-type {

			a {
				@media screen and (max-width:768px) {
					margin-top:17px;
					text-align:center;
					padding:10px 0 5px 0;
					width:174px;
					color:#9b76b4;
					border-color:#9b76b4;
				}

				@media screen and (max-width:376px) {
    				padding: 10px 0 7px 0;
    				width: 157px;
    				font-size: 10px;
				}

				@media screen and (max-width:321px) {
					margin-top:13px;
					padding: 9px 0 5px 0;
    				width: 133px;
    				font-size: 10px
				}

				text-decoration: none;
    			font-size: 13px;
    			letter-spacing: .1px;
    			position: relative;
    			color:#606063;
    			font-weight:bolder;

				&:first-of-type {
					@media screen and (max-width:768px) {
						top:0;
						left:-8px;
					}

					@media screen and (max-width:376px) {
						top:0;
						left:-8px;
					}

					@media screen and (max-width:321px) {
						top:0;
						left:-7px;
					}

					left: 65px;
    				top: 1px;
				}

				&:nth-of-type(2) {
					@media screen and (max-width:768px) {
						top:0;
						left:8px;
					}

					@media screen and (max-width:376px) {
						top:0;
						left:7px;
					}
					
					

					@media screen and (max-width:321px) {
						left:7px;
					}

					left: 100px;
    				top: 1px;
				}

				&:nth-of-type(3) {
					@media screen and (max-width:768px) {
						top:0;
						left:-6px;
					}
					
					@media screen and (max-width:376px) {
						top:-3px;
						left:-7px;
					}

					@media screen and (max-width:321px) {
						top:-2px;
						left:-6px;
					}

					left: 289px;
    				top: 1px;
				}

				&:last-of-type {
					left: 345px;
    				top: 1px;
				}

				
				@media screen and (max-width:768px) {
					&:nth-of-type(4) {
						top:0;
						left:7px;
					}

					&:hover {
						background:#9b76b4;
						color:#fff;
					}
				}

				@media screen and (max-width:376px) {
					&:nth-of-type(4) {
						top:-3px;
						left:6px;
					}
				}

				@media screen and (max-width:321px) {
					&:nth-of-type(4) {
						top:-2px;
						left:6px;
					}
				}

			}
		}

	}
} //end of .c4

.c5 {
	@media screen and (max-width:768px) {
		background:none;
		margin-top:0;
		height:auto;
		padding-bottom:10px;
	}

	background:url('/mas_assets/theme/tea_collection/images/homepage/170330/170330-hp-cell-5.jpg') no-repeat top center;
	margin-top:10px;
	margin-bottom:10px;
	height:600px;

	div {
		@media screen and (max-width:768px) {
			width:100%;
			left:0;
		}

		width:500px;
		position:relative;
		left:500px;
		text-align:center;
		color:#fff;

		h2 {
			@media screen and (max-width:768px) {
				display:none;
			}

			font-size: 31px;
   			font-family: 'mrdodo regular';
    		left: -3px;
    		top: 25px;
		}

		p {
			@media screen and (max-width:768px) {
				color:#606063;
				top:0;
				left:0;
				margin-top:21px;
				letter-spacing:0.4px;
			}

			@media screen and (max-width:376px) {
				margin-top:17px;
				letter-spacing:0.7px;
				font-size:12px;
				line-height:19px;
			}

			@media screen and (max-width:321px) {
				margin-top:14px;
				font-size:10px;
				line-height:17px;
			}


			font-size: 14px;
    		top: 43px;
    		letter-spacing: 0.75px;
    		line-height: 20px;
    		left: -3px;
		}

		a {
			@media screen and (max-width:768px) {
				top:0;
				left:-7px;
				color:#f4889a;
				border-color:#f4889a;
				margin-top:17px;
				padding:9px 0 7px 0 !important;
				width:173px !important;
			}

			@media screen and (max-width:376px) {
    			padding: 9px 0 7px 0 !important;
    			width: 156px !important;
    			font-size: 10px !important;
			}

			@media screen and (max-width:321px) {
    			padding: 9px 0 5px 0 !important;
    			width: 135px !important;
    			font-size: 9px !important;
    			margin-top:12px;
    			left:-4px;
			}

			color:#fff;
			border-color:#fff;
			top: 55px;
    		left: -12px;


			&:last-of-type {
				@media screen and (max-width:768px) {
					top:0;
					left:7px;
				}

				@media screen and (max-width:321px) {
					left:6px;
				}

				top:55px;
				left:6px;
			}

			&:hover {
				@media screen and (max-width:768px) {
					background:#f4889a;
					color:#fff;
				}

				background: #fff;
				color:#fd9096;
			}
		}
	}
} //end of .c5

.c6 {
	@media screen and (max-width:768px) {
		margin-top:0;
		padding-bottom:10px;
	}

	margin-top:9px;

	div {

		&:first-of-type {
			@media screen and (max-width:768px) {
				display:none;
			}

			width:685px;
			float:left;
		}

		&:last-of-type {
			@media screen and (max-width:768px) {
				width:100%;
				float:none;
				background:none;
				height:auto;
			}

			width:315px;
			float:left;
			text-align:center;
			background: url('/mas_assets/theme/tea_collection/images/homepage/170330/170330-hp-cell-6b.png') no-repeat top center;
			height:500px;

			h2 {
				@media screen and (max-width:768px) {
					display:none;
				}

				font-size: 30px;
    			font-family: 'mrdodo regular';
    			top: 156px;
    			left: 2px;
    			line-height: 35px;
    			color:#d85194;
			}

			p {
				@media screen and (max-width:768px) {
					left:0;
					top:0;
					margin-top:20px;
					letter-spacing:0.4px;
				}

				@media screen and (max-width:376px) {
					margin-top:17px;
					letter-spacing:0.7px;
					font-size:12px;
					line-height:19px;
				}

				@media screen and (max-width:321px) {
					margin-top:15px;
					font-size:10px;
					line-height:17px;
				}

				font-size: 14px;
    			top: 164px;
    			left: 2px;
    			letter-spacing: .75px;
    			line-height: 20px;
			}

			a {
				@media screen and (max-width:768px) {
					top:0;
					left:-7px;
					margin-top:18px;
					padding:9px 0 6px 0;
					width:173px;
					letter-spacing:0;
				}

				@media screen and (max-width:376px) {
					margin-top:17px;
					width:157px;
					font-size:11px;
				}

				@media screen and (max-width:321px) {
					margin-top:12px;
					width:133px;
					font-size:9px;
					padding:9px 0 5px 0;
				}

				border-color:#3885c4;
				color:#3885c4;
				top:177px;
				left:3px;

				&:last-of-type {
					@media screen and (max-width:768px) {
						top:0;
						left:7px;
					}

					@media screen and (max-width:321px) {
						left:7px;
					}

					top:197px;
					left:3px;
				}

				&:hover {
					background:#3885c4;
					color:#fff;
				}
			}
		}
	}
	
}// end of .c6

@media screen and (max-width:768px) {
	#olapic_specific_widget, #scroll-prompt, .homepage-text-under-olapic {
		display:none;
	}
}