.desktop {
	@media screen and (max-width:736px) {
		display: none;
	}
}

.mobile {
	display: none;
	@media screen and (max-width:736px) {
		display: block;
	}
}

.values-wrap {
	@media screen and (max-width:737px) {}
	text-align: center;

	.values-cell {
		@media screen and (max-width:1024px) {
			padding: 0;
		}
		margin: 4em 0;
		box-sizing: border-box;
		padding: 0 20em;
	}

	img {
		@media screen and (max-width:737px) {
			margin: 0 auto;
		}
		max-width: 100%;
	}
}