<style>
/*------------------------------------------------------------------------*/
/*-- elements styles --*/
body {
  color: #606063;
}
img,
video {
  max-width: 100%;
}
/*------------------------------------------------------------------------*/
/*-- slideshow styles --*/
.bx-controls {
  position: relative;
  display: none;
}
@media screen and (min-width: 374px) and (max-width: 376px) {
  .bx-controls {
    display: block;
    top: -27em;
  }
}
@media screen and (min-width: 374px) and (max-width: 376px) {
  .bx-pager {
    display: block !important;
    bottom: -186px !important;
  }
}
@media screen and (max-width: 768px) {
  .bx-wrapper {
    margin-bottom: 0 !important;
  }
}
/*------------------------------------------------------------------------*/
/*-- classes and ids styles --*/
#scroll-prompt {
  display: none;
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}
.mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block !important;
  }
}
.ref {
  position: absolute;
  max-width: 100%;
}
.body-copy {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: .2px;
  position: relative;
  font-family: brown-pro-regular;
}
@media screen and (max-width: 737px) {
  .body-copy {
    font-size: 1em;
    line-height: 1.59em;
    letter-spacing: .05em;
  }
}
@media screen and (max-width: 376px) {
  .body-copy {
    font-size: .9em;
  }
}
@media screen and (max-width: 321px) {
  .body-copy {
    font-size: .8em;
    letter-spacing: .5px;
  }
}
.cta {
  display: inline-block;
  font-family: brown-pro-bold !important;
  border: 1px solid;
  width: 200px;
  position: relative;
  font-size: 15px;
  letter-spacing: .2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 0 9px;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (max-width: 737px) {
  .cta {
    width: 42%;
    left: 0px;
    padding: 1em 0 .7em;
    font-size: .8em;
  }
}
@media screen and (max-width: 415px) {
  .cta {
    font-size: .8em;
    letter-spacing: 1.1px;
  }
}
@media screen and (max-width: 376px) {
  .cta {
    font-size: .7em;
  }
}
@media screen and (max-width: 321px) {
  .cta {
    font-size: .6em;
  }
}
/*------------------------------------------------------------------------*/
/*-- hp styles --*/
.hp {
  overflow: hidden;
}
/*------------------------------------------------------------------------*/
.c2,
.c3,
.c4,
.c5 {
  position: relative;
  float: left;
  width: 326px;
  margin-right: 10px;
  text-align: center;
}
@media screen and (max-width: 737px) {
  .c2,
  .c3,
  .c4,
  .c5 {
    margin: 0;
  }
}
.c2 div img,
.c3 div img,
.c4 div img,
.c5 div img {
  margin-bottom: 20px;
}
@media screen and (max-width: 737px) {
  .c2 div img,
  .c3 div img,
  .c4 div img,
  .c5 div img {
    margin-bottom: 35px;
  }
}
.c2 div .cta,
.c3 div .cta,
.c4 div .cta,
.c5 div .cta {
  margin-top: 22px;
  color: #d85094;
  width: 250px;
}
@media screen and (max-width: 736px) {
  .c2 div .cta,
  .c3 div .cta,
  .c4 div .cta,
  .c5 div .cta {
    margin-top: 17px !important;
    width: 88% !important;
  }
}
.c2 div .cta:hover,
.c3 div .cta:hover,
.c4 div .cta:hover,
.c5 div .cta:hover,
.c2 div .cta:active,
.c3 div .cta:active,
.c4 div .cta:active,
.c5 div .cta:active {
  background: #d85094;
  border-color: #d85094;
  color: #fff;
}
@media screen and (max-width: 737px) {
  .c2 div .cta:hover,
  .c3 div .cta:hover,
  .c4 div .cta:hover,
  .c5 div .cta:hover,
  .c2 div .cta:active,
  .c3 div .cta:active,
  .c4 div .cta:active,
  .c5 div .cta:active {
    background: #d75196;
    border-color: #d75196;
  }
}
/*------------------------------------------------------------------------*/
.c1 {
  background: url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/homepage/170727/c1-d.jpg') no-repeat top center;
  min-height: 500px;
  margin-bottom: 10px;
}
@media screen and (max-width: 737px) {
  .c1 {
    background: none;
    min-height: auto;
  }
}
.c1 div {
  width: 296px;
  margin-top: 357px;
  float: right;
  text-align: center;
}
@media screen and (max-width: 737px) {
  .c1 div {
    width: 100%;
    float: none;
    margin-top: 0;
  }
}
.c1 div .text {
  margin-top: 146px;
  position: relative;
  left: 4px;
}
.c1 div p {
  margin-top: 35px;
}
.c1 div .cta {
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  color: #d85094;
  left: -14px;
  border-color: #d85094;
  width: 250px;
}
@media screen and (max-width: 737px) {
  .c1 div .cta {
    width: 42%;
    margin-right: 3%;
    left: 0px;
    margin-top: 17px;
  }
}
@media screen and (max-width: 737px) {
  .c1 div .cta:last-of-type {
    margin-right: 0;
  }
}
.c1 div .cta:hover,
.c1 div .cta:active {
  background: #d85094;
  color: #fff;
}
/*------------------------------------------------------------------------*/
.c2 {
  margin-bottom: 53px;
  overflow: hidden;
}
@media screen and (max-width: 737px) {
  .c2 {
    height: auto;
  }
}
@media screen and (max-width: 415px) {
  .c2 {
    height: 522px;
  }
}
@media screen and (max-width: 376px) {
  .c2 {
    height: 473px;
  }
}
@media screen and (max-width: 321px) {
  .c2 {
    height: 404px;
  }
}
@media screen and (max-width: 737px) {
  .c2 div {
    float: none;
    height: auto;
  }
}
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
.c4 {
  margin-right: 0 !important;
}
.c4 div .cta {
  width: 140px;
  margin-right: 20px;
}
@media screen and (max-width: 737px) {
  .c4 div .cta {
    width: 42% !important;
    margin-right: 3%;
  }
}
.c4 div .cta:last-of-type {
  margin-right: 0;
}
/*------------------------------------------------------------------------*/
.video {
  float: left;
  width: 100%;
}
/*------------------------------------------------------------------------*/
.c5 {
  width: 100%;
}
@media screen and (max-width: 737px) {
  .c5 {
    height: auto;
  }
}
@media screen and (max-width: 737px) {
  .c5 div img {
    margin-bottom: 51px;
  }
}
@media screen and (min-width: 374px) and (max-width: 376px) {
  .c5 div img {
    height: 281px;
  }
}
.c5 div .cta {
  margin: 0 auto;
}
/*------------------------------------------------------------------------*/
/*-- olapic styles --*/
@media screen and (max-width: 768px) {
  #olapic_specific_widget,
  #scroll-prompt,
  .homepage-text-under-olapic {
    display: none;
  }
}

</style>