.customer-service-2 {
	font-size: 1rem;

	a {}

	ul {
		padding: 0 0 0 1rem;

		li {
			margin-bottom: 10px;
		}
	}

	h2 {}

	h3 {}

	h4 {}

	p {}
}

table.holiday {
	td,
	th {
		color: #be1d22;
		border: 1px solid #be1d22 !important;
	}
}

.shipping-tables {
	width: 100%;

	td,
	th {
		border: 1px solid;
		padding: 1rem;

		span {}
	}
}