body {
	font-family:'tisa sans';	
} 
.mobile-cat {
	@media screen and (max-width:768px) {
		display:block;
	}

	display:none;
}

@media screen and (max-width:768px){
	.dept-baby-boy-clothes {
		display:none; 
	}
	.common-wrap {
		margin:0;
	}
}

.title {
	color: #333333;
    font-family: tisa sans;
    font-size: 22px;
    font-weight: normal;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    //display:none;
}

img {
	max-width:100%;
}

.cta {
	@media screen and (max-width:768px) {
		font-size: 12px;
		padding: 10px 0 7px 0;
		width: 172px;
	}

   	width: 198px;
    padding: 12px 0 9px 0;
    border:1px solid;
    letter-spacing:0;
    text-decoration:none;
    text-transform:uppercase;
    position:relative;
    font-size:14px;
}

.girls-clothing-cat {
	@media screen and (max-width:768px) {
		background:none;
		height:auto;

		//background:url(/mas_assets/theme/tea_collection/images/categories/baby-boy-clothes/170330/170330-bb-m-ref.jpg) no-repeat top center;
		//background-size:contain;
		//height:1007px;
		//opacity:.5;
	}

	background:url(/mas_assets/theme/tea_collection/images/categories/baby-boy-clothes/170330/170330-bb.jpg) no-repeat top center;
	//background:url(../images/170330-bb-ref.jpg) no-repeat top center;
	height:486px;
	//opacity:.5;

	div { 

	&:first-of-type {
		

		a {
			position:absolute;
			display:inline-block;
			z-index:9999;

			&:first-of-type {
				@media screen and (max-width:768px) {
					width:100%;
					left:0;
				}

				width:322px;
				height:485px;
				top:119px;
				left:202px;
			}

			&:nth-of-type(2) {
				@media screen and (max-width:768px) {
					display:none;
				}

				width:187px;
				height:205px;
				top:128px;
				left:568px;
			}

			&:last-of-type {
				@media screen and (max-width:768px) {
					display:none;
				}

				width:187px;
				height:205px;
				top:128px;
				left:770px;
			}
		}
	} // end of div:first-of-type

	&:last-of-type {
		@media screen and (max-width:768px) {
			width:100%;
			left:0;
		}

		width:485px;
		left:313px;
		position:relative;
		text-align:center;

		span {
			@media screen and (max-width:768px) {
				display:none;
			}

			display: inline-block;
    		font-family: 'mrdodo light';
    		position: relative;
    		top: 51px;
    		left: 194px;
    		font-size: 14px;
    		text-align: center;
		}

		h2 {
			@media screen and (max-width:768px) {
				display:none;
			}

			position: relative;
    		top: 245px;
    		font-family: 'mrdodo light';
    		font-size: 31px;
    		left: 19px;
    		letter-spacing: 0.3px;
    		color: #c0cb44;
    		line-height: 35px;
			//display:none;
		} 

		p {
			@media screen and (max-width:768px) {
				top: 0;
    			left: 0px;
    			margin-top: 19px;
    			font-size: 13px;
    			letter-spacing: 0.7px;
    			line-height: 20px;
			}

			@media screen and (max-width:376px) {
    			margin-top: 18px;
    			font-size: 12px;
    			letter-spacing: 0.6px;
    			line-height: 19px;
			}

			@media screen and (max-width: 321px) {
			    margin-top: 17px;
    			font-size: 10px;
    			line-height: 15px;
			}

			position: relative;
    		top: 220px;
    		font-size: 15px;
    		line-height: 21px;
    		left: 19px;
    		letter-spacing: 0.3px;
			//display:none;

		}

		a {
			@media screen and (max-width:768px) {
				top: 0;
    			left: 0px;
    			margin-top: 18px;
    			color: #f47c74;
    			border-color: #f47c74;
			}

			@media screen and (max-width: 376px) {
    			margin-top: 15px;
    			width: 156px;
    			font-size: 11px;
    			padding: 9px 0 7px 0;
			}

			@media screen and (max-width:321px) {
				margin-top: 16px;
    			width: 135px;
    			font-size: 9px;
			}

			display: inline-block;
    		top: 239px;
    		left: 19px;
    		color: #009b9b;
    		border-color: #009b9b;

			
			&:hover {
				@media screen and (max-width:768px) {
					background:#f47c74;
				}

				background:#009b9b;
				color:#fff;
			}
		}
	} //end of div:last-of-type

	} //end of div

}