body {
	font-family:'tisa sans';	
} 
.mobile-cat {
	@media screen and (max-width:768px) {
		display:block;
	}

	display:none;
} 

@media screen and (max-width:768px){
	.dept-boys-clothing {
		display:none; 
	}
	.common-wrap {
		margin:0;
	}
}

.title {
	color: #333333;
    font-family: tisa sans;
    font-size: 22px;
    font-weight: normal;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    //display:none;
}

img {
	max-width:100%;
}

.cta {
	@media screen and (max-width:768px) {
		font-size: 12px;
		padding: 10px 0 7px 0;
		width: 172px;
	}

   	width: 198px;
    padding: 12px 0 9px 0;
    border:1px solid;
    letter-spacing:0;
    text-decoration:none;
    text-transform:uppercase;
    position:relative;
    font-size:14px;
}

.girls-clothing-cat {
	@media screen and (max-width:768px) {
		background:none;
		height:auto;

		//background:url(/mas_assets/theme/tea_collection/images/categories/boys-clothing/170330/170330-b-m-ref.jpg) no-repeat top center;
		//background-size:contain;
		//height:1007px;
		//opacity:.5;
	}

	background:url(/mas_assets/theme/tea_collection/images/categories/boys-clothing/170330/170330-b.jpg) no-repeat top center;
	height:486px;
	//opacity:.5;

	div {

	&:first-of-type {

		a {
			position:absolute;
			display:inline-block;
			z-index:999;

			&:first-of-type {
				@media screen and (max-width:768px) {
					width:100%;
					left:0;
				}

				width:322px;
				height:485px;
				top:119px;
				left:202px;
			}

			&:nth-of-type(2) {
				@media screen and (max-width:768px) {
					display:none;
				}

				width:187px;
				height:205px;
				top:128px;
				left:568px;
			}

			&:last-of-type {
				@media screen and (max-width:768px) {
					display:none;
				}

				width:187px;
				height:205px;
				top:128px;
				left:770px;
			}
		}
	} // end of div:first-of-type

	&:last-of-type {
		@media screen and (max-width:768px) {
			width:100%;
			left:0;
		}

		width:485px;
		left:313px;
		position:relative;
		text-align:center;

		h2 {
			@media screen and (max-width:768px) {
				display:none;
			}

			position: relative;
			top: 249px;
			font-family: 'mrdodo light';
			font-size: 31px;
			left: 17px;
			letter-spacing: .3px;
			color: #00a9ba;
		} 

		p {
			@media screen and (max-width:768px) {
				top: 0;
				left: 1px;
				margin-top: 20px;
				font-size: 13px;
				letter-spacing: 0.8px;
				line-height: 20px;
			}

			@media screen and (max-width:376px) {
    			margin-top: 17px;
    			font-size: 12px;
    			letter-spacing: 0.6px;
    			line-height: 19px;
			}

			@media screen and (max-width:321px) {
				margin-top: 15px;
    			font-size: 10px;
    			letter-spacing: 0.7px;
    			line-height: 16px;
			}

			position: relative;
			top: 265px;
			font-size: 15px;
			line-height: 21px;
			left: 16px;
			letter-spacing: 0.3px;

			&:last-of-type {
				@media screen and (max-width:768px) {
					display:none;
				}

				font-family: 'mrdodo light';
				top: 277px;
				font-size: 14px;
				left: 20px;
			}
		}

		a {
			@media screen and (max-width:768px) {
				top:0;
				left:-7px;
				margin-top:18px;
				color:#00a9ba;
				border-color:#00a9ba;
			}

			@media screen and (max-width:376px) {
    			margin-top: 16px;
    			width: 155px;
    			padding: 9px 0 5px 0;
			}

			@media screen and (max-width: 321px) {
				margin-top: 13px;
    			width: 131px;
    			padding: 8px 0 4px 0;
    			font-size: 10px;
			}

			display:inline-block;
			top:293px;
			left:7px;
			color:#c7d05c;
			border-color:#c7d05c;

			&:last-of-type {
				@media screen and (max-width:768px) {
					left:7px;
				}

				@media screen and (max-width:321px) {
					left:5px; 
				}

				left:25px;
			}
			
			&:hover {
				@media screen and (max-width:768px) {
					background:#00a9ba;
				}

				background:#c7d05c;
				color:#fff;
			}
		}
	} //end of div:last-of-type
	} //end of div

}