body {
	font-family:'tisa sans';	
} 
.mobile-cat {
	@media screen and (max-width:768px) {
		display:block;
	}

	display:none;
}

@media screen and (max-width:768px){
	.dept-girls-clothing {
		display:none; 
	}
	.common-wrap {
		margin:0;
	}
}

.title {
	color: #333333;
    font-family: tisa sans;
    font-size: 22px;
    font-weight: normal;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    //display:none;
}

img {
	max-width:100%;
}

.cta {
	@media screen and (max-width:768px) {
		font-size: 12px;
		padding: 10px 0 7px 0;
		width: 172px;
	}

   	width: 198px;
    padding: 12px 0 9px 0;
    border:1px solid;
    letter-spacing:0;
    text-decoration:none;
    text-transform:uppercase;
    position:relative;
    font-size:14px;
}

.girls-clothing-cat {
	@media screen and (max-width:768px) {
		background:none;
		height:auto;

		//height:1007px;
		//background:url(/mas_assets/theme/tea_collection/images/categories/girls-clothing/170330/170330-g-m-ref.jpg) no-repeat top center;
		//background-size:contain;
		//opacity:.5;
	}

	background:url(/mas_assets/theme/tea_collection/images/categories/girls-clothing/170330/170330-g.jpg) no-repeat top center;
	height:486px;
	//opacity:.5;

	div {

	&:first-of-type {

		a {
			position:absolute;
			display:inline-block;
			z-index:9999;

			&:first-of-type {
				@media screen and (max-width:768px) {
					width:100%;
					left:0;
				}
				
				width:311px;
				height:485px;
				top:119px;
				left:202px;
			}

			&:nth-of-type(2) {
				@media screen and (max-width:768px) {
					display:none;
				}

				width:187px;
				height:205px;
				top:174px;
				left:568px;
			}

			&:last-of-type {
				@media screen and (max-width:768px) {
					display:none;
				}

				width:187px;
				height:205px;
				top:174px;
				left:770px;
			}
		}
	} // end of div:first-of-type


	&:last-of-type {
		@media screen and (max-width:768px) {
			width:100%;
			left:0;
		}

		width:485px;
		left:313px;
		position:relative;
		text-align:center;

		h2 {
			@media screen and (max-width:768px) {
				display:none;
			}

			position: relative;
			top: 282px;
			font-family: 'mrdodo regular';
			font-size: 28px;
			left: 7px;
			letter-spacing: .9px;
			color:#c0cb44;
		}

		p {
			@media screen and (max-width:768px) {
				top: 0;
				left: 1px;
				margin-top: 20px;
				font-size: 13px;
				letter-spacing: 0.8px;
				line-height: 20px;
			}

			@media screen and (max-width:376px) {
    			margin-top: 19px;
    			letter-spacing: 1px;
    			line-height: 19px;
    			font-size: 11px;
			}

			@media screen and (max-width:321px) {
    			margin-top: 15px;
    			line-height: 16px;
    			font-size: 9px;
			}

			position: relative;
			top: 298px;
			font-size: 16px;
			line-height: 21px;	
			left: 7px;
			letter-spacing: -.1px;
		} 

		a {
			@media screen and (max-width:768px) {
				top:0;
				left:-7px;
				margin-top:18px;
			}

			@media screen and (max-width:376px) {
    			left: -6px;
    			margin-top: 14px;
    			width: 156px;
    			padding: 9px 0 5px 0;
			}

			@media screen and (max-width:321px) {
    			margin-top: 13px;
    			width: 131px;
    			padding: 7px 0 5px 0;
    			font-size:10px;
			}

			display:inline-block;
			top:317px;
			left:-3px;
			color:#367bbf;
			border-color:#367bbf;

			&:last-of-type {
				@media screen and (max-width:768px) {
					left:7px;
				}

				@media screen and (max-width:321px) {
					left:7px; 
				}

				left:16px;
			}
			
			&:hover {
				background:#367bbf;
				color:#fff;
			}
		}

	} //end of div:last-of-type

	} //end of div

}