<style>
body {
  font-family: 'tisa sans';
}
.mobile-cat {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-cat {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .dept-girls-clothing {
    display: none;
  }
  .common-wrap {
    margin: 0;
  }
}
.title {
  color: #333333;
  font-family: tisa sans;
  font-size: 22px;
  font-weight: normal;
  padding: 0 0 10px;
  text-align: center;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
.cta {
  width: 198px;
  padding: 12px 0 9px 0;
  border: 1px solid;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .cta {
    font-size: 12px;
    padding: 10px 0 7px 0;
    width: 172px;
  }
}
.girls-clothing-cat {
  background: url(/mas_assets/theme/tea_collection/images/categories/girls-clothing/170330/170330-g.jpg) no-repeat top center;
  height: 486px;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat {
    background: none;
    height: auto;
  }
}
.girls-clothing-cat div:first-of-type a {
  position: absolute;
  display: inline-block;
  z-index: 9999;
}
.girls-clothing-cat div:first-of-type a:first-of-type {
  width: 311px;
  height: 485px;
  top: 119px;
  left: 202px;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat div:first-of-type a:first-of-type {
    width: 100%;
    left: 0;
  }
}
.girls-clothing-cat div:first-of-type a:nth-of-type(2) {
  width: 187px;
  height: 205px;
  top: 174px;
  left: 568px;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat div:first-of-type a:nth-of-type(2) {
    display: none;
  }
}
.girls-clothing-cat div:first-of-type a:last-of-type {
  width: 187px;
  height: 205px;
  top: 174px;
  left: 770px;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat div:first-of-type a:last-of-type {
    display: none;
  }
}
.girls-clothing-cat div:last-of-type {
  width: 485px;
  left: 313px;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat div:last-of-type {
    width: 100%;
    left: 0;
  }
}
.girls-clothing-cat div:last-of-type h2 {
  position: relative;
  top: 282px;
  font-family: 'mrdodo regular';
  font-size: 28px;
  left: 7px;
  letter-spacing: .9px;
  color: #c0cb44;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat div:last-of-type h2 {
    display: none;
  }
}
.girls-clothing-cat div:last-of-type p {
  position: relative;
  top: 298px;
  font-size: 16px;
  line-height: 21px;
  left: 7px;
  letter-spacing: -0.1px;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat div:last-of-type p {
    top: 0;
    left: 1px;
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 20px;
  }
}
@media screen and (max-width: 376px) {
  .girls-clothing-cat div:last-of-type p {
    margin-top: 19px;
    letter-spacing: 1px;
    line-height: 19px;
    font-size: 11px;
  }
}
@media screen and (max-width: 321px) {
  .girls-clothing-cat div:last-of-type p {
    margin-top: 15px;
    line-height: 16px;
    font-size: 9px;
  }
}
.girls-clothing-cat div:last-of-type a {
  display: inline-block;
  top: 317px;
  left: -3px;
  color: #367bbf;
  border-color: #367bbf;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat div:last-of-type a {
    top: 0;
    left: -7px;
    margin-top: 18px;
  }
}
@media screen and (max-width: 376px) {
  .girls-clothing-cat div:last-of-type a {
    left: -6px;
    margin-top: 14px;
    width: 156px;
    padding: 9px 0 5px 0;
  }
}
@media screen and (max-width: 321px) {
  .girls-clothing-cat div:last-of-type a {
    margin-top: 13px;
    width: 131px;
    padding: 7px 0 5px 0;
    font-size: 10px;
  }
}
.girls-clothing-cat div:last-of-type a:last-of-type {
  left: 16px;
}
@media screen and (max-width: 768px) {
  .girls-clothing-cat div:last-of-type a:last-of-type {
    left: 7px;
  }
}
@media screen and (max-width: 321px) {
  .girls-clothing-cat div:last-of-type a:last-of-type {
    left: 7px;
  }
}
.girls-clothing-cat div:last-of-type a:hover {
  background: #367bbf;
  color: #fff;
}

</style>