
.midbox,
.my-account {
	h1 {
		display: none;
	}
}

#simplemodal-container,
#simplemodal-overlay {
	//display:none !important;
}

.sidebar.customer-service {
	@media screen and (max-width:737px) {
		display: none;
	}
}

.heading-category {
	font-family: brown-pro-bold !important;
	font-weight: normal !important;
}

.main-content {
	@media screen and (max-width:737px) {
		float: none;
		width: 100%;
	}
	float: left;
	width: 840px;
	margin-top: 0 !important;
}

.padded {
	padding: 0 !important;
}



//styles
.new-arrivals-container {
	@media screen and (max-width:737px) {
		margin: -4px 0 23px;
	}

	img {
		max-width: 100%;
	}
}
