.wrap-content {
	font-size: 1rem;

	ul {
		padding: 0 0 0 2rem;
	}

	h1,
	h2,
	h3,
	h4 {
		text-transform: capitalize;
	}

	p {
		font-size: 1rem;
	}

	.flex-it {
		display: flex;
		flex-wrap: wrap;

		div {
			@media screen and (max-width:414px) {
				flex-basis: 100%;
			}
			flex-basis: 50%;
			text-align: center;
			padding: 2rem 0 0;

			a {
				@media screen and (max-width:1024px) {
					padding: 1rem 2rem;
				}
				font-family: gilroy-bold;
				text-transform: uppercase;
				padding: 0.75rem 1.25rem;
				text-decoration: none;
				border: 2px solid #47363D;
				color: #47363D;
				letter-spacing: 4px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

				&:hover {
					background: #75686D;
					color: #fff;
				}

				&:active {
					background: #35282D;
					color: #fff;
				}
			}
		}
	}
}