
section#breadcrumbs {
	margin: 0 0 0 0 !important;
	display:none;
}

.ref {
	@media screen and (max-width:737px){ 
		top: -138px;
	}

	position:absolute;
	top:-9px;
	left:0;
	opacity:.5;
	max-width: 100%;
    z-index: 9999;
    
}

.my-account h1, .midbox h1 {
	display:none;
}

.desktop {
	@media screen and (max-width:736px){
		display:none !important;
	}
}

.mobile {
	display:none !important;
	@media screen and (max-width:736px){
		display:block !important;
	}
}

#pj-details {
	@media screen and (max-width: 736px){
		width:100%;
		position:absolute;
		z-index:9999;
		height:100%;
		background:#fff;

	}

	display:none;
	width:600px;
	min-height: 158px;
	background:#fff;
}
.pj-container {
	margin: 27px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 20px 0;

	h2 {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1px;
	}

	p {
		font-size: 13px;
		line-height: 20px;
	}
}

.close-pj {
	@media screen and (max-width: 736px){
		display:block;
	}

	display:none;
	text-align:center;
}

.cta {
		@media screen and (max-width:737px){
			width: 42%;
    		left: 0px;
    		padding: 1em 0;
    		font-size: .8em;
    		//line-height:3em;
		}

		@media screen and (max-width:415px){
		    font-size: .8em;
    		letter-spacing: 1.1px;
		}

		@media screen and (max-width:376px){
    		//padding: 8px 0;
    		font-size:.7em;
		}

		@media screen and (max-width:321px){
			//padding: 7px 0;
    		font-size: .6em;
		}

	display: inline-block;
	font-family: brown-pro-bold !important;
    border: 1px solid;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    text-align:center;
    box-sizing:border-box;
}

.disabled {
	background: #999 !important;

	&:hover {
		cursor: not-allowed;
	}
}

.size-error {
	@media screen and (max-width:737px){
		width:100%;
		left:0;
		text-align:center;
	}

	font-size: 12px;
    color: #C80000;
    display: none;
    font-family: brown-pro-bold !important;
    margin-top: 6px;
    position:absolute;
    left:30%;
}

.success {
	@media screen and (max-width:737px){
		width: 100%;
	}

	position:absolute;
	top:30%;
	left:0;
	width: 276px;
	border: 1px solid #D1D3D4;
	background: #fff;
	z-index:999;
	box-sizing: border-box;
    padding: 15px 10px !important;
    margin: 0 !important;
    text-align:left;

	h3 {
		color: #C80000 !important;
		font-size: 12px !important;
		margin: 0 !important;
		display: inline-block;
    	float: left;
    	width: 90%;
	}

	i {
		@media screen and (max-width:737px){
			top: -62px;
		}

		float: right;
    	display: inline-block;
    	position: relative;
    	top: -14px;
	}
}

.show-sizes {
	overflow:visible !important;
	z-index:999;

	ul {
		background-image: url(https://s.tea-global.net/mas_assets/theme/tea_collection/images/mobile/ARROW_DKgrey_up.png) !important;
	}
}

.top {
	position:relative;

	.text {
		@media screen and (max-width:737px){
			background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/gift-shop/171102/girl/top-m.jpg) no-repeat top left;
			height:auto;
			background-size:cover;
		}

		background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/gift-shop/171102/girl/top-d.jpg) no-repeat top left;
		height:246px;
		overflow:hidden;
		background-size:contain;

		h1 {
			@media screen and (max-width:737px){
				font-size:1.5em;
				line-height:21px;
				margin: 102px 0 20px 0;
				padding: 0 0 0 6%;
				box-sizing:border-box;
			}

			color:#fff;
			font-family:brown-pro-bold !important;
			font-size:24px;
			line-height:30px;
			font-weight:normal;
			float:right;
			width: 248px;
			margin: 91px 21px 0;

			span {
				@media screen and (max-width:737px){
					font-size: .75em;
					line-height:17px;
				}

				font-family:brown-pro-regular !important;
				font-size:18px;
				line-height:28px;
				display:block;
				margin-top: 5px;
			}
		}
	}
}

.bottom {
	@media screen and (max-width:737px){
		background: none;
	}

	background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/gift-shop/171102/girl/bottom-d.jpg) no-repeat top left;
	margin-bottom: 24px;
	overflow:hidden;

	a {
		@media screen and (max-width:737px){
			height:auto;
		}

		color:#026261;
		text-decoration:none;
		display:block;
		height:191px;

		h2 {
			@media screen and (max-width:737px){
    			display:none;
			}

			color:#026261;
			background:none;
			text-align:left;
			//width: 297px;
			float:right;
			font-size:24px;
			line-height:26px;
			margin-top: 57px;
			margin-right: 37px;
			text-transform: none;
			padding:0;

			.cta {
				@media screen and (max-width:737px){

				}

				display:block;
				margin-top: 20px;
				font-size:15px;
				padding: 5px 0;
			}
		}

		&:hover {
			.cta {
				background:#026261;
				color:#fff;
				border:none;
			}
		}
	}

}

.top, .gift-shop-container {
	img {
		max-width:100%;
	}
	
	h2 {
		@media screen and (max-width: 737px){
			font-size: 1.8em/2;
			background:none;
			color:#999;
			margin-top:0;
			padding: 13px 0;
		}

		color: #646466;
		font-size: 15px;
		font-family:brown-pro-bold !important;
		text-align:center;
		text-transform: uppercase;
		margin-top:10px;
		padding: 15px 0;
		background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/gift-shop/171102/line.png) no-repeat center left, url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/gift-shop/171102/line.png) no-repeat center right;
		//letter-spacing: .2px;
	}
}

.gift-shop-container {
	@media screen and (max-width: 737px){
		margin-top: 0;
	}

	overflow:hidden;
	margin-top: 55px;

	h2 {
		color:#5A5A5C;
	}

	img {
		image-rendering: -webkit-optimize-contrast;
		max-width:100%;
	}

	.return {
		@media screen and (max-width:737px){
			width:88%;
			margin:0 auto;
			display:block;
			font-size:.75em;
			padding: 8px 0;
		}

		width: 100%;
		background: #026666;
		color: #fff;
		font-size:18px;
		padding: 13px 0;
		text-transform:none;

		&:hover {
			color:#026666;
			background:#fff;
			border: 1px solid #026666;
		}
	}

	//overall style
	div[class*="c"] {
		@media screen and (max-width:737px){
			//margin-bottom: 47px;
		}

		overflow:hidden;
		margin-bottom: 18px;

		div {
			@media screen and (max-width: 737px){
				float:none;
			}

			float:left;

			&:first-of-type {
				@media screen and (max-width:737px){
					margin:0;
				}

				margin-right: 24px;
			}
		}

		img {
			max-width:100%;
			display:inline-block;
		}

		p {
			@media screen and (max-width:737px){
				font-size:1.8em/2;
				margin: 10px auto 20px !important;
				line-height: 19px;
				//width:88%;
				width:100%;
			}

			@media screen and (max-width:321px){
				//width:100%;
			}

			color:#5A5A5C;
			font-size: 15px;
			line-height: 24px;
			//margin: 24px 0;
			//letter-spacing: .2px;
		}

		.tip {
			@media screen and (max-width: 737px){
				font-size: 1.8em/2;
			}

			span {
				font-family:brown-pro-bold-italic !important;
			}

			font-size: 12px;
			line-height:19px;
			font-family:brown-pro-italic !important;
			color:#A9599E;
		}

		.cta {
			@media screen and (max-width:737px){
				font-size: .75em;
				padding: 8px 0;
			}
		
		}
	}

	//artists style
	.j-growing, .jeffrey, .julia, .museum, .gregory, .benjamin, .martha, .jessica {
		margin:0 0 56px 0 !important;
	}

}

//styles for dynamic drop down
.drop {
	clear:both;
	width:100%;
	margin: 4px 0 27px;

	ul {
		@media screen and (max-width:737px){
			border:none;
		}

		border: 1px solid #D0D0D0;

		li {
			@media screen and (max-width:737px){
				width:48% !important;

				&:nth-of-type(2){
					margin-right:3% !important;
				}
			}

			position:relative;
			float:none !important;
			width:276px !important;
			text-align:center;
			box-sizing:border-box;
			display:inline-block;
			margin:0 !important;
			padding: 0 10px;
			box-sizing:border-box;
			//padding-bottom: 32px;

			div {
				padding-bottom: 32px;
			}

			&:first-of-type {
				width:100% !important;
				padding:0;
			}

			.sold-out {
				position:absolute;
				width:auto !important;
				z-index:9999;
				top:0;
				left:10px;
			}

			.close {
				margin:11px 0 0 10px;
				color:#666;
				font-size:15px;
				text-align:left;
				display:block;

				&:hover {
					cursor:pointer;
				}
			}

			h3 {
				@media screen and (max-width: 737px){
					margin: 11px 0 15px;
				}

				font-family: brown-pro-bold !important;
				font-size: 15px;
				color:#5A5A5C;
				line-height: 24px;
				margin: 16px 0 8px;

				.title {
					@media screen and (max-width:737px){
						font-size: 1.6em/2;
						display:inline-block;
					}

					a {
						color:#5A5A5C;
						text-decoration:none;
					}
				}

				.price {
					@media screen and (max-width:737px){
						font-size: .7em;
					}
				}
			}

			select {
				@media screen and (max-width:737px){
					width:88%;
					font-size:.85em;
					padding: 8px 0 8px 33%;
					display:block;
					margin: 0 auto 15px;
					box-sizing:border-box;
					text-transform:uppercase;
				}

				width: 200px;
				font-size: 12px;
				color:#999;
				text-align:center;
				margin-bottom: 20px;
				border-radius:0;
				background: url(https://s.tea-global.net/mas_assets/theme/tea_collection/images/mobile/ARROW_DKgrey_down.png) no-repeat 94% 12px #fff;
				background-size:15px;

				option {
					text-align:center;
				}
			}

			.sizes-container {
				width: 200px;
				border: 1px solid #999;
				margin: 10px auto 20px;
				position:relative;
				box-sizing:border-box;
			}

			ul {
				position:absolute;
				padding-top: 10px;
				width:102%;
				border: 1px solid #999;
				box-sizing:border-box;
				left:-1px;
				top:-1px;
				background: url(https://s.tea-global.net/mas_assets/theme/tea_collection/images/mobile/ARROW_DKgrey_down.png) no-repeat 94% 13px #fff;
    			background-size: 10px;

				li {
					font-size: 12px;
					font-family: brown-pro-bold !important;
					width: 100% !important;
					color:#5A5A5C;
					padding: 2px 0;
		
					&:first-of-type {
						color: #999;
						text-transform:uppercase;
						padding-bottom: 7px;

						&:hover {
							background:none;
							color:#999;
						}
					}

					&:hover {
						cursor:pointer;
						background: #5A5A5C;
						color: #fff;
					}
				}
			}

			.cta {
				@media screen and (max-width:737px){
					width:88%;
					font-size:.85em;
					padding: 8px 0;
					display:block;
					margin: 0 auto;
					box-sizing:border-box;
				}

				background:#572700;
				color: #fff;
			}
		}
	}
}