
.top {
	position:relative;
}

.top, .gift-shop-container {
	img {
		max-width:100%;
	}
}

.gift-shop-container {
	@media screen and (max-width: 737px){
		margin-top: 0;
	}

	overflow:hidden;
	margin-top: 55px;


	img {
		image-rendering: -webkit-optimize-contrast;
		max-width:100%;
	}


	//overall style
	.cell {
		@media screen and (max-width:737px){
			//margin-bottom: 47px;
		}

		overflow:hidden;
		margin-bottom: 18px;
		position:relative;


		img {
			max-width:100%;
			display:inline-block;
		}

		.cta {
			@media screen and (max-width:737px){
				font-size: .75em;
				padding: 8px 0;
				position:relative;
				left: 6% !important;
				top:-30px;
			}

			position:absolute;
			bottom:4px;

			&.second {
				@media screen and (max-width:737px){
					left:0;
					margin:0 0 0 3%;
				}
			}
		}
	}

	//artists style
	.crystal, .j-growing, .jeffrey, .julia, .museum, .gregory, .benjamin, .martha, .jessica {
		@media screen and (max-width:737px){
			margin: 0 !important;
		}

		margin:0 0 56px 0 !important;
	}

	.crystal {
		.cta {
			@media screen and (max-width:737px){
				top:-75px;
			}
			color:#a1ad57;

			&.first {
				left:0;
			}

			&.second {
				left:166px;
			}

			&:hover {
				background:#a1ad57;
				color:#fff;
			}
		}
	}

	.museum {
		.cta {
			@media screen and (max-width:737px){
				top:-75px;
			}
			color:#51719a;

			&.first {
				right:166px;
			}

			&.second {
				right:0;
			}

			&:hover {
				background:#51719a;
				color:#fff;
			}
		}
	}

	.j-growing {
		.cta {
			color:#55b8be;

			&.first {
				left:0;
			}

			&.second {
				left:166px;
			}

			&:hover {
				background:#55b8be;
				color:#fff;
			}
		}
	}

	.jeffrey {
		.cta {
			color:#a1ae57;

			&.first {
				right:166px;
			}

			&.second {
				right:0;
			}

			&:hover {
				background:#a1ae57;
				color:#fff;
			}
		}
	}

	.julia {
		.cta {
			color:#f9cd64;

			&.first {
				left:0;
			}

			&.second {
				left:166px;
			}

			&:hover {
				background:#f9cd64;
				color:#fff;
			}
		}
	}

	.jessica {
		.cta {
			color:#003078;
			bottom:11px;

			&.first {
				right:166px;
			}

			&.second {
				right:0;
			}

			&:hover {
				background:#003078;
				color:#fff;
			}
		}
	}

	.gregory {
		.cta {
			color:#429db0;

			&.first {
				left:0;
			}

			&.second {
				left:166px;
			}

			&:hover {
				background:#429db0;
				color:#fff;
			}
		}
	}

	.martha {
		.cta {
			color:#b3363c;

			&.first {
				right:166px;
			}

			&.second {
				right:0;
			}

			&:hover {
				background:#b3363c;
				color:#fff;
			}
		}
	}

	.benjamin {
		.cta {
			color:#ec895f;
			bottom: 22px;

			&.first {
				left:0;
			}

			&.second {
				left:166px;
			}

			&:hover {
				background:#ec895f;
				color:#fff;
			}
		}
	}
	
}

