html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.desktop-promo img, .desktop-promo-hp img, .mobile-promo img, .mobile-promo-hp img {
	max-width:100%;
}
//-----------------------------------------------------------------------------------------
.desktop-promo, .desktop-promo-hp {
	@media screen and (max-width: 736px){
		display:none;
	}
}
.mobile-promo, .mobile-promo-hp {
	@media screen and (max-width: 736px){
		display:block;
	}

	display:none;
} 

//-----------------------------------------------------------------------------------------
#details-promo {
	@media screen and (max-width: 736px){
		width:100%;
		position:absolute;
		z-index:9999;
		//height:100%;
		height:1100px;
		background:#fff;
	}

	display:none;
	width:600px;
	background:#fff;
}
//-----------------------------------------------------------------------------------------
.details-container {
	margin: 27px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 10px 0;

	h2 {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1px;
	}

	p {
		font-size: 13px;
		line-height: 20px;
	}
}
//-----------------------------------------------------------------------------------------
.close-fancy {
	@media screen and (max-width: 736px){
		display:block;
	}

	display:none;
	text-align:center;
}