.desktop {
	@media screen and (max-width:737px){
		display:none !important;
	}
}

.mobile {
	display:none !important;

	@media screen and(max-width:737px){
		display:block !important;
	}
}

.single-item-box img {
	max-width:100%;
} 

article.sidebar>section>h2 a {
	color:#666 !important;
}