.size-container {
	border: 1rem solid #E6E7E8;

	h1 {
		text-align: center;
		text-transform: capitalize;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;

		li {
			flex-basis: 25%;

			a {
				text-decoration: none;
				display: block;
				text-align: center;
				margin: 1rem;
				padding: 1rem;
				font-size: 1rem;
				background: #E6E7E8;
				box-sizing: border-box;
			}
		}
	}
}