#catalogThumb {
	width:92px;
}

div[data-zone="footer"] {
	float:none !important;
	width: 100% !important;
	border-right:0 !important;

	.da-rennab {
		float:none !important;
		width: 100% !important;
		border-right:0 !important;

		.banner-footer {
			float:none !important;
			width: 100% !important;
			border-right:0 !important;
		}
	}
}

.banner-footer {
	overflow:hidden;

	&> div {
		float: left;
    	text-align: center;
    	height: 172px;
    	width: 160px;
    	border-right: 1px solid #e6e6e1;
	}
}