.ref {
  position: absolute;
  opacity: .5;
  transform: translate(-50%, 0);
  left: 50%;
}

.email-wrap {
  background: #FCF5F2;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-wrap .br-m {
  display: none;
}

@media screen and (max-width:414px) {
  .email-wrap .br-m {
    display: inline;
  }
}

.email-wrap h1 {
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #436FC1;
  margin: 0 auto 5%;
}

@media screen and (max-width:768px) {
  .email-wrap h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

.email-wrap p {
  font-family: souvenirstd-light;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: .005em;
  color: #47363D;
  margin: 0;
}

@media screen and (max-width:768px) {
  .email-wrap p {
    font-size: 16px;
    line-height: 24px;
  }
}

.email-wrap p.new-customers {
  font-family: souvenirstd-light;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: .005em;
  color: #436FC1;
  display: none;
  margin: 15% 0 0;
}

.email-wrap form {
  position: relative;
  display: inline-block;
}

@media screen and (max-width:414px) {
  .email-wrap form {
    display: block;
  }
}

.email-wrap label {
  font-family: gilroy-regular;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #436FC1;
  position: relative;
  display: block;
  padding: 0 0 0 6%;
  text-align: left;
}

@media screen and (max-width:768px) {
  .email-wrap label {
    font-size: 10px;
    line-height: 28px;
  }
}

@media screen and (max-width:414px) {
  .email-wrap label {
    padding: 0 0 0 5%;
  }
}

.email-wrap input {
  width: 370px;
  height: 55px;
  background: #F9EBE6;
  font-family: gilroy-bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #436FC1;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 0 0 0 6%;
  border-radius: 0;
}

@media screen and (max-width:768px) {
  .email-wrap input {
    font-size: 12px;
    line-height: 28px;
  }
}

@media screen and (max-width:414px) {
  .email-wrap input {
    width: 100%;
    padding: 0 0 0 5%;
  }
}

.email-wrap a,.email-wrap button {
  border: 2px solid #B16B61 !important;
  box-sizing: border-box;
  font-family: gilroy-bold !important;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: .15em !important;
  text-transform: uppercase !important;
  color: #B16B61 !important;
  width: 370px;
  height: 55px;
  margin: 8% auto 0;
  background: none !important;
}

@media screen and (max-width:768px) {
  .email-wrap a,  .email-wrap button {
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (max-width:414px) {
  .email-wrap a,  .email-wrap button {
    width: 100%;
  }
}

.email-wrap a:hover,.email-wrap button:hover {
  background-color: #B16B61 !important;
  color: #fff !important;
}

.email-wrap div.sign-up .load-more-wrap {
  display: none;
}

.email-wrap div.sign-up .default {
  margin: 0 auto 8%;
}

.email-wrap div.sign-up .promo-message {
  margin: 0 auto 8%;
}

.email-wrap div.sign-up .error {
  display: none;
}

.email-wrap div.sign-up .error p {
  color: #D94D52;
}

.email-wrap div.sign-up .input-fields {
  text-align: center;
  margin: 1% 0 0;
}

.email-wrap div.thanks {
  display: none;
}

@media screen and (max-width:414px) {
  .email-wrap div.thanks h1 {
    width: 75%;
    position: relative;
  }
}

@media screen and (max-width:414px) {
  .email-wrap div.thanks p {
    width: 65%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
  }
}

.email-wrap div.thanks .default {
  margin: 1% auto;
}

.email-wrap div.thanks .promo-message {
  margin: 1% auto 0;
}

.email-wrap div.thanks a {
  text-decoration: none;
  display: flex;
  flex-basis: 370px;
  justify-content: center;
  align-items: center;
  margin: 8% auto 0;
}