.common-wrap {
  display: none;
}

.ref {
  position: absolute;
  top: -208px;
  z-index: 9999;
  opacity: .5;
}

.desktop {
  display: none;
}

@media screen and (min-width:770px) {
  .desktop {
    display: block;
  }
}

.tablet {
  display: none;
}

@media screen and (min-width:415px) and (max-width:769px) {
  .tablet {
    display: block;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width:414px) {
  .mobile {
    display: block;
  }
}

.wrap-content h2 {
  color: #436FC1;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: .2vw;
}

@media screen and (min-width:1680px) {
  .wrap-content h2 {
    font-size: 2rem;
    letter-spacing: 6px;
  }
}

@media screen and (max-width:414px) {
  .wrap-content h2 {
    letter-spacing: 1vw;
  }
}

.wrap-content p {
  line-height: 153%;
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width:1680px) {
  .wrap-content p {
    font-size: 25px;
  }
}

.wrap-content .c1 img {
  margin: 0 0 5%;
}

@media screen and (max-width:414px) {
  .wrap-content .c1 img {
    margin: 0 0 12.5%;
  }
}

.wrap-content .c1 p {
  margin: 3% auto 6%;
  line-height: 153%;
  width: 59%;
}

@media screen and (max-width:414px) {
  .wrap-content .c1 p {
    width: 91%;
    margin: 0 auto 5.3%;
  }
}

.wrap-content .c2 img {
  margin: 0 auto 4%;
  border: 2rem solid #FF4BAD;
  width: 72%;
  display: block;
}

@media screen and (max-width:1024px) {
  .wrap-content .c2 img {
    margin: 0 auto 5%;
    border: 2vw solid #FF4BAD;
  }
}

@media screen and (max-width:414px) {
  .wrap-content .c2 img {
    width: 83%;
    margin: 15% auto 0;
  }
}

.wrap-content .c2 p {
  width: 60%;
  margin: 3% auto 7%;
}

@media screen and (max-width:414px) {
  .wrap-content .c2 p {
    width: 97%;
  }
}

.wrap-content .c3 img {
  margin: 0 0 6%;
}

.wrap-content .c3 p:nth-of-type(1) {
  width: 57%;
  margin: 3% auto 2%;
}

@media screen and (min-width:1680px) {
  .wrap-content .c3 p:nth-of-type(1) {
    width: 68%;
    margin: 3% auto 2%;
  }
}

@media screen and (max-width:1024px) {
  .wrap-content .c3 p:nth-of-type(1) {
    width: 55%;
    margin: 2.7% auto 2%;
  }
}

@media screen and (max-width:414px) {
  .wrap-content .c3 p:nth-of-type(1) {
    width: 100%;
    margin: 5% 0;
  }
}

.wrap-content .c3 p:nth-of-type(2) {
  width: 54%;
  margin: 0 auto;
}

@media screen and (min-width:1680px) {
  .wrap-content .c3 p:nth-of-type(2) {
    width: 52%;
    margin: 0 auto;
  }
}

@media screen and (max-width:414px) {
  .wrap-content .c3 p:nth-of-type(2) {
    width: 100%;
  }
}

.wrap-content .c4 img {
  border: 2rem solid #E7E519;
  margin: 9% auto 7%;
  width: 70%;
  display: block;
}

@media screen and (min-width:1680px) {
  .wrap-content .c4 img {
    margin: 5.4% auto 6%;
    width: 70%;
  }
}

@media screen and (max-width:1024px) {
  .wrap-content .c4 img {
    margin: 5.4% auto 4%;
    border: 2vw solid #E7E519;
  }
}

@media screen and (max-width:414px) {
  .wrap-content .c4 img {
    width: 82%;
  }
}

.wrap-content .c4 p {
  margin: 3% auto;
  width: 55%;
}

@media screen and (max-width:1024px) {
  .wrap-content .c4 p {
    width: 56%;
    margin: 2.6% auto;
  }
}

@media screen and (max-width:414px) {
  .wrap-content .c4 p {
    width: 100%;
  }
}