.babylist {
	@media screen and (max-width:737px){
		height: 30px;
		margin: 0px auto 20px;
		width: 88%;
		padding: 8px 0;
	}
	
	display: block;
	height: 39px;
	text-decoration: none;
	width: 269px;
	background: #ccc;
	text-align: center;
	font-family: brown-pro-regular;
	text-transform: uppercase;
	color: #fff;
	margin: 10px 0 0;
	padding: 13px 0 0;
	box-sizing: border-box;
	font-weight: normal;
}
