.desktop {
	@media screen and (max-width:736px){
		display:none;
	}
}

.mobile {
	display:none;
	@media screen and (max-width:736px){
		display:block;
	}
}

.common-wrap {
    margin: 0px 0% 0px 0% !important;
}

.stacked {
	text-align:center;
	font-family: 'Tisa Sans', Arial, Helvetica, sans-serif;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-weight:normal;
    text-shadow:none;
    text-decoration:none;

    img {
    	max-width:100%;

    }
}

.headline {
	@media screen and (max-width:736px){
		font-size: 13.5px;
		letter-spacing: 0.05px;
		line-height: 21px;
	}

	color: #606063;
	font-size: 20px;
	letter-spacing: .7px;
	line-height: 29px;
	//font-weight:bold;
}

.body {
	@media screen and (max-width:736px) {
		color: #606063;
		font-size: 11.5px;
		letter-spacing: 0.0025px;
		line-height: 18px;
	}

	color: #7e7e81;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 21.5px;
	font-weight:bold;
}

.footer {
	@media screen and (max-width:736px){
		font-size: 11.5px;
		letter-spacing: 0.0075px;
	}

	font-style: italic;
	color: #515152;
	font-size: 14.5px;
	letter-spacing: 0.3px;
	line-height: 18px;
	//font-weight:bold;

    a { 
		color: #515152;
		text-decoration: none;
	
    }

}

a {
	&:hover {
		color: #572600;
    	text-decoration: underline;
	}

	&:active {
		color: #515152;
    	text-decoration: none;
	}
}


h2 {
	margin: 0px;
	padding: 0px;
}

.in-between {
	position:relative;
	top:-6px;
}

.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7 {
	@media screen and (max-width:736px){
		padding-top: 35px;
		padding-bottom: 30px;
		
		.mobile {
			margin:0 auto;
		}
	}

	padding-top: 47px;
	padding-bottom: 50px;
	vertical-align: text-top;
	position:relative;
	top:-6px;
}

.bg1, .bg4, .bg7 {
	background-color: #f0f1f1;
}

.bg2, .bg3, .bg5, .bg6 {
	background-color: #ffffff;
}

.bg1 {

	.headline {
		@media screen and (max-width:736px){
			padding-bottom:3px;
		}

		padding-bottom:19.5px;
	}

	.body {
		padding-bottom:19px;
	}

	.footer {
		@media screen and (max-width:736px){
			padding-top:8px;
		}

		padding-top:22px;
	}
}

.bg2 {
	@media screen and (max-width:736px){
		padding-top: 35px;
    	padding-bottom: 7px;
	}
	
	.headline {
		@media screen and (max-width:736px){
			padding-bottom:3px;
		}

		padding-bottom:16px;
	}

	.body {
		@media screen and (max-width:736px){
			padding-bottom:9px;
		}

		padding-bottom:19.5px;
	}

	.footer {
		@media screen and (max-width:736px){
			padding-top:8px;
		}

		padding-top:22px;
	}

}

.bg3 {
	
	.headline {
		@media screen and (max-width:736px){
			padding-bottom:10px;
		}

		padding-bottom:19.5px;
	}

	
	.first {
		@media screen and (max-width:736px){
			padding-bottom:1.5px;
		}

		padding-bottom:1.5px;
	}

	.second {
		@media screen and (max-width:736px){
			padding-bottom:8px;
		}

		padding-bottom:19px;
	}
		

	.footer {
		@media screen and (max-width:736px){
			padding-top:8px;
		}

		padding-top:22px;
	}

}

.bg4 {
	@media screen and (max-width:736px){
		padding-top: 35px;
    	padding-bottom: 7px;
	}
	
	.headline {
		@media screen and (max-width:736px){
			padding-bottom:3px;
		}

		padding-bottom:16px;
	}

	
	.first {
		padding-bottom:19px;
	}

	.second {
		@media screen and (max-width:736px){
			padding-bottom:8px;
		}

		padding-bottom:19.5px;
	}
	

	.footer {
		@media screen and (max-width:736px){
			padding-top:8px;
		}

		padding-top:22px;
	}

}

.bg5 {
	
	.headline {
		@media screen and (max-width:736px){
			padding-bottom:8px;
		}

		padding-bottom:19.5px;
	}

	.first {
		@media screen and (max-width:736px){
			padding-bottom:1.5px;
		}

		padding-bottom:1.5px;
	}

	.second {
		@media screen and (max-width:736px){
			padding-bottom:5px;
		}

		padding-bottom:19px;
	}

	.footer {
		@media screen and (max-width:736px){
			padding-top:8px
		}

		padding-top:22px;
	}

}

.bg6 {
	
	.headline {
		@media screen and (max-width:736px){
			padding-bottom:8px;
		}

		padding-bottom:19.5px;
	}

	.first {
		padding-bottom:1.5px;
	}

	.second {
		@media screen and (max-width:736px){
			padding-bottom:5px;
		}

		padding-bottom:19px;
	}

	.footer {
		@media screen and (max-width:736px){
			padding-top:8px;
		}

		padding-top:22px;
	}

}

.bg7 {
	top:-11px;
	
	.headline {
		@media screen and (max-width:736px){
			padding-bottom:3px;
		}

		padding-bottom:16px;
	}

	.first {
		@media screen and (max-width:736px){
			padding-bottom:8px;
		}

		padding-bottom:19.5px;
	}

	.footer {
		@media screen and (max-width:736px){
			padding-top:8px;
		}

		padding-top:22px;
	}

}

.fancybox-skin {
	@media screen and (max-width:736px){
		background: #f0f1f1;
	}
	padding: 0px !important;
}

.fancybox-overlay {
	background-color: rgba(0, 0, 0, 0.7)!important;
}

.fancybox-inner {
	overflow-y: hidden !important;
}

.fancybox-close {
	@media screen and (max-width:736px){
		right: 40px;
	}

    cursor: pointer;
    height: 34px !important;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 34px !important;
    z-index: 8040;
	background: url('{/literal}{$theme_assets_url}images/static/fancybox-close white.png{literal}') no-repeat 0 0;
}

.fancybox, .fancybox-iframe, .fancybox-product {
    /*display: block;
    height: 100%;
    width: 100%;*/
	text-decoration: none;
}


.fancybox-wrap.images-popup .fancybox-close {
	right: 10px !important;
	top: 10px !important;
}

.fancybox-wrap.images-popup2 .fancybox-close {
	right: 0px !important;
	top: 10px !important;
}