
.ref {
	position:absolute;
	opacity:.5;
	max-width:100%; 
	width:798px;
}

.desktop {
	@media screen and (max-width:737px){
		display:none !important;
	}
}
 
.mobile {
	display:none !important;

	@media screen and(max-width:737px){
		display:block !important;
	}
}

body.browse .breadcrumb-c {
	padding-top: 13px;
}


.email-sign-up {
	@media screen and (max-width:737px){
		background:none;
		min-height:auto;
	}

	overflow:hidden;
	background: url(/mas_assets/theme/tea_collection/images/email-sign-up/170706/email-landing-page-dots.png) no-repeat 52% top;
    min-height: 335px;
    //padding-top:5px;
   
}

.email-sign-up .left {
    @media screen and (max-width:737px){
		float: none;
    	width: 100%;
    	text-align: left;
    	padding-right: 0;
    	padding-left: 6%;
    	padding-bottom:50px;
    	background: url(/mas_assets/theme/tea_collection/images/email-sign-up/170706/email-landing-page-dots-m.png) no-repeat  0 102%;
    	background-size:contain;
	}

    float: left;
    width: 435px;
    text-align: right;
    padding-right: 35px;
    box-sizing: border-box;

    h2 {
    	@media screen and (max-width:737px){
			font-size: 2.3em;
    		line-height: 38px;
    		margin-top: 11px;
    		letter-spacing: 1px;
		}

    	font-size: 36px;
    	line-height: 49px;
    	margin-top: 8px;
    	letter-spacing: 1px;
    	color: #025162;
    	font-family:brown-pro-bold !important;

    	span {
    		@media screen and (max-width:737px){
				font-size: 1.5em;
			}

    		font-size: 55px;
    	}
	
   	}

   	p {
    	&:first-of-type {
    		@media screen and (max-width:737px){
	    		font-size: 1.4em;
    			line-height: 23px;
   				margin-top: 6px;
   				letter-spacing:.2px;
			}

    		font-size: 21px;
    		line-height: 27px;
    		margin-top: 7px;
    		letter-spacing: .4px;
    		font-family: brown-pro-bold !important;
    	}

    	&:last-of-type {
    		@media screen and (max-width:737px){
   				font-size: 1em;
    			line-height: 19px;
    			margin-top: 11px;
    			letter-spacing: -.3px;	
			}

    		font-size: 15px;
    		line-height: 21px;
    		margin-top: 15px;
    		letter-spacing: .3px;
    	}
    }
}


.email-sign-up .right {
	@media screen and (max-width:737px){
		float:none;
		width:100%;
		padding-left:6%;
	}

	float: left;
    width: 405px;
    padding-left: 25px;
    box-sizing: border-box;

    h2 {
    	@media screen and (max-width:737px){
	    	font-size: 3.3em;
    		margin-top: 6px;
    		line-height: 32px;
    		padding-left: 7%;
    		letter-spacing: 1px;
		}

    	font-size: 55px;
    	margin-top: 9px;
    	line-height: 36px;
    	padding-left: 29px;
    	letter-spacing: 0px;
    	color: #025162;
    	font-family:brown-pro-bold !important;

    	span {
    		@media screen and (max-width:737px){
	    		font-size: 0.7em;
    			letter-spacing: 0px;
			}	

    		font-size: 34px;
    		letter-spacing: 1.5px;
    		font-family:brown-pro-bold !important;
    	}
    }

    h3 {
    	padding-left: 6%;
    	margin-top: 24px;
    	font-family: brown-pro-bold !important;
    	letter-spacing: -.3px;
    	margin-bottom: 0px;
    }

    p {
    	@media screen and (max-width:737px){
	    	margin-top: 2px;
    		padding-left: 6%;
    		font-size: 1em;
    		letter-spacing: -.3px;
		}	

    	margin-top: 8px;
    	padding-left: 28px;
    	font-size: 15px;
    	line-height: 20px;
    	letter-spacing: .3px;
    }

    input {
    	@media screen and (max-width:737px){
	  		display: block;
   			width: 94%;
    		height: 42px;
    		padding-left: 6%;
    		box-sizing: border-box;
		}	

    	display: block;
    	margin-top: 26px;
    	width: 82%;
    	height: 50px;
    	padding-left: 28px;
    	box-sizing: border-box;
    	letter-spacing: 1px;

    	&[type="submit"]{
    		@media screen and (max-width:737px){
    			font-size: 1.2em;
    			background: #fff;
			}	

    		margin-top: 29px;
    		padding-left: 0;
    		text-transform: uppercase;
    		font-size: 20px;
    		letter-spacing: 1px;
    		font-family: brown-pro-bold !important;
    		color: #025162;
    		border-color: #025162;

    		&:hover {
    			background:#025162;
				color:#fff;
    		}
    	}
    }
}

#myform2 {
	@media screen and (max-width:737px){
		padding:0;
	}

	padding: 40px 0;
}


.email-sign-up #myform2 #errors {
    color: #990000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
	letter-spacing: 1px;
	display:block;
	padding-left:29px;
	margin-top:14px;
}



