.ref {
    @media screen and (max-width:737px){
        top:-172px;
    }

	position:absolute;
	opacity:.5;
    top: -69px;
    z-index:9999;
	//display:none;
	max-width:100%;
} 

.my-account, .midbox {
	h1 {
		display:none;
	}
}

.mobile {
	@media screen and (max-width:768px){
		display:block !important;
	}

	display:none !important;
}

.mobile-copy {
    @media screen and (max-width:321px){
        display:none !important;
    }
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}

.common-wrap {
    display:none !important;
}


/*-- UNCOMMENT THIS STYLE IF HIDE 10% POPUP --*/
/*#simplemodal-container, #simplemodal-overlay {
	display:none !important;
}*/


.padded {
	padding:0 !important;
}


.cta {
        @media screen and (max-width:737px){
            width:88%;
            padding: 6px 0 0 0;
            font-size: .8em;
            height: 30px;
        }

    display: inline-block;
    font-family: brown-pro-bold !important;
    border: 1px solid;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    font-size: 13px;
    line-height:16px;
    height:39px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 0 0 0px;
    text-align:center;
    box-sizing:border-box;
}

.clear-this {
	@media screen and (max-width:737px){
		padding-left:5%;
		letter-spacing:.4px;
	}

   	clear:both;
   	padding-left:7%;
   	letter-spacing:.2px;

   	a {
   		color:#444;
   	}
}

.wrap-content {
	overflow:hidden;

	img {
		max-width:100%;
	}

	
}//end of .wrap-content


.c1, .c2 {
	overflow:hidden;
	float:left;
}

.c1 {
	@media screen and (max-width:737px) {
		display:none;
	}

    width: 142px;
    box-sizing: border-box;
    padding: 71px 0 0 0px;
    margin: 0 0 0 66px;

	img {
		margin: 0 0 19px 0;
        display: block;
	}

}

.c2 {
	@media screen and (max-width:737px){
		width: 100%;
        padding: 29px 0 0 14%;
	}

    @media screen and (max-width:321px){
        padding: 29px 5% 0 5%;
    }

	width: 792px;
    box-sizing: border-box;
    padding: 73px 0 0 42px;

    h1 {
    	@media screen and (max-width:737px){
    		font-size:1.6em;
            line-height:24px;
    	}

    	font-size: 26px;
        line-height:30px;
    	font-family: brown-pro-bold;
    	color:#0060A6;
    	display:block;
        letter-spacing:.7px;
    }

    img {
        @media screen and (max-width:737px){
            margin: 11px 0 32px 0;
            width:81%;
        }

        display: block;
        margin: 14px 0 38px 0;
    }

    p {
    	@media screen and (max-width:737px){
            font-size:12px;
    		line-height: 17px;
            margin: 0 0 22px 0;
    	}

        &.rules {
            font-size: 14px;
            line-height:21px;
            font-family:brown-pro-italic;
            position: relative;
            left: -1px;
            letter-spacing: -.2px;
        }

        font-size:15px;
    	line-height: 21px;
        color:#666;
    	margin:0 0 24px 0;
        font-family:brown-pro-regular;
    }

    h2 {
    	@media screen and (max-width:737px){
    		font-size: 1.1em;
            line-height:18px;
            margin: 0 0 5px 0;
    	}

        font-family: brown-pro-bold;
    	font-size: 18px;
        line-height:23px;
        letter-spacing:.5px;
        margin:0 0 10px 0;
    	color:#A1AE57;
    }


    ul {
    	@media screen and (max-width:737px){
    		    padding: 4px 0 0 3%;
                margin: 0 0 22px 0;
    	}

    	list-style-type: disc;
        padding: 2px 0 0 11px;
        margin:0 0 25px 0;

    	li {
    		@media screen and (max-width:737px){
    			font-size:12px;
                line-height:14px;
    		}

            font-size: 15px;
            line-height: 17px;
            font-family: brown-pro-regular;
            box-sizing: border-box;
            padding: 0 0 0 0px;
            margin: 0px 0 10px 0;
            color:#666;
    	}

    }

    .cta {
        @media screen and (max-width:737px){
            width: 93%;
            margin: 25px 0 7px 0;
            border-radius: 0;
            text-shadow: none;
            background:#fff;
        }

    	width: 232px;
        margin: 22px 0 18px 0;
        color:#0060A6;
        letter-spacing:1px;

        &:hover {
            background:#0060A6;
            color:#fff;
        }
    }

    .rules {
        @media screen and (max-width:737px){
            font-size: 11px !important;
            letter-spacing: 0px !important;
            margin-bottom: 30px;
        }

    	font-size: 10px;
    	position: relative;
    	letter-spacing: .7px;

    	
    }

    a {
    	color:#444;
    }

    .desktop-form {
    	@media screen and (max-width:737px){
    		display:none !important;
    	}
    	
    }


}

.nominate {
    clear: both;
    background: none;
    border: 1px solid;
    color: #0060A6 !important;
    text-shadow: none;
    border-radius: 0;
    margin: 0 auto;
    position: relative;
    top: -26px;
}		
