

.ref {
	position:absolute;
	opacity:.5;
	max-width:100%; 
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}

.mobile {
	display:none !important;

	@media screen and(max-width:768px){
		display:block !important;
	}
}

@media screen and (max-width:768px){
	.dept-girls-clothing {
		display:none; 
	}
	.common-wrap {
		margin:0;
	}
}

.title {
	color: #333333;
    //font-family: tisa sans;
    font-size: 22px;
    font-weight: normal;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    //display:none !important;
}

img {
	max-width:100%;
}

