section#breadcrumbs {
	margin: 0 0 0 0 !important;
}
/*article.about-us {
	display:none;
}*/
.ref {
	position: absolute;
	max-width: 100%;
	top: -3px;
	opacity: 0.5;
	//display:none;
}

.common-wrap,
.midbox h1,
.my-account h1 {
	display: none;
}

.padded {
	padding: 0 !important;
}

.top-area {
	overflow: hidden;
	@media screen and (max-width:736px) {
		//display:none;
		padding: 3%;
	}

	div {
		&:first-of-type {
			@media screen and (max-width:737px) {
				float: none;
				margin: 0 0 20px;
			}
			float: left;

			select {
				color: #666;
				border: 0.1em solid #cfc3bc;
				padding: 0.6em;
				border-radius: 0;
				background-color: #ffffff;
				font-weight: normal;
				font-family: 'brown-pro-regular', Arial, Helvetica, sans-serif;
				vertical-align: middle;
				margin: 0;
			}
		}

		&:last-of-type {
			@media screen and (max-width:737px) {
				float: none;
			}
			float: right;

			span {
				@media screen and (max-width:737px) {
					margin: 0 10px 0 0;
				}
				margin-left: 10px;
				display: inline-block;
				position: relative;

				&:last-of-type {
					top: -6px;
				}
			}
		}
	}
}

.content-container {
	//display:none;
	margin-top: 10px;

	iframe,
	img {
		max-width: 100%;
	}

	#pint-img {
		margin: 0;
	}

	.c1 {
		@media screen and (max-width:737px) {
			padding: 2% 0 5px 6%;
		}
		overflow: hidden;
		padding: 16px 0 0;
		background: #e4f8f6;

		h2 {
			@media screen and (max-width:737px) {
				width: 100%;
				float: none;
				margin: 0;
				font-size: 3em;
				text-align: left;
				line-height: 0;
				padding: 30px 0 0;
			}
			float: left;
			text-align: right;
			width: 304px;
			margin-right: 40px;
			font-size: 60px;
			line-height: 60px;
			letter-spacing: 1px;

			span {
				@media screen and (max-width:737px) {
					display: inline;
				}
				display: block;

				&.green {
					color: #008d84;
				}

				&.blue {
					color: #008ba7;
				}

				&.dark-blue {
					color: #1a6679;
				}
			}
		}

		p {
			@media screen and (max-width:737px) {
				float: none;
				font-size: 1em;
				padding: 22px 0 0;
				line-height: 18px;
				letter-spacing: 0;
			}
			float: left;
			font-size: 18px;
			padding: 14px 0;
			line-height: 25px;
			letter-spacing: 0.4px;
			color: #666;

			span {
				position: relative;
				top: -11px;
			}
		}
	}

	.c2 {
		@media screen and (max-width:737px) {
			padding: 4% 4% 5%;
		}
		box-sizing: border-box;
		padding: 46px 51px 0;

		ol {
			@media screen and (max-width:737px) {
				margin: 0;
				padding: 23px 0 0 4%;
			}
			list-style-type: none;
			overflow: hidden;
			margin-top: 37px;
			padding-top: 2px;

			li {
				@media screen and (max-width:737px) {
					float: none;
					width: 100%;
					overflow: hidden;
					margin-bottom: 15px;

					&:last-of-type {
						margin: 0;
					}
				}
				float: left;
				width: 50%;
				margin-bottom: 27px;
				box-sizing: border-box;

				&:nth-of-type(even) {
					@media screen and (max-width:737px) {
						padding: 0;
					}
					padding: 0 0 0 20px;
				}

				span {
					@media screen and (max-width:737px) {
						font-size: 1em;
						width: 20px;
						height: 20px;
						padding: 3px 0 0;
					}
					display: block;
					float: left;
					font-size: 30px;
					background: #395277;
					color: #fff;
					border-radius: 50%;
					width: 38px;
					height: 38px;
					text-align: center;
					padding: 10px 0 0;
					box-sizing: border-box;
				}

				p {
					@media screen and (max-width:737px) {
						font-size: 0.8em;
						letter-spacing: 0;
						padding: 0 0 0 3%;
						line-height: 16px;
						top: 0;
					}
					float: left;
					font-size: 15px;
					line-height: 21px;
					letter-spacing: 0.3px;
					padding: 0 0 0 22px;
					position: relative;
					top: -5px;
				}
			}
		}
	}

	#vimeo {
		//overflow:hidden;
		//margin-bottom:40px;
		@media screen and (max-width:736px) {
			margin-bottom: 0;
		}

		img {
			//display:inline-block;
			&:first-of-type {}

			&:nth-of-type(2) {
				float: left;
				width: 800px;
			}

			&:nth-of-type(3) {}

			&:last-of-type {
				float: left;
				width: 200px;
			}

			&:hover {
				cursor: pointer;
			}
		}

		iframe {
			//display:none;
			//float:left;
			max-width: 100%;
		}
	}

	.c4 {
		@media screen and (max-width:737px) {
			padding: 4%;
			//top:42px;
		}
		padding: 51px;
		text-align: center;
		position: relative;
		//top: 94px;
		//opacity: .5;
		div {
			@media screen and (max-width:737px) {
				padding-bottom: 30px;
			}
			background: #f8c5b8;
			padding-bottom: 44px;
			margin-bottom: 10px;

			a,
			h3,
			p {
				color: #666;
			}

			p {
				@media screen and (max-width:737px) {
					font-size: 1.1em;
					padding-top: 22px;
					line-height: 22px;
					letter-spacing: 0.2px;
				}
				font-size: 24px;
				line-height: 35px;
				padding-top: 44px;
			}

			h3 {
				@media screen and (max-width:737px) {
					font-size: 1.8em;
					margin: 0;
					padding: 0;
				}
				padding-top: 29px;
				font-size: 48px;
				text-transform: capitalize;
				font-family: brown-pro-bold !important;
				font-weight: normal;
				letter-spacing: -1px;
				position: relative;

				span {
					@media screen and (max-width:737px) {
						width: 9%;
						height: 2px;
						top: 13px;
					}
					width: 62px;
					height: 3px;
					background: #666;
					display: inline-block;
					position: absolute;
					top: 41px;

					&:first-of-type {
						@media screen and (max-width:737px) {
							left: 20%;
						}
						left: 250px;
					}

					&:last-of-type {
						@media screen and (max-width:737px) {
							right: 20%;
						}
						right: 250px;
					}
				}
			}

			a {
				@media screen and (max-width:737px) {
					margin: 16px auto 0;
					font-size: 0.9em;
					padding: 7px 0;
					width: 45%;
				}
				display: block;
				text-decoration: none;
				margin: 37px auto 0;
				border: 1px solid;
				text-transform: uppercase;
				font-size: 16px;
				padding: 11px 0;
				width: 200px;

				&:active,
				&:hover {
					background: #666;
					color: #f8c5b8;
				}
			}
		}
	}

	.bottom {
		//margin-top:32px;
	}
}

.vimeo {}

.iframe {
	display: none;
}

.desktop {
	@media screen and (max-width:736px) {
		display: none !important;
	}
}

.mobile {
	display: none;
	@media screen and (max-width:736px) {
		display: block;
	}
}