
section#breadcrumbs {
	margin: 0 0 0 0 !important;
	display:none;
}

.ref {
	position:absolute;
	top:-140px;
	left:-30px;
	opacity:.5;
}

.my-account h1, .midbox h1 {
	display:none;
}

.desktop {
	@media screen and (max-width:736px){
		display:none !important;
	}
}

.mobile {
	display:none !important;
	@media screen and (max-width:736px){
		display:block !important;
	}
}

.cta {
		@media screen and (max-width:737px){
			width: 42%;
    		left: 0px;
    		padding: .8em 0;
    		font-size: .8em;
    		//line-height:3em;
		}

		@media screen and (max-width:415px){
		    font-size: .8em;
    		letter-spacing: 1.1px;
		}

		@media screen and (max-width:376px){
    		//padding: 8px 0;
    		font-size:.8em;
		}

		@media screen and (max-width:321px){
			//padding: 7px 0;
    		font-size: .6em;
		}

	display: inline-block;
	font-family: brown-pro-bold !important;
    border: 1px solid;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    text-align:center;
    box-sizing:border-box;
}

.top {
	.text {
		@media screen and (max-width:737px){
			background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/static/gift-shop/171102/top-m.jpg?nocache=123) no-repeat top left;
			height:auto;
			background-size: cover;
		}

		background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/static/gift-shop/171102/top-d.jpg?nocache=123) no-repeat top left;
		height:293px;
		overflow:hidden;

		h1 {
			@media screen and (max-width:737px){
				font-size:1.5em;
				line-height:21px;
				margin: 102px 0 20px 0;
				padding: 0 0 0 6%;
				box-sizing:border-box;
			}

			color:#fff;
			font-family:brown-pro-bold !important;
			font-size:24px;
			line-height:30px;
			font-weight:normal;
			float:right;
			width: 248px;
			margin: 138px 46px 0 0;
			display:block;

			span {
				@media screen and (max-width:737px){
					font-size: .75em;
					line-height:17px;
				}

				font-family:brown-pro-regular !important;
				font-size:18px;
				line-height:28px;
				display:block;
				margin-top: 5px;
			}
		}
	}
}

.top, .gift-shop-container {
	img {
		max-width:100%;
	}
}

.gift-shop-container {
	@media screen and (max-width: 737px){
		
	}

	margin-top:17px;

	img {
		image-rendering: -webkit-optimize-contrast;
		max-width:100%;
	}

	ul {
		overflow:hidden;

		li {
			@media screen and (max-width:737px){
    			width: 49%;
    			margin-right: 2%;
    			margin-bottom: 47px;
			}
			
			float:left;
			width: 488px;
			margin-right: 24px;
			margin-bottom: 24px;
			list-style-type:none;

			&:nth-of-type(even){
				margin-right:0;
			}

			a {
				text-decoration:none;
				position:relative;

				&:hover, &:active {
					.cta {
						background:#026261;
						color: #fff;
					}
				}

				.cta {	
					@media screen and (max-width:737px){
						position:relative;
						left:0;
						top:0;
						bottom:0;
						border: 1px solid;
						margin: 20px auto 0;
						display:block;
						width:86%;
					}

					position:absolute;
					bottom:60px;
					left:30%;
					border:none;
					background:#fff;
					color:#026261;
				}
			}
		}
	}	
}

