.returns-container {
	padding: 1rem;

	h1,
	h2,
	h3,
	li,
	ol,
	p,
	ul {
		color: #666 !important;
		margin: 0 0 20px;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	ol,
	ul {
		padding: 0 0 0 2rem;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	.cta {
		@media screen and (max-width:800px) {
			width: 100%;
		}
	}
}