.ref {
	position:absolute;
	opacity:.5;
	//display:none;
}
 
.my-account, .midbox {
	h1 {
		display:none;
	}
}

#simplemodal-container, #simplemodal-overlay {
	display:none !important;
}

.padded {
	padding:0 !important;
}

.mobile {
	@media screen and (max-width:768px){
		display:block;
	}

	display:none;
}

.desktop {
	@media screen and (max-width:768px){
		display:none;
	}
}

.cta {
	@media screen and (max-width:768px) {
		padding:11px 0 6px 0;
		width:170px;
		left:0;
		font-size:12px;
	}

	@media screen and (max-width:737px){
		padding:19px 0 13px 0;
		width:302px;
		left:3px;
		font-size:19px;
		letter-spacing:1px;
		margin-bottom:76px;
	}

	@media screen and (max-width:668px){
		width:276px;
		font-size:17px;
		margin-bottom:67px;
	}

	@media screen and (max-width:569px){
		width:235px;
		font-size:14px;
		padding:17px 0 9px 0;	
		margin-bottom:59px;
	}

	@media screen and (max-width:481px){
		width:199px;
		font-size:11px;
		padding:14px 0 10px 0;
		margin-bottom:49px;
	}

	@media screen and (max-width:415px){
		width:170px;
		padding:12px 0 7px 0;
		font-size:10px;
	}

	@media screen and (max-width:376px){
		width:155px;
		font-size:9px;
		padding:11px 0 7px 0;
	}

	@media screen and (max-width:321px){
		width:131px;
		font-size:8px;
		padding:9px 0 6px 0;
	}

	display: block;
    border: 2px solid;
    padding: 13px 0 10px;
    width: 198px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    left: -2px;
    font-size: 14px;
    font-weight:bold;
}

.wrap-content {
	overflow:hidden;
	font-family:'tisa sans';

	img {
		max-width:100%;
	}
}//end of .wrap-content

.c1 {
	@media screen and (max-width:768px){
		display:none;
	}
	width:427px; 
	height:500px;
	float:left;
}//end of .c1

.c2 {
	@media screen and (max-width:768px){
		width:100%;
		height:auto;
		background-size:100% auto;
	}

	width:573px;
	height:500px;
	float:left;
	background: url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/static/influencer/170418/2d.png') no-repeat top center;
	text-align:center;

	h2 {
		@media screen and (max-width:737px){
			font-size:76px;
			margin-top:116px;
			letter-spacing:6px;
			left:5px;
			margin-bottom:21px;
		}

		@media screen and (max-width:668px){
			font-size:70px;
			margin-top:105px;
			letter-spacing:5px;
			margin-bottom:16px;
		}

		@media screen and (max-width:569px){
			font-size:57px;
			margin-top:90px;
		}

		@media screen and (max-width:481px){
			font-size:50px;
			margin-top:75px;
			margin-bottom:11px;
			letter-spacing:3.5px;
		}

		@media screen and (max-width:415px) {
			font-size:43px;
			margin-top:66px;
			letter-spacing:3px;
			left:3px;
			margin-bottom:9px;
		}

		@media screen and (max-width:376px){
			font-size:41px;
			margin-top:60px;
			letter-spacing:2px;
			margin-bottom:7px;
		}

		@media screen and (max-width:321px){
			font-size:35px;
			margin-top:49px;
			margin-bottom:9px;
			left:0;
		}

		font-size:60px;
		margin-top:134px;
		font-family:'mrdodo regular';
		font-weight:normal;
		letter-spacing:2.5px;
		position:relative;
		left:0px;
		margin-bottom:41px;
		color:#ff9387;
	}

	#the-code {
		text-transform:uppercase;
	}

	p {
		font-weight:bold;

		&:first-of-type {
			@media screen and (max-width:737px){
				font-size:35px;
				line-height:39px;
				letter-spacing:1.4px;
				margin-bottom:82px;
			}

			@media screen and (max-width:668px){
				font-size:31px;
				margin-bottom:68px;
			}

			@media screen and (max-width:569px){
				font-size:26px;
				line-height:32px;
				margin-bottom:59px;
			}

			@media screen and (max-width:481px){
				font-size:22px;
				line-height:28px;
				margin-bottom:51px;
			}

			@media screen and (max-width:415px){
				font-size:20px;
				line-height:24px;
				letter-spacing:.5px;
				margin-bottom:43px;
			}

			@media screen and (max-width:376px){
				font-size:18px;
				line-height:21px;
				margin-bottom:40px;
			}

			@media screen and (max-width:321px){
				font-size:15px;
				line-height:16px;
				margin-bottom:37px;
			}

			font-size:26px;
			text-transform:uppercase;
			line-height:29px;
			letter-spacing:.9px;
			margin-bottom:57px;
			color:#999;
		}

		&:nth-of-type(2){
			@media screen and (max-width:737px){
				font-size:25px;
				letter-spacing:1.2px;
				position:relative;
				left:8px;
				margin-bottom:10px;
			}

			@media screen and (max-width:668px){
				font-size:22px;
				left:6px;
			}

			@media screen and (max-width:569px){
				font-size:19px;
				left:8px;
			}

			@media screen and (max-width:481px){
				font-size:16px;
				left:6px;
				margin-bottom:8px;
			}

			@media screen and (max-width:415px) {
				font-size:14px;
				//letter-spacing:.8px;
				letter-spacing:.4px;
				position:relative;
				left:4px;
				margin-bottom:5px;
			}

			@media screen and (max-width:376px){
				font-size:12px;
				letter-spacing:.9px;
				margin-bottom:4px;
			}

			@media screen and (max-width:321px){
				font-size:10px;
			}


			font-size:19px;
			letter-spacing:.5px;
			margin-bottom:13px;
			color:#2ab7b7;
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				font-size:22px;
				letter-spacing:2px;
				margin-bottom:50px;
				left:3px;
			}

			@media screen and (max-width:668px){
				font-size:20px;
				margin-bottom:45px;
			}

			@media screen and (max-width:569px){
				font-size:17px;
				margin-bottom:36px;
			}

			@media screen and (max-width:481px){
				font-size:13px;
				margin-bottom:32px;
			}

			@media screen and (max-width:415px){
				font-size:14px;
				letter-spacing:.2px;
				left:2px;
				margin-bottom:27px;
			}

			@media screen and (max-width:376px){
				font-size:13px;
				margin-bottom:24px;
			}

			@media screen and (max-width:321px){
				font-size:11px;
				margin-bottom:21px;
			}

			font-size:19px;
			text-transform:uppercase;
			letter-spacing:.7px;
			position:relative;
			left:-4px;
			margin-bottom:45px;
			color:#2ab7b7;
		}
	}

	.cta {
		@media screen and (max-width:415px) {
			margin-bottom:42px;
		}

		@media screen and (max-width:376px){
			margin-bottom:37px;
		}

		@media screen and (max-width:321px){
			margin-bottom:32px;
		}

		border-color:#cacc6b;
		color:#cacc6b;

		&:hover {
			background:#cacc6b;
			color:#fff;
		}
	}

}//end of .c2

.c3, .c4, .c5, .c6 {
	@media screen and (max-width:737px){
		width:363px;
		margin-right:10px;
		height:auto;
		margin-top:-6px; 
	}

	@media screen and (max-width:668px){
		width:329px;
		margin-right:9px;
	}

	@media screen and (max-width:569px){
		width:280px;
		margin-right:8px;
		margin-top:-3px;
	}

	@media screen and (max-width:481px){
		width:237px;
		margin-right:6px;
		margin-top:-4px;
	}

	@media screen and (max-width:415px) {
		width:204px;
		margin-right:6px;
		margin-top:-3px;
	}

	@media screen and (max-width:376px){
		width:185px;
		margin-right:5px;
	}

	@media screen and (max-width:321px){
		width: 158px;
		margin-right:4px;
		margin-top:-2px; 
	}

	width:329px;
	height:502px;
	float:left;
	text-align:center;
	margin-right:9px;
	background:#2ab7b7;

	h2 {
		@media screen and (max-width:737px){
			margin-top:24px;
			font-size:24px;
			line-height:32px;
			letter-spacing:1px;
			left:2px;
		}

		@media screen and (max-width:668px){
			margin-top:24px;
			line-height:31px;
			letter-spacing:0px;
			margin-bottom:13px;
		}

		@media screen and (max-width:569px){
			margin-top:21px;
			line-height:27px;
			letter-spacing:0px;
			font-size:20px;
			margin-bottom:11px;
		}

		@media screen and (max-width:481px){
			margin-top:17px;
			line-height:21px;
			font-size:17px;	
		}

		@media screen and (max-width:415px){
			margin-top:19px;
			font-size:14px;
			line-height:19px;
			letter-spacing:0;
			left:0;
			margin-bottom:9px;
		}

		@media screen and (max-width:376px){
			line-height:16px;
			font-size:12px;
			letter-spacing:.5px;
		}

		@media screen and (max-width:321px){
			line-height:12px;
			font-size:10px;
		}

		margin-top: 28px;
    	font-size: 20px;
    	line-height: 26px;
    	font-weight: normal;
    	letter-spacing:0px;
    	position: relative;
    	left: -1px;
    	margin-bottom:19px;
    	color:#fff;
    	font-family:'mrdodo regular';

		span {
			@media screen and (max-width:737px){
				letter-spacing:1px;
			}

			@media screen and (max-width:668px){
				letter-spacing: 0;
			} 

			@media screen and (max-width:415px) {
				letter-spacing:0px;
			}

			@media screen and (max-width:376px){
				letter-spacing:.5px;
			}

			text-transform:uppercase;
			letter-spacing: 0px;
		}
	}

	.cta {
		@media screen and (max-width:737px){
			margin-bottom:30px;
		}

		@media screen and (max-width:569px){
			margin-bottom:25px;
			letter-spacing:2px;
		}

		@media screen and (max-width:481px){
			margin-bottom:21px;
		}

		@media screen and (max-width:415px){
			//margin-bottom:18px;
			margin-bottom:29px;
			letter-spacing:1px;
			border:1px solid;  
		}

		@media screen and (max-width:376px){
			//margin-bottom:15px;
			margin-bottom:25px;
		}

		@media screen and (max-width:321px){
			margin-bottom:21px;
		}

		border-color:#f1eaa4;
		color:#f1eaa4;

		&:hover {
			background:#f1eaa4;
			color:#fff; 
		}
	}

}//end of bottom cells base styles

.c4 {
	@media screen and (max-width:737px){
		width:363px;
		margin-right:0;
	}

	@media screen and (max-width:668px){
		width:329px;
		margin-right:0;
	}

	@media screen and (max-width:569px){
		width:280px;
	}

	@media screen and (max-width:481px){
		width:237px;
	}

	@media screen and (max-width:415px){
		margin-right:0;
		width:204px;
	}

	@media screen and (max-width:376px){
		width:185px;
	}

	@media screen and (max-width:321px){
		width: 158px;
	}

	width:326px;

	h2 {
		@media screen and (max-width:737px){
			margin-top:21px;
			font-size:23px;
			letter-spacing:1px;
			left:-3px;
			margin-bottom:19px;
		}

		@media screen and (max-width:668px){
			margin-top:20px;
			font-size:21px;
			margin-bottom:14px;
		}

		@media screen and (max-width:569px){
			margin-top:20px;
			font-size:18px;
			margin-bottom:13px;
		}

		@media screen and (max-width:481px){
			margin-top:16px;
			font-size:15px;
			margin-bottom:10px;
		}

		@media screen and (max-width:415px){
			letter-spacing:0px;
			font-size:14px;
			margin-bottom:7px;
			margin-top:19px;
		}

		@media screen and (max-width:376px){
			font-size:12px;
			margin-bottom:9px;
			margin-top:17px;
			left:0;
		}

		@media screen and (max-width:321px){
			font-size:10px;
			margin-bottom:8px;
		}
	
	}

	.cta {
		@media screen and (max-width:737px){
			left:-1px;
			margin-bottom:32px;
		}

		@media screen and (max-width:668px){
			margin-bottom:30px;
		}

		@media screen and (max-width:569px){
			margin-bottom:23px;
		}

		@media screen and (max-width:481px){
			margin-bottom:22px;
		}

		@media screen and (max-width:415px){
			margin-bottom:29px;
		}

		@media screen and (max-width:376px){
			//margin-bottom:13px;
			margin-bottom:25px;
		}
	}
}//end of .c4

.c5 {
	@media screen and (max-width:737px){
		width:363px;
		margin-right:10px;
	}

	@media screen and (max-width:668px){
		width:329px;
		margin-right:9px;
	}

	@media screen and (max-width:569px){
		width:280px;
		margin-right:8px;
	}

	@media screen and (max-width:481px){
		width:237px;
		margin-right:6px;
	}

	@media screen and (max-width:415px) {
		width:204px;
		margin-right:6px;
	}

	@media screen and (max-width:376px){
		width:185px;
		margin-right:5px;
	}

	@media screen and (max-width:321px){
		width: 158px;
		margin-right:4px;
	}

	h2 {
		@media screen and (max-width:415px) {
			margin-top:17px;
		}

		@media screen and (max-width:321px){
			margin-top:14px;
		}
	}

	.cta {
		@media screen and (max-width:737px){
			margin-bottom:43px;
		}

		@media screen and (max-width:415px){
			margin-bottom:22px;
		}

		@media screen and (max-width:321px){
			margin-bottom:21px;
		}
	}

	margin-right:0;
	width:327px;
}//endo of .c5

.c6 {
	@media screen and (max-width:768px) {
		display:block;
		margin-right:0;
	}

	@media screen and (max-width:737px){
		width:363px;
	}

	@media screen and (max-width:668px){
		width:329px;
		margin-right:0;
	}

	@media screen and (max-width:569px){
		width:280px;
	}

	@media screen and (max-width:481px){
		width:237px;
	}

	@media screen and (max-width:415px) {
		width:204px;
	}

	@media screen and (max-width:376px){
		width:185px;
	}

	@media screen and (max-width:321px){
		width: 158px;
	}

	h2 {
		@media screen and (max-width:768px){
			margin-top:16px;
		}

		@media screen and (max-width:737px){
			left:-2px;
			margin-top:24px;
		}

		@media screen and (max-width:668px){
			font-size:23px;
			margin-top:21px;
		}

		@media screen and (max-width:569px){
			font-size:19px;
			margin-top:19px;
		}

		@media screen and (max-width:481px){
			font-size:17px;
			margin-top:16px;
		}

		@media screen and (max-width:415px){
			font-size:14px;

		}

		@media screen and (max-width:376px){
			font-size:12px;
		}

		@media screen and (max-width:321px){
			margin-top:9px;
			margin-bottom:12px;
			font-size:10px;
		}
	}

	.cta {
		@media screen and (max-width:737px){
			margin-bottom:40px;
			left:0;
		}

		@media screen and (max-width:668px){
			margin-bottom:43px;
		}

		@media screen and (max-width:415px){
			margin-bottom:22px;
		}
	}

	display:none;
}