@media screen and (max-width:414px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width:414px) {
  .mobile {
    display: block;
  }
}

.values-wrap {
  text-align: center;
}

.values-wrap h2 {
  font-family: gilroy-bold;
  font-size: 34px;
  line-height: 52px;
  text-align: center;
  letter-spacing: .25em;
  text-transform: uppercase;
  color: #436FC1;
}

@media screen and (max-width:414px) {
  .values-wrap h2 {
    font-size: 22px;
    line-height: 28px;
  }
}

.values-wrap p {
  font-family: souvenirstd-light;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: .02em;
  color: #47363D;
  margin: 3% auto;
  width: 75%;
}

@media screen and (max-width:768px) {
  .values-wrap p {
    width: 100%;
  }
}

@media screen and (max-width:414px) {
  .values-wrap p {
    font-size: 16px;
    line-height: 24px;
    margin: 5% auto;
  }
}

.values-wrap a {
  font-family: gilroy-bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: .25em;
  text-transform: uppercase;
  color: #FF4BAD;
  border-bottom: 1px solid #FF4BAD;
  text-decoration: none;
  padding: 0 0 1%;
}

.values-wrap .c3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% auto;
}

.values-wrap .c3 h2 {
  flex-basis: 100%;
}

.values-wrap .c3 div {
  flex-basis: 33%;
  margin: 0 0 5%;
}

@media screen and (max-width:768px) {
  .values-wrap .c3 div {
    flex-basis: 50%;
    padding: 3%;
  }
}

@media screen and (max-width:414px) {
  .values-wrap .c3 div {
    flex-basis: 100%;
  }
}

.values-wrap .c3 div img {
  display: block;
  margin: 0 0 5%;
}

.values-wrap .c3 div span {
  font-family: gilroy-bold;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #FF4BAD;
}

.values-wrap .c3 div h3 {
  font-family: gilroy-bold;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #436FC1;
}

@media screen and (max-width:414px) {
  .values-wrap .c3 div h3 {
    font-size: 22px;
    line-height: 28px;
  }
}