.common-wrap {
  display:none;
}

.desktop {
  @media screen and (max-width:414px) {
    display: none;
  }
}

.mobile {
  @media screen and (max-width:414px){
    display:block;
  }
  display:none;
}

.wrap-content {
  img {
    max-width: 100%;
  }
}
