.desktop {
	@media screen and (max-width:737px){
		display:none !important;
	}
}

.mobile {
	display:none !important;
	@media screen and (max-width:737px){
		display:block !important;
	}
}

.common-wrap {
    margin: 0px 0% 0px 0% !important;
}

h1 {
	display:none;
}

#simplemodal-overlay, #simplemodal-container, #tea-promo-subscribe, .cart-skus {
	display:none !important;	
}

.ref2 {
	position:absolute;
	opacity:.5;
}

.ref {
	@media screen and (max-width:737px){
		top:-123px;
	}

	position:absolute;
	top:-69px;
	left:0;
	opacity:.5;
	z-index:9999;
	//display:none;
	max-width:100%;
}

.cta {
		@media screen and (max-width:737px){
			width: 42%;
    		left: 0px;
    		padding: 1em 0;
    		font-size: .8em;
    		//line-height:3em;
		}

		@media screen and (max-width:415px){
		    font-size: .8em;
    		letter-spacing: 1.1px;
		}

		@media screen and (max-width:376px){
    		//padding: 8px 0;
    		font-size:.7em;
		}

		@media screen and (max-width:321px){
			//padding: 7px 0;
    		font-size: .6em;
		}

	display: inline-block;
	font-family: brown-pro-bold !important;
    border: 1px solid;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    font-size: 13px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 0 9px;
    //font-weight:bold;
    text-align:center;
    box-sizing:border-box;
    //line-height:2.8em;
}

.padded {
	padding:0 !important;
}

#content-wrapper .breadcrumb, #breadcrumbs {
	display:none;
}

@pink: #FF8D90;

@blue: #8AC0C5;

.nb-wrap {
	@media screen and (max-width:737px){
		
	}

	img {
		max-width:100%;
	}

	//display:none;

	p {
		color:#666;
	}

	header {
		@media screen and(max-width:737px){
			min-height:auto;
			background:none;
		}

		min-height:500px;
		background: url(https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/c1-d.png) no-repeat;
		overflow:hidden;

		div {
			@media screen and (max-width:737px){
				float:none;
				width:100%;
				margin:0 0 0 0;
				text-align:center;
			}

			float: right;
    		width: 390px;
    		box-sizing: border-box;
    		margin: 262px 0 0 0;
    		text-align: right;

    		h2 {
    			font-size: 60px;
    			line-height: 60px;
    			padding: 0px 57px 0 0;
    			color: @blue;
    			font-family:brown-pro-bold;
    			font-weight:normal;
    		}

    		p {
    			@media screen and (max-width:737px){
    				font-size:.9em;
    				line-height:18px;
    				padding: 0 0 0 0;
    				margin: 18px 0 0 0;
    			}

    			font-size: 18px;
    			padding: 0 56px 0 0;
    			margin: 11px 0 0 0;
    			line-height: 28px;
    		}
		}
	}

	.row1, .row4, .row5, .row6 {
		@media screen and (max-width:737px){
			margin:20px 0 0 0;
			padding:8px 0 15px 0;
			font-size:1.8em;
			line-height:30px;
			text-align:center;
			height:auto;
		}

		background: #F8C6B8;
    	margin: 46px 0 0 0;
    	box-sizing: border-box;
    	padding: 8px 0 0px 69px;
    	font-size: 24px;
    	line-height: 30px;
    	height: 50px;

    	h2 {
    		color:#fff;
    		font-family:brown-pro-bold;
    		font-weight:normal;
    	}
	}

	.row4 {
		@media screen and (max-width:737px){
			height: auto;
    		padding: 7px 0 16px 0;
    		margin: 30px 0 0 0;
		}

		padding:8px 0 0 185px;
		height: 80px;
	}

	.row5 {
		@media screen and (max-width:737px){
			height: auto;
			margin: 30px 0 0 0;
		}

		padding: 3px 0 0 0;
		background:#8AC0C5;
		height: 40px;

		&:hover {
			cursor: pointer;
		}

		h2 {
			@media screen and (max-width:737px){
				font-size:15px;
				line-height:30px;
				padding:2px 0 7px 0;
			}

			font-family:brown-pro-bold-italic;
			font-size:21px;
			line-height: 30px;
			text-align:center;
			text-decoration:underline;
			font-weight:normal;
		}
	}

	.row6 {
		@media screen and(max-width:737px){
			height:auto;
			padding:16px 0 30px 0;
			margin: 30px 0 0 0;
		}

		height:157px;
		padding:24px 0 0 0;

		h2 {
			@media screen and (max-width:737px){
				margin:0 0 0 0;
			}

			text-align:center;
			margin:0 0 23px 0;
			font-family:brown-pro-bold;
			font-weight:normal;
		}

		a {
			@media screen and (max-width:737px){
				width:64%;
				height:auto;
				margin: 15px auto 0 auto;
				font-size:.4em;
				line-height: 12px;
				padding:9px 0 8px 0;
			}

			background: #fff;
    		width: 395px;
    		height: 39px;
    		padding: 4px 0 0 0;
    		margin: 0 auto;
    		display: block;
    		color: #F8C6B8;

    		&:hover {
    			background:#666;
    			color:#F8C6B8;
    		}
		}

	}

	.row2, .row3 {
		@media screen and (max-width:737px){
			margin:30px 0 0 0;
		}

		overflow:hidden;
		margin: 44px 0 0 0;

		div {
			@media screen and (max-width:737px){
				float:none;
				height:auto;
			}

			float:left;
			height:420px;

			h2 {
				font-size: 18px;
    			line-height:24px;
    			font-family:brown-pro-bold;
    			font-weight:normal;
			}

			p {
				font-size: 15px;
    			line-height:20px;
			}

			&[data="1"]{
				@media screen and (max-width:737px){
					width:100%;
					background:none;
					margin:0 0 0 0;
				}

				width:565px;
				background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/c2-d.png') no-repeat;
				margin: 0 15px 0 0;

				div {
					float: none;
    				box-sizing: border-box;
    				width: 200px;
    				padding: 253px 0 0 24px;

    				h2 {
    					color: @pink;
    					font-family:brown-pro-bold;
    					font-weight:normal;
    				}
				}
			}

			&[data="2"]{
				@media screen and (max-width:737px){
					width:100%;
					background:none;
					margin:30px 0 0 0;
				}

				width:420px;
				background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/c3-d.png') no-repeat;

				div {
					float: none;
    				width: 200px;
    				box-sizing: border-box;
    				padding: 19px 0 0 24px;

					h2 {
						color: @blue;
						font-family:brown-pro-bold;
						font-weight:normal;
					}

				}
			}

		}
	}

	.row3 {

		div {
			&[data="1"]{
				@media screen and (max-width:737px){
					width:100%;
					background:none;

				}

				width: 420px;
				background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/c4-d.png') no-repeat;

				div {
    				padding: 19px 0 0 0;
    				position: relative;
    				left: 265px;

					h2 {
						color:@blue;
						font-family:brown-pro-bold;
						font-weight:normal;
					}
				}
			}

			&[data="2"]{
				@media screen and (max-width:737px){
					width:100%;
					background:none;

				}

				width: 565px;
				background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/c5-d.png') no-repeat;

				div {
					padding: 19px 0 0 0;
    				position: relative;
    				left: 422px;

					h2 {
						color:@pink;
						font-family:brown-pro-bold;
						font-weight:normal;
					}
				}
			}
		}
	}
}

.nb-items {
	@media screen and (max-width:737px){
		margin:30px 0 0 0;
	}

	overflow:hidden;
	margin: 44px 0 0 0;

	div {
		@media screen and (max-width:737px){
			width:49%;
		}

		float:left;
		width: 493px;

		&:first-of-type {
			@media screen and (max-width:737px){
				margin:0 2% 0 0;
			}

			margin:0 14px 0 0;
		}

		&:last-of-type {
			margin:0;
		}

		.unavailable {
			@media screen and (max-width:737px){
				width:49%;
				height:auto;
			}

			margin: 0;
    		width: 493px;
    		height: 493px;
    		position: absolute;
    		background: rgba(0,0,0,.1);

    		span {
    			@media screen and (max-width:737px){
    				font-size:23px;
    				line-height:24px;
    				margin:67px 0 0 0;
    			}

    			font-size: 45px;
    			line-height: 24px;
    			margin: 210px 0 0 0;
    			color: #fff;
    		}
		}

		img {
			max-width:100%;
		}

		h2 {
			@media screen and (max-width:737px){
				font-size:1.2em;
				line-height:18px;
				margin:17px 0 0 0;
			}

			font-size: 21px;
			line-height: 24px;
			text-align:center;
			margin:14px 0 5px 0;
			font-family: brown-pro-bold;
			font-weight:normal;
			color:#666;
		}

		span {
			font-family: brown-pro-bold;
			color:#666;
			display:block;
			text-align:center;

			&.price {
				@media screen and (max-width:737px){
					font-size:1.1em;
					margin:3px 0 0 0;
				}

				font-size: 15px;
				line-height: 22px;
			}

			&.size-chart {
				@media screen and (max-width:737px){
					font-size:.7em;
					line-height:12px;
					margin:12px 0 0 0;
				}

				font-size: 11px;
				line-height: 13px;
				color:#999;
				text-transform: uppercase;
    			letter-spacing: 1px;
    			margin: 11px 0 0 0;

    			&:hover {
    				cursor:pointer;
    			}
			}
			
		}

		.drop-container {
			@media screen and (max-width:737px){
				width:100%;
			}

			overflow:hidden;
			margin:17px 0 0 0;

			ul {
				height: 39px;
				width: 200px;
				margin:0 20px 0 37px;
				overflow:hidden;
				list-style-type:none;
				border: 1px solid #666;
				background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/expand.png') no-repeat 167px 15px #fff;
				float:left;
				transition: height 1s;
				box-sizing:border-box;

				li {
					height: 39px;
    				font-size: 13px;
    				line-height: 21px;
    				text-align: center;
    				color: #666;
    				font-family: brown-pro-bold;
    				text-transform: uppercase;
    				box-sizing: border-box;
    				padding: 10px 0 0 0;
    				letter-spacing: 1px;
    				border-bottom: 1px solid #E6E7E8;

    				&:first-of-type {
    					&:hover {
    						background:none;
    					}
    				}

    				&:last-of-type {
    					border:none;
    				}

    				&.sold-out {
    					color:#999;
    				}

    				&:hover {
    					background:#E6E7E8;
    					color:#666;
    					cursor:pointer;
    				}
				}
			}

			select {
				width:85%;
				height: 30px;
				margin: 0 auto;
				border: 1px solid #666;
				background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/expand.png') no-repeat 95% 10px #fff;
				display:block;
				text-align:center;
				font-size: .8em;
				line-height: 12px;
				text-transform:uppercase;
				font-family:brown-pro-bold;
				border-radius:0;

				option {
					
				}
			}

			a {
				@media screen and (max-width:737px){
					float:none;
					display:block;
					width:158px;
					height:30px;
					margin:15px auto 0;
					padding:8px 0 0 0;
				}

				color: #fff;
				background: #999;
				float: right;
    			margin: 0 36px 0 0;
			}
		}
	}
}

.size-lightbox {
	background: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display:none;
    z-index:9999;

    &:hover {
    	cursor:pointer;
    }
}

.expand {
	height: auto !important;
	position: absolute !important;

	li {
		&:first-of-type {
			background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/collapse.png') no-repeat 167px 15px #999 !important;
			color:#fff !important;

			&:hover {
				background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/collapse.png') no-repeat 167px 15px #999 !important;
				color:#fff !important;
			}
		}
	}
}

.disabled {
	&:hover {
		cursor:not-allowed;
	}
}

.activeCta {
	background: #572700 !important;
	color:#fff !important;

	&:hover {
		background: #381A00 !important;
	}
}

.size-container, .error-message, .welcome-message {
	@media screen and (max-width:737px){
		//display: block;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
	}

	background: #8AC0C5;
    position: fixed;
    width: 500px;
    height: 360px;
    top: 13%;
    left: 35%;
    display:none;
    z-index:9999;

    img {
    	max-width:100%;

    	&.close {
    		position:absolute;
    		top: 18px;
    		left: 19px;

    		&:hover {
    			cursor:pointer;
    		}
    	}
    }

    h2 {
    	@media screen and (max-width:737px){
    		font-size: 30px;
    		line-height:35px;
    		margin:173px 0 0 0;
    	}

    	@media screen and (max-width:321px){
    		margin: 20px 0 0 0;
    	}

    	font-size:30px;
    	line-height: 35px;
    	color:#fff;
    	padding:0;
    	margin:78px 0 0 0;
    	text-align:center;
    	font-family:brown-pro-bold;
    	font-weight:normal;
    }

    h3 {
    	@media screen and (max-width:737px){
    		font-size:18px;
    		line-height:24px;
    		margin:10px 0 0 0
    	}

    	font-size:21px;
    	line-height:28px;
    	color:#fff;
    	padding:0;
    	margin:7px 0 0 0;
    	text-align:center;
    	font-family:brown-pro-bold;
    	font-weight:normal;
    }

    p {
    	@media screen and (max-width:737px){
    		font-size:12px;
    		line-height:18px;
    		margin:26px 0 0 0;
    	}

    	font-size:15px;
    	line-height: 21px;
    	color:#fff;
    	padding:0;
    	margin:15px 0 0 0;
    	text-align:center;
    }



    form {
    	@media screen and (max-width:737px){
    		margin: 18px auto 0 auto;
    		width: 88%;
    		height: 42px;
    	}

    	margin: 24px auto 0 auto;
    	width:395px;
    	height:39px;
    	background:#fff;

    	input {
    		&[type="email"]{
    			@media screen and (max-width:737px){
    				height:40px;
    				width:85%;
    				position:relative;
    				top:-17px;
    			}

    			height: 39px;
    			padding: 0 0 0 20px;
    			border: none;
    			width: 352px;
    			box-sizing: border-box;
    			margin: 0;
    			font-size:10px;
    			line-height:12px;
    			text-transform: uppercase;
    			letter-spacing: 1px;
    			color:#999;
    			border-radius:0;
    		}

    		&[type="submit"]{
    			@media screen and (max-width:737px){
    				height:42px;
    				width:13%;
    				left:4px;
    			}

    			width: 39px;
    			height: 39px;
    			border: none;
    			background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/apply-grey.png') no-repeat 16px 12px #E6E7E8;
    			position: relative;
    			left: 2px;
    			border-radius:0;
    		}
    	}

    }

    span {
    	position: absolute;
    	bottom: 23px;
    	left: 6%;
    	background: #fff;
    	font-size: 14px;
    	line-height: 17px;
    	color: #666;
    	font-family: brown-pro-bold;
    	text-transform: uppercase;
    	height: 42px;
    	width: 88%;
    	border: none;
    }
}

.size-container {
	//display:block;
}

.error-message {
	//display:block;
}

.welcome-message {
	//display:block;
}

.error-message, .welcome-message {
	background: #fff;

	h2 {
		@media screen and (max-width:737px){
			margin: 192px 0 0 0 !important;
		}

		@media screen and (max-width:321px){
			margin: 20px 0 0 0 !important;
		}

		margin: 86px 0 0 0;
		color:#F8C6B8;
		font-family:brown-pro-bold;
		font-weight:normal;
	}

	p {
		font-size: 18px;
    	line-height: 24px;
    	color: #666;
    	margin: 10px 0 0 0;
	}

	a {
		@media screen and (max-width:737px){
			width: 63%;
    		height: 42px;
		}

		display: block;
    	width: 250px;
    	height: 39px;
    	font-size: 13px;
    	line-height: 16px;
    	margin: 24px auto 0 auto;
    	background: #666;
    	color: #fff;
    	border: none;

    	&:hover {
    		background: #414042;
    	}
	}

	span {
		background:#999;
		color:#fff;
	}
}

.welcome-message {
	//display:block;

	h2 {
		margin: 70px 0 0 0;
		color: #8AC0C5;
		font-family:brown-pro-bold;
		font-weight:normal;
	}

	a {
		&:first-of-type {
			background:#8AC0C5;
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				margin:15px auto 0 auto;
			}

			background:#572700;
			margin:20px auto 0 auto;

			&:hover {
				background: #381A00;
			}
		}
	}
	
}

.all-out {
	@media screen and (max-width:737px){
		background:none;
	}

	background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/babies-d.png') no-repeat;
	overflow:hidden;
	display:none;

	img {
		max-width:100%;
	}

	div {
		box-sizing:border-box;

		&[data="top"]{
			@media screen and (max-width:737px){
				width:100%;
				height:auto;
				padding: 0 0 0 0;
			}

			width:400px;
			height:500px;
			//background:red;
			float:right;
			text-align:right;
			padding:60px 40px 0 0;

			h2 {
				font-size:45px;
				line-height:45px;
				color: #8AC0C5;
				font-family:brown-pro-bold;
				font-weight:normal;
			}

			p {
				@media screen and (max-width:737px){
					font-size:.9em;
					line-height:18px;
					text-align:center;
					margin:18px 0 20px 0;
				}

				font-size:21px;
				line-height:30px;
				color:#666;
				margin:11px 3px 0 0;
			}
		}

		&[data="bottom"]{
			clear:both;
			background:#F8C6B8;
			height: 234px;
			text-align:center;
			padding:17px 0 0 0;
			

			h2 {
				@media screen and (max-width:737px){
					font-size:1.8em;
					line-height:30px;
				}

				font-size:30px;
				line-height:36px;
				color:#fff;
				font-family:brown-pro-bold;
				font-weight:normal;
			}

			p {
				@media screen and (max-width:737px){
					font-size:12px;
					line-height:18px;
					margin:10px 0 0 0;
					left:0;
				}

				font-size:21px;
				line-height:21px;
				color:#fff;
				position: relative;
    			left: 9px;
    			margin:14px 0 0 0;
			}

			form {
				@media screen and (max-width:737px){
    				margin: 18px auto 0 auto;
    				width: 88%;
    				height: 42px;
    			}

    			margin: 27px auto 0 auto;
    			width:395px;
    			height:39px;
    			background:#fff;

    			input {
    				&[type="email"]{
    					@media screen and (max-width:737px){
    						height:40px;
    						width:85%;
    						position:relative;
    						top:-17px;
    					}

    					height: 39px;
    					padding: 0 0 0 20px;
    					border: none;
    					width: 352px;
    					box-sizing: border-box;
    					margin: 0;
    					font-size:10px;
    					line-height:12px;
    					text-transform: uppercase;
    					letter-spacing: 1px;
    					color:#999;
    					border-radius:0;
    				}

    				&[type="submit"]{
    					@media screen and (max-width:737px){
    						height:42px;
    						width:13%;
    						left:4px;
    					}

    			    	width: 39px;
    					height: 39px;
    					border: none;
    					background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/newborn-gift/2018/apply-grey.png') no-repeat 16px 12px #E6E7E8;
    					position: relative;
    					left: 1px;
    					border-radius:0;
    				}
    			}

    		}

		}
	}
}