
body {
	font-family:'tisa sans';	
} 
.ref {
	position:absolute;
	opacity:.5;
	max-width:100%; 
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}

.mobile {
	display:none !important;

	@media screen and(max-width:768px){
		display:block !important;
	}
}

@media screen and (max-width:768px){
	.dept-girls-clothing {
		display:none; 
	}
	.common-wrap {
		margin:0;
	}
}

.title {
	color: #333333;
    font-family: tisa sans;
    font-size: 22px;
    font-weight: normal;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    //display:none !important;
}

img {
	max-width:100%;
}

.body-copy {
	@media screen and (max-width:737px){
		font-size:1em;
		line-height:1.59em;
		//letter-spacing:.6px;
		letter-spacing:.05em;
	}

	@media screen and (max-width:376px){
		font-size:.9em;
	}

	@media screen and (max-width:321px){
		font-size:.8em;
		letter-spacing:.5px;
	}

	font-size:14px;
	line-height:21px;
	letter-spacing:.6px;
	position:relative;
}

.cta {
		@media screen and (max-width:737px){
			width: 42%;
    		left: 0px;
    		padding: 1em 0 .7em;
    		font-size: .8em;
    		//line-height:3em;
		}

		@media screen and (max-width:415px){
		    font-size: .8em;
    		letter-spacing: 1.1px;
		}

		@media screen and (max-width:376px){
    		//padding: 8px 0;
    		font-size:.7em;
		}

		@media screen and (max-width:321px){
			//padding: 7px 0;
    		font-size: .6em;
		}

	display: inline-block;
    border: 1px solid;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    font-size: 13px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 0px 9px;
    //font-weight:bold;
    text-align:center;
    box-sizing:border-box;
    //line-height:2.8em;
}

.girls-clothing-cat {
	overflow:hidden;

	div {

	&:first-of-type {

		float:left;


	} // end of div:first-of-type


	&:last-of-type {
		@media screen and (max-width:737px){
			width:100%;
			min-height:480px;
			background:url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/girls-clothing/170505/m-dotted.png') no-repeat bottom center;
			background-size:100% auto;
		}

		@media screen and (max-width:376px){
			min-height:435px;
		}

		@media screen and (max-width:321px){
			min-height:370px;
		}

		//width:441px;
		min-height:486px;
		float:left;
		text-align:center;
		background:url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/girls-clothing/170706/d-dotted.png') no-repeat bottom center;

		p {
			@media screen and (max-width:737px){
				margin-top:1.6em;
				letter-spacing:.7px;
			}

			letter-spacing: 1.2px;

			&:last-of-type {
				@media screen and (max-width:737px){
					margin:.4em 0 0;
					font-size:10px;
				}

				font-family: brown-pro-bold;
				font-size: 13px;
    			margin: 6px 0 14px;
    			letter-spacing: 1px;
    			color:#e22029;
			}

			//top:-6px;
		}

		img {
			&[alt="dots"]{
				position:relative;
				top:-4px;
			}
		}

		h2 {
			@media screen and (max-width:737px){
				display:none;
			}

			font-size: 29px;
    		letter-spacing: 2.3px;
    		margin: 9px 0 13px;
    		color: #e22029;
		}
 

		.cta {
			@media screen and (max-width:737px) {
				margin-top: 2em;
    			width: 88%;
    			font-size: 10px;
			}

			margin-top:10px;
			//left:1px;
			border-color:#e22029;
			color:#e22029;
			font-family:brown-pro-bold;


			&:hover, &:active {
				@media screen and (max-width:737px){
					//background:#3bb699;
				}

				background:#e22029;
				color:#fff;
			}
		}

	} //end of div:last-of-type

	} //end of div

}