<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Globally inspired designs for little citizens of the world</title>
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
 <div style="background-color:#FFFFFF;">
   
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="font-size:0">
         <tr>
            <td align="center" valign="top">
               <table border="0" cellpadding="0" cellspacing="0" width="600">
                  <tr>
                     <td align="center" valign="top">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;margin:0" align="center">
                           <tr>
                              <td align="center" style="text-align:center">

                                    <table width="600" align="center" cellpadding="0" cellspacing="0">
                                       <tr style="width:100%;line-height:18px;font-family:'Tisa Sans',Arial,sans-serif">
                                          
                                          <td align="center" style="font-size:12px;font-family:'Tisa Sans',Arial,Serif;line-height:1.5;vertical-align:middle;text-align:center">
                                            <p style="margin-left:0px;margin-bottom:0px;margin-right:0px;margin-top:0px;padding-left:0px;padding-bottom:12px;padding-right:0px;padding-top:0px;border-bottom-style:none;border-bottom-width:0px;font-size:11px;font-family:'Tisa Sans',Arial,sans-serif;line-height:18px;color:#572600;height:10px">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX <a href="$clickthrough(PH_HOMEPAGE)$" title="Shop Now" style="color:#572600;text-decoration:none;font-family:'Tisa Sans',Arial,sans-serif;font-weight:bold" target="_blank">Shop Now</a>.&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="$formlink(campaignname(),email_address_)$" title="View this email online" style="color:#572600;text-decoration:none;font-family:'Tisa Sans',Arial,sans-serif;font-weight:bold" target="_blank">View in browser</a></p>
                                          </td>
                                          
                                       </tr>
                                    </table>

                                 <center>
                                 <table width="600" height="100" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                       
                                        <td><a href="$clickthrough(NAV_LOGO)$" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-header-logo.png" width="69" height="69" alt="Tea Collection" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif"></a></td>
                                       <td><a href="$clickthrough(NAV_GIRLS)$" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-header-girl.png" width="76" height="69" alt="Girl" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_BOYS)$" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-header-boy.png" width="67" height="69" alt="Boy" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_BABY_GIRL)$" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-header-baby-girl.png" width="104" height="69" alt="Baby Girl" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_BABY_BOY)$" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-header-baby-boy.png" width="103" height="69" alt="Baby Boy" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_NEWBORN)$" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-header-newborn.png" width="104" height="69" alt="Newborn" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_BLOG)$" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-header-blog.png" width="77" height="69" alt="Blog" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       
                                    </tr>
                                 </table>
                                 </center>

                              </td>
                           </tr>
                           <tr>
                             <td width="600" border="0" align="center">

                               <table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0">
<!-- 
	1: Insert HTML code in designated spot below (from 1st TR to last TR)
    2: Update link placeholders
    3: Update img src info so it looks like this:
    		<img src="images/XXXXXXXXX.gif" border="0" alt="XXXXInsert copy from copy doc in first slice/Use CTA for CTA slices/Leave others blankXXXX" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif; display:block">
-->                                           
<!-- Insert New HTML Below-->

<!-- Insert New HTML Above-->

</table></td>
                           </tr>
                        </table>
                        <table width="600" cellspacing="0" cellpadding="0" border="0" style="margin:0;margin-top:5px" align="center">


  

                          
                          <tr>
                              <td>
                                 <table width="600" height="46" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px; font-size:0">
                                    <tr>

                                       
                                       <td><a href="$clickthrough(NAV_GIRLS)$" title="Girl" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-girl.png" width="51" height="46" alt="Girl" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_BOYS)$" title="Boy" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-boy.png" width="50" height="46" alt="Boy" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_BABY_GIRL)$" title="Baby Girl" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-baby-girl.png" width="88" height="46" alt="Baby Girl" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_BABY_BOY)$" title="Baby Boy" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-baby-boy.png" width="84" height="46" alt="Baby Boy" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_NEWBORN)$" title="Newborn" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-newborn.png" width="83" height="46" alt="Newborn" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(NAV_BLOG)$" title="Blog" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-blog.png" width="60" height="46" alt="Blog" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(FOOTER_FB)$" title="Facebook" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-facebook.png" width="46" height="46" alt="Facebook" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(FOOTER_TWITTER)$" title="Twitter" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-twitter.png" width="46" height="46" alt="Twitter" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(FOOTER_PINTEREST)$" title="Pinterest" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-pinterest.png" width="46" height="46" alt="Pinterest" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       <td><a href="$clickthrough(FOOTER_INSTAGRAM)$" title="Instagram" target="_blank"><img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-instagram.png" width="46" height="46" alt="Instagram" style="color:#572600;font-size:10px;letter-spacing:1px;font-weight:bold;font-family:'Tisa Sans',Arial,Serif" border="0"></a></td>
                                       

                                    </tr>
                                 </table>
                                </td>
                              </tr>
                           <tr>

                              
                              <td align="center" border="0" style="text-align:left;width:600px;padding-left:10px" width="600">
                                 <p style="margin-top:15px;margin-bottom:0px;font-family:'Tisa Sans',Arial,sans-serif;color:#572600;font-size:10px;line-height:16px">
                                 <a href="$clickthrough(FOOTER_CATALOG)$" title="Request a catalog" style="color:#572600;text-decoration:none;font-family:'Tisa Sans',Arial,sans-serif;font-weight:bold" target="_blank">REQUEST A CATALOG</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="$clickthrough(FOOTER_PRIVACY)$" title="Privacy Policy" style="color:#572600;text-decoration:none;font-family:'Tisa Sans',Arial,sans-serif;font-weight:bold" target="_blank">PRIVACY POLICY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="$UnsubscribeLink$" title="Unsubscribe" style="color:#572600;text-decoration:none;font-family:'Tisa Sans',Arial,sans-serif;font-weight:bold" target="_blank">UNSUBSCRIBE</a>
                                 </p>
                              </td>
                              

                           </tr>
                           <tr>
                              <td align="center" border="0" style="text-align:left;padding-left:10px" width="600">
                                 <p style="margin-top:15px;margin-bottom:15px;font-family:'Tisa Sans',Arial,sans-serif;color:#572600;font-size:10px;line-height:14px">
                                    &copy; 2017 Tea Collection. All Rights Reserved.<br>
                                    1 Arkansas St, Suite B, San Francisco, CA 94107<br>
                                    Toll Free: 866-374-8747
                                 </p>
                              </td>
                           </tr>
                          </table>
                       <!-- FINE PRINT
                        <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;margin:0">
                           <tr>
                              <td align="center" border="0" style="width:600px" width="600">
                              <img src="http://s.tea-global.net/mas_assets/theme/tea_collection/images/email/2015_template/tea-footer-seperator.png" width="600" height="3" border="0">
                              </td>
                           </tr>
                           <tr>
                              
                              <td align="center" style="text-align:left;width:600px;padding-left:10px;padding-right:5px" width="600">
                                    <p style="line-height:14px;font-family:'Tisa Sans',Arial,sans-serif;color:#572600;text-align:left;margin-top:15px;font-size:10px">
                                     <span style="font-family:'Tisa Sans',Arial,sans-serif;font-size:10px;font-weight:bold">FINE PRINT</span><br>
                                     fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print 
                                     fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print fine print 
                              </p></td>
                              
                           </tr>
                        </table> 
                        END FIND PRINT-->
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   
      


<img src="http://track.securedopen-o.com/?sv_cid=1030_03491&amp;sv_emopen=true&amp;sv_svem=$EMAIL_ADDRESS_$&amp;cm_source=SOURCE" height="1" width="1">


<img src="http://ads.perfectaudience.com/seg?add=1093482&amp;t=2" width="1" height="1" border="0">
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
</body>
</html>
