<style>
body {
  font-family: 'Tisa Sans', Arial, Helvetica, sans-serif;
  color: #606063;
}
.bx-controls {
  position: relative;
  /*@media screen and (max-width:569px) {
		top:-424px;
	}

	@media screen and (max-width:415px) {
		top:-300px;
	}

	@media screen and (max-width:481px) {
		top:-350px;
	}
	*/
}
@media screen and (max-width: 737px) {
  .bx-controls {
    top: -30em;
  }
}
@media screen and (max-width: 376px) {
  .bx-controls {
    top: -27em;
  }
}
@media screen and (max-width: 321px) {
  .bx-controls {
    top: -23em;
  }
}
#scroll-prompt {
  display: none;
}
@media screen and (max-width: 768px) {
  .bx-wrapper {
    margin-bottom: 0 !important;
  }
}
img,
video {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}
.mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block !important;
  }
}
.ref {
  position: absolute;
  max-width: 100%;
  opacity: .5;
}
.body-copy {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: .6px;
  position: relative;
}
@media screen and (max-width: 737px) {
  .body-copy {
    font-size: 1em;
    line-height: 1.59em;
    letter-spacing: .05em;
  }
}
@media screen and (max-width: 376px) {
  .body-copy {
    font-size: .9em;
  }
}
@media screen and (max-width: 321px) {
  .body-copy {
    font-size: .8em;
    letter-spacing: .5px;
  }
}
.cta {
  display: inline-block;
  border: 1px solid;
  width: 200px;
  position: relative;
  font-size: 13px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 0 9px;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (max-width: 737px) {
  .cta {
    width: 42%;
    left: 0px;
    padding: 1em 0 .7em;
    font-size: .8em;
  }
}
@media screen and (max-width: 415px) {
  .cta {
    font-size: .8em;
    letter-spacing: 1.1px;
  }
}
@media screen and (max-width: 376px) {
  .cta {
    font-size: .7em;
  }
}
@media screen and (max-width: 321px) {
  .cta {
    font-size: .6em;
  }
}
.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.c1 {
  background: url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/homepage/170505/c1-bg-d.jpg') no-repeat top center;
  min-height: 515px;
}
@media screen and (max-width: 737px) {
  .c1 {
    background: none;
    min-height: auto;
  }
}
.c1 div {
  width: 296px;
  margin-top: 72px;
  float: right;
  text-align: center;
}
@media screen and (max-width: 737px) {
  .c1 div {
    width: 100%;
    float: none;
    margin-top: 0;
  }
}
.c1 div p {
  margin-top: 20px;
}
.c1 div .cta {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
@media screen and (max-width: 737px) {
  .c1 div .cta {
    color: #e195a1;
    margin-top: 2em;
    left: -0.7em;
  }
}
@media screen and (max-width: 737px) {
  .c1 div .cta:last-of-type {
    left: .7em;
  }
}
@media screen and (max-width: 737px) {
  .c2 {
    background: #1da0a0;
    height: auto;
  }
}
@media screen and (max-width: 415px) {
  .c2 {
    height: 522px;
  }
}
@media screen and (max-width: 376px) {
  .c2 {
    height: 473px;
  }
}
@media screen and (max-width: 321px) {
  .c2 {
    height: 404px;
  }
}
.c2 div {
  float: left;
  height: 500px;
}
@media screen and (max-width: 737px) {
  .c2 div {
    float: none;
    height: auto;
  }
}
.c2 div:first-of-type {
  background: url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/homepage/170505/c2-bg-d.png') no-repeat top center;
  width: 350px;
  text-align: center;
}
@media screen and (max-width: 737px) {
  .c2 div:first-of-type {
    background: none;
    width: 100%;
  }
}
.c2 div:first-of-type img {
  margin-top: 103px;
  position: relative;
  left: 3px;
}
@media screen and (max-width: 737px) {
  .c2 div:first-of-type img {
    margin-top: 0;
    left: 0;
  }
}
.c2 div:first-of-type p {
  color: #fff;
  position: relative;
  top: -13px;
  left: 4px;
}
@media screen and (max-width: 737px) {
  .c2 div:first-of-type p {
    top: 0;
    left: 0;
  }
}
.c2 div:first-of-type p span {
  color: #d7df27;
  /*i {
						font-family:'Tisa Sans SC Medium';
						font-style:normal;
					}*/
}
.c2 div:first-of-type .cta {
  color: #fff;
  margin-top: 10px;
  left: 4px;
  /*&:hover {
					background:#fff;
					color:#1da0a0;
				}*/
}
@media screen and (max-width: 737px) {
  .c2 div:first-of-type .cta {
    left: 0;
    margin-top: 2em;
  }
}
@media screen and (max-width: 737px) {
  .c2 div:last-of-type {
    display: none;
  }
}
.c3 {
  height: 100px;
}
@media screen and (max-width: 737px) {
  .c3 {
    height: auto;
  }
}
.c4 div {
  float: left;
  height: 500px;
}
@media screen and (max-width: 737px) {
  .c4 div {
    float: none;
    height: auto;
  }
}
.c4 div:last-of-type {
  width: 570px;
  text-align: center;
}
@media screen and (max-width: 737px) {
  .c4 div:last-of-type {
    width: 100%;
  }
}
.c4 div:last-of-type p {
  margin-bottom: 20px;
  left: 7px;
}
@media screen and (max-width: 737px) {
  .c4 div:last-of-type p {
    margin-top: 1.5em;
    margin-bottom: 1.4em;
    left: 0;
  }
}
.c4 div:last-of-type .cta {
  color: #24b6b5;
  left: -5px;
  /*&:hover {
					background:#24b6b5;
					color:#fff;
				}*/
}
@media screen and (max-width: 737px) {
  .c4 div:last-of-type .cta {
    left: 0;
    width: 64%;
  }
}
.c4 div:last-of-type .cta:nth-of-type(3) {
  left: 14px;
}
@media screen and (max-width: 737px) {
  .c4 div:last-of-type .cta:nth-of-type(3) {
    left: 0;
    margin-top: 2em;
  }
}
.c5 {
  height: 200px;
}
@media screen and (max-width: 737px) {
  .c5 {
    height: auto;
  }
}
@media screen and (max-width: 737px) {
  .c5 .cta {
    margin: 3.2em auto;
    color: #bbb7d2;
  }
}
@media screen and (max-width: 768px) {
  #olapic_specific_widget,
  #scroll-prompt,
  .homepage-text-under-olapic {
    display: none;
  }
}

</style>