.c8 {
	@media screen and (max-width:737px) {
		height: auto;
		padding-top: 28px;
	}
	@media screen and (min-width:737px) {
		clear: both;
	}
	width: 100%;
	padding-top: 31px;

	div {
		img {
			@media screen and (max-width:737px) {
				margin-bottom: 51px;
			}
			/*@media screen and (min-width:374px) and (max-width:376px){
				height:281px;
			}*/
		}

		a {
			text-decoration: none;
			color: #fff;

			h3 {
				@media screen and (max-width:737px) {
					font-size: 2.3em;
					margin: 0;
					overflow: visible;
				}
				@media screen and (max-width: 321px) {
					font-size: 2em;
				}
				font-size: 20px;
				text-align: left;
				margin-top: 6px;
				box-sizing: border-box;
				background: #754270;
				font-family: brown-pro-bold !important;
				position: relative;
				overflow: hidden;
				font-weight: normal;
				color: #fff;

				div {
					&:first-of-type {
						@media screen and (max-width: 737px) {
							padding: 15% 0 21% 11%;
							letter-spacing: 0;
							float: none;
						}
						padding: 20px 0 23px 66px;
						letter-spacing: 0.7px;
						width: 756px;
						float: left;
					}

					&:last-of-type {
						@media screen and (max-width: 737px) {
							float: none;
							padding: 0;
						}
						float: right;
						padding: 10px 38px 0 0;
					}
				}

				span {
					@media screen and (max-width:737px) {
						top: 115%;
						left: 6%;
						display: block;
						color: #fff;
						width: 88%;
						padding: 8px 0;
						//font-size: .4em;
						font-size: 10px;
						position: absolute;
					}
					border: 1px solid;
					padding: 10px 0;
					display: inline-block;
					box-sizing: border-box;
					text-transform: uppercase;
					width: 140px;
					text-align: center;
					background: #fff;
					color: #754270;
					font-size: 13px;
					line-height: 16px;
					font-family: brown-pro-bold;
					letter-spacing: 1px;
				}
			}

			&:active,
			&:hover {
				h3 {
					span {
						@media screen and (max-width: 737px) {
							color: #fff;
							background: #FF8D90;
						}
						//background:#fff;
						//color: #ff8d90;
						background: none;
						color: #fff;
					}
					//background:none;
					//color:#fff;
					//color:#f38284;
					//border:1px solid #f38284;
				}
			}
		}

		.cta {
			margin: 0 auto;
		}
	}
}
//end of .c8