.column-3 {
	@media screen and (max-width:737px) {
		margin: 0;
	}
	overflow: hidden;
	margin: -64px 0 0;

	div {
		@media screen and (max-width:737px) {
			float: none;
			margin: 0 0 41px;
		}
		float: left;
		margin: 0 14px 0 0;
		text-align: center;

		& > a {
			@media screen and (max-width:737px) {
				width: 100%;
				height: auto;
				padding: 0;
			}

			&:hover {
				background: rgba(0,0,0,.3);

				span {
					background: none;
					color: #fff;
				}
			}
			text-decoration: none;
			display: block;
			width: 324px;
			height: 324px;
			box-sizing: border-box;
			padding: 115px 0 0;

			h2 {
				color: #fff;
				font-size: 28px;
				line-height: 34px;
				margin: 0 0 17px;
			}

			span {
				background: #fff;
				border-color: #fff;
				color: #666;
				letter-spacing: 1px;
			}
		}

		&:first-of-type {
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/customer-aquisition/2019/0117/c2-d.png") no-repeat;
			background-size: cover;
		}

		&:nth-of-type(2) {
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/customer-aquisition/2019/0117/c3-d-v2.png") no-repeat;
			background-size: cover;
		}

		&:last-of-type {
			@media screen and (max-width:737px) {
				width: 100%;
				height: auto;
				padding: 0;
				background: none;
			}

			&:hover .grey-box {
				display: block;
			}
			text-decoration: none;
			display: block;
			width: 324px;
			height: 324px;
			box-sizing: border-box;
			padding: 115px 0 0;
			position: relative;
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/customer-aquisition/2019/0117/c4-d.png") no-repeat;
			background-size: cover;
			margin: 0;

			h2 {
				color: #fff;
				font-size: 28px;
				line-height: 34px;
				margin: 0 0 17px;
				letter-spacing: 0.3px;
				position: relative;
			}

			span {
				background: #fff;
				border-color: #fff;
				color: #666;
				letter-spacing: 1px;
				display: inline-block;
				position: relative;
				box-sizing: border-box;

				&:hover {
					background: none;
					border: 1px solid #fff;

					a {
						background: none;
						color: #fff;
					}
				}

				a {
					background: #fff;
					border: none;
					width: auto;
					color: #666;
					padding: 12px 0;
					letter-spacing: 1px;
				}
			}

			span {
				width: 120px;
				left: -9px;

				&:last-of-type {
					left: 9px;
				}
			}

			.grey-box {
				@media screen and (max-width:737px) {
					z-index: -2;
				}
				width: 324px;
				height: 324px;
				position: absolute;
				background: rgba(0,0,0,.3);
				top: 0;
				left: 0 !important;
				display: none;
			}
		}
	}
}