.customer-wrap {
	@media screen and (max-width:737px) {}
	//overflow:hidden;
	h1,
	h2,
	h3 {
		font-family: brown-pro-bold !important;
		font-weight: normal;
	}

	img {
		max-width: 100%;
	}

	.top-scroll {
		.c1,
		.c2,
		.c3 {
			@media screen and (max-width:737px) {
				height: 452px;
			}
			@media screen and (max-width:321px) {
				height: 385px;
			}
			height: 500px;

			div {
				@media screen and (max-width:415px) {
					width: 100%;
					top: -92px !important;
					left: 0 !important;
				}
				@media screen and (max-width:376px) {
					top: -53px !important;
				}
				width: 200px;
				position: relative;

				.cta {
					@media screen and (max-width:737px) {
						width: 42%;

						&.cta1 {
							left: -1%;
						}

						&.cta2 {
							left: 1%;
						}
					}
					background: #fff;
					border: none;
					color: #666;
					margin: 0 0 19px;

					span {
						font-family: brown-pro-bold;
					}
				}
			}
		}

		.c1,
		.c3 {
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/customer-aquisition/2018/1220/c1-1st-d.png") no-repeat 0 0;
			background-size: contain;

			div {
				top: 284px;
				left: 60px;
			}
		}

		.c2 {
			background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/customer-aquisition/2018/1220/c1-2nd-d.png") no-repeat 0 0;
			background-size: contain;

			div {
				left: 737px;
				top: 284px;
			}
		}
	}
}