

.ref {
	position:absolute;
	opacity:.5;
	max-width:100%; 
	width:798px;
}

.desktop {
	@media screen and (max-width:737px){
		display:none !important;
	}
}
 
.mobile {
	display:none !important;

	@media screen and(max-width:737px){
		display:block !important;
	}
}

@media screen and (max-width:737px){
	.dept-girls-clothing {
		display:none; 
	}
	.common-wrap {
		margin:0;
	}
}

.dept-cat {
	overflow:hidden;

	.title {
		color: #333333;
    	font-size: 22px;
    	font-weight: normal;
    	padding: 0 0 10px;
    	text-align: center;
    	text-transform: uppercase;
	}

	img {
		max-width: 100%;
    	float: left;
    	display: inline-block;
    	margin-right: 10px;
    	width:527px;
	}

	p {
		@media screen and (max-width:737px){
			//prod
			background: url(https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/girls-clothing/170907/g-m.jpg) no-repeat center top;

			//dev
			//background: url(../images/g-m.jpg) no-repeat center top;
    		
    		background-size: cover;
    		float: none;
    		font-size: 1em;
    		padding: 8% 0 29% 6%;
    		line-height: 18px;
		}

		padding: 140px 36px 21px 20px;
    	float: left;
    	font-size: 15px;
    	line-height: 20px;
    	letter-spacing: -0.3px;
    	background: #11b7c3;
    	color: #fff;
    	font-family:brown-pro-bold !important;
	}
	
}


