@color_1: #666;
@color_2: #999;
@color_3: #999999;
@color_4: #ffffff;
@font_family_1: "brown-pro-regular", sans-serif;
@font_family_2: "brown-pro-regular",sans-serif;
@font_family_3: "brown-pro-regular", Arial, Helvetica, sans-serif;
@background_color_1: #ffffff;
@background_color_2: #fff;
@background_color_3: #999;
@background_color_4: #572700;

#menu-line #nav_logo img {
	width:auto !important;
}

.nav-open {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}

#hamburgerNavContainer {
	background: #ffffff none repeat scroll 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	height: 100%;
	padding: 35px 0 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10100;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	#close_menu {
		display: block;
		padding: 18px 20px 20px 23px;
		position: fixed;
		top: 0;
		z-index: 10101;

		img {
			width: 17px;
		}
	}

	.footer {
		background-color: @background_color_2;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: none;
		padding: 31px 23px 23px;

		a {
			background-image: none;
			color: @color_4;
			display: block;
			font-family: @font_family_3;
			font-size: 16px;
			font-style: normal;
			margin: 0;
			letter-spacing: 1px;
			line-height: 12px;
			padding: 16px 0 12px;
			text-align: center;
			text-decoration: none;
			text-indent: 0;
			text-transform: uppercase;
			width: 100%;
			white-space: nowrap;
		}

		.about-btn {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			float: left;
			padding-right: 8px;
			width: 50%;

			a {
				background-color: @background_color_3;
				border: 1px solid #999;
			}
		}

		.signin-btn {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			float: right;
			padding-left: 8px;
			width: 50%;

			a {
				background-color: @background_color_4;
				border: 1px solid #572700;
			}
		}
	}
}

.hamburgerNav {
	height: 100%;
	overflow-y: auto;
}

.hamburgerTopCategory {
	background-color: @background_color_1;
	color: @color_1;
	display: block;
	font-family: @font_family_1;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0 23px;
	position: relative;
	border-bottom: 1px solid #d1d3d4;
	text-align: center;
	text-transform: uppercase;

	.title {
		background: #ffffff;
		display: block;
		font-size: 20px;
		line-height: 15px;
		padding: 31px 0 24px;
	}

	.cat-link {
		position: relative;
		color: @color_1;
	}

	.dummy-link {
		display: none;
	}

	.plus {
		background: url("../images/mobile/footer-opencloseicons-small.png") no-repeat scroll 0 1px;
		cursor: pointer;
		float: right;
		height: 15px;
		margin: 0;
		width: 23px;
	}
}

.hamburgerTopCategory.active {
	padding-bottom: 30px;

	.title {
		border-bottom: 1px solid #d1d3d4;
	}

	.plus {
		background: url("../images/mobile/footer-opencloseicons-small.png") no-repeat scroll 0 -16px;
	}
}

.hamburgerTopCategory.sale {
	border-bottom: 0;
}

.hamburgerTopCategory.active.stick {
	.title {
		position: fixed;
		top: 35px;
		right: 23px;
		left: 23px;
		z-index: 10100;
	}
}

.hamburgerLink {
	color: @color_2;
	display: block;
	font-family: @font_family_2;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 13px 0 7px;
	line-height: 10px;
	width: 100%;

	&:last-of-type {
		padding-bottom: 0;
	}
}

.hamburgerLink_sub {
	color: @color_2;
	display: block;
	font-family: @font_family_2;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 13px 0 7px 25px;
	line-height: 10px;
	width: 100%;

	&:last-of-type {
		padding-bottom: 0;
	}
}

.hamburgerLink-top {
	color: @color_3;
	display: block;
	font-family: @font_family_2;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 7px 0;
	width: 100%;
}

.hamburgerSubCategory {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: @color_3;
	font-family: @font_family_2;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 0 23px;
	text-transform: capitalize;
	width: 100%;
	display: none;
	text-align: left;

	div {
		color: @color_1;
		font-family: @font_family_2;
		font-size: 17px;
		padding: 31px 0 7px;
		line-height: 14px;
		text-transform: uppercase;
	}
}

.hamburgerLinkIcon {
	height: 15px;
	width: 15px;
}

#hamburger {
	height: 40px;
	padding-left: 20px;
	padding-top: 27px;
	width: 30px;
	float: right;
	cursor: pointer;
}

#menu-line {
	#nav_hamburger {
		width: 15%;
		display: inline-block;

		img {
			width: 20px;
			margin: 7px 0 0 20px;
		}
	}
}
