.content-wrap {
	padding: 1rem;
	box-sizing: border-box;

	.column-wrap {
		display: flex;
		flex-wrap: wrap;

		div {
			@media screen and (max-width:568px) {
				flex-basis: 100%;
			}
			flex-basis: 50%;

			&.right-side {
				ul {
					li {
						text-align: center;

						img {
							max-width: 100%;
							display: inline;
						}
					}
				}
			}
		}
	}

	.questions {
		ul {
			li {
				a {}

				p {
					display: none;
				}
			}
		}
	}
}