.ref {
	position: absolute;
	opacity: 0.5;
	display: none;
	max-width: 100%;
	top: -135px;
}

.midbox,
.my-account {
	h1 {
		display: none;
	}
}

.heading-category {
	font-family: brown-pro-bold !important;
}

#simplemodal-container,
#simplemodal-overlay {
	// display: none !important;
}

.sidebar.customer-service {
	@media screen and (max-width:737px) {
		display: none;
	}
}

.main-content {
	@media screen and (max-width:737px) {
		float: none;
		width: 100%;
	}
	float: left;
	width: 840px;
	margin-top: 0 !important;
}

.padded {
	padding: 0 !important;
}

.mobile {
	@media screen and (max-width:768px) {
		display: inline-block !important;
	}
	display: none !important;
}

.desktop {
	@media screen and (max-width:768px) {
		display: none !important;
	}
}
//---------------------------------------------------------------
//styles

.romp-container {
	@media screen and (max-width:737px) {
		margin: 0 0 15px;
	}

	p.mobile {
		@media screen and (max-width:737px) {
			text-align: center;
			display: block !important;
			margin: -5px 0 15px;
			font-size: 1em;
			letter-spacing: -0.5px;
			line-height: 18px;
		}
	}

	img {
		max-width: 100%;
	}
}