.desktop {
	@media screen and (max-width:736px) {
		display: none;
	}
}

.mobile {
	display: none;
	@media screen and (max-width:736px) {
		display: block;
	}
}

.wrap-content {
	img {
		@media screen and (max-width:414px) {
			width: 100%;
		}
		max-width: 100%;
		width: 90%;
	}

	p {
		font-size: 1rem;
	}
}