.desktop {
	@media screen and (max-width:736px){
		display:none;
	}
}

.mobile {
	display:none;
	@media screen and (max-width:736px){
		display:block;
	}
}

.common-wrap {
    margin: 0px 0% 0px 0% !important;
}

h1 {
	display:none;
}

.ref {
	@media screen and (max-width:737px){
		top:-123px;
	}

	position:absolute;
	top:-69px;
	left:0;
	opacity:.5;
	z-index:9999;
	display:none;
}

.cta {
		@media screen and (max-width:737px){
			width: 42%;
    		left: 0px;
    		padding: 1em 0;
    		font-size: .8em;
    		//line-height:3em;
		}

		@media screen and (max-width:415px){
		    font-size: .8em;
    		letter-spacing: 1.1px;
		}

		@media screen and (max-width:376px){
    		//padding: 8px 0;
    		font-size:.7em;
		}

		@media screen and (max-width:321px){
			//padding: 7px 0;
    		font-size: .6em;
		}

	display: inline-block;
	font-family: brown-pro-bold !important;
    border: 1px solid;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    font-size: 13px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 0 9px;
    //font-weight:bold;
    text-align:center;
    box-sizing:border-box;
    //line-height:2.8em;
}

.school-wrap {
	@media screen and (max-width:737px){
		
	}

	overflow:hidden;
	
	h1, h2, h3 {
		font-family:brown-pro-bold !important;
		font-weight:normal;
	}

	img {
		max-width:100%;
	}

	header {
		@media screen and (max-width:737px){
			min-height:auto;
			background:none;
			overflow:visible;
		}

		background: url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2018/header-d.png') no-repeat;
		min-height:500px;
		overflow:hidden;

		div {
			@media screen and (max-width:737px){
				float:none;
				width:100%;
				top:0;
				padding:0;
				text-align:center;
			}

			float: right;
    		width: 400px;
    		text-align: right;
    		padding: 0 61px 0 0;
    		position: relative;
    		top: 275px;

    		img {
    			@media screen and (max-width:737px){
    				width:100%;
    			}
    		}

    		h2 {
    			margin: 8px 0 0 0;
    			font-size: 2.8em;
    			line-height: 42px;
    			color:#1A667A;

    			span {
    				font-family: brown-pro-bold;
    				font-size: 1.2em;
    				letter-spacing: 1px;
    				color:#3BBFBB;
    			}
    		}

    		p {
    			@media screen and (max-width:737px){
    				color: #666;
    				font-size: .9em;
    				letter-spacing: .1px;
    				line-height: 19px;
    				margin: 2px 0 0px 0;
    			}

    			color:#fff;
    			font-size: 18px;
    			line-height: 22px;
    			letter-spacing: .3px;
    			margin:0 0 23px 0;
    		}

    		a {
    			@media screen and (max-width:737px){
    				width: 42%;
    				border-color: #1A667A;
    				border-radius: 0;
    				color: #1A667A !important;
    				text-shadow: none;
    				box-shadow: none;
    				font-weight: normal;
    				margin: 18px 1% 0 1%;
    				font-size: .8em;
    				padding: 7px 0 !important;

    			}

    			width: 233px;
    			background: #fff;
    			border-color: #fff;
    			color: #1A667A;
    			margin: 0 0 20px 0;
    			font-size: 14px;

    			&:hover {
    				background: #1A667A;
    				border-color:#1A667A;
    				color:#fff;
    			}
    		}
		}
	}

	.main {
		@media screen and (max-width:737px){
			padding: 38px 0 0 0;
		}

		text-align:center;
		padding:40px 0 0 0;

		img {
			&.mobile {
				margin:0 auto;
			}
		}

		p {
			@media screen and (max-width:737px){
				font-size: .9em;
    			line-height: 19px;
    			margin: 27px 0 0 0;
			}

			font-size: 15px;
    		line-height: 20px;
    		margin:0 0 17px 0;
		}

		h2 {
			@media screen and (max-width:737px){
				font-size: 1.1em;
    			margin: 9px 0 0px 0;
    			line-height: 29px;
			}

			font-size: 24px;
    		margin: 10px 0 16px 0;
    		line-height: 40px;
    		color:#FF8D90;

			span {
				@media screen and (max-width:737px){
					font-size:2em;
				}

				font-size:46px;
				font-family:brown-pro-bold;
			}
		}

		a {
			@media screen and (max-width:737px){
				width: 41%;
    			margin: 13px 2% 0 2%;
    			padding: 8px 0 !important;
    			box-shadow: none;
    			text-shadow: none;
			}

			background:#fff;
			color: #1A667A;
    		margin: 0 9px 0 9px;
    		width: 232px;
    		border-radius:0;

    		&:hover {
    			background:#1A667A;
    			color:#fff;
    		}
		}
	}

	.faq {
		@media screen and (max-width:737px){
    		margin: 16px auto 0;
    		min-height: 30px;
    		width: 87%;
		}

		position: relative;
    	margin: 20px auto 0;
    	min-height: 40px;
    	width: 480px;
		
		ul {
			@media screen and (max-width:737px){
				height: 28px;
			}

			position:absolute;
			width:100%;
			border:1px solid #1A667A;
			list-style-type:none;
			background:#fff;
			overflow:hidden;
			height:37px;
			z-index:999;

			li {
				border-bottom:1px solid #E6E7E8;
				text-align:left;

				&:hover {
					cursor:pointer;
				}

				div {

					&.first {
						@media screen and (max-width:737px){
							padding: 6px 0;
							font-size:1em;
						}

						padding:12px 0;
						color:#1A667A;
						font-family: brown-pro-bold;
    					font-size: 14px;
    					background:url('https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2018/expand.png') no-repeat 96% 48%;
    					text-align:center;
					}

					&.q {
						@media screen and (max-width:737px){
							font-size:.7em;
							padding: 10px 0 10px 4%;
							text-align:left;
						}

						padding: 10px 0 10px 19px;
    					color: #1A667A;
    					font-family: brown-pro-bold;
    					font-size: 14px;
    					background: url(https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2018/plus.png) no-repeat 95% 50%;
    					box-sizing: border-box;
					}

					&.a {
						@media screen and (max-width:737px){
							font-size: .7em;
    						text-align: left;
    						padding: 7px 0 10px 4%;
    						line-height: 14px;
						}

						display:none;
						padding: 16px 0 10px 19px;
    					font-size: 12px;
    					line-height: 18px;
    					box-sizing:border-box;
					}
				}
			}
		}
	}

	.banner {
		@media screen and (max-width:737px){
			margin:31px 0 0 0;
			background:#FFE394;
			width:100%;
		}

		margin:46px 0 0 0;

		img {

			&.mobile {
				@media screen and (max-width:737px){
					margin:0 auto;
				}
			}
			
		}
	}

	footer {
		@media screen and (max-width:737px){
			margin:0;
		}

		overflow:hidden;
		margin:24px 0 0 0;

		div {
			@media screen and (max-width:737px){
				float:none;
				margin:0;
			}

			float:left;
			margin:0 14px 0 0;
			text-align:center;

			&:last-of-type {
				margin: 0;
			}

			img {
				@media screen and (max-width:737px){
					width:100%;
				}
			}

			p {
				@media screen and (max-width:737px){
					margin: 16px 0 0 0;
    				font-size: .9em;
    				line-height: 20px;
				}

				margin: 17px 0 0 0;
    			font-size: 15px;
    			line-height: 20px;

    			&:last-of-type {
    				@media screen and (max-width:737px){
    					margin: 5px 0 25px 0;
    				}

    				font-family:brown-pro-bold-italic;
    				color:#1A667A;
    				margin:12px 0 0 0;
    			}
			}
		}
	}
	
}

.thanks-wrap {
	@media screen and (max-width:737px){
		background:#fff;
	}

	position:fixed;
	background: rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	z-index:9999;
	top:0;
	left:0;
	display:none;

	img {
		@media screen and (max-width:737px){
			top:0;
			left:0;
			max-width:100%;
		}

		@media screen and (max-width:321px){
			top:-30%;
		}

		position:absolute;
		top:25%;
		left:35%;

		&:hover {
			cursor:pointer;
		}
	}
}