.desktop {
	@media screen and (max-width:736px) {
		display: none;
	}
}

.mobile {
	display: none;
	@media screen and (max-width:736px) {
		display: block;
	}
}

.ref {
	@media screen and (max-width:737px) {
		top: -123px;
	}
	position: absolute;
	top: -69px;
	left: 0;
	opacity: 0.5;
	z-index: 9999;
	//display:none;
	max-width: 100%;
}

.cta {
	letter-spacing: 1.1px;
	text-decoration: none;
	display: inline-block;
	padding: 1rem;
	border: 2px solid;
	text-transform: uppercase;
	font-family: gilroy-bold;
}

.css-pgt1zi {
	width: 60% !important;
	height: 80% !important;
	left: 17% !important;
	top: 10% !important;
}

.school-wrap {
	@media screen and (max-width:737px) {}
	overflow: hidden;

	h1,
	h2,
	h3 {
		font-weight: normal;
	}

	img {
		max-width: 100%;
	}

	header {
		@media screen and (max-width:1024px) {
			background-position: -5rem 0;
		}
		@media screen and (max-width:812px) {
			background-position: -16rem 0;
		}
		@media screen and (max-width:414px) {
			height: auto;
			min-height: auto;
			background: none;
			overflow: visible;
		}
		background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2019/0131/header-d-v2.png") no-repeat;
		min-height: 660px;
		overflow: hidden;
		background-size: cover;

		div {
			@media screen and (max-width:1024px) {
				width: 100%;
				float: none;
				text-align: center;
				right: 0;
				top: 26rem;
			}
			@media screen and (max-width:414px) {
				top: 0;
			}
			float: right;
			width: 400px;
			text-align: right;
			position: relative;
			top: 27rem;
			right: 9rem;

			img {
				@media screen and (max-width:737px) {
					width: 100%;
				}
			}

			h2 {
				@media screen and (max-width:1024px) {
					display: block;
				}
				@media screen and (max-width:414px) {
					display: block;
					color: #455070;
				}
				margin: 8px 0 0;
				font-size: 2.8em;
				color: #fff;
				display: none;

				span {
					@media screen and (max-width:414px) {
						color: #96CCD4;
					}
					font-size: 1.2em;
					letter-spacing: 1px;
					color: #fff;
				}
			}

			p {
				@media screen and (max-width:1024px) {
					display: block;
				}
				@media screen and (max-width:737px) {
					color: #666;
				}
				color: #fff;
				font-size: 1rem;
				letter-spacing: 0.3px;
				margin: 0 0 15px;
				display: none;
			}

			a {
				@media screen and (max-width:812px) {
					width: 26%;
				}
				@media screen and (max-width:414px) {
					width: 100%;
					margin: 0 0 1rem;
					border-color: #455070;
					padding: 0.2rem 0;
				}
				background: #fff;
				border-color: #fff;
				color: #455070;
				margin: 0 0.3rem 1rem;
				width: 48%;
				text-align: center;

				&:hover {
					@media screen and (max-width:737px) {
						border-color: #455070;
						background: #455070;
						color: #fff !important;
					}
					background: #455070;
					border-color: #455070;
					color: #fff;
				}
			}
		}
	}

	.main {
		@media screen and (max-width:737px) {
			padding: 38px 0 0;
		}
		text-align: center;
		padding: 40px 0 0;

		img {
			&.mobile {
				margin: 0 auto;
			}
		}

		p {
			@media screen and (max-width:414px) {}
			font-size: 1rem;
			margin: 0 0 17px;
			color: #666;
		}

		h2 {
			@media screen and (max-width:414px) {}
			font-size: 1.5rem;
			margin: 10px 0 23px;
			color: #F2706C;

			span {
				@media screen and (max-width:414px) {
					font-size: 2rem;
				}
				font-size: 46px;
				letter-spacing: -1px;
			}
		}

		a {
			@media screen and (max-width:1024px) {
				width: auto;
			}
			@media screen and (max-width:414px) {
				width: 45%;
				margin: 1rem 0.3rem;
				padding: 0.2rem 0;
			}
			background: #fff;
			color: #455070;
			margin: 0 0.3rem;
			width: 18%;
			border-radius: 0;

			&:hover {
				background: #455070;
				color: #fff;
			}
		}
	}

	.faq {
		@media screen and (max-width:1024px) {
			width: 35%;
		}
		@media screen and (max-width:812px) {
			width: 47%;
		}
		@media screen and (max-width:414px) {
			width: 100%;
			margin: 0;
		}
		position: relative;
		margin: 20px auto 0;
		min-height: 40px;
		width: 37%;

		ul {
			@media screen and (max-width:737px) {
				height: 28px;
			}
			position: absolute;
			width: 100%;
			border: 2px solid #455070;
			list-style-type: none;
			background: #fff;
			overflow: hidden;
			height: 37px;
			z-index: 999;

			li {
				border-bottom: 1px solid #E6E7E8;
				text-align: left;

				&:hover {
					cursor: pointer;
				}

				div {
					&.first {
						@media screen and (max-width:414px) {
							padding: 0;
						}
						padding: 0.4rem 0 0;
						color: #455070;
						font-size: 1rem;
						background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2019/0131/expand.png") no-repeat 96% 48%;
						text-align: center;
						font-family: gilroy-bold;
						/*&:hover {
    						background:#1A667A;
    						color:#fff;
    					}*/
					}

					&.q {
						@media screen and (max-width:414px) {
							font-size: 1em;
							padding: 1rem;
							text-align: left;
							background-size: 3%;
							background-position: 95% 45%;
						}
						padding: 10px 0 10px 19px;
						color: #455070;
						font-size: 1rem;
						background: url("https://www.teacollection.com/mas_assets/media/tea_collection/landing-pages/school-days-sign-up/2019/0131/plus.png") no-repeat 96% 50%;
						box-sizing: border-box;
					}

					&.a {
						@media screen and (max-width:737px) {
							font-size: 1em;
							text-align: left;
							padding: 1rem;
						}
						display: none;
						padding: 16px 0 10px 19px;
						font-size: 1rem;
						box-sizing: border-box;
						color: #666;
					}
				}
			}
		}
	}

	.banner {
		@media screen and (max-width:737px) {
			margin: 31px 0 0;
			background: #FFE394;
			width: 100%;
		}
		margin: 46px 0 0;

		img {
			&.mobile {
				@media screen and (max-width:737px) {
					margin: 0 auto;
				}
			}
		}
	}

	footer {
		@media screen and (max-width:737px) {
			margin: 0;
		}
		overflow: hidden;
		margin: 24px 0 0;
		display: flex;
		flex-wrap: wrap;

		div {
			@media screen and (max-width:1024px) {
				flex-basis: 48%;
			}
			@media screen and (max-width:414px) {
				flex-basis: 100%;
				margin: 0 0 1rem;
			}
			flex-basis: 49%;
			margin: 0 1rem 0 0;
			text-align: center;

			&:last-of-type {
				@media screen and (max-width:737px) {
					margin: 29px 0 0;
				}
				margin: 0;
			}

			img {
				@media screen and (max-width:737px) {
					width: 100%;
				}
			}

			p {
				@media screen and (max-width:737px) {
					margin: 16px 0 0;
					font-size: 0.9em;
				}
				margin: 17px 0 0;
				font-size: 1rem;
				color: #666;

				&:last-of-type {
					@media screen and (max-width:737px) {
						margin: 5px 0 25px;
					}
					color: #1A667A;
					margin: 12px 0 0;
				}
			}
		}
	}
}

.thanks-wrap {
	@media screen and (max-width:737px) {
		background: #fff;
	}
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;

	img {
		@media screen and (max-width:737px) {
			top: -20%;
			left: 0;
			max-width: 100%;
		}
		@media screen and (max-width:321px) {
			top: -30%;
		}
		position: absolute;
		top: 25%;
		left: 35%;

		&:hover {
			cursor: pointer;
		}
	}
}

.learn-more-light-box,
.sign-up-light-box {
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;

	.learn-more-wrap,
	.sign-up-wrap {
		@media screen and (max-width:1024px) {
			width: 70%;
		}
		@media screen and (max-width:414px) {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 1em;
			transform: translate(0);
		}
		background: #fff;
		position: absolute;
		top: 50%;
		width: 40%;
		padding: 20px 0;
		box-sizing: border-box;
		transform: translate(-50%,-50%);
		left: 50%;

		.close-icon {
			position: relative;
			left: 20px;

			&:hover {
				cursor: pointer;
			}
		}

		h2 {
			@media screen and (max-width:737px) {}
			font-size: 1.5rem;
			color: #F2706C;
			text-align: center;
		}

		p {
			@media screen and (max-width:737px) {}
			@media screen and (max-width:321px) {}
			margin: 17px 0 0;
			font-size: 1rem;
			color: #666;
			text-align: center;
		}

		a {
			@media screen and (max-width:737px) {}
			display: inline-block;
			color: #F2706C;
			border-color: #F2706C;
			text-align: center;

			&:hover {
				background: #F2706C;
				color: #fff;
			}
		}
	}
}