.ref {
	position:absolute;
	opacity:.5;
	//display:none;
} 
 
.my-account, .midbox {
	h1 {
		display:none;
	}
} 

#simplemodal-container, #simplemodal-overlay {
	display:none !important;
}

.padded {
	padding:0 !important;
}

.mobile {
	@media screen and (max-width:768px){
		display:block !important;
	}

	display:none !important;
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}

.cta {
	@media screen and (max-width:768px) {
		padding:6px 0 6px 0;
		width:170px;
		left:0;
		font-size:12px;
	}

	@media screen and (max-width:737px){
		padding:13px 0 13px 0;
		width:42%;
		left:-1px;
		font-size:19px;
		letter-spacing:1px;
		margin-bottom:76px;
	}

	@media screen and (max-width:668px){
		width:276px;
		font-size:17px;
		margin-bottom:67px;
	}

	@media screen and (max-width:569px){
		width:235px;
		font-size:14px;
		padding:9px 0 9px 0;	
		margin-bottom:59px;
	}

	@media screen and (max-width:481px){
		width:199px;
		font-size:11px;
		padding:10px 0 10px 0;
		margin-bottom:49px;
	}

	@media screen and (max-width:415px){
		width:170px;
		padding:7px 0 7px 0;
		font-size:10px;
	}

	@media screen and (max-width:376px){
		width:155px;
		font-size:9px;
		padding:7px 0 7px 0;
	}

	@media screen and (max-width:321px){
		width:131px;
		font-size:8px;
		padding:6px 0 6px 0;
	}

	display: inline-block;
    border: 2px solid;
    padding: 8px 0 8px;
    width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    left: -3px;
    font-size: 14px;
    font-weight:bold;
    text-align:center
}

// HIDE THE BANNER
.banner-ad-zone {
	display:none !important;
}

.wrap-content {
	overflow:hidden;

	img {
		max-width:100%;
	}

	
}//end of .wrap-content

div[data="form"] {
	@media screen and(max-width:737px){
		width:100%;
		margin-top:0;
		padding-left:0;
	}

	float:left;
	width:523px;
	margin-top:50px;
	box-sizing:border-box;

	.c1 {
		@media screen and (max-width:737px){
			height:auto;
			padding-left:0;
			background-position: -0.1em 0;
    		text-align:center;
    		background-size:contain;
		}

		img {
			&.mobile {
				margin: -18px 0 0 0;
			}

			&.babies {
				margin:0;
			}
		}

		p {
			@media screen and (max-width:737px){
				padding: 0;
    			text-align: center;
    			margin: 15px 0 0 0;
    			font-size: .9em;
    			line-height: 18px;
			}

			margin-top: -5px;
    		font-size: 14px;
    		letter-spacing: 0.3px;
    		line-height: 20px;
    		position: relative;
    		left: 0;
    		padding: 0 0 0 48px;
		}

		.cta {
			@media screen and (max-width:737px){
				width:41%;
				margin: 17px auto 0;
			}
			margin: 15px 0 0 51px;
			width:196px;
		}

		.dots {

			&.mobile {
				margin: 17px 0 0 0;
			}

			margin: 23px 0 0 0;
		}

	}


	.cta {
		margin-top:22px;
		color:#fff;
		background:#215aa9;
		border-color:#215aa9;

		&:hover {
			background:#fff;
			color:#215aa9;
		}
	}

	form {
		@media screen and (max-width:737px){
			margin:19px 0 0 0;
			padding: 0 0 0 15%;
		}

		padding:0 0 0 48px;
		margin-top: 17px;

		.error-mess {
			color:red;
			font-weight:bold;
			display:none;
		}


		input {
			@media screen and (max-width:737px){
				width: 83%;
    			padding: 7px 0 7px 3%;
    			margin: 0 0 15px;
			}
			
			display: block;
    		width: 301px;
    		margin-bottom: 17px;
    		padding: 9px 0px 9px 13px;
    		box-sizing: border-box;
    		border: 1px solid;
    		outline:none;
    		color:lightslategrey;
    		border-radius: 0;

    		&[placeholder="Zip Code*"]{
    			@media screen and (max-width:737px){
    				margin:0 0 11px;
    			}

    			margin:0 0 14px;
    		}

    		&::placeholder {
    			@media screen and (max-width:737px){
    				//text-align:center;
    				//font-size:2em;
    			}

    			color:lightslategrey;
    		}


			&[type="checkbox"]{
				display:none;

				&:checked ~ .the-checkbox {
					//background:red;
				}
			}
			
		}

		.the-checkbox {
			border: 1px solid;
    		width: 13px;
    		height: 13px;
    		position: absolute;
    		top: 1px;
    		left: -1px;
		}

		label {
			
			&.how {
				@media screen and (max-width:737px){
					font-size: 1em;
					letter-spacing:0.2px;
					margin: 0 0 3px;
				}

				font-family:brown-pro-italic !important;
				letter-spacing: 0.8px;
				display:block;
				margin: 0 0 7px;
			}

			font-size: 14px;
			
		}

		p {
			&[name="official-rules"]{
				@media screen and (max-width:737px){
					font-size: .9em;
    				padding: 0 0 0 9%;
    				line-height: 22px;
				}

				position: relative;
    			padding: 0 0 0 25px;
    			letter-spacing: 0.8px;
    			line-height: 21px;

    			.req-message {
    				@media screen and (max-width:737px){
    					font-size: .8em;
    					margin: 16px 0 0px 20%;
    					padding: 0;
    				}

    				display: block;
    				font-size: 10px;
    				margin: 10px 0 0 0;
    				letter-spacing: 1px;
    				padding: 0 0 0 3px;
    			}
			}

			font-size:14px;
		}

		a {
			@media screen and (max-width:737px){
				text-decoration:underline;
			}

			color:#444444;
		}

		#enter {
			@media screen and (max-width:737px){
				margin: 22px 0 0 17%;
			}

			margin:20px 0 0 3px;
		}

	}

	img {
		&.partners {
			margin:23px 0 0;
		}
	}
	
} // end of forms div

div[data="pics"] {
	@media screen and (max-width:737px){
		display:none;
	}

	float:left;
	width:477px;

	img {
		&:first-of-type {
			margin:48px 0 0 8px;
		}

		&:last-of-type {
			margin: -5px 0 0 0;
		}
	}
	
} //end of pics div


#view-prizes {
	@media screen and (max-width:737px){
		width:100%;
	}

	clear:both;
	width:775px;
	display:none;

	img {
		max-width:100%;
	}	

} //end of #view-prizes div


