.desktop-promo, .mobile-promo {
	display:none;
}
 
.desktop {
	@media screen and (max-width: 768px) {
		display:none;
	}
}

.mobile {
	@media screen and (max-width:768px) {
		display:block;
	}

	display:none;
}

.dept-girls-clothing {
	@media screen and (max-width: 768px) {
		display:none;
	}
}


.global-container {
	/*height: 9044px;*/

	img {
		max-width:100%;
	}

}


.morocco {
	overflow:hidden;
	//opacity:.5;

	img {

		&[data-img="asian girl"] {
			padding-top:3px;
			//padding-top:13px;
		}

		&[data-img="banner"] {
			padding-top:6px;
			//padding-top:16px;
		}
	}


	.desktop {
		div {

			&:first-of-type {
				width:404px;
				//width:507px;
				float:left;

				img {
					position:relative;
					top:-6px;
					//top:-1px
				}
			}

			&:last-of-type {
				width:394px;
				//width:493px;
				float:left;

				a {
					position: relative;
					left: -16px;
					top: -19px;
					//top:17px;
				}

				img {
					position:relative;
					top:13px;
					//top:31px;
		
				}
			}
		}
	} //end of .desktop

	.mobile {
		
		img {
			&:first-of-type {
				position:relative;
				//top:-5px;
				top:0;
			}

			&:last-of-type {
				position:relative;
				//top:-8px;
				top:0;
			}
		}
		div {

			&:first-of-type {
				width:51%;
				float:left;

				img {
					position:relative;
					//top:-14px;
					top:0;
				}
			}

			&:last-of-type {
				width:49%;
				float:left;

				a {
					position: relative;
					left: -10px;
					//top: 7px;
					top:-25px;
				}

				img {
					position:relative;
					//top:10px;
					top:29px;
					
				}
			}
		}
	} //end .mobile
}

.italy {
	position:relative;
	//top:-13px;
	//top:-9px;
	//opacity:.5;
	overflow:hidden;

	@media screen and (max-width:768px) {
		//top:-22px;
		//top:-4px;
	}

	.desktop {
		div {

			&:first-of-type {
				width:405px;
				//width:507px;
				float:left;

				a {

					&:first-of-type {
						position:relative;
						top:25px;
					}

					&:nth-of-type(2) {
						position:relative;
						top: 16px;
						//top:-33px;
					}

					&:last-of-type {
						position:relative;
						top:10px;
						//top:-34px;
					}
				}
			}

			&:last-of-type {
				width:393px;
				//width:493px;
				float:left;

				img {
					position:relative;
					top:-3px;
					//top:1px;
				}
			}
		}
	} //end of .desktop

	.mobile {
		div {

			&:first-of-type {
				width:51%;
				float:left;

				a {

					&:first-of-type {
						position:relative;
						top: 13px;
					}

					&:last-of-type {
						position:relative;
						//top:-13px;
						top:6px;
					}
				}
			}

			&:last-of-type {
				width:49%;
				float:left;

				a {

					&:first-of-type {
						position:relative;
						//top:5px;
						top:10px;
					}

					&:last-of-type {
						position:relative;
						//top:-5px;
						top:15px;
					}
				}
					
			}
		}
	} //end of .mobile
}

.slideshow {
	//opacity:.5;

	.desktop {

		img {
			position:relative;
			//top:-60px;
			top:-18px;
		}
		
	}

	.mobile {
		img {
			position:relative;
			//top:-37px;
			top:0px;
			z-index:9999;
		}
	}
	

	&[data-slideshow="2"]{
		//top:-51px;
		top:-47px;
		position: relative;

		@media screen and (max-width:768px) {
			//top:-42px;
			top:1px;
		}
	}

	.bx-wrapper {
		//top:-68px;
		top:-18px;
		left:21px;

		@media screen and (max-width:768px) {
			top:-7px;
			left:0;
		}

	}

	.bx-viewport {
		@media screen and (max-width: 768px) {
			left:17px;
		}
	}

	.bx-controls {
		position:relative;
		top:-168px;
		left:-21px;

		@media screen and (max-width:768px) {
			top:-116px;
			left:0;
		}
	}


	ul {

		li {
			width:244px !important;
			/*margin:0 !important;*/
			top:-9px;
			left:33px;

			@media screen and (max-width:786px) {
				width:169px !important;
				top: 5px;
				//left:74px;
				left:94px;
				margin-right:34px;
			}
		}
	}
}

.south-africa {
	//opacity:.5;
	position:relative;
	//top:-78px;
	//top:-30px;
	overflow:hidden;

	@media screen and (max-width:768px) {
		//top:-68px;
		//top:-6px;
	}

	.desktop {
		div {

			&:first-of-type {
				width:402px;
				//width:494px;
				float:left;

				a {

					&:first-of-type {
						position:relative;
						top:6px;
						//top:13px;
					}

					&:nth-of-type(2){
						position:relative;
						top:28px;
						//top:44px;
					}

					&:last-of-type {
						position:relative;
						top:25px;
						//top:86px;
					}

				}
			}

			&:last-of-type {
				width:396px;
				//width:506px;
				float:left;

				img {
					position:relative;
					top:-5px;
					//top:1px;
				}
			}
		}
	} //end of .desktop


	.mobile {
		div {

			&:first-of-type {
				width:49.4%;
				float:left;

				a {

					&:first-of-type {
						position:relative;
						//top:-4px;
						top:0;
					}

					&:nth-of-type(2){
						position:relative;
						//top:1px;
						top:10px;
					}

					&:last-of-type {
						position:relative;
						//top:16px;
						top:20px;
					}

				}
			}

			&:last-of-type {
				width:50%;
				float:left;

				img {
					position:relative;
					//top:-1px;
					top:2px;
				}
			}
		}
	} //end of .mobile

}

.india {
	position:relative;
	//top:-88px;
	top:-37px;
	//opacity:.5;

	@media screen and (max-width:768px) {
		//top:-69px;
		top:1px;
	}

	.desktop {
		img {

			&[usemap="#image-maps-2017-03-20-164334"] {
				position:relative;
				top:-5px;
				//top: -1px;
			}
		}
	} //end of .desktop

	.mobile {
		img {

			&:last-of-type {
				position:relative;
				//top:-6px;
				top:0;
			}
		}
	} //end of .mobile
}
