<style>
body {
  font-family: 'tisa sans';
}
.ref {
  position: absolute;
  opacity: .5;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}
.mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block !important;
  }
}
@media screen and (max-width: 768px) {
  .dept-girls-clothing {
    display: none;
  }
  .common-wrap {
    margin: 0;
  }
}
.title {
  color: #333333;
  font-family: tisa sans;
  font-size: 22px;
  font-weight: normal;
  padding: 0 0 10px;
  text-align: center;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
.body-copy {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: .6px;
  position: relative;
}
@media screen and (max-width: 737px) {
  .body-copy {
    font-size: 1em;
    line-height: 1.59em;
    letter-spacing: .05em;
  }
}
@media screen and (max-width: 376px) {
  .body-copy {
    font-size: .9em;
  }
}
@media screen and (max-width: 321px) {
  .body-copy {
    font-size: .8em;
    letter-spacing: .5px;
  }
}
.cta {
  display: inline-block;
  border: 1px solid;
  width: 200px;
  position: relative;
  font-size: 13px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 0px 9px;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (max-width: 737px) {
  .cta {
    width: 42%;
    left: 0px;
    padding: 1em 0 .7em;
    font-size: .8em;
  }
}
@media screen and (max-width: 415px) {
  .cta {
    font-size: .8em;
    letter-spacing: 1.1px;
  }
}
@media screen and (max-width: 376px) {
  .cta {
    font-size: .7em;
  }
}
@media screen and (max-width: 321px) {
  .cta {
    font-size: .6em;
  }
}
.girls-clothing-cat {
  overflow: hidden;
}
.girls-clothing-cat div:first-of-type {
  float: left;
}
.girls-clothing-cat div:last-of-type {
  width: 441px;
  min-height: 486px;
  float: left;
  text-align: center;
  background: url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/baby-girl-clothes/170505/bg-dotted2-d.png') no-repeat bottom center;
}
@media screen and (max-width: 737px) {
  .girls-clothing-cat div:last-of-type {
    width: 100%;
    min-height: 480px;
    background: url('https://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/girls-clothing/170505/m-dotted.png') no-repeat bottom center;
    background-size: 100% auto;
  }
}
@media screen and (max-width: 376px) {
  .girls-clothing-cat div:last-of-type {
    min-height: 435px;
  }
}
@media screen and (max-width: 321px) {
  .girls-clothing-cat div:last-of-type {
    min-height: 370px;
  }
}
.girls-clothing-cat div:last-of-type p {
  top: -6px;
}
@media screen and (max-width: 737px) {
  .girls-clothing-cat div:last-of-type p {
    margin-top: 2.1em;
  }
}
.girls-clothing-cat div:last-of-type p:last-of-type {
  font-family: 'mrdodo light';
  font-size: 13px;
  position: relative;
  top: -11px;
}
.girls-clothing-cat div:last-of-type img[alt="dots"] {
  position: relative;
  top: -4px;
}
.girls-clothing-cat div:last-of-type .cta {
  margin-top: 4px;
  left: 1px;
  border-color: #17838d;
  color: #17838d;
}
@media screen and (max-width: 737px) {
  .girls-clothing-cat div:last-of-type .cta {
    left: 0;
    margin-top: 1em;
    color: #12b0bc;
    border-color: #12b0bc;
  }
}
.girls-clothing-cat div:last-of-type .cta:hover,
.girls-clothing-cat div:last-of-type .cta:active {
  background: #17838d;
  color: #fff;
}
@media screen and (max-width: 737px) {
  .girls-clothing-cat div:last-of-type .cta:hover,
  .girls-clothing-cat div:last-of-type .cta:active {
    background: #12b0bc;
  }
}

</style>