// Color variables (appears count calculates by raw css)
@color0: #ee696d; // Appears 4 times
@color1: #b2bac4; // Appears 2 times
@color2: #436fc1; // Appears 2 times
// Width variables (appears count calculates by raw css)
@width0: 208px; // Appears 2 times

.black-friday {
	color: @color0 !important;
	float: none !important;

	&:hover {
		&:before {
			background-color: @color0 !important;
		}
	}

	li {
		padding: 10px 0 10px 10px !important;

		a {
			color: @color0 !important;

			&:hover {
				&:before {
					background-color: @color0 !important;
				}
			}
		}
	}
}

.flex-menu {
	display: flex !important;
	flex-wrap: wrap;
	padding: 2% 25px !important;
}

.panel-1 {
	border-right: 1px solid @color1;
	border-right: 1px solid @color1;
	flex-basis: inherit;
	flex-basis: 36%;
	float: none;
	width: auto;

	ul {
		&:nth-of-type(1) {
			width: 50%;
		}
	}

	ul.category {
		padding: 0 !important;
		width: @width0;
	}
}

.panel-2 {
	flex-basis: 31%;
	flex-basis: 315px;
	float: none;
	width: auto;

	ul.category {
		padding: 0 0 0 19% !important;
		padding: 0 0 0 72px !important;
	}
}

.panel-3 {
	flex-basis: 20%;
	flex-basis: 33%;
	float: none;
	width: auto;
}

.panel {
	float: none;
	width: auto;

	ul.category-sale {
		width: @width0 !important;
	}
}

.new.arrivals {
	color: @color2 !important;
	font-family: gilroy-bold !important;

	&:hover {
		before {
			background-color: @color2 !important;
		}
	}
}

header {
	.site-header-inner {
		.site-nav-submenu {
			div {
				div {
					.menu {
						.panel {
							ul.category.first {
								&:before {
									content: none !important;
								}
							}

							ul {
								li {
									a {
										&:hover {
											font-family: gilroy-bold !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width:1024px) {
	.flex-menu {
		display: flex !important;
		flex-wrap: wrap;
		padding: 2% 0 2% 50px !important;
	}
}
