.ref {
	position:absolute;
	opacity:.5;
	//display:none;
} 
 
.my-account, .midbox {
	h1 {
		display:none;
	}
} 

#simplemodal-container, #simplemodal-overlay {
	display:none !important;
}

.padded {
	padding:0 !important;
}

.mobile {
	@media screen and (max-width:768px){
		display:block !important;
	}

	display:none !important;
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}

.cta {
	@media screen and (max-width:768px) {
		padding:6px 0 6px 0;
		width:170px;
		left:0;
		font-size:12px;
	}

	@media screen and (max-width:737px){
		padding:13px 0 13px 0;
		width:42%;
		left:-1px;
		font-size:19px;
		letter-spacing:1px;
		margin-bottom:76px;
	}

	@media screen and (max-width:668px){
		width:276px;
		font-size:17px;
		margin-bottom:67px;
	}

	@media screen and (max-width:569px){
		width:235px;
		font-size:14px;
		padding:9px 0 9px 0;	
		margin-bottom:59px;
	}

	@media screen and (max-width:481px){
		width:199px;
		font-size:11px;
		padding:10px 0 10px 0;
		margin-bottom:49px;
	}

	@media screen and (max-width:415px){
		width:170px;
		padding:7px 0 7px 0;
		font-size:10px;
	}

	@media screen and (max-width:376px){
		width:155px;
		font-size:9px;
		padding:7px 0 7px 0;
	}

	@media screen and (max-width:321px){
		width:131px;
		font-size:8px;
		padding:6px 0 6px 0;
	}

	display: inline-block;
    border: 2px solid;
    padding: 8px 0 8px;
    width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    left: -3px;
    font-size: 14px;
    font-weight:bold;
    text-align:center
}

// HIDE THE BANNER
.banner-ad-zone {
	display:none !important;
}


div[data="thanks"] {
	clear:both;
	width:100%;
	overflow:hidden;

	img {
		max-width:100%;

		&.baby {
			margin:31px 0 0 0;
		}
	}

	div {
		&:first-of-type {
			@media screen and (max-width:737px){
				width:100%;
			}

			float:left;
			width:523px;
			text-align:center;
			
			p {
				@media screen and (max-width:737px){
					font-size:.9em;
					letter-spacing:0.1px;
					line-height:18px;
				}

				&:first-of-type {
					@media screen and (max-width:737px){
						padding:0;
						margin:6px 0 0 0;
					}

					margin: -2px 0 0 0;
    				padding: 0px 0 0 27px;
				}

				&:last-of-type {
					@media screen and (max-width:737px){
						padding:0;
						margin:6px 0 0 0;
					}

					margin: 8px 0 0 0;
    				padding: 0 0 0 28px;
				}

				font-size: 14px;
    			line-height: 21px;
    			letter-spacing: 0.7px;
			}

			.cta {
				@media screen and (max-width:737px){
					margin: 18px 0 0 0;
    				width: 41%;
				} 

				margin: 19px 0 17px 31px;
    			width: 196px;
    			color: #fff;
    			background: #235ba6;
    			border-color: #235ba6;

				&:hover {
					background:#fff;
					color:#235ba6;
				}
			}
		}

		&:last-of-type {
			@media screen and (max-width:737px){
				display:none;
			}

			float:left;

			img {
				margin-top:60px;
			}
		}
	}
	
} //end of thanks div
