body {
	font-family:'tisa sans';	
} 
.ref {
	position:absolute;
	opacity:.5;
	max-width:100%; 
}
.mobile-cat {
	@media screen and (max-width:737px) {
		display:block;
	}

	display:none;
} 

@media screen and (max-width:737px){
	.dept-boys-clothing {
		display:none; 
	}
	.common-wrap {
		margin:0;
	}
}

.title {
	color: #333333;
    font-family: tisa sans;
    font-size: 22px;
    font-weight: normal;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    //display:none;
}

img {
	max-width:100%;
}

.cta {
	@media screen and (max-width:737px) {
		font-size: 12px;
		padding: 10px 0 7px 0;
		width: 172px;
		border:1px solid;
	}

   	width: 198px;
    padding: 12px 0 9px 0;
    border:2px solid;
    letter-spacing:0;
    text-decoration:none;
    text-transform:uppercase;
    position:relative;
    font-size:14px;
    font-weight:bold;
}

.girls-clothing-cat {
	overflow:hidden;
	
	div {

	&:first-of-type {
		@media screen and (max-width:737px){
			display:none;
		}

		float:left;

		
	} // end of div:first-of-type

	&:last-of-type {
		@media screen and (max-width:737px){
			width:100%;
			min-height:735px;
			background:url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/boys-clothing/170417/b2-m-rev.png') no-repeat 0 295px;
			background-size:100% auto;
		}

		@media screen and (max-width:668px){
			min-height:686px;
			background-position:0 246px;
		}

		@media screen and (max-width:569px){
			min-height:618px;
			background-position:0 178px;
		}

		@media screen and (max-width:481px){
			min-height:551px;
			background-position:0 110px;
		}

		@media screen and (max-width:415px){
			//min-height:505px;
			min-height:566px;
			//background-position: 0 63px;
			background-position:0 531px;

		}

		@media screen and (max-width:376px){
			min-height:520px;
			background-position: 0 480px;
		}

		@media screen and (max-width:321px){
			//min-height:393px;
			min-height:434px;
			//background-position:0 -45px;
			background-position:0 409px;
		}

		width:477px;
		min-height:488px;
		float:left;
		text-align:center;
		background:url('http://www.teacollection.com/mas_assets/theme/tea_collection/images/categories/boys-clothing/170417/b2-d.png') no-repeat top center;


		h2 {
			@media screen and (max-width:737px) {
				display:none;
			}

			position: relative;
    		margin-top: 11px;
    		font-family: 'mrdodo regular';
    		font-weight:normal;
    		font-size: 31px;
    		left: 3px;
    		letter-spacing: 1px;
    		color: #f57828;
		} 

		p {
			@media screen and (max-width:737px) {
				top: 0;
				left: 1px;
				margin-top: 20px;
				font-size: 13px;
				letter-spacing: 0.8px;
				line-height: 20px;
			}

			@media screen and (max-width:376px) {
    			margin-top: 17px;
    			font-size: 12px;
    			letter-spacing: 0.6px;
    			line-height: 19px;
			}

			@media screen and (max-width:321px) {
				margin-top: 15px;
    			font-size: 10px;
    			letter-spacing: 0.7px;
    			line-height: 16px;
			}

			position: relative;
    		margin-top: -1px;
    		font-size: 15px;
    		line-height: 21px;
    		left: 0px;
    		letter-spacing: 0.4px;

			&:last-of-type {
				@media screen and (max-width:737px) {
					display:none;
				}

				font-family: 'mrdodo light';
    			margin-top: 21px;
    			font-size: 14px;
    			left: 3px;
    			letter-spacing: 0.1px;
			}
		}

		img {
			&[data="clothes"]{
				@media screen and (max-width:737px){
					display:none;
				}

				position:relative;
				left:-13px;
			}
		}

		a {

			display:inline-block;
	

			&[data="clothes"]{
				@media screen and (max-width:737px){
					display:none;
				}

				position:relative;
				left:-12px;
				top:0;
			}

		}

		.cta {
			@media screen and (max-width:737px) {
				top:0;
				left:-7px;
				margin-top:18px;
				color:#51b5b5;
				border-color:#51b5b5;
			}

			@media screen and (max-width:376px){
				margin-top:15px;
    			width: 155px;
    			padding: 9px 0 5px 0;
			}

			@media screen and (max-width:321px){
				margin-top:12px;
    			width: 131px;
    			padding: 8px 0 4px 0;
    			font-size: 10px;
			}

			margin-top:17px;
			left:-8px;
			border-color:#51b5b5;
			color:#51b5b5;

			&:last-of-type {
				@media screen and (max-width:737px){
					left:7px;
				}

				left:10px;
			}

			&:hover {
				background:#51b5b5;
				color:#fff;
			}
		}
	} //end of div:last-of-type
	} //end of div

}