.ref {
	position:absolute;
	opacity:.5;
	//display:none;
	max-width:100%;
} 

.my-account, .midbox {
	h1 {
		display:none;
	}
}

.mobile {
	@media screen and (max-width:768px){
		display:block !important;
	}

	display:none !important;
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}


/*-- UNCOMMENT THIS STYLE IF HIDE 10% POPUP --*/
/*#simplemodal-container, #simplemodal-overlay {
	display:none !important;
}*/


.padded {
	padding:0 !important;
}


.body-copy {
	@media screen and (max-width:737px){
		font-size:1em;
		line-height:1.59em;
		letter-spacing:.9px;
	}

	@media screen and (max-width:376px){
		font-size:.9em;
	}

	@media screen and (max-width:321px){
		font-size:.8em;
		letter-spacing:.5px;
	}

	font-size:15px;
	line-height:21px;
	letter-spacing:.7px;
}

.cta {
	display: inline-block;
    border: 1px solid;
    padding: 10px 0;
    width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    font-weight:bold;
    text-align:center
}

.clear-this {
	@media screen and (max-width:737px){
		padding-left:5%;
		letter-spacing:.4px;
	}

   	clear:both;
   	padding-left:7%;
   	letter-spacing:.2px;

   	a {
   		color:#444;
   	}
}

.wrap-content {
	overflow:hidden;

	img {
		max-width:100%;
	}

	
}//end of .wrap-content


.c1, .c2 {
	overflow:hidden;
	float:left;
}

.c1 {
	@media screen and (max-width:737px) {
		display:none;
	}

	width:300px;
	text-align:center;
	padding-top: 114px;
	position:relative;
	left:4px;

	img {
		margin-bottom:18px;
	}

}

.c2 {
	@media screen and (max-width:737px){
		width:100%;
		padding:0 0 0 5.5%;
		min-height:auto;
	}

	width: 700px;
    padding-top: 66px;
    padding-left: 9px;
    box-sizing: border-box;
    min-height:884.4px;

    h1 {
    	@media screen and (max-width:737px){
    		font-size: 2em;
    		letter-spacing: .8px;
    		margin-bottom: 10px;
    		margin-top: 10px;
    	}

    	font-size: 34px;
    	font-family: brown-pro-bold !important;
    	letter-spacing: .4px;
    	margin-bottom:30px;
    	color:#f15d56;
    	display:block;
    }

    .line {
    	@media screen and (max-width:737px){
    		height: 3px;
    		background: #2ec6db;
    		width: 15%;
    		margin-bottom: 10px;
    	}

    	height: 5px;
    	background: #2ec6db;
    	width: 64px;
    	margin-bottom: 30px;
    }

    .body-copy {
    	@media screen and (max-width:737px){
    		line-height: 19px;
    		letter-spacing: .3px;
    		margin-bottom: 16px;
    	}

    	line-height: 24px;
    	letter-spacing: .3px;
    	margin-bottom:24px;

    	&:first-of-type {
    		@media screen and (max-width:737px){
    			margin-bottom:12px;
    		}
    	}

    	&:nth-of-type(2){
    		@media screen and (max-width:737px){
    			margin-bottom:8px;
    		}

    		margin-bottom:30px;
    	}
    }

    h2 {
    	@media screen and (max-width:737px){
    		font-size: 1.3em;
    		letter-spacing: .4px;
    		margin-bottom: 3px;
    	}

        font-family: brown-pro-bold !important;
    	font-size: 18px;
    	letter-spacing: .1px;
    	margin-bottom: 13px;
    	color:#f15d56;

    	&:first-of-type {
    		@media screen and (max-width:737px){
    			font-size: 1.6em;
    			letter-spacing: 0px;
    			line-height: 23px;
    		}

    		font-size:21px;
    		letter-spacing: .3px;
    	}

    	&:last-of-type {
    		@media screen and (max-width:737px){
    			margin-bottom:0;
    		}

    		padding-top: 5px;
    	}
    }

    ul.body-copy {
    	@media screen and (max-width:737px){
    		margin-bottom:5px;
    	}


    	&:last-of-type {
    		@media screen and (max-width:737px){
    			margin-bottom:17px;
    		}

    		margin-bottom:20px;
    	}
    	
    }

    ul {
    	@media screen and (max-width:737px){
    		padding-left: 4%;
    	}

    	list-style-type: disc;
    	//padding-left: 14px;

    	li {
    		@media screen and (max-width:737px){
    			list-style-position:outside;
    		}

    		list-style-position:inside;
    	}

    }

    .cta {
    	@media screen and (max-width:737px){
    		width: 44%;
    		letter-spacing: .6px;
    		color: #2ec6db;
    		border-color: #2ec6db;
    		background: #fff;
    		border-radius: 0;
    		text-shadow: none;
    		display: block !important;
    		margin: 0 auto 23px;
    		position: relative;
    		left: -13px;
    		font-size:1em;
    	}

    	width:147px;
    	margin-bottom:17px;
    	letter-spacing:.6px;
    	color:#2ec6db;
    	border-color:#2ec6db;

    	&:hover {
    		background:#2ec6db;
    		color:#fff;
    	}
    }

    .rules {

    	font-size: 10px;
    	position: relative;
    	letter-spacing: .7px;

    	@media screen and (max-width:737px){
    		padding-left: 2%;
    		font-size: .8em;
    		letter-spacing: .3px;
    		margin-bottom:30px;	
    	}
    }

    a {
    	color:#444;
    }

    .desktop-form {
    	@media screen and (max-width:737px){
    		display:none !important;
    	}
    	
    }


}

		
