.ref {
    @media screen and (max-width:737px){
        top: -123px;
    }

	position:absolute;
	opacity:.5;
	//display:none;
	max-width:100%;
    top: -69px;
    z-index:9999;
} 
 
/*--------------------------------------------------------------------*/

.my-account, .midbox {
	h1 {
		display:none;
	}
}

/*--------------------------------------------------------------------*/

.mobile {
	@media screen and (max-width:768px){
		display:block !important;
	}

	display:none !important;
}

.desktop {
	@media screen and (max-width:768px){
		display:none !important;
	}
}

/*--------------------------------------------------------------------*/

/*-- UNCOMMENT THIS STYLE IF HIDE 10% POPUP --*/
/*#simplemodal-container, #simplemodal-overlay {
	display:none !important;
}*/

/*--------------------------------------------------------------------*/

.padded {
	padding:0 !important;
}

/*--------------------------------------------------------------------*/

/*-- SLIDE SHOW STYLES --*/
.bx-controls-direction {
    display:none !important;
}
.bx-viewport {
    overflow:visible !important;   
}
.bx-pager {
    display:block !important;
    //position:absolute !important;

    /*.bx-pager-item {
        a {
            width:8px !important;
            height:8px !important;
            margin:0 7px !important;
        }  
    }*/ 
}

/*--------------------------------------------------------------------*/

.body-copy {
	@media screen and (max-width:737px){
		font-size:1em;
		line-height:1.59em;
		letter-spacing:.9px;
	}

	@media screen and (max-width:376px){
		font-size:.9em;
	}

	@media screen and (max-width:737px){
		font-size:.8em;
		letter-spacing:.5px;
	}

	font-size:15px;
	line-height:21px;
	letter-spacing:.7px;
}

/*--------------------------------------------------------------------*/

.cta {
        @media screen and (max-width:737px){
            width: 42%;
            left: 0px;
            padding: 1em 0;
            font-size: .8em;
            //line-height:3em;
        }

        @media screen and (max-width:415px){
            font-size: .8em;
            letter-spacing: 1.1px;
        }

        @media screen and (max-width:376px){
            //padding: 8px 0;
            font-size:.7em;
        }

        @media screen and (max-width:321px){
            //padding: 7px 0;
            font-size: .6em;
        }

    display: inline-block;
    font-family: brown-pro-bold !important;
    border: 1px solid;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    font-size: 13px;
    line-height:16px;
    height:39px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0 0 0px;
    text-align:center;
    box-sizing:border-box;
}

/*--------------------------------------------------------------------*/

.clear-this {
	@media screen and (max-width:737px){
		padding-left:5%;
		letter-spacing:.4px;
	}

   	clear:both;
   	padding-left:7%;
   	letter-spacing:.2px;

   	a {
   		color:#444;
   	}
}

/*--------------------------------------------------------------------*/

.wrap-content {
	overflow:hidden;

	img {
		max-width:100%;
	}

    .cta.mobile {
        height: 30px;
        margin: 39px auto 0 auto;
        width: 88%;
        padding: 8px 0 0 0;
        letter-spacing: .7px;
        color: #0060A6;
        font-family: brown-pro-bold;
        font-size: 10px;
        line-height: 12px;
        left: -7px;
    }

	
}//end of .wrap-content

/*--------------------------------------------------------------------*/

.c2 {
	@media screen and (max-width:737px){
		width:100%;
		padding: 0 0 0 15%;
		min-height:auto;
        margin:0 0 34px 0;
	}

    padding: 73px 0 0 173px;
    box-sizing: border-box;
    margin:0 0 55px 0;

    h1 {
    	@media screen and (max-width:737px){
    		font-size: 20px;
            line-height:24px;
            margin: 48px 0 13px 0;
    	}

    	font-size: 26px;
        line-height:23px;
    	font-family: brown-pro-bold;
    	letter-spacing: .7px;
    	color:#0060A6;
    	display:block;
        margin:0 0 10px 0;
    }

    .line {
    	@media screen and (max-width:737px){
    		width:80%;
            margin:0 0 20px 0;
    	}

    	height: 3px;
    	background: #0060A6;
    	width: 472px;
    	margin:0 0 26px 0;
    }

    p {
    	@media screen and (max-width:737px){
    		font-size:11px;
            line-height:16px;
            position: relative;
            left: -2%;
            margin: 0 0 12px 0;
    	}

        font-size:15px;
    	line-height: 21px;
        font-family:brown-pro-regular;
        color:#666;
    	margin:0 0 21px 0;

    }

    h2 {
    	@media screen and (max-width:737px){
    		font-size: 1.3em;
    		letter-spacing: .4px;
    		margin-bottom: 3px;
    	}

        font-family: brown-pro-bold !important;
    	font-size: 18px;
    	letter-spacing: .1px;
    	margin-bottom: 13px;
    	color:#f15d56;
    }

    

    .cta {
    	@media screen and (max-width:737px){
    		
    	}

    	color:#A1AE57;
        border:1px solid #A1AE57;
        width:232px;
        margin: 15px 0 0 0;

    	&:hover {
    		background:#A1AE57;
            color:#fff;
    	}
    }

    a {
    	color:#444;
    }  
}

/*--------------------------------------------------------------------*/

/*-- MOBILE SLIDESHOW --*/
.citizen-slideshow {
    //overflow:hidden;
    //padding: 0 3%;

    div {
        div {
            div {
                background: #F2F2E1;
                padding: 28px 11%;
                border-radius: 10px;
                color:#666;
                text-align:left;
                margin: 0 auto;
                width: 50%;

                p {
                    @media screen and (max-width:737px){
                        position: relative;
                        left: -5px;
                        margin: 17px 0 0 0;
                        font-size:11px;
                        line-height:15px;
                    }

                    margin-bottom: 10px;
                    white-space:pre-line;
                }

                .cta {
                    height: 30px;
                    margin: 39px auto 0 auto;
                    width: 100%;
                    padding: 8px 0 0 0;
                    letter-spacing: .7px;
                    color: #0060A6;
                    font-family: brown-pro-bold;
                    font-size: 10px;
                    line-height: 12px;
                }

                div {
                    padding: 0;
                    margin: 0;
                    //overflow: hidden;
                    border-radius: 0;
                    width:100%;

                    img {
                        @media screen and (max-width:737px){
                            width:100%;
                            margin-right:0;
                            float:none;
                        }

                    }
                    
                }

                &[data-num="0"], &[data-num="1"],&[data-num="2"],&[data-num="3"], &[data-num="4"]{
                        div {
                            h2 {
                                @media screen and (max-width:737px){
                                    margin-top:27px;
                                    position:relative;
                                    left:-5px;
                                    font-size:18px;
                                    line-height:22px;
                                }

                                margin-top: 12%;
                            }

                            h3 {
                                position:relative;
                                left:-5px;
                                font-size:13px;
                                line-height: 16px;
                                font-family:brown-pro-bold;
                                margin:5px 0 0 0;
                            }
                        }
                       
                    }

            }
        }
    }
}

/*--------------------------------------------------------------------*/

/*-- DESKTOP INTERACTIVE MAP --*/
.citizen-map {
    position:relative;
    //opacity:.5;

    ul {
        list-style-type:none;

        li {
            position:absolute;

            a {
                text-decoration:none;
            }

            /*img {
                transition: width .5s;

                &:hover {
                    width: 55px;
                    cursor:pointer;
                }
            }*/

            //sophia
            &[name="Sophia"] {
                top: 177px;
                left: 740px;
            }

            //jack
            &[name="Jack"] {
                top: 227px;
                left: 762px;
            }

            //isabella
            &[name="Isabella"] {
                top: 205px;
                left: 696px;
            }

            //evan
            &[name="Evan"] {
                top: 307px;
                left: 535px;
            }

            //juliette
            &[name="Juliette"] {
                top: 235px;
                left: 288px;
            }
        }
    }
}

/*--------------------------------------------------------------------*/

.rules {
    @media screen and (max-width:737px){
        margin-top:30px;
    }

    margin-top:31px;
    text-align:center;

    .cta {
        @media screen and (max-width:737px){
            color:#0060A6;
            border: 1px solid #0060A6;
            width:40%;
            font-size: 10px;
            padding:8px 0 0 0;
            height:30px;

            &:hover, &:active {
                background:#0060A6 !important;
                color:#fff;
            }
        }

        color:#A1AE57;
        border:1px solid #A1AE57;
        width:232px;

        &:hover {
            background:#A1AE57;
            color:#fff;
        }
    }
}

/*--------------------------------------------------------------------*/

/*-- LIGHTBOX POPUP --*/		
#fancy {
    display:none;
    position: absolute;
    width: 364px;
    z-index: 99999;
    background:url('../images/triangle-right.png') no-repeat 98% 160px;
    
    //for dev
    /*left: 382px;
    top: 48%;
    opacity: .5;*/

    div {
        overflow:hidden;
        width:336px;
        height: 362px;
        background:#fff;
        padding: 18px 0 18px 31px;
        box-sizing: border-box;
        border-radius: 12px;
        position:relative;
        top:0;
        left:0;

        img {
            float:left;
        }

        h2 {
            float: left;
            font-size: 18px;
            margin: 32px 0 0 19px;
            line-height: 22px;
            color: #666;
            font-family: brown-pro-bold;
            letter-spacing: 1px;

            span {
                font-size:13px;
                line-height:16px;
                font-family:brown-pro-bold;
            }
        }

        p {
            clear:both;
            font-size: 12px;
            line-height:15px;
            color:#666;
            padding:16px 16px 0 0;
            white-space:pre-line;
        }

        .cta {
            color:#A1AE57;
            border:1px solid #A1AE57;
            width:232px;
            margin: 15px 0 0 0;

            &:hover {
                background:#A1AE57;
                color:#fff;
            }
        }


        .shorten {
            height:168px; 
            overflow:hidden;
        }

        .show-more, .show-less { 
            display: block;
            text-align: left;
            font-size: 11px;
            line-height: 14px;
            margin: 24px 0 0 0;
            text-transform: uppercase;
            color:#666;
            font-family:brown-pro-bold;
        }
    }

    img {
        max-width:100%;
        //width:100%;
    }

    &:hover {
        cursor:pointer;
    }
}

/*--------------------------------------------------------------------*/

/*-- LIGHTBOX GREY BACKGROUND --*/
#black-background {
    &:hover {
        cursor:pointer;
    }
}

