#simplemodal-overlay,
.zoomContainer {
  z-index: 99999 !important;
}

#simplemodal-container {
  z-index: 999999 !important;
  height: auto !important;
  width: 672px !important;
}

.store-box-content {
  width: 100% !important;
  height: auto !important;
}