

.ref {
	position:absolute;
	opacity:.5;
	max-width:100%; 
	//width:798px;
}
 
.desktop {
	@media screen and (max-width:737px){
		display:none !important;
	}
}
 
.mobile {
	display:none !important;

	@media screen and(max-width:737px){
		display:block !important;
	}
}

body.browse .breadcrumb-c {
	padding-top: 13px;
}

@media screen and (max-width:737px){
	.dept-girls-clothing {
		display:none; 
	}
	/*.common-wrap {
		margin:0;
	}
	.single-item-box {
		width:49%;
		margin-right:2%;
	}
	.single-item-box:nth-child(even){
		margin-right:0;
	}
	section.item {
		width: 49%;
		float:left;
		margin-right:2%;
		text-align:center;

		&:nth-child(even){
			margin:0;
		}

		.item-details {
			a {
				color: #333333;
    			font-size: 12px;
    			letter-spacing: 0.03rem;
    			line-height: 15px;
    			text-decoration:none;
			}
		}
	}*/
}

.dept-cat {
	@media screen and (max-width: 737px){
		margin-bottom: 15px;
	}

	overflow:hidden;

	.title {
		color: #333333;
    	font-size: 22px;
    	font-weight: normal;
    	padding: 0 0 10px;
    	text-align: center;
    	text-transform: uppercase;
	}

	img {
		max-width: 100%;
    	//float: left;
    	//display: inline-block;
    	//margin-right: 10px;
    	//width:554px;

    	float:none;
    	display:block;
    	margin:0;
	} 

	/*
	p {
		@media screen and (max-width:737px){
			background: url(https://www.teacollection.com/mas_assets/media/tea_collection/dept-pages/180222/g-dept-m.png) no-repeat left top;
    		background-size: cover;
    		float: none;
    		font-size: 1em;
    		padding: 8% 6% 19% 0%;
    		line-height: 18px;
    		text-align: right;
		}


		padding: 158px 55px 16px 22px; 

    	float: left;
    	font-size: 15px;
    	line-height: 20px;
    	letter-spacing: -0.6px;
    	background: #3BBFBB;
    	color: #fff;
    	font-family:brown-pro-bold !important;
	}
	*/
	
}


