.my-account, .midbox {
    h1 {
        display:none;
    }
} 

#simplemodal-container, #simplemodal-overlay {
    display:none !important;
}

.sidebar.customer-service {
    @media screen and (max-width:737px){
        display:none;
    }
}

.main-content {
    @media screen and (max-width:737px){
        float:none;
        width:100%;
    }

    float:left;
    width: 840px;
    margin-top:0 !important;
}

.padded {
    padding:0 !important;
}

.mobile {
    @media screen and (max-width:737px){
        display:block !important;
    }
	display:none !important;
}

.desktop {
    @media screen and (max-width:737px){
        display:none !important;
    }
}

#tea-promo-subscribe, #breadcrumbs {
    display:none !important;
}

.ref {
    @media screen and (max-width:737px){
        top:-123px;
    }

	position:absolute;
    opacity:.5;
    top:-70px;
    left:0;
}

.nb {
    @media screen and (max-width:737px){ 
        min-height:auto;
    }

    overflow:hidden;

    img {
        display:block;
        max-width:100%;
    }

    div {
        @media screen and (max-width:737px){
            padding:26px 0 78px 0;
        }

        background:#F8C6B8;
        padding:18px 0 84px 0;
        box-sizing:border-box;

        h2 {
            @media screen and (max-width:737px){
                font-size:18px;
                line-height:24px;
                left:0;
            }

            font-size: 30px;
            line-height:36px;
            text-align:center;
            font-family:brown-pro-bold;
            position:relative;
            left:-19px;
            color:#fff;
            margin:0 0 24px 0;
        }
    }
    
}

	


    